Repository codeigniter4/CodeIgniter4, pull requests merged in 2021-11, with the labels that each got.

#5202 Reduce memory usage of insertBatch(), updateBatch()
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/InsertTest.php
  tests/system/Database/Builder/UpdateTest.php
  user_guide_src/source/changelogs/v4.1.5.rst
  user_guide_src/source/installation/upgrade_415.rst
Labels: database, breaking change

#5295 Toolbar - Make it possible to turn off var data collection
  app/Config/Toolbar.php
  system/Debug/Toolbar.php
Labels: enhancement

#5297 Changelog 4.1.5
  CHANGELOG.md
Labels: documentation

#5299 docs: update changelogs/v4.1.5.rst
  user_guide_src/source/changelogs/v4.1.5.rst
Labels: documentation

#5309 docs: fix MigrationRunner::regress() Class Reference
  user_guide_src/source/dbmgmt/migration.rst
Labels: documentation

#5300 docs: improve database/connecting.rst
  user_guide_src/source/database/connecting.rst
Labels: documentation

#5292 fix: FileLocator cannot find files in sub-namespaces of the same vendor
  system/Autoloader/FileLocator.php
  tests/system/Autoloader/FileLocatorTest.php
Labels: bug

#5310 docs: fix sample code variable names in routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5314 fix: add a workaround for upgraded users who do not update Config\Exceptions
  system/Debug/Exceptions.php
Labels: bug

#5318 docs: replace Codeigniter with CodeIgniter
  user_guide_src/source/changelogs/v4.1.2.rst
  user_guide_src/source/installation/upgrade_configuration.rst
  user_guide_src/source/installation/upgrade_controllers.rst
  user_guide_src/source/installation/upgrade_database.rst
  user_guide_src/source/installation/upgrade_emails.rst
  user_guide_src/source/installation/upgrade_encryption.rst
  user_guide_src/source/installation/upgrade_file_upload.rst
  user_guide_src/source/installation/upgrade_html_tables.rst
  user_guide_src/source/installation/upgrade_localization.rst
  user_guide_src/source/installation/upgrade_migrations.rst
  user_guide_src/source/installation/upgrade_models.rst
  user_guide_src/source/installation/upgrade_pagination.rst
  user_guide_src/source/installation/upgrade_responses.rst
  user_guide_src/source/installation/upgrade_routing.rst
  user_guide_src/source/installation/upgrade_security.rst
  user_guide_src/source/installation/upgrade_sessions.rst
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/installation/upgrade_view_parser.rst
  user_guide_src/source/installation/upgrade_views.rst
Labels: documentation

#5317 docs: add about redirect() change
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: documentation

#5316 test: add $this->markTestSkipped() when extension not loaded
  tests/system/Cache/Handlers/MemcachedHandlerTest.php
  tests/system/Cache/Handlers/RedisHandlerTest.php
  tests/system/Images/BaseHandlerTest.php
  tests/system/Images/GDHandlerTest.php
  tests/system/Images/ImageMagickHandlerTest.php
Labels: testing

#5319 docs: improve view_layouts.rst
  user_guide_src/source/outgoing/view_layouts.rst
Labels: documentation

#5321 docs: fix debugging.rst
  user_guide_src/source/testing/debugging.rst
Labels: documentation

#5322 docs: fix publisher.rst
  user_guide_src/source/libraries/publisher.rst
Labels: documentation

#5323 docs: fix controllers.rst
  user_guide_src/source/testing/controllers.rst
Labels: documentation

#5324 docs: fix services.rst
  user_guide_src/source/concepts/services.rst
Labels: documentation

#5325 docs: improve testing/feature.rst
  user_guide_src/source/testing/feature.rst
Labels: documentation

#5247 Do not inappropriately register bind when the value is a closure
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/WhereTest.php
Labels: database, refactor

#5335 docs: impove model.rst
  user_guide_src/source/models/model.rst
Labels: documentation

#5340 test: fix FilesystemHelperTest
  tests/system/Helpers/FilesystemHelperTest.php
Labels: testing

#5330 test: refactor Entity and Session test
  tests/system/Entity/EntityTest.php
  tests/system/Session/SessionTest.php
Labels: testing

#5348 docs: improve Tutorial
  user_guide_src/source/tutorial/create_news_items.rst
  user_guide_src/source/tutorial/static_pages.rst
Labels: documentation

#5347 docs: fix structure.rst
  user_guide_src/source/concepts/structure.rst
Labels: documentation

#5334 Display file:line and trace information to database queries in debug toolbar
  system/Debug/Toolbar/Collectors/Database.php
  system/Debug/Toolbar/Views/_database.tpl
  system/Debug/Toolbar/Views/toolbar.css
  system/Debug/Toolbar/Views/toolbar.js
  user_guide_src/source/changelogs/v4.1.6.rst
Labels: enhancement

#5339 docs: fix testing controllers
  user_guide_src/source/testing/controllers.rst
  user_guide_src/source/testing/response.rst
Labels: documentation

#5354 docs: fix routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5345 docs: don't use `IncomingRequest::$uri`
  system/HTTP/IncomingRequest.php
  user_guide_src/source/concepts/http.rst
  user_guide_src/source/incoming/incomingrequest.rst
Labels: documentation

#5346 refactor: replace $request->uri with $request->getUri()
  app/Views/errors/html/error_exception.php
  system/Common.php
  tests/system/HTTP/IncomingRequestTest.php
  tests/system/HTTP/URITest.php
Labels: refactor

#5277 Fix db escape negative integers
  system/Database/BaseConnection.php
  tests/system/Database/BaseQueryTest.php
  tests/system/Database/Live/EscapeTest.php
Labels: bug, database

#5359 docs: fix helpers.rst
  user_guide_src/source/general/helpers.rst
Labels: documentation

#5274 Fix: remove incorrect processing of CLI params
  system/HTTP/CLIRequest.php
  tests/system/HTTP/CLIRequestTest.php
Labels: bug

#5367 docs: fix links
  user_guide_src/source/concepts/security.rst
  user_guide_src/source/concepts/structure.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/installing_manual.rst
  user_guide_src/source/installation/upgrade_415.rst
  user_guide_src/source/libraries/curlrequest.rst
  user_guide_src/source/testing/controllers.rst
  user_guide_src/source/testing/feature.rst
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/testing/response.rst
Labels: documentation

#5361 fix: table alias is prefixed when LIKE clause
  system/Database/BaseConnection.php
  tests/system/Database/Builder/AliasTest.php
Labels: bug, database

#5372 fix: `dot_array_search()` unexpected array structure causes Type Error
  system/Helpers/array_helper.php
  tests/system/Helpers/ArrayHelperTest.php
Labels: bug

#5353 docs: fix views.rst
  user_guide_src/source/outgoing/views.rst
Labels: documentation

#5302 fix: UploadedFile::move() may return incorrect value
  system/HTTP/Files/UploadedFile.php
  tests/system/HTTP/Files/FileMovingTest.php
Labels: bug

#5138 Determine if binds are simple or named by looking at the $binds array
  system/Database/Query.php
  tests/system/Database/BaseQueryTest.php
Labels: database, refactor

#5227 feat: add filter to check invalid chars in user input
  app/Config/Filters.php
  system/Filters/InvalidChars.php
  system/Security/Exceptions/SecurityException.php
  tests/system/Filters/InvalidCharsTest.php
  user_guide_src/source/incoming/filters.rst
Labels: new feature

#4980 fix: BaseModel::insert() may not pass all the values from Entity
  system/BaseModel.php
  tests/_support/Entity/User.php
  tests/_support/Models/UserObjModel.php
  tests/system/Models/InsertModelTest.php
Labels: bug, database

#5379 Remove unneeded cast to array
  system/Database/Query.php
Labels: refactor

#5381 docs: small fixes on configuration.rst
  user_guide_src/source/general/configuration.rst
Labels: documentation

#5383 docs: replace `PSR*` with `PSR-*`
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/general/logging.rst
  user_guide_src/source/general/modules.rst
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: documentation

#5384 docs: fix localization.rst
  user_guide_src/source/outgoing/localization.rst
Labels: documentation

#5366 docs: add about Config in Modules
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/general/modules.rst
Labels: documentation

#5380 docs: fix getCompiledInsert() explanation in query_builder.rst
  user_guide_src/source/database/query_builder.rst
Labels: documentation

#5382 docs: improve Module Routes
  user_guide_src/source/general/modules.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5389 docs: improve modules.rst
  user_guide_src/source/general/modules.rst
Labels: documentation

#5395 docs: fix coding style in incomingrequest.rst
  user_guide_src/source/incoming/incomingrequest.rst
Labels: documentation

#5396 docs: fix upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: documentation

#5397 docs: update installation/repositories.rst
  user_guide_src/source/installation/repositories.rst
Labels: documentation
