Repository codeigniter4/CodeIgniter4, pull requests merged in 2021-12, with the labels that each got.

#5378 fix: Incorrect type `BaseBuilder::$tableName`
  system/Database/BaseBuilder.php
  system/Database/BaseConnection.php
  user_guide_src/source/changelogs/v4.1.6.rst
Labels: bug, breaking change

#5392 fix: `IncomingRequest::getJsonVar()` may cause TypeError
  system/HTTP/IncomingRequest.php
  tests/system/HTTP/IncomingRequestTest.php
Labels: bug

#5426 docs: fix managing_apps.rst
  user_guide_src/source/general/managing_apps.rst
Labels: documentation

#5433 docs: add command prompt `>` before `composer`
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/libraries/caching.rst
  user_guide_src/source/tutorial/index.rst
Labels: documentation

#5434 docs: change text decoration for installation/upgrade_*
  user_guide_src/source/installation/upgrade_controllers.rst
  user_guide_src/source/installation/upgrade_database.rst
  user_guide_src/source/installation/upgrade_encryption.rst
  user_guide_src/source/installation/upgrade_file_upload.rst
  user_guide_src/source/installation/upgrade_localization.rst
  user_guide_src/source/installation/upgrade_migrations.rst
  user_guide_src/source/installation/upgrade_models.rst
  user_guide_src/source/installation/upgrade_security.rst
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/installation/upgrade_views.rst
Labels: documentation

#5432 docs: add command prompt `>` before `php spark`
  user_guide_src/source/cli/cli_generators.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/installation/running.rst
  user_guide_src/source/installation/troubleshooting.rst
  user_guide_src/source/tutorial/index.rst
  user_guide_src/source/tutorial/static_pages.rst
Labels: documentation

#5431 docs: fix time.rst
  user_guide_src/source/libraries/time.rst
Labels: documentation

#5421 chore: fix example test code for appstarter and module
  admin/module/tests/database/ExampleDatabaseTest.php
  admin/module/tests/session/ExampleSessionTest.php
  admin/starter/tests/database/ExampleDatabaseTest.php
  admin/starter/tests/session/ExampleSessionTest.php
Labels: bug

#5420 docs: add TOC to general pages
  user_guide_src/source/general/ajax.rst
  user_guide_src/source/general/caching.rst
  user_guide_src/source/general/environments.rst
  user_guide_src/source/general/managing_apps.rst
  user_guide_src/source/general/urls.rst
Labels: documentation

#5414 docs: fix coding style
  user_guide_src/source/installation/upgrade_migrations.rst
  user_guide_src/source/installation/upgrade_models.rst
  user_guide_src/source/installation/upgrade_pagination.rst
  user_guide_src/source/installation/upgrade_view_parser.rst
  user_guide_src/source/installation/upgrade_views.rst
  user_guide_src/source/libraries/pagination.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/outgoing/alternative_php.rst
  user_guide_src/source/tutorial/news_section.rst
Labels: documentation

#5413 docs: fix views.rst
  user_guide_src/source/outgoing/views.rst
Labels: documentation

#5412 docs: improve files.rst
  user_guide_src/source/libraries/files.rst
Labels: documentation

#5411 docs: improve uploaded_files.rst
  user_guide_src/source/libraries/uploaded_files.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#5410 docs: fix upgrade_routing.rst
  user_guide_src/source/installation/upgrade_routing.rst
Labels: documentation

#5409 docs: improve restful.rst
  user_guide_src/source/incoming/restful.rst
Labels: documentation

#5407 docs: changelog 4.1.4
  CHANGELOG.md
Labels: documentation

#5408 docs: fix 404 link in upgrade_emails.rst
  user_guide_src/source/installation/upgrade_emails.rst
  user_guide_src/source/libraries/email.rst
Labels: documentation

#5399 docs: fix upgrade_configuration.rst
  user_guide_src/source/installation/upgrade_configuration.rst
Labels: documentation

#5437 docs: add "License Agreement" and "Change Logs" in the TOC
  user_guide_src/source/installation/index.rst
  user_guide_src/source/intro/index.rst
Labels: documentation

#5435 docs: fix coding style in dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge.rst
Labels: documentation

#5441 docs: update contributing/documentation.rst
  contributing/documentation.rst
Labels: documentation

#5442 docs: update user_guide_src/ghpages.rst
  user_guide_src/ghpages.rst
Labels: documentation

#5443 refactor: dot_array_search() regex
  system/Helpers/array_helper.php
Labels: refactor

#5439 fix: Model::save() may call unneeded countAllResults()
  system/Model.php
Labels: bug, database

#5440 docs: add or improve links to other sections
  user_guide_src/source/changelogs/v4.1.5.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_415.rst
  user_guide_src/source/libraries/security.rst
Labels: documentation

#5415 refactor: Time::getDst()
  system/I18n/Time.php
Labels: refactor

#5405 fix: Validation cannot handle array item
  system/Validation/Validation.php
  tests/system/Validation/FormatRulesTest.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.1.6.rst
  user_guide_src/source/installation/upgrade_416.rst
  user_guide_src/source/installation/upgrading.rst
Labels: bug, breaking change

#5425 fix: errors when MariaDB/MySQL has `ANSI_QUOTES` enabled
  system/Database/MySQLi/Connection.php
Labels: bug, database

#5419 feat: add SecureHeaders filter
  app/Config/Filters.php
  system/Filters/SecureHeaders.php
  tests/system/Filters/SecureHeadersTest.php
  user_guide_src/source/incoming/filters.rst
Labels: enhancement

#5447 docs: fix wrong sample code in sessions.rst
  user_guide_src/source/libraries/sessions.rst
Labels: documentation

#5446 docs: improve text decoration in helpers.rst
  user_guide_src/source/general/helpers.rst
Labels: documentation

#5393 fix: `is_cli()` returns `true` when `$_SERVER['HTTP_USER_AGENT']` is missing
  system/Common.php
Labels: bug

#5416 fix: `MySQLi\Connection::_foreignKeyData()` may return duplicated rows
  system/Database/MySQLi/Connection.php
Labels: bug

#5448 docs: improve migration.rst
  user_guide_src/source/dbmgmt/migration.rst
Labels: documentation

#5449 docs: improve filters.rst
  user_guide_src/source/incoming/filters.rst
Labels: documentation

#5455 The View class. Optimizing duplicate code.
  system/View/View.php
Labels: refactor

#5454 fix: `number_to_currency()` error on PHP 8.1
  system/Helpers/number_helper.php
  tests/system/Helpers/NumberHelperTest.php
  user_guide_src/source/helpers/number_helper.rst
Labels: bug

#5450 update docs about `esc()`
  system/Common.php
  user_guide_src/source/general/common_functions.rst
Labels: documentation

#5453 fix: VENDORPATH definition
  system/Test/bootstrap.php
  system/bootstrap.php
  user_guide_src/source/general/managing_apps.rst
Labels: bug

#5459 docs: remove out of dated raw html in html_helper.rst
  user_guide_src/source/helpers/html_helper.rst
Labels: documentation

#5457 docs: fix entities.rst
  user_guide_src/source/models/entities.rst
Labels: documentation

#5464 docs: update tutorial code
  user_guide_src/source/tutorial/news_section.rst
Labels: documentation

#5465 docs: improve text decoration in content_negotiation.rst
  user_guide_src/source/incoming/content_negotiation.rst
Labels: documentation

#5468 docs: fix view() $options explanation
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/testing/debugging.rst
Labels: documentation

#5469 docs: add sample code in routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5463 refactor: fix `ThrottleTest::testFlooding`
  system/Throttle/Throttler.php
  tests/system/Throttle/ThrottleTest.php
Labels: refactor

#5473 docs: fix http.rst
  user_guide_src/source/concepts/http.rst
Labels: documentation

#5474 refactor: update deprecated method in DatetimeCast
  system/Entity/Cast/DatetimeCast.php
Labels: refactor

#5477 docs: fix api_responses.rst
  user_guide_src/source/outgoing/api_responses.rst
Labels: documentation

#5479 docs: improve view_parser.rst
  user_guide_src/source/outgoing/view_parser.rst
Labels: documentation

#5480 docs: improve validation.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#5481 docs: fix entities.rst
  user_guide_src/source/models/entities.rst
Labels: documentation

#5470 fix: Throttler does not show correct token time
  system/Throttle/Throttler.php
  tests/system/Throttle/ThrottleTest.php
Labels: bug

#5471 docs: improve filters.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/libraries/security.rst
Labels: documentation

#5484 docs: fix view() in common_functions.rst
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/outgoing/views.rst
Labels: documentation

#5487 docs: fix incorrect sample code in logging.rst
  user_guide_src/source/general/logging.rst
Labels: documentation

#5476 docs: fix environments.rst
  user_guide_src/source/general/environments.rst
Labels: documentation

#5489 test: fix doc comment in ResponseTraitTest
  tests/system/API/ResponseTraitTest.php
Labels: testing

#5491 docs: fix sample code in extending/core_classes.rst
  user_guide_src/source/extending/core_classes.rst
Labels: documentation

#5472 docs: change TOC depth 2 or more
  user_guide_src/source/changelogs/v4.1.5.rst
  user_guide_src/source/dbmgmt/migration.rst
  user_guide_src/source/helpers/array_helper.rst
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/helpers/date_helper.rst
  user_guide_src/source/helpers/filesystem_helper.rst
  user_guide_src/source/helpers/form_helper.rst
  user_guide_src/source/helpers/html_helper.rst
  user_guide_src/source/helpers/inflector_helper.rst
  user_guide_src/source/helpers/number_helper.rst
  user_guide_src/source/helpers/security_helper.rst
  user_guide_src/source/helpers/test_helper.rst
  user_guide_src/source/helpers/text_helper.rst
  user_guide_src/source/helpers/url_helper.rst
  user_guide_src/source/helpers/xml_helper.rst
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/installing_manual.rst
  user_guide_src/source/installation/running.rst
  user_guide_src/source/installation/upgrade_415.rst
  user_guide_src/source/installation/upgrade_configuration.rst
  user_guide_src/source/installation/upgrade_controllers.rst
  user_guide_src/source/installation/upgrade_database.rst
  user_guide_src/source/installation/upgrade_emails.rst
  user_guide_src/source/installation/upgrade_encryption.rst
  user_guide_src/source/installation/upgrade_file_upload.rst
  user_guide_src/source/installation/upgrade_html_tables.rst
  user_guide_src/source/installation/upgrade_localization.rst
  user_guide_src/source/installation/upgrade_migrations.rst
  user_guide_src/source/installation/upgrade_models.rst
  user_guide_src/source/installation/upgrade_pagination.rst
  user_guide_src/source/installation/upgrade_responses.rst
  user_guide_src/source/installation/upgrade_routing.rst
  user_guide_src/source/installation/upgrade_security.rst
  user_guide_src/source/installation/upgrade_sessions.rst
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/installation/upgrade_view_parser.rst
  user_guide_src/source/installation/upgrade_views.rst
  user_guide_src/source/libraries/encryption.rst
  user_guide_src/source/libraries/time.rst
  user_guide_src/source/outgoing/table.rst
  user_guide_src/source/testing/mocking.rst
Labels: documentation

#5493 fix: directory_mirror() throws an error if destination directory exists
  system/Helpers/filesystem_helper.php
  tests/system/Helpers/FilesystemHelperTest.php
Labels: bug

#5488 Feature: BaseBuilder instance as subquery.
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/WhereTest.php
  user_guide_src/source/changelogs/v4.1.6.rst
  user_guide_src/source/database/query_builder.rst
Labels: enhancement, database

#5505 docs: improve dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge.rst
Labels: documentation

#5502 docs: improve common_functions.rst
  user_guide_src/source/general/common_functions.rst
Labels: documentation

#5508 docs: improve File Uploading
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/libraries/uploaded_files.rst
Labels: documentation

#5501 fix: KINT visual error when activating CSP
  rector.php
  system/CodeIgniter.php
  system/Debug/Kint/RichRenderer.php
  tests/system/CommonFunctionsTest.php
Labels: bug
