Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-09, with the labels that each got.

#6444 Psalm
  composer.json
  psalm.xml
  psalm_autoload.php
Labels: 4.3

#6469 docs: improve changelogs/v4.3.0.rst
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/metadata.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/testing/benchmark.rst
Labels: documentation

#6470 refactor: fix PHPStan errors
  phpstan-baseline.neon.dist
  system/Model.php
Labels: refactor

#6467 fix: [Validation] JSON data may cause "Array to string conversion" error
  system/Validation/Validation.php
  tests/_support/Validation/TestRules.php
  tests/system/Validation/ValidationTest.php
Labels: bug

#6472 Fix fatal error gets turned to `0` severity on shutdown handler
  system/Debug/Exceptions.php
Labels: bug

#6473 Fix redis cache increment/decrement methods
  system/Cache/Handlers/RedisHandler.php
  tests/system/Cache/Handlers/RedisHandlerTest.php
Labels: bug

#6474 Fix consistency in language strings
  system/Language/en/CLI.php
  system/Language/en/Cache.php
  system/Language/en/Core.php
  system/Language/en/Database.php
  system/Language/en/Email.php
  system/Language/en/Encryption.php
  system/Language/en/Fabricator.php
  system/Language/en/Files.php
  system/Language/en/Filters.php
  system/Language/en/Format.php
  system/Language/en/HTTP.php
  system/Language/en/Images.php
  system/Language/en/Log.php
  system/Language/en/Pager.php
  system/Language/en/Publisher.php
  system/Language/en/Router.php
  system/Language/en/Security.php
  system/Language/en/Session.php
  system/Language/en/Test.php
  system/Language/en/Validation.php
  system/Language/en/View.php
  tests/system/CLI/CLITest.php
  tests/system/Commands/CommandTest.php
  tests/system/Database/Builder/SelectTest.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/SQLite/AlterTableTest.php
  tests/system/Email/EmailTest.php
  tests/system/Language/LanguageTest.php
  tests/system/Models/DeleteModelTest.php
  tests/system/Models/EventsModelTest.php
  tests/system/Models/FindModelTest.php
  tests/system/Models/SaveModelTest.php
  tests/system/Router/RouterTest.php
  tests/system/View/ParserTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: 4.3

#6476 docs: add composer.json in Mandatory File Changes in upgrade_420.rst
  user_guide_src/source/installation/upgrade_420.rst
Labels: documentation

#6475 Fix broken caching system when array of allowed parameters used
  system/CodeIgniter.php
  tests/system/CodeIgniterTest.php
Labels: bug

#6459 docs: update Model validation
  user_guide_src/source/models/model.rst
Labels: documentation

#6492 fix: Strict Validation Rules greater_than/less_than
  system/Validation/StrictRules/Rules.php
  tests/system/Validation/RulesTest.php
  tests/system/Validation/StrictRules/RulesTest.php
Labels: bug

#6501 [4.3] update coding style
  app/Config/Security.php
  system/CLI/CLI.php
  system/Router/Router.php
  tests/system/Autoloader/AutoloaderTest.php
  tests/system/Entity/EntityTest.php
  tests/system/Models/InsertModelTest.php
Labels: 4.3

#6498 Refactor: CodeIgniter::generateCacheName()
  system/CodeIgniter.php
Labels: refactor

#6488 Create Forge::dropPrimaryKey()
  system/Database/Forge.php
  system/Database/MySQLi/Forge.php
  system/Database/SQLite3/Forge.php
  system/Database/SQLite3/Table.php
  tests/system/Database/Live/ForgeTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge/028.php
Labels: enhancement, database, missing feature, 4.3

#6461 fix: make Time::__toString() database-compatible on any locale
  system/I18n/Time.php
  tests/system/I18n/TimeTest.php
  user_guide_src/source/changelogs/v4.2.7.rst
  user_guide_src/source/installation/upgrade_427.rst
  user_guide_src/source/installation/upgrading.rst
  user_guide_src/source/libraries/time.rst
Labels: bug, breaking change

#6506 docs: add link from changelog to detail page
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/dbmgmt/forge.rst
Labels: documentation

#6253 fix: ValidationInterface
  phpstan-baseline.neon.dist
  system/BaseModel.php
  system/Config/BaseService.php
  system/Config/Services.php
  system/Controller.php
  system/Validation/Validation.php
  system/Validation/ValidationInterface.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: bug, breaking change, 4.3

#6508 test: update TimeTest::testToDatabase()
  tests/system/I18n/TimeTest.php
Labels: testing, 4.3

#6509 Remove unreleased `Time::toDatabase()`
  system/I18n/Time.php
  tests/system/I18n/TimeTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/libraries/time.rst
  user_guide_src/source/libraries/time/042.php
Labels: 4.3

#6518 fix: replace "`" in lang strings
  system/Language/en/HTTP.php
  system/Language/en/Session.php
Labels: 4.3

#6517 fix: typos in messages in Language/en/Email.php
  system/Language/en/Email.php
Labels: bug

#6373 Improve `BaseBuilder::updateBatch()` SQL
  .github/workflows/test-phpcpd.yml
  system/Database/BaseBuilder.php
  system/Database/MySQLi/Builder.php
  system/Database/OCI8/Builder.php
  system/Database/Postgre/Builder.php
  system/Database/SQLSRV/Builder.php
  system/Database/SQLite3/Builder.php
  tests/system/Database/Builder/UpdateTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/092.php
Labels: database, refactor, 4.3

#6516 Make Unique Index Name Unique
  system/Database/Forge.php
  system/Database/MySQLi/Forge.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Forge.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/SQLite/AlterTableTest.php
  tests/system/Database/Live/SQLite/GetIndexDataTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: bug, database, breaking change, 4.3

#6526 docs: fix inappropriate sample code in Response
  user_guide_src/source/outgoing/response/022.php
Labels: documentation

#6510 feat: add request() and response()
  system/Common.php
  tests/system/CommonFunctionsTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/general/common_functions.rst
Labels: 4.3

#6527 fix: types in database classes
  system/Database/BaseBuilder.php
  system/Database/BaseConnection.php
  system/Database/BaseUtils.php
  system/Database/Config.php
  system/Database/Database.php
  tests/system/Database/Live/DbUtilsTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: bug, database, breaking change, 4.3

#6524 refactor: replace `global $app` with Services
  system/Debug/Toolbar.php
Labels: refactor

#6533 chore: change Psalm errorLevel to 8
  psalm.xml
Labels: 4.3

#6535 refactor: to fix psalm errors
  system/CodeIgniter.php
  tests/system/ControllerTest.php
  tests/system/Entity/EntityTest.php
Labels: refactor, 4.3

#6503 feat: add manual config for Composer package auto-discovery
  app/Config/Modules.php
  system/Autoloader/Autoloader.php
  tests/system/Autoloader/AutoloaderTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/general/modules.rst
  user_guide_src/source/general/modules/013.php
  user_guide_src/source/general/modules/014.php
Labels: enhancement, 4.3

#6538 fix: table attribute cannot applied on td element
  system/View/Table.php
  tests/system/View/TableTest.php
Labels: bug

#6522 add: set up "script_name" to handle every request by index.php file.
  system/Commands/Server/rewrite.php
Labels: bug

#6543 docs: improve `model()` explanation
  user_guide_src/source/changelogs/v4.0.0.rst
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/installation/upgrade_models.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/tutorial/news_section.rst
Labels: documentation

#6545 docs: add about "No input file specified"
  user_guide_src/source/installation/troubleshooting.rst
Labels: documentation

#6548 Revert "Make Unique Index Name Unique #6516"
  system/Database/Forge.php
  system/Database/MySQLi/Forge.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Forge.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/SQLite/AlterTableTest.php
  tests/system/Database/Live/SQLite/GetIndexDataTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: database, 4.3

#6546 refactor: small refactoring in view()
  system/Common.php
Labels: refactor

#6544 fix: set_cookie() does not use Config\Cookie values
  system/HTTP/ResponseTrait.php
  system/Helpers/cookie_helper.php
  tests/system/HTTP/ResponseCookieTest.php
  tests/system/Helpers/CookieHelperTest.php
  user_guide_src/source/changelogs/v4.2.7.rst
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/installation/upgrade_427.rst
  user_guide_src/source/outgoing/response.rst
Labels: bug, breaking change

#6559 test: add tests for required_without
  tests/system/Validation/RulesTest.php
Labels: testing

#6563 docs: fix validation.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#6564 refactor: replace utf8_encode() with mb_convert_encoding()
  system/Log/Handlers/ChromeLoggerHandler.php
Labels: refactor

#6558 Revert "Added view() method to route collections."
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/065.php
  user_guide_src/source/incoming/routing/066.php
Labels: 4.3

#6566 refactor: make $precision int in View Filter round
  system/View/Filters.php
  tests/system/View/ParserFilterTest.php
Labels: refactor

#6567 test: add test cases in SiteUrlTest
  tests/system/Helpers/URLHelper/SiteUrlTest.php
Labels: testing

#6570 fix: CSP autoNonce = false
  system/HTTP/ContentSecurityPolicy.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
  user_guide_src/source/changelogs/v4.2.7.rst
Labels: bug

#6572 tests: increase coverage `TableTest`
  tests/system/View/TableTest.php
Labels: testing

#6575 tests: added test for `timezone_select` function in Date Helper
  tests/system/Helpers/DateHelperTest.php
Labels: testing

#6568 Added view() method to route collections
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/065.php
  user_guide_src/source/incoming/routing/066.php
Labels: enhancement, 4.3

#6556 fix: ResponseInterface (1)
  system/CodeIgniter.php
  system/HTTP/MessageInterface.php
  system/HTTP/Response.php
  system/HTTP/ResponseInterface.php
  system/HTTP/ResponseTrait.php
  tests/system/CodeIgniterTest.php
  tests/system/RESTful/ResourceControllerTest.php
  tests/system/RESTful/ResourcePresenterTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: bug, breaking change, 4.3

#6578 fix: update ThirdParty Kint to 4.2.1
  system/ThirdParty/Kint/Parser/Parser.php
Labels: bug

#6581 docs: fix past changelogs format
  user_guide_src/source/changelogs/v4.0.0-alpha.1.rst
  user_guide_src/source/changelogs/v4.0.0-alpha.2.rst
  user_guide_src/source/changelogs/v4.0.0-alpha.3.rst
  user_guide_src/source/changelogs/v4.0.0-alpha.4.rst
  user_guide_src/source/changelogs/v4.0.0-alpha.5.rst
  user_guide_src/source/changelogs/v4.0.0-beta.1.rst
  user_guide_src/source/changelogs/v4.0.0-beta.2.rst
  user_guide_src/source/changelogs/v4.0.0-beta.3.rst
  user_guide_src/source/changelogs/v4.0.0-beta.4.rst
  user_guide_src/source/changelogs/v4.0.0-rc.1.rst
  user_guide_src/source/changelogs/v4.0.0-rc.2.rst
  user_guide_src/source/changelogs/v4.0.0-rc.3.rst
  user_guide_src/source/changelogs/v4.0.0-rc.4.rst
  user_guide_src/source/changelogs/v4.0.0.rst
  user_guide_src/source/changelogs/v4.0.3.rst
  user_guide_src/source/changelogs/v4.0.4.rst
  user_guide_src/source/changelogs/v4.0.5.rst
  user_guide_src/source/changelogs/v4.1.1.rst
  user_guide_src/source/changelogs/v4.1.2.rst
  user_guide_src/source/changelogs/v4.1.3.rst
  user_guide_src/source/changelogs/v4.1.4.rst
Labels: documentation

#6583 chore: update ThirdParty Kint to 4.2.2
  system/ThirdParty/Kint/Kint.php
Labels: bug

#6468 Improve Connection::_foreignKeyData()
  system/Database/BaseConnection.php
  system/Database/Forge.php
  system/Database/MySQLi/Connection.php
  system/Database/OCI8/Connection.php
  system/Database/OCI8/Forge.php
  system/Database/Postgre/Connection.php
  system/Database/SQLSRV/Connection.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Connection.php
  system/Database/SQLite3/Forge.php
  system/Database/SQLite3/Table.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/SQLite/AlterTableTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/metadata.rst
  user_guide_src/source/database/metadata/009.php
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge/012.php
  user_guide_src/source/dbmgmt/forge/013.php
  user_guide_src/source/installation/upgrade_430.rst
Labels: enhancement, database, breaking change, 4.3

#6585 Fix spelling in validation.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#6579 tests: adding case `word_censor` and ascii entities in text helper
  tests/system/Helpers/TextHelperTest.php
Labels: testing

#6582 fix: inconsistent new line view in `date_helper`
  system/Helpers/date_helper.php
  tests/system/Helpers/DateHelperTest.php
Labels: bug

#6586 test: remove Registrar tests for dynamic property
  tests/_support/Config/TestRegistrar.php
  tests/system/Config/BaseConfigTest.php
Labels: testing

#6562 docs: remove incorrect `--no-dev` option
  user_guide_src/source/installation/installing_composer.rst
Labels: documentation

#6587 test: remove dynamic properties
  tests/_support/Log/Handlers/TestHandler.php
  tests/system/Config/FactoriesTest.php
  tests/system/ControllerTest.php
Labels: testing

#6592 Remove outgoing/response/018.php
  user_guide_src/source/outgoing/response.rst
  user_guide_src/source/outgoing/response/018.php
Labels: documentation

#6590 docs: add about named arguments in Backward Compatibility Notes
  user_guide_src/source/installation/backward_compatibility_notes.rst
Labels: documentation

#6594 docs: change note type for deprecation to `important`
  user_guide_src/source/cli/cli_generators.rst
  user_guide_src/source/extending/events.rst
  user_guide_src/source/incoming/request.rst
  user_guide_src/source/libraries/cookies.rst
Labels: documentation

#6536 Refactor BaseBuilder *Batch() Methods
  system/Database/BaseBuilder.php
  system/Database/MySQLi/Builder.php
  system/Database/OCI8/Builder.php
  system/Database/Postgre/Builder.php
  system/Database/SQLSRV/Builder.php
  system/Database/SQLite3/Builder.php
  tests/system/Database/Builder/InsertTest.php
  tests/system/Database/Builder/UpdateTest.php
  tests/system/Database/Live/UpdateTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/092.php
  user_guide_src/source/installation/upgrade_430.rst
Labels: database, refactor, breaking change, 4.3

#6598 test: remove duplicate statement in PagerTest
  tests/system/Pager/PagerTest.php
Labels: testing

#6596 docs: replace type in `Pager`
  system/Pager/Pager.php
  system/Pager/PagerInterface.php
  tests/system/Pager/PagerTest.php
Labels: testing

#6599 docs: add SQL Injection Protection in QueryBuilder
  user_guide_src/source/database/queries.rst
  user_guide_src/source/database/query_builder.rst
Labels: documentation

#6593 docs: improve session
  user_guide_src/source/libraries/sessions.rst
Labels: documentation

#6604 fix: safe_mailto() does not work with CSP
  system/Helpers/url_helper.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
Labels: bug

#6574 When/WhenNot methods for db in a trait
  system/Database/BaseBuilder.php
  system/Traits/ConditionalTrait.php
  tests/system/Database/Builder/WhenTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/105.php
  user_guide_src/source/database/query_builder/106.php
  user_guide_src/source/database/query_builder/107.php
Labels: enhancement, database, 4.3

#6610 docs: add `.. versionadded:: 4.3.0`, etc.
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/cli/cli_library.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/helpers/form_helper.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/libraries/publisher.rst
  user_guide_src/source/models/entities.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/testing/overview.rst
Labels: documentation, 4.3

#6601 Allow Cells to be auto-located within */Cells directories
  phpstan-baseline.neon.dist
  system/View/Cell.php
  tests/_support/Cells/StarterCell.php
  tests/system/View/CellTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/outgoing/view_cells.rst
Labels: enhancement, 4.3

#6611 fix: script_tag() does not work with CSP
  system/Helpers/html_helper.php
  tests/system/Helpers/HTMLHelperTest.php
Labels: bug

#6612 test: fix failed MigrationRunnerTest
  tests/system/Database/Migrations/MigrationRunnerTest.php
Labels: testing

#6589 fix: `required_without` rule logic in `Validation` class.
  system/Validation/Rules.php
  system/Validation/StrictRules/Rules.php
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.2.7.rst
  user_guide_src/source/installation/upgrade_427.rst
Labels: bug, breaking change
