Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-06, with the labels that each got.

#5981 feat: `getFieldData()` returns nullable data on PostgreSQL
  system/Database/Postgre/Connection.php
  tests/system/Database/Live/ForgeTest.php
Labels: enhancement, database

#6021 docs: add note to $allowedFields
  user_guide_src/source/models/model.rst
Labels: documentation

#6055 fix: SQLite3\Table::copyData() does not escape column names
  system/Database/BaseConnection.php
  system/Database/SQLite3/Table.php
  tests/system/Database/Live/SQLite/AlterTableTest.php
Labels: bug, database

#6058 Fix `slash_item()` erroring when property fetched does not exist on `Config\App`
  system/Common.php
  tests/system/CommonFunctionsTest.php
Labels: bug

#6065 docs: update repositories.rst
  user_guide_src/source/installation/repositories.rst
Labels: documentation

#6071 Adds information that ignore() is not unique to insert
  user_guide_src/source/database/query_builder.rst
Labels: documentation

#6074 docs: update "Upgrading from 3.x to 4.x" Routing for v4.2
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_routing.rst
Labels: documentation

#6075 docs: update authentication.rst
  user_guide_src/source/extending/authentication.rst
  user_guide_src/source/libraries/official_packages.rst
Labels: documentation

#6080 fix: get_cookie() does not take Config\Cookie::$prefix
  system/Helpers/cookie_helper.php
Labels: bug

#6084 Apply AutoRouterImproved::translateURIDashes()
  system/Router/AutoRouterImproved.php
Labels: refactor

#6092 docs: fix typo in cli_controllers.rst
  user_guide_src/source/cli/cli_controllers.rst
Labels: documentation

#6083 docs: add about setCookie() prefix details
  system/HTTP/ResponseTrait.php
  system/Helpers/cookie_helper.php
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/libraries/cookies/002.php
  user_guide_src/source/outgoing/response.rst
Labels: documentation, next major version?

#6091 fix: session cookie name bug
  system/Cookie/Cookie.php
  system/Session/Session.php
  tests/system/Cookie/CookieTest.php
Labels: bug

#6096 chore: update workflow for 4.3 branch
  .github/workflows/test-deptrac.yml
  .github/workflows/test-phpcpd.yml
  .github/workflows/test-phpstan.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/test-rector.yml
  .github/workflows/test-scss.yml
Labels: github_actions

#6081 fix: Session Handlers do not take Config\Cookie
  system/Session/Handlers/BaseHandler.php
Labels: bug

#6090 Fix decorators
  user_guide_src/source/outgoing/view_decorators.rst
  user_guide_src/source/outgoing/view_decorators/001.php
Labels: documentation

#6095 Remove useless catch
  system/Cache/Handlers/MemcachedHandler.php
Labels: refactor

#6059 Fix MIME guessing of extension from type
  app/Config/Mimes.php
  system/Files/File.php
  tests/system/Files/FileTest.php
  tests/system/HTTP/Files/FileCollectionTest.php
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.2.1.rst
  user_guide_src/source/installation/upgrade_421.rst
  user_guide_src/source/installation/upgrading.rst
Labels: bug, breaking change

#6101 docs: add highlights for v4.2.0
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: documentation

#6104 fix: reverse routing does not work with full classname starting with `\`
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionReverseRouteTest.php
  tests/system/Router/RouteCollectionTest.php
Labels: bug

#6108 fix: insert error message in QueryBuilder
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/InsertTest.php
Labels: bug, database

#6098 fix: `spark routes` shows "ERROR: 404"
  system/Commands/Utilities/Routes/AutoRouterImproved/AutoRouteCollector.php
Labels: bug

#6113 Fix lost error message by test when after testInsertResultFail.
  tests/system/Models/InsertModelTest.php
Labels: testing

#6119 docs: fix syntax error in files.rst
  user_guide_src/source/libraries/files.rst
Labels: documentation

#6118 docs: remove explanation about `$setUpMethods` and `tearDownMethods`
  system/Test/CIUnitTestCase.php
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/testing/overview/003.php
  user_guide_src/source/testing/overview/004.php
  user_guide_src/source/testing/overview/005.php
Labels: documentation

#6116 fix: Time::setTestNow() does not work with fa Locale
  system/I18n/Time.php
  tests/system/I18n/TimeTest.php
Labels: bug

#6121 docs: improve time.rst
  user_guide_src/source/libraries/time.rst
  user_guide_src/source/libraries/time/015.php
  user_guide_src/source/libraries/time/016.php
  user_guide_src/source/libraries/time/017.php
  user_guide_src/source/libraries/time/018.php
Labels: documentation

#6117 fix: `migrate --all` causes `Class "SQLite3" not found` error
  system/Database/MigrationRunner.php
Labels: bug

#6115 test: fix forgetting to restore DBDebug value
  system/Test/DatabaseTestTrait.php
  tests/system/Database/Live/BadQueryTest.php
  tests/system/Database/Live/DbDebugTest.php
  tests/system/Database/Live/DbUtilsTest.php
  tests/system/Models/DeleteModelTest.php
  tests/system/Models/InsertModelTest.php
  tests/system/Models/SaveModelTest.php
  tests/system/Models/UpdateModelTest.php
Labels: testing

#6112 Feature: Adding StreamFilterTrait
  system/Test/Filters/CITestStreamFilter.php
  system/Test/StreamFilterTrait.php
  tests/system/CLI/CLITest.php
  tests/system/CLI/CommandRunnerTest.php
  tests/system/CLI/ConsoleTest.php
  tests/system/Commands/ClearCacheTest.php
  tests/system/Commands/ClearDebugbarTest.php
  tests/system/Commands/ClearLogsTest.php
  tests/system/Commands/CommandGeneratorTest.php
  tests/system/Commands/CommandTest.php
  tests/system/Commands/ConfigGeneratorTest.php
  tests/system/Commands/ConfigurableSortImportsTest.php
  tests/system/Commands/ControllerGeneratorTest.php
  tests/system/Commands/CreateDatabaseTest.php
  tests/system/Commands/Database/MigrateStatusTest.php
  tests/system/Commands/Database/ShowTableInfoTest.php
  tests/system/Commands/DatabaseCommandsTest.php
  tests/system/Commands/EntityGeneratorTest.php
  tests/system/Commands/EnvironmentCommandTest.php
  tests/system/Commands/FilterGeneratorTest.php
  tests/system/Commands/GenerateKeyTest.php
  tests/system/Commands/GeneratorsTest.php
  tests/system/Commands/HelpCommandTest.php
  tests/system/Commands/InfoCacheTest.php
  tests/system/Commands/MigrationGeneratorTest.php
  tests/system/Commands/MigrationIntegrationTest.php
  tests/system/Commands/ModelGeneratorTest.php
  tests/system/Commands/PublishCommandTest.php
  tests/system/Commands/RoutesTest.php
  tests/system/Commands/ScaffoldGeneratorTest.php
  tests/system/Commands/SeederGeneratorTest.php
  tests/system/Commands/ValidationGeneratorTest.php
  tests/system/Debug/Toolbar/Collectors/HistoryTest.php
  tests/system/Test/TestCaseTest.php
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/testing/overview/018.php
Labels: enhancement, 4.3

#6073 feat: add routes useSupportedLocalesOnly property
  system/Exceptions/PageNotFoundException.php
  system/Language/en/HTTP.php
  system/Router/RouteCollection.php
  system/Router/RouteCollectionInterface.php
  system/Router/Router.php
  tests/system/Router/RouteCollectionTest.php
  user_guide_src/source/outgoing/localization.rst
  user_guide_src/source/outgoing/localization/018.php
Labels: enhancement, 4.3

#6125 Feat add events for insertBatch()/updateBatch()
  system/BaseModel.php
  tests/_support/Models/EventModel.php
  tests/system/Models/EventsModelTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/models/model.rst
Labels: enhancement, database, 4.3

#6127 fix: event DBQuery is not fired on failed query when DBDebug is true
  phpstan-baseline.neon.dist
  system/Database/BaseConnection.php
  user_guide_src/source/extending/events.rst
Labels: bug, database

#6120 fix: `Time::humanize()` causes error with ar locale
  system/I18n/Time.php
  tests/system/I18n/TimeTest.php
Labels: bug

#6130 docs: update about mainly Changelog in contributing/pull_request.md
  contributing/pull_request.md
Labels: documentation

#6134 Updated to use ::class in $returnType example
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/021.php
Labels: documentation

#6082 fix: get_cookie() may not use the cookie prefix
  system/Helpers/cookie_helper.php
  tests/system/Helpers/CookieHelperTest.php
  user_guide_src/source/changelogs/v4.2.1.rst
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/installation/upgrade_421.rst
Labels: bug, breaking change

#6142 feat: improve namespaces command
  system/Commands/Utilities/Namespaces.php
  tests/system/Commands/Utilities/NamespacesTest.php
Labels: enhancement, 4.3

#6110 Extracting the call handler for Spark commands from kernel.
  app/Config/Routes.php
  spark
  system/CLI/CommandRunner.php
  system/CLI/Console.php
  system/CodeIgniter.php
  system/Config/Routes.php
  tests/system/CLI/CommandRunnerTest.php
  tests/system/CLI/ConsoleTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/cli/cli_commands.rst
  user_guide_src/source/cli/cli_controllers.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_430.rst
  user_guide_src/source/installation/upgrading.rst
Labels: refactor, 4.3

#6146 Fixed: BaseBuilder increment/decrement do not reset state after a query
  system/Database/BaseBuilder.php
  system/Database/Postgre/Builder.php
  system/Database/SQLSRV/Builder.php
  tests/system/Database/Live/IncrementTest.php
  user_guide_src/source/changelogs/v4.2.2.rst
Labels: bug, database

#6150 docs: `$routes->cli()` method is no longer recommended
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#6152 fix: SQLite3\Connection\getIndexData() error
  system/Database/SQLite3/Connection.php
Labels: bug, database

#6158 docs: improve changelog v4.2.0
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: documentation

#6109 feat: add method to insert empty data in Model
  system/BaseModel.php
  system/Model.php
  system/Validation/FileRules.php
  tests/_support/Validation/uploads/abc77tz
  tests/system/Models/InsertModelTest.php
  tests/system/Validation/FileRulesTest.php
  tests/system/Validation/StrictRules/FileRulesTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/056.php
Labels: enhancement, database, 4.3

#6161 docs: fix wrong namespace `App\Config`
  user_guide_src/source/general/errors/005.php
  user_guide_src/source/general/errors/006.php
  user_guide_src/source/incoming/routing/043.php
Labels: documentation

#6140 config: DB Error always throws Exception
  app/Config/Database.php
  system/Database/BaseConnection.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/database/connecting/006.php
Labels: database, 4.3

#6159 fix: Time::getAge() calculation
  system/I18n/Time.php
  tests/system/I18n/TimeTest.php
Labels: bug

#6167 fix: Session cookies are sent twice with Ajax
  system/Session/Session.php
Labels: bug

#5711 test: add tests for various types of values to where() in QueryBuilder
  tests/system/Database/Builder/WhereTest.php
Labels: testing

#6181 docs: improve pagination.rst
  user_guide_src/source/libraries/pagination.rst
  user_guide_src/source/libraries/pagination/015.php
  user_guide_src/source/models/model.rst
Labels: documentation

#6180 docs: improve extending/core_classes.rst
  user_guide_src/source/extending/core_classes.rst
Labels: documentation

#6175 test: fix tests for permit_empty
  tests/system/Validation/RulesTest.php
Labels: testing

#6179 docs: make methods linkable
  user_guide_src/source/database/metadata.rst
  user_guide_src/source/libraries/publisher.rst
  user_guide_src/source/libraries/security.rst
  user_guide_src/source/libraries/uploaded_files.rst
Labels: documentation

#6163 fix: throws DatabaseException in DB connections
  system/Database/BaseConnection.php
  system/Database/BasePreparedQuery.php
  system/Database/MySQLi/Connection.php
  system/Database/MySQLi/PreparedQuery.php
  system/Database/OCI8/Connection.php
  system/Database/OCI8/PreparedQuery.php
  system/Database/Postgre/Connection.php
  system/Database/Postgre/PreparedQuery.php
  system/Database/SQLSRV/Connection.php
  system/Database/SQLSRV/PreparedQuery.php
  system/Database/SQLite3/Connection.php
  system/Database/SQLite3/PreparedQuery.php
  tests/system/Database/Live/BadQueryTest.php
  tests/system/Database/Live/DbDebugTest.php
  tests/system/Database/Live/PreparedQueryTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: breaking change, 4.3

#5118 fix: QueryBuilder breaks select when escape is false
  system/Database/BaseBuilder.php
  system/Database/BaseConnection.php
  tests/system/Database/BaseConnectionTest.php
  tests/system/Database/Builder/SelectTest.php
Labels: bug, database

#6089 fix: when running on CLI, two Request objects were used in the system
  system/API/ResponseTrait.php
  system/CodeIgniter.php
  system/Config/BaseService.php
  system/Config/Services.php
  system/Debug/Exceptions.php
  system/HTTP/CLIRequest.php
  system/HTTP/IncomingRequest.php
  tests/system/CommonSingleServiceTest.php
  tests/system/HTTP/IncomingRequestTest.php
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.2.2.rst
Labels: bug, breaking change

#6182 refactor: replace $e->getMessage() with $e in log_message()
  system/CLI/CLI.php
  system/CLI/GeneratorTrait.php
  system/Cache/CacheFactory.php
  system/Cache/Handlers/FileHandler.php
  system/Cookie/CookieStore.php
  system/Database/BaseConnection.php
  system/Database/MySQLi/Connection.php
  system/Database/OCI8/Connection.php
  system/Database/Postgre/Connection.php
  system/Database/SQLite3/Connection.php
  system/Email/Email.php
  system/HTTP/ResponseTrait.php
Labels: refactor

#6186 fix: `$routes->group('/', ...)` creates the route `foo///bar`
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionTest.php
Labels: bug

#6183 config: DB Error always throws Exception CI_DBUG
  system/Database/BaseBuilder.php
  system/Database/BaseConnection.php
  system/Database/Postgre/Builder.php
  system/Database/SQLSRV/Builder.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: database, breaking change, 4.3

#6191 docs: improve cli_generators.rst
  user_guide_src/source/cli/cli_generators.rst
  user_guide_src/source/incoming/controllers.rst
Labels: documentation

#6192 docs: add note about special characters in paths
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/installing_manual.rst
Labels: documentation

#6194 docs: add sample code for array validation rules
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/libraries/validation/006.php
  user_guide_src/source/libraries/validation/007.php
Labels: documentation

#6187 refactor: add CompleteDynamicPropertiesRector
  rector.php
  tests/system/CLI/ConsoleTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/Config/DotEnvTest.php
  tests/system/ControllerTest.php
  tests/system/Database/Live/MetadataTest.php
  tests/system/Events/EventsTest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
  tests/system/HTTP/Files/FileMovingTest.php
  tests/system/Helpers/CookieHelperTest.php
  tests/system/Helpers/FilesystemHelperTest.php
  tests/system/Images/BaseHandlerTest.php
  tests/system/Images/GDHandlerTest.php
  tests/system/Images/ImageMagickHandlerTest.php
  tests/system/Images/ImageTest.php
  tests/system/Log/Handlers/FileHandlerTest.php
  tests/system/Pager/PagerRendererTest.php
  tests/system/Test/TestCaseTest.php
  tests/system/Throttle/ThrottleTest.php
  tests/system/View/TableTest.php
Labels: refactor

#6199 docs: remove dynamic property injection sample code
  user_guide_src/source/general/configuration/010.php
  user_guide_src/source/general/configuration/011.php
Labels: documentation

#6202 fix: use lang('HTTP.pageNotFound') on production 404 page
  system/CodeIgniter.php
Labels: bug

#6208 docs: replace $response with $this->response in response.rst
  user_guide_src/source/outgoing/response.rst
  user_guide_src/source/outgoing/response/004.php
  user_guide_src/source/outgoing/response/005.php
  user_guide_src/source/outgoing/response/006.php
  user_guide_src/source/outgoing/response/007.php
  user_guide_src/source/outgoing/response/008.php
  user_guide_src/source/outgoing/response/009.php
  user_guide_src/source/outgoing/response/012.php
  user_guide_src/source/outgoing/response/013.php
Labels: documentation
