Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-08, with the labels that each got.

#6316 docs: improve Whoops page explanation and Initial Configuration
  user_guide_src/source/general/environments.rst
  user_guide_src/source/installation/running.rst
  user_guide_src/source/installation/troubleshooting.rst
  user_guide_src/source/tutorial/index.rst
Labels: documentation

#6293 refactor: loading app/Config/routes.php
  system/CodeIgniter.php
  system/Commands/Utilities/FilterCheck.php
  system/Commands/Utilities/Routes.php
  system/Router/RouteCollection.php
  system/Test/FeatureTestCase.php
  system/Test/FeatureTestTrait.php
  system/Test/FilterTestTrait.php
  system/Test/bootstrap.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: refactor, breaking change, 4.3

#6323 fix: OCI8 uses deprecated Entity
  system/Database/OCI8/Result.php
Labels: bug

#6271 feat: `spark routes` shows route name
  system/Commands/Utilities/Routes.php
  system/Commands/Utilities/Routes/AutoRouteCollector.php
  system/Commands/Utilities/Routes/AutoRouterImproved/AutoRouteCollector.php
  tests/system/Commands/RoutesTest.php
  tests/system/Commands/Utilities/Routes/AutoRouteCollectorTest.php
  tests/system/Commands/Utilities/Routes/AutoRouterImproved/AutoRouteCollectorTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/incoming/routing.rst
Labels: enhancement, 4.3

#6320 refactor: CSRF protection
  system/Security/Security.php
  tests/system/Security/SecurityCSRFCookieRandomizeTokenTest.php
  tests/system/Security/SecurityTest.php
Labels: refactor

#6328 docs: fix link to wrong page in changelogs/v4.0.4.rst
  user_guide_src/source/changelogs/v4.0.4.rst
Labels: documentation

#6324 docs: improve installation
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/installing_manual.rst
  user_guide_src/source/installation/running.rst
Labels: documentation

#6288 error_404.php translation and design
  app/Views/errors/html/error_404.php
  system/Language/en/Errors.php
Labels: enhancement, 4.3

#6327 fix: Parse error occurs before PHP version check
  public/index.php
  spark
  system/CodeIgniter.php
Labels: bug

#6331 docs: improve explanations of getCompiledUpdate/getCompiledInsert
  user_guide_src/source/database/query_builder.rst
Labels: documentation

#6333 fix: 404 page might display Exception message in production environment
  app/Views/errors/html/error_404.php
  phpstan-baseline.neon.dist
  system/Debug/Exceptions.php
Labels: bug

#6334 fix: random_string('crypto') may return string less than $len or ErrorException
  system/Helpers/text_helper.php
  tests/system/Helpers/TextHelperTest.php
  user_guide_src/source/changelogs/v4.2.2.rst
  user_guide_src/source/helpers/text_helper.rst
  user_guide_src/source/installation/upgrade_422.rst
Labels: bug, breaking change

#6335 feat: make `CLI::input()` testable
  system/CLI/CLI.php
  system/Test/PhpStreamWrapper.php
  tests/system/CLI/CLITest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/cli/cli_library.rst
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/testing/overview/019.php
Labels: enhancement, 4.3

#6321 Feature for Timer to measure callable performance
  system/Common.php
  system/Debug/Timer.php
  tests/system/Debug/TimerTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/testing/benchmark.rst
  user_guide_src/source/testing/benchmark/010.php
  user_guide_src/source/testing/benchmark/011.php
  user_guide_src/source/testing/benchmark/012.php
Labels: enhancement, 4.3

#6347 docs: fix upgrade_422.rst Content Changes
  user_guide_src/source/installation/upgrade_422.rst
Labels: documentation

#6228 fix: exceptionHandler may return invalid HTTP status code
  system/Database/Exceptions/DatabaseException.php
  system/Debug/Exceptions.php
  system/Entity/Exceptions/CastException.php
  system/Exceptions/CastException.php
  system/Exceptions/ConfigException.php
  system/Exceptions/HTTPExceptionInterface.php
  system/Exceptions/HasExitCodeInterface.php
  system/Exceptions/PageNotFoundException.php
  system/Router/Exceptions/RedirectException.php
  tests/system/Debug/ExceptionsTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/general/errors.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: bug, breaking change, 4.3

#6349 docs: the session_id acquisition method that is not described #5586
  user_guide_src/source/libraries/sessions.rst
Labels: documentation

#6356 docs: fix upgrade 423.rst
  user_guide_src/source/installation/upgrade_423.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#6357 docs: fix installing
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/installing_manual.rst
Labels: documentation

#6359 chore: Sphinx convert warning into error
  .github/workflows/test-userguide.yml
  user_guide_src/source/database/utilities/001.php
Labels: documentation, github_actions

#6363 docs: improve Forge::createTable() change description
  user_guide_src/source/changelogs/v4.2.2.rst
  user_guide_src/source/installation/upgrade_422.rst
Labels: documentation

#6362 fix: Email class may not log an error when it fails to send
  system/Email/Email.php
Labels: bug

#6348 feat: add IntBoolCast for Entity
  system/Entity/Cast/IntBoolCast.php
  system/Entity/Entity.php
  tests/system/Entity/EntityTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/models/entities.rst
Labels: enhancement, 4.3

#6369 docs: fix Sphinx errors
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/libraries/caching.rst
  user_guide_src/source/libraries/cookies.rst
  user_guide_src/source/libraries/email.rst
Labels: documentation

#6368 docs: improve controllers.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/controllers/023.php
Labels: documentation

#6361 fix: Response::download() causes TypeError
  system/CodeIgniter.php
Labels: bug

#6375 refactor: add test for DownloadResponse
  system/CodeIgniter.php
  tests/_support/Filters/Customfilter.php
  tests/system/CodeIgniterTest.php
  tests/system/Filters/FiltersTest.php
  tests/system/Router/RouterTest.php
  tests/system/Test/FilterTestTraitTest.php
Labels: testing, refactor

#6364 Add $cached param to BaseConnection::tableExists()
  system/Database/BaseConnection.php
  system/Database/Forge.php
  system/Database/MySQLi/Connection.php
  system/Database/OCI8/Connection.php
  system/Database/Postgre/Connection.php
  system/Database/SQLSRV/Connection.php
  system/Database/SQLite3/Connection.php
  system/Test/Mock/MockConnection.php
  tests/system/Database/Forge/CreateTableTest.php
  tests/system/Database/Live/ForgeTest.php
  user_guide_src/source/changelogs/v4.2.5.rst
Labels: bug, database, breaking change

#6382 refactor: ValidationTest
  tests/system/Validation/StrictRules/ValidationTest.php
  tests/system/Validation/ValidationTest.php
Labels: testing, refactor

#6386 docs: fix `$pathsConfig` line number
  user_guide_src/source/general/managing_apps.rst
  user_guide_src/source/general/managing_apps/002.php
  user_guide_src/source/general/managing_apps/003.php
Labels: documentation

#6389 docs: remove comments code sample about Paths
  user_guide_src/source/general/managing_apps/002.php
  user_guide_src/source/general/managing_apps/003.php
Labels: documentation

#6388 docs: add/fix @return types in CLI
  system/CLI/BaseCommand.php
  system/CLI/Commands.php
  system/CLI/Console.php
Labels: 4.3

#6391 docs: add about route priority
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/043.php
Labels: documentation

#6392 docs: fix links to function/method
  contributing/documentation.rst
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/changelogs/v4.2.2.rst
  user_guide_src/source/cli/cli_commands.rst
  user_guide_src/source/database/results.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/migration.rst
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/incoming/message.rst
  user_guide_src/source/incoming/request.rst
  user_guide_src/source/installation/upgrade_422.rst
  user_guide_src/source/libraries/cookies.rst
  user_guide_src/source/libraries/encryption.rst
  user_guide_src/source/libraries/user_agent.rst
  user_guide_src/source/outgoing/response.rst
  user_guide_src/source/outgoing/table.rst
  user_guide_src/source/outgoing/view_parser.rst
  user_guide_src/source/outgoing/view_renderer.rst
Labels: documentation

#6302 Add new method `promptByMultipleKeys()` in CLI class
  system/CLI/CLI.php
  tests/system/CLI/CLITest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/cli/cli_library.rst
  user_guide_src/source/cli/cli_library/023.php
Labels: enhancement, 4.3

#6383 Allow calling help info using `spark --help`
  phpstan-baseline.neon.dist
  system/CLI/Console.php
  tests/system/CLI/ConsoleTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: enhancement, 4.3

#6398 docs: $db->getFieldData() data explanation is not complete
  user_guide_src/source/database/metadata.rst
Labels: documentation

#6402 fix: command usages
  system/Commands/Cache/ClearCache.php
  system/Commands/Help.php
  tests/system/CLI/CommandRunnerTest.php
Labels: bug

#6390 Fix: The subquery adds a prefix for the table alias.
  system/Database/BaseBuilder.php
  system/Database/BaseConnection.php
  tests/system/Database/Builder/PrefixTest.php
  user_guide_src/source/changelogs/v4.2.5.rst
Labels: bug, database

#6384 feat: add Form helpers for Validation Errors
  phpstan-baseline.neon.dist
  system/HTTP/RedirectResponse.php
  system/Helpers/form_helper.php
  system/Validation/Validation.php
  tests/system/Helpers/FormHelperTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/helpers/form_helper.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_430.rst
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/installation/upgrade_validations/002.php
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/001.php
Labels: bug, enhancement, breaking change, 4.3

#6378 Fix validation custom error asterisk field
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.2.5.rst
Labels: bug, breaking change

#6397 feat: autoload helpers
  app/Config/Autoload.php
  system/Autoloader/Autoloader.php
  system/bootstrap.php
  tests/system/Autoloader/AutoloaderTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/general/helpers.rst
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: enhancement, 4.3

#6408 fix: SecurityException's HTTP status code
  system/Security/Exceptions/SecurityException.php
  tests/system/Filters/CSRFTest.php
Labels: bug, 4.3

#6417 docs: small fix for test database
  env
  user_guide_src/source/testing/database.rst
Labels: documentation

#6418 docs: add Backward Compatibility Notes
  user_guide_src/source/installation/backward_compatibility_notes.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#6396 Fix Sqlite Table::createTable()
  system/Database/SQLite3/Table.php
  tests/system/Database/Live/SQLite/AlterTableTest.php
Labels: bug, database

#6332 Add RawSql to BaseConnection->escape()
  system/Database/BaseBuilder.php
  system/Database/BaseConnection.php
  system/Database/Postgre/Connection.php
  tests/system/Database/Builder/InsertTest.php
  tests/system/Database/Live/EscapeTest.php
  tests/system/Database/Live/MySQLi/RawSqlTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/queries.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/076.php
Labels: enhancement, 4.3

#6406 config: change Security::$redirect to false
  app/Config/App.php
  app/Config/Security.php
  env
  system/Security/Security.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/libraries/security.rst
  user_guide_src/source/libraries/security/005.php
Labels: 4.3

#6400 test: refactor tests for getFieldData()
  tests/system/Database/Live/ForgeTest.php
Labels: testing

#6427 refactor: remove unused `_parent_name` in BaseBuilder::objectToArray()
  system/Database/BaseBuilder.php
Labels: refactor

#6432 docs: improve services.rst
  user_guide_src/source/concepts/services.rst
  user_guide_src/source/concepts/services/015.php
Labels: documentation

#6421 fix: CLIRequest Erros in CLI
  system/Common.php
  system/Filters/CSRF.php
  system/Filters/Honeypot.php
  system/Filters/InvalidChars.php
  system/HTTP/CLIRequest.php
  system/HTTP/Negotiate.php
  system/HTTP/RequestInterface.php
  system/Honeypot/Honeypot.php
  system/Security/Security.php
  system/Validation/FileRules.php
  tests/system/HTTP/CLIRequestTest.php
  tests/system/HTTP/NegotiateTest.php
Labels: bug

#6426 docs: update date helper
  user_guide_src/source/helpers/date_helper.rst
  user_guide_src/source/helpers/date_helper/002.php
Labels: documentation

#6434 Remove unneeded abstract `handle()` method
  system/Log/Handlers/BaseHandler.php
Labels: refactor

#6431 feat: add Time::toDatabase()
  system/I18n/Time.php
  tests/system/I18n/TimeTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/libraries/time.rst
  user_guide_src/source/libraries/time/042.php
Labels: enhancement, 4.3

#6436 chore: update Kint to 4.2.0
  admin/framework/composer.json
  composer.json
  system/ThirdParty/Kint/Kint.php
  system/ThirdParty/Kint/Parser/ClassStaticsPlugin.php
  system/ThirdParty/Kint/Parser/EnumPlugin.php
  system/ThirdParty/Kint/Renderer/Text/EnumPlugin.php
  system/ThirdParty/Kint/Renderer/TextRenderer.php
  system/ThirdParty/Kint/Zval/EnumValue.php
  system/ThirdParty/Kint/resources/compiled/rich.js
  user_guide_src/source/changelogs/v4.2.5.rst
Labels: enhancement

#6442 fix: Call to undefined method CodeIgniter\HTTP\CLIRequest::getLocale()
  system/HTTP/CLIRequest.php
  tests/system/HTTP/CLIRequestTest.php
Labels: bug

#6441 docs: fix incorrect links to the spark page
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#6440 docs: $db->getFieldData() data explanation is not complete
  user_guide_src/source/database/metadata.rst
Labels: documentation

#6448 feat: add locale param to `route_to()`
  system/Common.php
  system/Router/RouteCollection.php
  tests/system/CommonFunctionsTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/general/common_functions/011.php
Labels: enhancement, 4.3

#6405 Postgre & SQLSRV - Should Never Have A Field Length For TEXT
  system/Database/Postgre/Forge.php
  system/Database/SQLSRV/Forge.php
  tests/system/Database/Live/ForgeTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: enhancement, database, 4.3

#6450 [4.3] Fix tests. Changed StreamFilterTrait and CITestStreamFilter.
  system/Test/Filters/CITestStreamFilter.php
  system/Test/StreamFilterTrait.php
  tests/system/CodeIgniterTest.php
  tests/system/Commands/Utilities/NamespacesTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/testing/overview/020.php
Labels: enhancement, 4.3

#6452 fix: AssertionError occurs when using Validation in CLI
  system/Validation/FileRules.php
Labels: bug

#6451 docs: add about controllers namespace in routing
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/063.php
  user_guide_src/source/incoming/routing/064.php
Labels: documentation

#6460 test: restore changed locale in Time tests
  tests/system/I18n/TimeDifferenceTest.php
  tests/system/I18n/TimeTest.php
Labels: testing

#6449 chore: move Kint to `require-dev`
  admin/framework/composer.json
  composer.json
  system/CodeIgniter.php
  system/Common.php
  system/ComposerScripts.php
  system/Helpers/kint_helper.php
Labels: refactor, 4.3
