Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-02, with the labels that each got.

#5635 docs: update Faker URL
  user_guide_src/source/testing/fabricator.rst
Labels: documentation

#5634 docs: add version up of Kint in changelog
  user_guide_src/source/changelogs/v4.1.6.rst
Labels: documentation

#5633 docs: replace getServer with server
  user_guide_src/source/incoming/message.rst
  user_guide_src/source/incoming/request.rst
  user_guide_src/source/libraries/curlrequest.rst
  user_guide_src/source/outgoing/response.rst
Labels: documentation

#5640 docs: fix validation.rst format
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#5638 fix: spark does not show Exception
  system/CodeIgniter.php
Labels: bug

#5645 docs: small fix general/errors.rst
  user_guide_src/source/general/errors.rst
Labels: documentation

#5647 refactor: make BaseController abstract
  app/Controllers/BaseController.php
  phpstan-baseline.neon.dist
  system/Config/Routes.php
Labels: refactor

#5648 refactor: move logic to prevent access to initController
  system/Config/Routes.php
  system/Router/Router.php
  tests/system/Router/RouterTest.php
Labels: refactor

#5646 test: move tests of getIPAddress() from CLIRequestTest to IncomingRequestTest
  tests/system/HTTP/CLIRequestTest.php
  tests/system/HTTP/IncomingRequestTest.php
Labels: testing

#5651 Feature: "spark routes" command shows routes with closure.
  system/Commands/Utilities/Routes.php
  tests/_support/Config/Routes.php
  tests/system/Commands/CommandTest.php
Labels: enhancement

#5658 docs: update coding style of `if`
  user_guide_src/source/database/queries.rst
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/helpers/filesystem_helper.rst
  user_guide_src/source/incoming/request.rst
  user_guide_src/source/installation/upgrade_file_upload.rst
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/libraries/email.rst
  user_guide_src/source/libraries/publisher.rst
Labels: documentation

#5652 refactor: remove migrations routes
  contributing/internals.md
  system/Config/Routes.php
Labels: refactor

#5631 docs: fix dbmgmt/migration.rst
  user_guide_src/source/dbmgmt/migration.rst
Labels: documentation

#5628 feat: `spark routes` shows filters
  system/CodeIgniter.php
  system/Commands/Utilities/Routes.php
  system/Commands/Utilities/Routes/FilterCollector.php
  system/Commands/Utilities/Routes/FilterFinder.php
  system/Commands/Utilities/Routes/SampleURIGenerator.php
  system/Filters/Filters.php
  system/Router/RouteCollection.php
  system/Router/Router.php
  tests/system/Commands/Utilities/Routes/FilterCollectorTest.php
  tests/system/Commands/Utilities/Routes/FilterFinderTest.php
  tests/system/Commands/Utilities/Routes/SampleURIGeneratorTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/routing.rst
Labels: enhancement

#5666 docs: fix sample code in mocking.rst
  user_guide_src/source/testing/mocking.rst
Labels: documentation

#5662 docs: remove out of dated explanation in basecontroller.rst
  user_guide_src/source/extending/basecontroller.rst
Labels: documentation

#5660 docs: improve view_renderer.rst
  user_guide_src/source/outgoing/view_renderer.rst
Labels: documentation

#5667 docs: add about "auto routes"
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5665 fix: Config CSRF $redirect does not work
  app/Config/App.php
  app/Config/Security.php
  phpstan-baseline.neon.dist
  system/Security/Security.php
Labels: bug

#5657 refactor: update Kint CSP nonce
  admin/framework/composer.json
  composer.json
  rector.php
  system/CodeIgniter.php
  system/Debug/Kint/RichRenderer.php
  tests/system/CommonFunctionsTest.php
Labels: refactor

#5680 fix: do not call header() if headers have already been sent
  system/Debug/Exceptions.php
Labels: bug

#5661 docs: add warning about $method filters
  app/Config/Filters.php
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/installation/upgrade_415.rst
  user_guide_src/source/libraries/security.rst
  user_guide_src/source/libraries/throttler.rst
  user_guide_src/source/tutorial/create_news_items.rst
Labels: documentation

#5694 docs: add about Model and Query Builder in model.rst
  user_guide_src/source/models/model.rst
Labels: documentation

#5692 docs: improve entities.rst
  user_guide_src/source/models/entities.rst
Labels: documentation

#5656 refactor: Session does not use cookies()
  depfile.yaml
  system/Session/Session.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: refactor

#5682 fix: $routes->setDefaultMethod() does not work
  system/Router/Router.php
  tests/system/Router/RouterTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: bug

#5686 docs: use `get()` not `add()` from the beginning in routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5609 Fix: Validation. Error key for field with asterisk
  system/Validation/Validation.php
  tests/system/Validation/StrictRules/ValidationTest.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/libraries/validation.rst
Labels: bug, breaking change

#5127 Allow calling getQuery() multiple times, and other improvements
  system/Database/Query.php
  tests/system/Database/BaseQueryTest.php
  user_guide_src/source/database/queries.rst
Labels: enhancement, database

#5698 docs: fix out of dated description in autoloader.rst
  user_guide_src/source/concepts/autoloader.rst
Labels: documentation

#5700 refactor: replace deprecated Response::getReason() with getReasonPhrase()
  app/Views/errors/html/error_exception.php
  system/HTTP/ResponseTrait.php
  tests/system/HTTP/DownloadResponseTest.php
Labels: refactor

#5653 refactor: isCLI() in CLIRequest and IncomingRequest
  system/HTTP/CLIRequest.php
  system/HTTP/IncomingRequest.php
  tests/system/HTTP/IncomingRequestTest.php
Labels: refactor

#5701 fix: debug toolbar vars response headers includes request headers
  system/Debug/Toolbar.php
  system/Debug/Toolbar/Views/toolbar.tpl.php
Labels: bug

#5684 Improve exception logging
  system/Debug/Exceptions.php
  tests/system/Debug/ExceptionsTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: enhancement, breaking change

#5639 feat: add Controller::validateData()
  system/Controller.php
  tests/system/ControllerTest.php
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/libraries/validation.rst
Labels: enhancement

#5703 fix: 404 override controller does not output Response object body
  system/CodeIgniter.php
  tests/_support/Controllers/Popcorn.php
  tests/system/CodeIgniterTest.php
Labels: bug

#5650 refactor: CodeIgniter has context
  public/index.php
  rector.php
  spark
  system/CodeIgniter.php
  system/Test/FeatureTestCase.php
  system/Test/FeatureTestTrait.php
  system/Test/Mock/MockCodeIgniter.php
  tests/system/CLI/ConsoleTest.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/installation/upgrade_420.rst
  user_guide_src/source/installation/upgrading.rst
Labels: refactor

#5709 docs: fix incorrect description about Uploaded Files in incomingrequest.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/libraries/uploaded_files.rst
Labels: documentation

#5712 fix: auto routes incorrectly display route filters with GET method
  system/Commands/Utilities/Routes.php
  tests/system/Commands/CommandTest.php
  tests/system/Commands/RoutesTest.php
  tests/system/Commands/Utilities/Routes/FilterCollectorTest.php
Labels: bug

#5717 docs: add note about how you can check what version of CodeIgniter you are currently running
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#5716 docs: update changelogs/v4.2.0.rst
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: documentation

#5718 docs: improve CLI only routing
  user_guide_src/source/cli/cli.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5206 Fix options are not passed to Command $params
  phpstan-baseline.neon.dist
  system/CodeIgniter.php
  system/HTTP/CLIRequest.php
  tests/system/CLI/CommandRunnerTest.php
  tests/system/HTTP/CLIRequestTest.php
Labels: bug

#5727 docs: change "previous version" to a specific version
  user_guide_src/source/libraries/sessions.rst
  user_guide_src/source/libraries/uploaded_files.rst
Labels: documentation

#5731 Sass workflow
  .github/workflows/test-scss.yml
  contributing/css.md
  system/Debug/Toolbar/Views/toolbar.css
Labels: github_actions

#5726 refactor: remove `&` before $db
  system/Database/BaseBuilder.php
  system/Database/BasePreparedQuery.php
  system/Database/BaseUtils.php
  system/Database/Forge.php
  system/Database/Query.php
  system/Database/SQLSRV/Utils.php
  system/Database/Seeder.php
  system/Model.php
Labels: refactor

#5734 refactor: remove unneeded `&` references in ContentSecurityPolicy.php
  system/HTTP/ContentSecurityPolicy.php
Labels: refactor

#5732 Limit running PHP workflows to related PHP files
  .github/workflows/test-deptrac.yml
  .github/workflows/test-phpcpd.yml
  .github/workflows/test-phpstan.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/test-rector.yml
Labels: github_actions

#5730 fix: forceGlobalSecureRequests break URI schemes other than HTTP
  system/HTTP/URI.php
  tests/system/HTTP/URITest.php
Labels: bug

#5746 chore: update Kint to 4.1.2 in ThirdParty
  system/ThirdParty/Kint/Kint.php
  system/ThirdParty/Kint/Parser/TimestampPlugin.php
  system/ThirdParty/Kint/Renderer/CliRenderer.php
  system/ThirdParty/Kint/init_helpers.php
  system/ThirdParty/Kint/resources/compiled/aante-light.css
  system/ThirdParty/Kint/resources/compiled/original.css
  system/ThirdParty/Kint/resources/compiled/rich.js
  system/ThirdParty/Kint/resources/compiled/solarized-dark.css
  system/ThirdParty/Kint/resources/compiled/solarized.css
Labels: dependencies

#5742 fix: TypeError when `$tokenRandomize = true` and no token posted
  system/Security/Security.php
  tests/system/Security/SecurityCSRFSessionRandomizeTokenTest.php
Labels: bug

#5725 [Docs] Replace utf-8 characters.
  user_guide_src/source/changelogs/v4.0.0-alpha.2.rst
  user_guide_src/source/changelogs/v4.0.0-beta.2.rst
  user_guide_src/source/changelogs/v4.0.0-beta.4.rst
  user_guide_src/source/cli/cli_library.rst
  user_guide_src/source/database/queries.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/extending/core_classes.rst
  user_guide_src/source/general/configuration.rst
  user_guide_src/source/general/modules.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/incoming/restful.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/running.rst
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_controllers.rst
  user_guide_src/source/installation/upgrade_models.rst
  user_guide_src/source/installation/upgrade_views.rst
  user_guide_src/source/libraries/cookies.rst
  user_guide_src/source/libraries/honeypot.rst
  user_guide_src/source/libraries/time.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/outgoing/api_responses.rst
  user_guide_src/source/outgoing/response.rst
  user_guide_src/source/outgoing/table.rst
  user_guide_src/source/outgoing/views.rst
  user_guide_src/source/testing/feature.rst
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/tutorial/news_section.rst
  user_guide_src/source/tutorial/static_pages.rst
Labels: documentation

#5724 [Docs] Extract new examples from validation.
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/028.2.php
Labels: documentation

#5737 Delete stale.yml
  stale.yml
Labels: github_actions

#5733 Nonce replacement optimization.
  system/HTTP/ContentSecurityPolicy.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
Labels: refactor

#5713 feat: can add route handler as callable
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionTest.php
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/004_1.php
  user_guide_src/source/incoming/routing/004_2.php
  user_guide_src/source/incoming/routing/004_3.php
  user_guide_src/source/incoming/routing/004_4.php
Labels: enhancement

#5743 Checking if the subquery uses the same object as the main query
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/BaseTest.php
Labels: enhancement

#5748 test: add parameter to initialize autoloader in $this->resetService()
  system/Test/CIUnitTestCase.php
Labels: testing
