Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-04, with the labels that each got.

#5838 config: add mime type for webp
  app/Config/Mimes.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: enhancement

#5851 wrong function name `or_where()`
  user_guide_src/source/database/query_builder.rst
Labels: documentation

#5845 docs: remove unneeded & in sample code in model.rst
  user_guide_src/source/models/model/055.php
Labels: documentation

#5844 fix: Validation returns incorrect errors after Redirect with Input
  system/Validation/Validation.php
Labels: bug

#5843 docs: improve tutorial
  user_guide_src/source/tutorial/create_news_items/002.php
  user_guide_src/source/tutorial/news_section/004.php
  user_guide_src/source/tutorial/news_section/006.php
  user_guide_src/source/tutorial/static_pages.rst
  user_guide_src/source/tutorial/static_pages/002.php
Labels: documentation

#5842 feat: [Parser] add configs to change conditional delimiters
  system/View/Parser.php
  tests/system/View/ParserTest.php
  user_guide_src/source/outgoing/view_parser.rst
  user_guide_src/source/outgoing/view_parser/027.php
Labels: bug, enhancement

#5850 fix: [Autoloader] Composer classmap usage
  system/Autoloader/Autoloader.php
  tests/system/Autoloader/AutoloaderTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: bug, breaking change

#5852 docs: fix parser.rst
  user_guide_src/source/installation/upgrade_view_parser/001.php
  user_guide_src/source/outgoing/view_parser.rst
  user_guide_src/source/outgoing/view_parser/003.php
  user_guide_src/source/outgoing/view_parser/006.php
  user_guide_src/source/outgoing/view_parser/007.php
  user_guide_src/source/outgoing/view_parser/008.php
  user_guide_src/source/outgoing/view_parser/018.php
  user_guide_src/source/outgoing/view_parser/019.php
  user_guide_src/source/outgoing/view_parser/020.php
  user_guide_src/source/outgoing/view_parser/021.php
  user_guide_src/source/outgoing/view_parser/024.php
  user_guide_src/source/outgoing/view_parser/025.php
  user_guide_src/source/outgoing/view_parser/026.php
Labels: documentation

#5853 docs: Improve tutorial
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/tutorial/conclusion.rst
  user_guide_src/source/tutorial/create_news_items.rst
  user_guide_src/source/tutorial/news_section.rst
  user_guide_src/source/tutorial/news_section/004.php
  user_guide_src/source/tutorial/news_section/006.php
  user_guide_src/source/tutorial/static_pages.rst
  user_guide_src/source/tutorial/static_pages/002.php
Labels: documentation

#5854 docs: replace `echo` with `return`
  user_guide_src/source/cli/cli/001.php
  user_guide_src/source/incoming/controllers/008.php
  user_guide_src/source/incoming/controllers/013.php
  user_guide_src/source/incoming/controllers/014.php
  user_guide_src/source/installation/upgrade_controllers/001.php
  user_guide_src/source/installation/upgrade_file_upload/001.php
  user_guide_src/source/installation/upgrade_pagination/001.php
  user_guide_src/source/installation/upgrade_view_parser.rst
  user_guide_src/source/installation/upgrade_view_parser/001.php
  user_guide_src/source/installation/upgrade_views.rst
  user_guide_src/source/libraries/pagination/002.php
  user_guide_src/source/libraries/validation/001.php
  user_guide_src/source/outgoing/view_layouts/001.php
  user_guide_src/source/outgoing/view_parser.rst
  user_guide_src/source/outgoing/view_parser/003.php
  user_guide_src/source/outgoing/view_parser/004.php
  user_guide_src/source/outgoing/view_parser/005.php
  user_guide_src/source/outgoing/view_parser/006.php
  user_guide_src/source/outgoing/view_parser/007.php
  user_guide_src/source/outgoing/view_parser/008.php
  user_guide_src/source/outgoing/view_parser/009.php
  user_guide_src/source/outgoing/view_parser/010.php
  user_guide_src/source/outgoing/view_parser/018.php
  user_guide_src/source/outgoing/view_parser/019.php
  user_guide_src/source/outgoing/view_parser/020.php
  user_guide_src/source/outgoing/view_parser/021.php
  user_guide_src/source/outgoing/view_parser/022.php
  user_guide_src/source/outgoing/view_parser/023.php
  user_guide_src/source/outgoing/views.rst
  user_guide_src/source/outgoing/views/001.php
  user_guide_src/source/outgoing/views/002.php
  user_guide_src/source/outgoing/views/003.php
  user_guide_src/source/outgoing/views/004.php
  user_guide_src/source/outgoing/views/005.php
  user_guide_src/source/outgoing/views/006.php
  user_guide_src/source/outgoing/views/007.php
  user_guide_src/source/outgoing/views/008.php
  user_guide_src/source/outgoing/views/009.php
  user_guide_src/source/outgoing/views/010.php
  user_guide_src/source/outgoing/views/011.php
Labels: documentation

#5849 fix: Commands::discoverCommands() loads incorrect classname
  system/Autoloader/FileLocator.php
  system/CLI/Commands.php
  tests/system/Autoloader/FileLocatorTest.php
Labels: bug

#5863 docs: fix filesystem_helper.rst
  user_guide_src/source/helpers/filesystem_helper.rst
Labels: documentation

#5866 chore: rename php-cs-fixer config files
  .github/workflows/test-coding-standards.yml
  .php-cs-fixer.dist.php
  .php-cs-fixer.no-header.php
  .php-cs-fixer.user-guide.php
  admin/pre-commit
Labels: github_actions

#5858 fix: Publisher::discover() loads incorrect classname
  system/Publisher/Publisher.php
Labels: bug

#5860 refactor: extract RedirectResponse::withErrors() method
  system/HTTP/RedirectResponse.php
Labels: refactor

#5861 fix: validation errors in Model are not cleared when running validation again
  phpstan-baseline.neon.dist
  system/BaseModel.php
  tests/system/Models/ValidationModelTest.php
Labels: bug

#5856 docs: improve Services
  user_guide_src/source/concepts/services.rst
  user_guide_src/source/concepts/services/003.php
  user_guide_src/source/concepts/services/004.php
  user_guide_src/source/concepts/services/005.php
  user_guide_src/source/concepts/services/009.php
  user_guide_src/source/concepts/services/012.php
  user_guide_src/source/concepts/services/013.php
  user_guide_src/source/concepts/services/014.php
Labels: documentation

#5857 docs: improve Factories
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/concepts/factories/002.php
  user_guide_src/source/concepts/factories/003.php
  user_guide_src/source/concepts/factories/008.php
  user_guide_src/source/concepts/factories/009.php
  user_guide_src/source/concepts/factories/010.php
Labels: documentation

#5862 feat: add `$includeDir` option to `get_filenames()`
  system/Helpers/filesystem_helper.php
  tests/system/Helpers/FilesystemHelperTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/helpers/filesystem_helper.rst
Labels: enhancement

#5873 docs: update migration
  user_guide_src/source/dbmgmt/migration.rst
  user_guide_src/source/libraries/sessions.rst
Labels: documentation

#5855 docs: fix View/Parser saveData description
  user_guide_src/source/outgoing/view_parser.rst
  user_guide_src/source/outgoing/views.rst
  user_guide_src/source/outgoing/views/010.php
Labels: documentation

#5881 docs: fix parameters display for API response > `setResponseFormat($format)` method
  user_guide_src/source/outgoing/api_responses.rst
Labels: documentation

#5880 docs: add `literalinclude` for curlrequest -> debug
  user_guide_src/source/libraries/curlrequest.rst
  user_guide_src/source/libraries/curlrequest/020.php
  user_guide_src/source/libraries/curlrequest/021.php
  user_guide_src/source/libraries/curlrequest/022.php
  user_guide_src/source/libraries/curlrequest/023.php
  user_guide_src/source/libraries/curlrequest/030.php
  user_guide_src/source/libraries/curlrequest/031.php
  user_guide_src/source/libraries/curlrequest/034.php
Labels: documentation

#5886 docs: fix heading level in api_responses.rst
  user_guide_src/source/outgoing/api_responses.rst
Labels: documentation

#5887 docs: add TOC in upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: documentation

#5888 docs: add link to the detailed page in changelogs/v4.2.0.rst
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: documentation

#5885 feat: throws exception when controller name in routes contains `/`
  system/Language/en/Router.php
  system/Router/Exceptions/RouterException.php
  system/Router/Router.php
  tests/system/Router/RouterTest.php
Labels: enhancement

#5779 fix: [BaseConfig] string value is set from environment variable even if it should be int/float
  system/Config/BaseConfig.php
  tests/system/Config/BaseConfigTest.php
  tests/system/Config/fixtures/.env
  tests/system/Config/fixtures/SimpleConfig.php
Labels: bug

#5894 docs: mailPath Alright!
  user_guide_src/source/libraries/email.rst
Labels: documentation

#5891 fix: add Escaper Exception classes in $coreClassmap
  system/Config/AutoloadConfig.php
Labels: bug

#5899 docs: replace `/app/` with `app/`
  user_guide_src/source/cli/cli_commands.rst
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/concepts/mvc.rst
  user_guide_src/source/general/configuration.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/libraries/throttler.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#5897 docs: improve Managing your Applications
  user_guide_src/source/general/managing_apps.rst
  user_guide_src/source/general/managing_apps/001.php
  user_guide_src/source/general/managing_apps/005.php
Labels: documentation

#5901 docs: fix autoloader.rst
  user_guide_src/source/concepts/autoloader.rst
Labels: documentation

#5900 docs: small improvements in requirements.rst
  user_guide_src/source/intro/requirements.rst
Labels: documentation

#5902 fix: Composer PSR-4 overwrites Config\Autoload::$psr4
  system/Autoloader/Autoloader.php
  tests/system/Autoloader/AutoloaderTest.php
Labels: bug

#5893 fix: using multiple CLI::color() in CLI::write() outputs strings with wrong color
  system/CLI/CLI.php
  tests/system/CLI/CLITest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/cli/cli_library.rst
Labels: bug, breaking change

#5907 docs: improve model.rst
  user_guide_src/source/models/model.rst
Labels: documentation

#5877 refactor: [Router] extract a class for auto-routing
  phpstan-baseline.neon.dist
  system/CodeIgniter.php
  system/Router/AutoRouter.php
  system/Router/RouteCollection.php
  system/Router/RouteCollectionInterface.php
  system/Router/Router.php
  system/Router/RouterInterface.php
  tests/system/Database/Migrations/MigrationRunnerTest.php
  tests/system/Router/RouteCollectionTest.php
  tests/system/Router/RouterTest.php
  tests/system/Test/FeatureTestTraitTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: bug, refactor, breaking change

#5914 docs: improve configuration.rst
  env
  user_guide_src/source/changelogs/v4.1.5.rst
  user_guide_src/source/general/configuration.rst
Labels: documentation

#5915 docs: improve migration namespace descriptions
  system/Database/MigrationRunner.php
  system/Test/CIUnitTestCase.php
  user_guide_src/source/dbmgmt/migration.rst
  user_guide_src/source/testing/database.rst
  user_guide_src/source/testing/database/003.php
Labels: documentation

#5916 Redirecting Routes. Placeholders.
  system/Router/Router.php
  tests/system/Router/RouterTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/incoming/routing/022.php
Labels: enhancement

#5884 script_tag: cosmetic for value-less attributes
  system/Helpers/html_helper.php
  tests/system/Helpers/HTMLHelperTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/helpers/html_helper.rst
  user_guide_src/source/helpers/html_helper/011.php
Labels: enhancement

#5921 docs: improve past upgrade (v4.1.0)
  user_guide_src/source/changelogs/v4.1.0.rst
  user_guide_src/source/installation/upgrade_404.rst
  user_guide_src/source/installation/upgrade_405.rst
  user_guide_src/source/installation/upgrade_410.rst
  user_guide_src/source/installation/upgrade_412.rst
  user_guide_src/source/installation/upgrade_413.rst
  user_guide_src/source/installation/upgrade_414.rst
  user_guide_src/source/installation/upgrade_415.rst
Labels: documentation

#5924 [docs/models] expose getInsertID() method
  user_guide_src/source/models/model.rst
Labels: documentation

#5935 docs: improve pagination.rst
  user_guide_src/source/libraries/pagination.rst
Labels: documentation

#5937 docs: improve testing/overview.rst
  user_guide_src/source/testing/overview.rst
Labels: documentation
