Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-01, with the labels that each got.

#5528 Revert workaround for php-coveralls
  .github/workflows/test-phpunit.yml
Labels: github_actions

#5532 docs: add Security advisory in CHANGELOG.md
  CHANGELOG.md
Labels: documentation

#5531 chore: update admin/framework/composer.json Kint
  admin/framework/composer.json
Labels: bug, dependencies

#5537 docs: minor addition to changelogs/v4.1.6.rst and upgrade_416.rst
  user_guide_src/source/changelogs/v4.1.6.rst
  user_guide_src/source/installation/upgrade_416.rst
Labels: documentation

#5536 fix: BaseConnection::getConnectDuration() number_format(): Passing null to parameter
  system/Database/BaseConnection.php
  tests/system/Database/BaseConnectionTest.php
Labels: bug

#5542 docs: improve upgrade instructions
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/installing_manual.rst
  user_guide_src/source/installation/upgrade_416.rst
Labels: documentation

#4690 Add information for apache mod_userdir
  user_guide_src/source/installation/running.rst
Labels: documentation

#5538 Auto-review required dependency matching in composer.json
  .github/workflows/test-autoreview.yml
  .github/workflows/test-phpunit.yml
  composer.json
  phpunit.xml.dist
  tests/AutoReview/ComposerJsonTest.php
Labels: github_actions

#5546 docs: add upgrade instruction in upgrade_416.rst
  user_guide_src/source/installation/upgrade_416.rst
Labels: documentation

#5547 docs: fix variable name in get_cookie()
  user_guide_src/source/helpers/cookie_helper.rst
Labels: documentation

#5554 Fix: Toolbar. ciDebugBar.showTab() context.
  system/Debug/Toolbar/Views/toolbar.js
Labels: bug, hotfix

#5553 Refactor Database Collector display
  system/Debug/Toolbar/Collectors/Database.php
  system/Debug/Toolbar/Views/_database.tpl
  tests/system/Debug/Toolbar/Collectors/DatabaseTest.php
Labels: bug, refactor, hotfix

#5555 fix: replace deprecated FILTER_SANITIZE_STRING
  system/Helpers/cookie_helper.php
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.1.7.rst
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/installation/upgrade_417.rst
  user_guide_src/source/installation/upgrading.rst
Labels: bug, breaking change, hotfix

#5358 refactor: add Factories::models() to suppress PHPStan error
  system/Common.php
  system/Config/Factories.php
Labels: refactor

#5557 fix: add missing Migration lang item
  system/Commands/Database/Migrate.php
  system/Language/en/Migrations.php
  tests/system/Commands/DatabaseCommandsTest.php
Labels: bug

#5516 feat: CSP enhancements
  app/Config/ContentSecurityPolicy.php
  env
  system/Common.php
  system/Config/BaseService.php
  system/Config/Services.php
  system/Config/View.php
  system/Debug/Kint/RichRenderer.php
  system/Debug/Toolbar.php
  system/HTTP/ContentSecurityPolicy.php
  system/HTTP/Response.php
  system/HTTP/ResponseTrait.php
  system/View/Plugins.php
  tests/system/CommonFunctionsTest.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
  tests/system/HTTP/ResponseSendTest.php
  tests/system/View/ParserPluginTest.php
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/outgoing/response.rst
  user_guide_src/source/outgoing/view_parser.rst
Labels: enhancement

#5566 test: improve slow testTrace()
  tests/system/CommonFunctionsTest.php
Labels: testing

#5565 test: refactor MiscellaneousModelTest::testCanCreateAndSaveEntityClasses()
  tests/system/Models/MiscellaneousModelTest.php
Labels: testing

#5562 Throws Exception when getCompiled*() is called in the Model
  system/Exceptions/ModelException.php
  system/Language/en/Database.php
  system/Model.php
  tests/_support/Models/GetCompiledModelTest.php
Labels: database

#5510 Feature: Subqueries in the FROM section
  system/Database/BaseBuilder.php
  system/Database/BaseConnection.php
  system/Database/SQLSRV/Builder.php
  tests/system/Database/Builder/FromTest.php
  user_guide_src/source/database/query_builder.rst
Labels: enhancement, database

#5573 chore: workaround for php-cs-fixer bug in v3.5.0
  composer.json
Labels: dependencies

#5567 Added new View Decorators.
  app/Config/View.php
  system/Config/View.php
  system/Language/en/View.php
  system/View/Exceptions/ViewException.php
  system/View/Parser.php
  system/View/View.php
  system/View/ViewDecoratorInterface.php
  system/View/ViewDecoratorTrait.php
  tests/_support/View/BadDecorator.php
  tests/_support/View/WorldDecorator.php
  tests/system/View/DecoratorsTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/outgoing/index.rst
  user_guide_src/source/outgoing/view_decorators.rst
Labels: enhancement

#5574 test: replace `$request->uri` with `$request->getUri()`
  phpstan-baseline.neon.dist
  system/Test/FeatureTestCase.php
  system/Test/FeatureTestTrait.php
  tests/system/HTTP/URITest.php
Labels: testing

#5545 Validation: support placeholders for anything
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/libraries/validation.rst
Labels: enhancement, breaking change

#5575 docs: improve query_builder.rst and add changelogs/v4.2.0.rst
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/database/query_builder.rst
Labels: documentation

#5592 Fix Autoloader::initialize()
  system/Autoloader/Autoloader.php
  tests/system/Autoloader/AutoloaderTest.php
  tests/system/Database/DatabaseTestCase/DatabaseTestCaseMigrationOnce1Test.php
  tests/system/Database/DatabaseTestCase/DatabaseTestCaseMigrationOnce2Test.php
  tests/system/Database/DatabaseTestCaseTest.php
  tests/system/Database/Migrations/MigrationRunnerTest.php
Labels: refactor

#5588 fix: `Time::createFromTimestamp()` sets incorrect time when specifying timezone
  system/I18n/Time.php
  tests/system/I18n/TimeTest.php
Labels: bug

#5497 fix: Entity's isset() and unset()
  system/Entity/Entity.php
  tests/system/Entity/EntityTest.php
  user_guide_src/source/models/entities.rst
Labels: bug, next major version?

#5578 Fix: Deletion timestamp of the Model is updated when a record that has been soft-deleted is deleted again
  system/Model.php
  tests/system/Models/DeleteModelTest.php
Labels: bug, database

#5593 refactor: CURLRequest and the slow tests
  phpstan-baseline.neon.dist
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
Labels: refactor

#5600 docs: Clarification when working with model pagination.
  user_guide_src/source/libraries/pagination.rst
Labels: documentation

#5599 docs: fix routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5602 docs: improve pagination.rst
  user_guide_src/source/libraries/pagination.rst
Labels: documentation

#5604 chore: generate coverage report by PHPUnit only on PHP 8.0
  .github/workflows/test-phpunit.yml
Labels: github_actions

#5601 Fix: Added alias escaping in subquery
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/FromTest.php
  user_guide_src/source/database/query_builder.rst
Labels: bug

#5605 fix: spark migrate:status does not show status with different namespaces
  system/Commands/Database/MigrateStatus.php
  tests/system/Commands/Database/MigrateStatusTest.php
Labels: bug

#5596 BaseService - Use lowercase key in resetSingle
  system/Config/BaseService.php
  tests/system/Config/ServicesTest.php
Labels: bug

#5607 Refactor `if_exist` validation with dot notation
  system/Validation/Validation.php
Labels: refactor

#5606 Fix `array_flatten_with_dots` ignores empty array values
  system/Helpers/array_helper.php
  tests/system/Helpers/ArrayHelperTest.php
Labels: bug

#5608 fix small typo
  user_guide_src/source/libraries/throttler.rst
Labels: documentation

#5613 docs: small fix for installation
  user_guide_src/source/installation/index.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#5614 docs: fix Upgrading from 3.x to 4.x
  user_guide_src/source/installation/upgrade_configuration.rst
  user_guide_src/source/installation/upgrade_controllers.rst
  user_guide_src/source/installation/upgrade_database.rst
  user_guide_src/source/installation/upgrade_emails.rst
  user_guide_src/source/installation/upgrade_encryption.rst
  user_guide_src/source/installation/upgrade_file_upload.rst
  user_guide_src/source/installation/upgrade_html_tables.rst
  user_guide_src/source/installation/upgrade_localization.rst
  user_guide_src/source/installation/upgrade_migrations.rst
  user_guide_src/source/installation/upgrade_models.rst
  user_guide_src/source/installation/upgrade_pagination.rst
  user_guide_src/source/installation/upgrade_responses.rst
  user_guide_src/source/installation/upgrade_routing.rst
  user_guide_src/source/installation/upgrade_security.rst
  user_guide_src/source/installation/upgrade_sessions.rst
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/installation/upgrade_view_parser.rst
  user_guide_src/source/installation/upgrade_views.rst
Labels: documentation

#2487 Feature Add Oracle driver
  .github/workflows/test-phpunit.yml
  system/Database/OCI8/Builder.php
  system/Database/OCI8/Connection.php
  system/Database/OCI8/Forge.php
  system/Database/OCI8/PreparedQuery.php
  system/Database/OCI8/Result.php
  system/Database/OCI8/Utils.php
  tests/_support/Config/Registrar.php
  tests/_support/Database/Migrations/20160428212500_Create_test_tables.php
  tests/_support/Database/Seeds/CITestSeeder.php
  tests/system/Commands/CreateDatabaseTest.php
  tests/system/Database/Live/DbUtilsTest.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/GetTest.php
  tests/system/Database/Live/GroupTest.php
  tests/system/Database/Live/OCI8/CallStoredProcedureTest.php
  tests/system/Database/Live/OCI8/LastInsertIDTest.php
  tests/system/Database/Live/OrderTest.php
  tests/system/Database/Live/PreparedQueryTest.php
  tests/system/Database/Live/UpdateTest.php
  tests/system/Database/Live/WhereTest.php
  tests/system/Models/FindModelTest.php
  tests/system/Models/PaginateModelTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/database/queries.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/intro/requirements.rst
Labels: database, new feature, dev

#5618 docs: improve controllers.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5619 fix: debug toolbar Routes Params output
  system/Debug/Toolbar/Collectors/Routes.php
Labels: bug

#5627 refactor: small changes in Filters and Router
  system/Filters/Filters.php
  system/Router/Router.php
Labels: refactor

#5625 test: refactor: extract createConfigFromArray()
  system/Test/ConfigFromArrayTrait.php
  tests/system/Filters/FiltersTest.php
  tests/system/Router/RouteCollectionTest.php
Labels: testing

#5623 fix: DownloadResponse memory leak
  system/CodeIgniter.php
  system/HTTP/DownloadResponse.php
Labels: bug

#5624 refactor: replace deprecated `getFilterForRoute()`
  system/Router/RouteCollection.php
  system/Test/FilterTestTrait.php
  tests/system/Router/RouteCollectionTest.php
Labels: refactor
