Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-07, with the labels that each got.

#6198 fix: BaseConnection may create dynamic property
  system/Database/BaseConnection.php
  system/Database/Postgre/Connection.php
  system/Test/Mock/MockConnection.php
Labels: bug

#6184 fix: Email SMTP may throw Uncaught ErrorException
  rector.php
  system/Email/Email.php
  tests/system/Email/EmailTest.php
Labels: bug

#6201 fix: CSP reportOnly behavior
  system/HTTP/ContentSecurityPolicy.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
Labels: bug

#6209 fix: lang() causes Error on CLI
  system/Config/Services.php
  tests/system/CommonFunctionsTest.php
Labels: bug

#6211 fix: multiple pagers with models do not work
  system/BaseModel.php
  tests/system/Models/PaginateModelTest.php
Labels: bug

#6215 fix: tweak empty line output of `spark db:table`
  system/Commands/Database/ShowTableInfo.php
Labels: bug

#6193 feat: Autoloader::sanitizeFilename() throws Exception
  rector.php
  system/Autoloader/Autoloader.php
  tests/system/Autoloader/AutoloaderTest.php
Labels: 4.3

#6216 fix: Builder insert()/update() does not accept an object
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/InsertTest.php
  tests/system/Database/Builder/UpdateTest.php
  user_guide_src/source/changelogs/v4.2.2.rst
Labels: bug, breaking change

#6214 Config Property Types
  admin/starter/app/Config/Paths.php
  app/Config/App.php
  app/Config/CURLRequest.php
  app/Config/Cache.php
  app/Config/ContentSecurityPolicy.php
  app/Config/Cookie.php
  app/Config/Database.php
  app/Config/DocTypes.php
  app/Config/Email.php
  app/Config/Encryption.php
  app/Config/Exceptions.php
  app/Config/Feature.php
  app/Config/Filters.php
  app/Config/Format.php
  app/Config/Generators.php
  app/Config/Honeypot.php
  app/Config/Images.php
  app/Config/Kint.php
  app/Config/Logger.php
  app/Config/Migrations.php
  app/Config/Mimes.php
  app/Config/Pager.php
  app/Config/Paths.php
  app/Config/Security.php
  app/Config/Toolbar.php
  app/Config/UserAgents.php
  app/Config/Validation.php
  phpstan-baseline.neon.dist
  system/Cache/CacheFactory.php
  system/Test/Mock/MockAppConfig.php
  system/Test/Mock/MockCLIConfig.php
  system/Test/Mock/MockSecurityConfig.php
  tests/system/Cache/CacheFactoryTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/Config/fixtures/Encryption.php
  tests/system/Security/SecurityCSRFSessionRandomizeTokenTest.php
  tests/system/Security/SecurityCSRFSessionTest.php
  tests/system/Session/SessionTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: breaking change, 4.3

#6235 Language: Make production error message translatable (replaces #6197)
  app/Views/errors/html/production.php
  system/Language/en/Errors.php
Labels: enhancement, 4.3

#6238 docs: add note about the status code for set404Override()
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#6241 fix: custom validation error is cleared when calling setRule() twice
  system/Validation/Validation.php
  tests/system/Validation/StrictRules/ValidationTest.php
  tests/system/Validation/ValidationTest.php
Labels: bug

#6251 fix: Call to undefined method CodeIgniter\Pager\PagerRenderer::getDetails()
  system/Pager/Pager.php
Labels: bug

#6133 feat: add methods to modify files in Publisher
  system/Publisher/ContentReplacer.php
  system/Publisher/Publisher.php
  tests/system/Publisher/ContentReplacerTest.php
  tests/system/Publisher/PublisherContentReplaceTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/libraries/publisher.rst
  user_guide_src/source/libraries/publisher/010.php
  user_guide_src/source/libraries/publisher/013.php
  user_guide_src/source/libraries/publisher/014.php
  user_guide_src/source/libraries/publisher/015.php
Labels: enhancement, 4.3

#6254 fix: exceptionHandler may cause HTTPException: Unknown HTTP status code
  app/Config/Constants.php
  system/Debug/Exceptions.php
Labels: bug

#6258 docs: fix benchmark.rst
  user_guide_src/source/testing/benchmark.rst
  user_guide_src/source/testing/benchmark/007.php
  user_guide_src/source/testing/benchmark/008.php
  user_guide_src/source/testing/benchmark/009.php
Labels: documentation

#6260 docs: fix uploaded_files.rst
  user_guide_src/source/libraries/uploaded_files.rst
  user_guide_src/source/libraries/uploaded_files/021.php
Labels: documentation

#6221 SQLite3 Connection getIndexData()
  system/Database/SQLite3/Connection.php
  system/Database/SQLite3/Table.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/SQLite/AlterTableTest.php
  tests/system/Database/Live/SQLite/GetIndexDataTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/metadata.rst
Labels: enhancement, database, 4.3

#5376 fix: invalid INSERT/DELETE query when Query Builder uses table alias
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/DeleteTest.php
  tests/system/Database/Builder/InsertTest.php
Labels: bug, database

#6249 Fix create table if not exists when indexes already exist
  phpstan-baseline.neon.dist
  system/Database/Forge.php
  system/Database/OCI8/Forge.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Forge.php
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge/015.php
  user_guide_src/source/installation/upgrade_422.rst
Labels: bug, database, breaking change

#6263 fix: format_number() can't be used on CLI
  system/CodeIgniter.php
  system/Helpers/number_helper.php
Labels: bug

#6267 docs: improve caching.rst
  user_guide_src/source/libraries/caching.rst
Labels: documentation

#6261 fix: add parameter checking for max_size
  system/Validation/FileRules.php
  tests/system/Validation/FileRulesTest.php
  tests/system/Validation/StrictRules/FileRulesTest.php
Labels: bug

#6265 docs: improve environments.rst
  user_guide_src/source/general/environments.rst
Labels: documentation

#6266 docs: add note on `spark namespaces`
  user_guide_src/source/concepts/autoloader.rst
Labels: documentation

#6268 docs: improve migration.rst
  user_guide_src/source/dbmgmt/migration.rst
Labels: documentation

#6244 Add indexes to test user table
  tests/_support/Database/Migrations/20160428212500_Create_test_tables.php
  tests/system/Database/Live/UpdateTest.php
  tests/system/Models/InsertModelTest.php
Labels: 4.3

#6272 refactor: debug toolbar
  system/Debug/Toolbar.php
Labels: refactor

#6269 fix: route name is not displayed in Exception message
  system/HTTP/RedirectResponse.php
  system/Language/en/HTTP.php
  tests/system/HTTP/RedirectResponseTest.php
Labels: bug

#6279 fix: `spark routes` shows 404 error when using regex
  system/Commands/Utilities/Routes/FilterFinder.php
Labels: bug

#6283 feat: `spark filter:check` command
  system/Commands/Utilities/FilterCheck.php
  tests/system/Commands/FilterCheckTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/routing.rst
Labels: enhancement, 4.3

#6277 feat: Encryption CI3 compatibility
  app/Config/Encryption.php
  phpstan-baseline.neon.dist
  system/Encryption/Handlers/OpenSSLHandler.php
  tests/system/Encryption/EncryptionTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_encryption.rst
  user_guide_src/source/libraries/encryption.rst
  user_guide_src/source/libraries/encryption/013.php
Labels: enhancement, 4.3

#6286 refactor: Exception exit code
  system/Database/Exceptions/DatabaseException.php
  system/Entity/Exceptions/CastException.php
  system/Exceptions/CastException.php
  system/Exceptions/ConfigException.php
  system/Exceptions/PageNotFoundException.php
  system/Router/Exceptions/RedirectException.php
  tests/system/Debug/ExceptionsTest.php
Labels: refactor

#6270 fix: `spark routes` does not show routes at all
  system/Commands/Utilities/Routes.php
Labels: bug, 4.3

#6285 fix: Entity::hasChanged() returns wrong result to mapped property
  system/Entity/Cast/BaseCast.php
  system/Entity/Cast/CastInterface.php
  system/Entity/Cast/DatetimeCast.php
  system/Entity/Entity.php
  tests/system/Entity/EntityTest.php
  user_guide_src/source/models/entities.rst
  user_guide_src/source/models/entities/009.php
Labels: bug

#6291 fix: unable to add more than one file to FileCollection constructor
  system/Files/FileCollection.php
  tests/system/Files/FileCollectionTest.php
Labels: bug

#6292 fix: Security::derandomize() may cause hex2bin() error
  system/Security/Security.php
  tests/system/Security/SecurityCSRFSessionRandomizeTokenTest.php
Labels: bug

#6296 docs: improve Web server config page
  user_guide_src/source/general/environments.rst
  user_guide_src/source/general/urls.rst
  user_guide_src/source/installation/index.rst
  user_guide_src/source/installation/running.rst
  user_guide_src/source/installation/troubleshooting.rst
Labels: documentation

#6300 docs: improve Form Validation Tutorial
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/001.php
  user_guide_src/source/libraries/validation/002.php
  user_guide_src/source/libraries/validation/039.php
Labels: documentation

#6304 docs: fix wrong URL explanation in Tutorial
  user_guide_src/source/tutorial/static_pages.rst
Labels: documentation

#6303 docs: add note for redirect()
  user_guide_src/source/general/common_functions.rst
Labels: documentation

#6309 docs: fix module namespace definition
  user_guide_src/source/general/modules.rst
  user_guide_src/source/general/modules/001.php
  user_guide_src/source/general/modules/003.php
Labels: documentation

#6307 docs: improve database/metadata.rst
  user_guide_src/source/database/metadata/001.php
  user_guide_src/source/database/metadata/002.php
  user_guide_src/source/database/metadata/003.php
  user_guide_src/source/database/metadata/004.php
  user_guide_src/source/database/metadata/005.php
  user_guide_src/source/database/metadata/006.php
  user_guide_src/source/database/metadata/007.php
  user_guide_src/source/database/metadata/008.php
  user_guide_src/source/database/metadata/009.php
Labels: documentation

#6282 fix: page cache saves Response data before running after filters
  system/CodeIgniter.php
  system/HTTP/DownloadResponse.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.2.2.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/installation/upgrade_422.rst
  user_guide_src/source/installation/upgrading.rst
Labels: bug, breaking change

#6257 fix: use getenv() instead of $_SERVER in detectEnvironment()
  system/CodeIgniter.php
Labels: bug
