Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-12, with the labels that each got.

#6928 docs: fix Cons in installing
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/installing_manual.rst
Labels: documentation

#6931 chore: update psalm to 5.0
  composer.json
  system/Cookie/Cookie.php
  system/Database/BaseConnection.php
  system/Database/Postgre/Connection.php
  system/Files/FileCollection.php
  system/Test/Mock/MockConnection.php
  system/Test/Mock/MockResult.php
Labels: 4.3

#6900 docs: improve Tutorial v4.3
  user_guide_src/source/images/debugbar.png
  user_guide_src/source/images/tutorial1.png
  user_guide_src/source/images/tutorial2.png
  user_guide_src/source/images/tutorial3.png
  user_guide_src/source/images/tutorial4.png
  user_guide_src/source/images/welcome.png
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/libraries/security.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/tutorial/conclusion.rst
  user_guide_src/source/tutorial/create_news_items.rst
  user_guide_src/source/tutorial/create_news_items/001.php
  user_guide_src/source/tutorial/create_news_items/002.php
  user_guide_src/source/tutorial/index.rst
  user_guide_src/source/tutorial/news_section.rst
  user_guide_src/source/tutorial/static_pages.rst
  user_guide_src/source/tutorial/static_pages/002.php
Labels: documentation, 4.3

#6933 docs: add references to supported databases
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/intro/requirements.rst
  user_guide_src/source/tutorial/news_section.rst
Labels: documentation

#6936 chore: move preload.php
  .github/scripts/deploy-appstarter
  .github/scripts/deploy-framework
  preload.php
Labels: github_actions

#6934 docs: refactor Tutorial code
  user_guide_src/source/tutorial/create_news_items/004.php
  user_guide_src/source/tutorial/news_section.rst
  user_guide_src/source/tutorial/news_section/004.php
  user_guide_src/source/tutorial/news_section/006.php
  user_guide_src/source/tutorial/news_section/008.php
  user_guide_src/source/tutorial/static_pages.rst
  user_guide_src/source/tutorial/static_pages/002.php
  user_guide_src/source/tutorial/static_pages/004.php
Labels: documentation, 4.3

#6935 docs: fix query_builder sample code
  user_guide_src/source/database/query_builder/103.php
  user_guide_src/source/database/query_builder/104.php
Labels: bug, documentation

#6880 refactor: replace `time()` with Time into `Cache`, `Database` and `Test` class.
  deptrac.yaml
  phpstan-baseline.neon.dist
  system/Cache/Handlers/FileHandler.php
  system/Database/MigrationRunner.php
  system/Test/Fabricator.php
  system/Test/Mock/MockCache.php
  system/Test/Mock/MockSession.php
  system/Test/TestResponse.php
Labels: refactor

#6941 docs: fix database/configuration.rst
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/database/configuration/009.php
Labels: documentation, database

#6940 docs: add SQLite3 $foreignKeys to changelog v4.2.0
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: documentation

#6937 docs: DB Config `strictOn` is MySQLi only
  user_guide_src/source/database/configuration.rst
Labels: documentation

#6912 test: add DB transaction tests
  tests/system/Database/Live/TransactionTest.php
Labels: testing, database

#6944 docs: fix about foreignKeys in changelog
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: documentation

#6939 feat: add SQLite3 Config busyTimeout
  app/Config/Database.php
  system/Database/SQLite3/Connection.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/configuration.rst
Labels: enhancement, database, 4.3

#6949 docs: small fixes in cli_generators.rst
  user_guide_src/source/cli/cli_generators.rst
Labels: documentation

#6952 docs: remove `/` before right `>` in void HTML elements
  user_guide_src/source/installation/upgrade_security/ci3sample/002.php
  user_guide_src/source/libraries/caching/001.php
  user_guide_src/source/libraries/email/022.php
  user_guide_src/source/libraries/uploaded_files/001.php
Labels: documentation, 4.3

#6960 docs: improve routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#6961 docs: fix tutorial placeholder `(:any)`
  user_guide_src/source/tutorial/create_news_items/004.php
  user_guide_src/source/tutorial/news_section/008.php
  user_guide_src/source/tutorial/static_pages.rst
  user_guide_src/source/tutorial/static_pages/004.php
Labels: documentation

#6959 docs: fix phpdoc types
  system/API/ResponseTrait.php
  system/Common.php
  system/Config/Factories.php
  system/Database/Database.php
  system/Debug/Timer.php
  system/Email/Email.php
  system/HTTP/IncomingRequest.php
  system/HTTP/Request.php
  system/HTTP/URI.php
  system/Helpers/url_helper.php
  system/Model.php
  tests/system/CommonSingleServiceTest.php
Labels: testing

#6963 docs: update auto routing notes
  user_guide_src/source/cli/cli_controllers.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_415.rst
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_routing.rst
  user_guide_src/source/libraries/security.rst
  user_guide_src/source/libraries/throttler.rst
  user_guide_src/source/tutorial/create_news_items.rst
Labels: documentation

#6962 docs: improve model.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/001.php
  user_guide_src/source/models/model/005.php
  user_guide_src/source/models/model/010.php
  user_guide_src/source/models/model/012.php
Labels: documentation

#6967 docs: fix services.rst
  user_guide_src/source/concepts/services.rst
  user_guide_src/source/concepts/services/006.php
  user_guide_src/source/concepts/services/007.php
  user_guide_src/source/concepts/services/008.php
  user_guide_src/source/concepts/services/010.php
Labels: documentation

#6883 feat: disallow `Model::update()` without WHERE clause
  system/BaseModel.php
  system/Config/Services.php
  system/Model.php
  tests/system/Models/DeleteModelTest.php
  tests/system/Models/UpdateModelTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
  user_guide_src/source/models/model.rst
Labels: enhancement, database, breaking change, 4.3

#6689 insertBatch updateBatch upsertBatch deleteBatch from query
  system/Database/BaseBuilder.php
  system/Database/MySQLi/Builder.php
  system/Database/OCI8/Builder.php
  system/Database/Postgre/Builder.php
  system/Database/SQLSRV/Builder.php
  system/Database/SQLite3/Builder.php
  tests/system/Database/Live/DeleteTest.php
  tests/system/Database/Live/InsertTest.php
  tests/system/Database/Live/UpdateTest.php
  tests/system/Database/Live/UpsertTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/115.php
  user_guide_src/source/database/query_builder/116.php
  user_guide_src/source/database/query_builder/117.php
  user_guide_src/source/database/query_builder/119.php
Labels: enhancement, database, 4.3

#6917 feat: do not throw exceptions during transactions by default
  system/Database/BaseConnection.php
  tests/system/Database/Live/TransactionDBDebugFalseTest.php
  tests/system/Database/Live/TransactionDBDebugTrueTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/transactions.rst
  user_guide_src/source/database/transactions/008.php
  user_guide_src/source/installation/upgrade_430.rst
Labels: enhancement, database, breaking change, 4.3

#6968 fix: transaction exception test
  tests/system/Database/Live/TransactionTest.php
Labels: testing, 4.3

#6964 fix: FileLocator::locateFile() bug with a similar namespace name
  system/Autoloader/FileLocator.php
  tests/system/Autoloader/FileLocatorTest.php
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.2.11.rst
Labels: bug

#6943 feat: add IncomingRequest::getRawInputVar() method
  system/HTTP/IncomingRequest.php
  tests/system/HTTP/IncomingRequestTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/incoming/incomingrequest/039.php
Labels: enhancement, 4.3

#6954 fix: don't change the variable type and filter all values in JSON request
  system/HTTP/IncomingRequest.php
  tests/system/HTTP/IncomingRequestTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: bug, breaking change, 4.3

#6969 [4.3] fix: merge mistake model.rst
  user_guide_src/source/models/model.rst
Labels: documentation, 4.3

#6951 feat: add closure validation rule
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/003.php
  user_guide_src/source/libraries/validation/033.php
  user_guide_src/source/libraries/validation/040.php
  user_guide_src/source/libraries/validation/041.php
Labels: enhancement, 4.3

#6970 docs: fix typos in query_builder.rst
  user_guide_src/source/database/query_builder.rst
Labels: documentation, 4.3

#6972 fix: socket connection in RedisHandler class
  system/Session/Handlers/RedisHandler.php
  user_guide_src/source/changelogs/v4.2.11.rst
Labels: bug

#6974 Fix testInsertWithSetAndEscape to make not time dependent
  tests/system/Models/InsertModelTest.php
Labels: testing

#6976 docs: fix modules.rst
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/general/helpers.rst
  user_guide_src/source/general/modules.rst
  user_guide_src/source/general/modules/006.php
Labels: documentation

#6977 fix: `spark namespaces` cannot show a namespace with mutilple paths
  app/Config/Autoload.php
  phpstan-baseline.neon.dist
  system/Autoloader/Autoloader.php
  system/Commands/Utilities/Namespaces.php
  system/Config/AutoloadConfig.php
Labels: bug

#6971 docs: update changelogs 4.3.0
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: documentation, 4.3

#6985 fix: Undefined constant "CodeIgniter\Debug\VENDORPATH"
  system/Debug/Exceptions.php
Labels: bug

#6987 refactor: remove Workaround for Faker deprecation errors in PHP 8.2
  system/Debug/Exceptions.php
Labels: refactor, 4.3

#6984 fix: large HTTP input crashes framework
  system/HTTP/IncomingRequest.php
Labels: bug

#6983 docs: improve uploaded_files.rst
  user_guide_src/source/libraries/uploaded_files.rst
  user_guide_src/source/libraries/uploaded_files/002.php
Labels: documentation, 4.3

#6993 docs: fix PHPDOC ResourceController
  system/RESTful/ResourceController.php
Labels: documentation

#6994 fix: `PHPStan` $cols not defined in `CLI`
  system/CLI/CLI.php
Labels: refactor

#6992 docs: add note for Auto Routing (Improved) changes
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#6989 refactor: add Config\Session
  app/Config/App.php
  app/Config/Session.php
  env
  system/Commands/Generators/MigrationGenerator.php
  system/Session/Handlers/BaseHandler.php
  system/Session/Handlers/DatabaseHandler.php
  system/Session/Handlers/FileHandler.php
  system/Session/Handlers/MemcachedHandler.php
  system/Session/Handlers/RedisHandler.php
  system/Session/Session.php
  tests/system/Session/Handlers/Database/AbstractHandlerTestCase.php
  tests/system/Session/Handlers/Database/MySQLiHandlerTest.php
  tests/system/Session/Handlers/Database/PostgreHandlerTest.php
  tests/system/Session/Handlers/Database/RedisHandlerTest.php
  tests/system/Session/SessionTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
  user_guide_src/source/libraries/sessions.rst
  user_guide_src/source/libraries/sessions/039.php
  user_guide_src/source/libraries/sessions/040.php
  user_guide_src/source/libraries/sessions/041.php
  user_guide_src/source/libraries/sessions/042.php
  user_guide_src/source/libraries/sessions/043.php
Labels: refactor, 4.3

#6986 fix: BaseBuilder::getOperator() doesn't recognize LIKE operator in array expression
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/WhereTest.php
Labels: bug, database, 4.3

#6999 refactor: to fix psalm error
  system/Language/Language.php
Labels: refactor, 4.3

#7006 refactor: RequestTrait by rector
  system/HTTP/RequestTrait.php
Labels: refactor

#7004 test: update failed DB session tests
  tests/_support/Database/Seeds/CITestSeeder.php
  tests/system/Session/Handlers/Database/AbstractHandlerTestCase.php
Labels: testing

#6998 fix: Config\Session
  app/Config/Session.php
  system/Config/Services.php
Labels: 4.3

#7003 fix: Config property type
  app/Config/App.php
  system/Test/Mock/MockAppConfig.php
  system/Test/Mock/MockCLIConfig.php
  tests/system/HTTP/IncomingRequestTest.php
  user_guide_src/source/installation/troubleshooting/001.php
  user_guide_src/source/installation/troubleshooting/002.php
  user_guide_src/source/installation/upgrade_localization/001.php
  user_guide_src/source/outgoing/localization/001.php
  user_guide_src/source/outgoing/localization/002.php
  user_guide_src/source/outgoing/localization/003.php
  user_guide_src/source/outgoing/response/011.php
Labels: 4.3

#7007 docs: fix incomingrequest.rst
  user_guide_src/source/incoming/incomingrequest.rst
Labels: documentation

#7009 docs: add deprecated directives
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/helpers/form_helper.rst
  user_guide_src/source/libraries/cookies.rst
Labels: documentation, 4.3

#7012 docs: improve uploaded_files.rst into develop branch.
  user_guide_src/source/libraries/uploaded_files/002.php
Labels: documentation

#6995 feat: add IncomingRequest::is() method
  system/HTTP/CLIRequest.php
  system/HTTP/IncomingRequest.php
  tests/system/HTTP/CLIRequestTest.php
  tests/system/HTTP/IncomingRequestTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/incoming/incomingrequest/040.php
Labels: enhancement, next major version?, 4.3

#7019 docs: fix upgrade_405.rst
  user_guide_src/source/installation/upgrade_405.rst
Labels: documentation

#7020 docs: improve past upgrade
  user_guide_src/source/installation/upgrade_404.rst
  user_guide_src/source/installation/upgrade_405.rst
  user_guide_src/source/installation/upgrade_410.rst
  user_guide_src/source/installation/upgrade_412.rst
  user_guide_src/source/installation/upgrade_413.rst
  user_guide_src/source/installation/upgrade_414.rst
  user_guide_src/source/installation/upgrade_415.rst
  user_guide_src/source/installation/upgrade_416.rst
  user_guide_src/source/installation/upgrade_418.rst
Labels: documentation

#7016 chore: update test-deptrac.yml (Github API Rate Limit)
  .github/workflows/test-deptrac.yml
Labels: github_actions

#7017 docs: update tutorial
  user_guide_src/source/tutorial/create_news_items.rst
  user_guide_src/source/tutorial/create_news_items/002.php
Labels: documentation, 4.3

#7026 refactor: update sass output
  system/Debug/Toolbar/Views/toolbar.css
Labels: refactor

#7018 docs: add background color for versionadded and deprecated
  user_guide_src/source/_static/css/citheme.css
Labels: documentation, 4.3

#7027 docs: update Upgrading from 3.x to 4.x and MVC
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_controllers.rst
  user_guide_src/source/installation/upgrade_controllers/ci3sample/001.php
  user_guide_src/source/installation/upgrade_models.rst
  user_guide_src/source/installation/upgrade_views.rst
  user_guide_src/source/installation/upgrade_views/ci3sample/001.php
  user_guide_src/source/outgoing/response.rst
Labels: documentation

#7028 docs: update Upgrading from 3.x to 4.x Libraries
  user_guide_src/source/installation/upgrade_configuration.rst
  user_guide_src/source/installation/upgrade_configuration/001.php
  user_guide_src/source/installation/upgrade_database.rst
  user_guide_src/source/installation/upgrade_file_upload/001.php
  user_guide_src/source/installation/upgrade_responses.rst
  user_guide_src/source/installation/upgrade_security.rst
  user_guide_src/source/installation/upgrade_security/001.php
  user_guide_src/source/installation/upgrade_sessions/001.php
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/installation/upgrade_validations/002.php
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#7014 docs: fix request.rst
  user_guide_src/source/incoming/request.rst
  user_guide_src/source/incoming/request/003.php
Labels: bug, documentation

#7022 fix: `link_tag()` missing `type="application/rss+xml"`
  system/Helpers/html_helper.php
  tests/system/Helpers/HTMLHelperTest.php
Labels: bug

#7030 fix: Request::getIPaddress() causes error on CLI
  system/HTTP/RequestTrait.php
  user_guide_src/source/incoming/request.rst
Labels: bug

#7031 [Rector] Enable skipped RemoveUselessReturnTagRector
  rector.php
Labels: 4.3

#7032 docs: improve helpers.rst
  user_guide_src/source/general/helpers.rst
Labels: documentation

#7037 docs: update deprecated `migrate:create` examples
  user_guide_src/source/cli/cli_commands.rst
  user_guide_src/source/cli/cli_commands/001.php
  user_guide_src/source/cli/cli_generators.rst
Labels: documentation

#7036 docs: fix upgrade_database.rst
  user_guide_src/source/installation/upgrade_database.rst
Labels: bug, documentation

#7038 fix: `spark migrate:status` shows incorrect filename when format is `Y_m_d_His_`
  system/Database/MigrationRunner.php
  tests/system/Database/Migrations/MigrationRunnerTest.php
Labels: bug

#7042 fix: save object when useAutoIncrement is disabled
  system/Model.php
  tests/system/Models/SaveModelTest.php
Labels: bug

#7024 chore: secure workflows permission
  .github/workflows/deploy-apidocs.yml
  .github/workflows/deploy-distributables.yml
  .github/workflows/deploy-userguide-latest.yml
  .github/workflows/test-autoreview.yml
  .github/workflows/test-coding-standards.yml
  .github/workflows/test-deptrac.yml
  .github/workflows/test-phpcpd.yml
  .github/workflows/test-phpstan.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/test-rector.yml
  .github/workflows/test-scss.yml
  .github/workflows/test-userguide.yml
Labels: github_actions
