Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-10, with the labels that each got.

#6613 docs: add Warning to `$routes->map()`
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#6588 fix: `$cleanValidationRules` does not work in Model updates
  system/BaseModel.php
  tests/system/Models/ValidationModelTest.php
  user_guide_src/source/models/model.rst
Labels: bug, database

#6615 Decamelize function
  system/Helpers/inflector_helper.php
  tests/system/Helpers/InflectorHelperTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/helpers/inflector_helper.rst
  user_guide_src/source/helpers/inflector_helper/014.php
Labels: enhancement, 4.3

#6618 Fixed a bug that URLs with trailing newlines do not become invalid in validation.
  system/Validation/FormatRules.php
  tests/system/Validation/StrictRules/FormatRulesTest.php
Labels: bug

#6616 docs: fix incorrect link to a method in routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#6622 docs: fix: update the validation mime type
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#6620 feat: Controlled Cells
  system/Traits/PropertiesTrait.php
  system/View/Cell.php
  system/View/Cells/Cell.php
  tests/_support/View/Cells/AdditionCell.php
  tests/_support/View/Cells/ColorsCell.php
  tests/_support/View/Cells/GreetingCell.php
  tests/_support/View/Cells/ListerCell.php
  tests/_support/View/Cells/MultiplierCell.php
  tests/_support/View/Cells/RenderedNotice.php
  tests/_support/View/Cells/SimpleNotice.php
  tests/_support/View/Cells/addition.php
  tests/_support/View/Cells/colors.php
  tests/_support/View/Cells/greeting.php
  tests/_support/View/Cells/lister.php
  tests/_support/View/Cells/multiplier.php
  tests/_support/View/Cells/notice.php
  tests/system/View/ControlledCellTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/outgoing/view_cells.rst
Labels: enhancement, 4.3

#6619 test: remove $request->uri
  tests/system/Helpers/ArrayHelperTest.php
  tests/system/Helpers/FormHelperTest.php
  tests/system/Helpers/URLHelper/CurrentUrlTest.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  tests/system/Helpers/URLHelper/SiteUrlTest.php
Labels: testing

#6624 fix: missing `valid_json` in Validation Language
  system/Language/en/Validation.php
  tests/system/Language/LanguageTest.php
  user_guide_src/source/changelogs/v4.2.7.rst
Labels: bug

#6595 Allow HTTP/3 to work and not be blocked.
  system/HTTP/Message.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: enhancement, 4.3

#6627 chore: update phpstan-baseline.neon.dist for PHPStan 1.8.7
  phpstan-baseline.neon.dist
Labels: 4.3

#6630 docs: small fixes in view_cells.rst
  user_guide_src/source/outgoing/view_cells.rst
Labels: documentation, 4.3

#6626 docs: add Message Changes in changelogs
  user_guide_src/source/changelogs/v4.2.2.rst
  user_guide_src/source/changelogs/v4.2.7.rst
Labels: documentation

#6628 test: remove uneeded code in FormHelperTest
  tests/system/Helpers/FormHelperTest.php
Labels: testing

#6614 fix: default values for Session Redis Handler
  system/Session/Handlers/RedisHandler.php
  tests/system/Session/Handlers/Database/RedisHandlerTest.php
Labels: bug

#6629 test: fix Error ini_set(): Session ini settings cannot be changed
  tests/system/Helpers/FormHelperTest.php
Labels: testing, 4.3

#6606 refactor: remove `type="text/javascript"` in <script> tag
  system/Debug/Toolbar.php
  system/Debug/Toolbar/Views/toolbar.tpl.php
  system/Helpers/html_helper.php
  system/Helpers/url_helper.php
  tests/system/Helpers/HTMLHelperTest.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/helpers/html_helper/010.php
  user_guide_src/source/helpers/html_helper/011.php
Labels: breaking change, 4.3

#6634 fix: error when Config\Modules::$composerPackages is missing
  system/Autoloader/Autoloader.php
Labels: bug, 4.3

#6625 Fix DotEnv class turning `export` to empty string
  system/Config/DotEnv.php
  tests/system/Config/DotEnvTest.php
  tests/system/Config/fixtures/.env
Labels: bug

#6641 docs: improve changelogs
  user_guide_src/source/changelogs/v4.2.6.rst
  user_guide_src/source/changelogs/v4.2.7.rst
Labels: documentation

#6640 docs: add "HTTP verbs" section title
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#6632 test: fix ResponseTest::testSetDateRemembersDateInUTC
  tests/system/HTTP/DownloadResponseTest.php
  tests/system/HTTP/ResponseTest.php
Labels: testing

#6645 refactor: _array_search_dot() if conditions
  system/Helpers/array_helper.php
Labels: refactor

#6647 Remove unneeded `$logger` property in `Session`
  system/Session/Session.php
Labels: bug

#6646 Add CLIRequest::getCookie()
  system/HTTP/CLIRequest.php
  tests/system/HTTP/CLIRequestTest.php
Labels: bug

#6644 fix: routes registration bug
  system/Router/RouteCollection.php
  tests/system/HTTP/RedirectResponseTest.php
  tests/system/Router/RouteCollectionTest.php
Labels: bug

#6569 fix: ResponseInterface (2)
  system/API/ResponseTrait.php
  system/Common.php
  system/Config/BaseService.php
  system/Config/Services.php
  system/Debug/Exceptions.php
  system/Debug/Toolbar.php
  system/HTTP/CURLRequest.php
  system/HTTP/ContentSecurityPolicy.php
  system/HTTP/ResponseInterface.php
  system/HTTP/ResponseTrait.php
  system/RESTful/ResourceController.php
  system/RESTful/ResourcePresenter.php
  system/Security/Security.php
  system/Session/Session.php
  system/Test/ControllerTestTrait.php
  system/Test/ControllerTester.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: bug, breaking change, 4.3

#6651 refactor: remove unnecessary "&" in Filters
  system/Filters/Filters.php
Labels: refactor

#6655 docs: fix sample code in incomingrequest
  user_guide_src/source/incoming/incomingrequest/021.php
Labels: documentation

#6653 docs: deprecated CodeIgniter::$path and CodeIgniter::setPath()
  system/CodeIgniter.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: 4.3

#6657 Bug: showError in CLI/BaseCommand use hardcoded error view path
  system/CLI/BaseCommand.php
Labels: bug

#6552 Add ability to set index names
  system/Database/Forge.php
  system/Database/MySQLi/Forge.php
  system/Database/OCI8/Forge.php
  system/Database/Postgre/Forge.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Forge.php
  system/Database/SQLite3/Table.php
  tests/system/Database/Live/ForgeTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge/010.php
  user_guide_src/source/dbmgmt/forge/011.php
  user_guide_src/source/dbmgmt/forge/020.php
Labels: bug, enhancement, database, breaking change, 4.3

#6654 refactor: move print_r to interpolate and use clean_path
  system/Log/Logger.php
Labels: refactor

#6661 docs: improve form_helper.rst
  user_guide_src/source/helpers/form_helper.rst
  user_guide_src/source/helpers/form_helper/013.php
  user_guide_src/source/helpers/form_helper/014.php
  user_guide_src/source/helpers/form_helper/015.php
  user_guide_src/source/helpers/form_helper/016.php
  user_guide_src/source/helpers/form_helper/035.php
Labels: documentation

#6662 Deprecate public properties in IncomingRequest
  system/HTTP/IncomingRequest.php
  system/HTTP/Negotiate.php
  tests/system/HTTP/IncomingRequestTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: 4.3

#6666 test: fix dynamic properties in FiltersTest
  tests/system/Filters/FiltersTest.php
  tests/system/Filters/fixtures/GoogleMe.php
  tests/system/Filters/fixtures/GoogleYou.php
  tests/system/Filters/fixtures/Multiple1.php
  tests/system/Filters/fixtures/Multiple2.php
Labels: testing, PHP 8.2

#6667 test: remove dynamic properties in MigrationRunnerTest
  tests/system/Database/Migrations/MigrationRunnerTest.php
Labels: testing, PHP 8.2

#6669 test: fix dynamic properties
  tests/_support/View/SampleClassWithInitController.php
  tests/system/Models/GeneralModelTest.php
  tests/system/Models/ValidationModelTest.php
  tests/system/View/CellTest.php
Labels: testing, PHP 8.2

#6670 refactor: FormatRulesTest and StrictRules\FormatRulesTest
  tests/system/Validation/FormatRulesTest.php
  tests/system/Validation/StrictRules/FormatRulesTest.php
Labels: testing

#6671 refactor: valid_date does not work in PHP 8.2
  system/Validation/FormatRules.php
Labels: refactor, PHP 8.2

#6652 feat: add method to disable controller filters
  system/CodeIgniter.php
  tests/system/CodeIgniterTest.php
Labels: enhancement, 4.3

#6679 feat: implementation option http2 in `CURLRequest`
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/libraries/curlrequest.rst
Labels: enhancement, 4.3

#6675 fix: getGetPost() and getPostGet() when index is null
  system/HTTP/IncomingRequest.php
  tests/system/HTTP/IncomingRequestTest.php
  user_guide_src/source/changelogs/v4.2.8.rst
  user_guide_src/source/incoming/incomingrequest.rst
Labels: bug

#6692 Fix UpsertTest::testUpsertWithMultipleSet
  tests/system/Database/Live/UpsertTest.php
Labels: bug, testing, 4.3

#6686 test: make test case in MessageTest a bit more realistic
  tests/system/HTTP/MessageTest.php
Labels: testing

#6690 [4.3] style: update coding style
  system/Database/BaseBuilder.php
  system/Database/MySQLi/Builder.php
  system/Database/OCI8/Builder.php
  system/Database/Postgre/Builder.php
  system/Database/SQLSRV/Builder.php
  system/Database/SQLite3/Builder.php
Labels: 4.3

#6683 Bug: ResponseTest::testSetLastModifiedWithDateTimeObject depends on time
  tests/system/HTTP/ResponseTest.php
Labels: testing

#6682 test: remove $request->uri and fix incorrect assertions
  tests/system/HTTP/URITest.php
  tests/system/Pager/PagerTest.php
Labels: testing

#6668 chore: update PHPStan PHP version to 8.1
  .github/workflows/test-phpstan.yml
  phpstan-baseline.neon.dist
  phpstan.neon.dist
Labels: github_actions

#6695 fix: MessageInterface inheritance
  system/HTTP/Request.php
  system/HTTP/RequestInterface.php
  system/HTTP/Response.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: bug, breaking change, 4.3

#6700 refactor: replace deprecated getHeaders() with headers()
  app/Views/errors/html/error_exception.php
  system/HTTP/ResponseTrait.php
  user_guide_src/source/libraries/curlrequest/006.php
  user_guide_src/source/libraries/curlrequest/010.php
  user_guide_src/source/libraries/curlrequest/012.php
Labels: refactor

#6680 Use environment variables instead of `set-output`
  .github/workflows/test-autoreview.yml
  .github/workflows/test-coding-standards.yml
  .github/workflows/test-deptrac.yml
  .github/workflows/test-phpstan.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/test-rector.yml
Labels: github_actions

#6660 Modify the user guide of the insert() method to include the second parameter
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/015.php
Labels: documentation

#6681 fix: support for assigning extra data for the view() method in controlled cells
  system/View/Cells/Cell.php
  tests/_support/View/Cells/RenderedExtraDataNotice.php
  tests/system/View/ControlledCellTest.php
Labels: bug, 4.3

#6665 Deallocate prepared statements
  phpstan-baseline.neon.dist
  system/Database/BasePreparedQuery.php
  system/Database/MySQLi/PreparedQuery.php
  system/Database/OCI8/PreparedQuery.php
  system/Database/Postgre/PreparedQuery.php
  system/Database/SQLSRV/PreparedQuery.php
  system/Database/SQLite3/PreparedQuery.php
  tests/system/Database/Live/PreparedQueryTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/queries.rst
  user_guide_src/source/database/queries/020.php
Labels: enhancement, database, 4.3

#6702 fix: add missing getProtocolVersion() in MessageInterface
  system/HTTP/MessageInterface.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: breaking change, 4.3

#6706 fix: `TestCaseTest::testStreamFilter` fails on Windows
  tests/system/Test/TestCaseTest.php
Labels: testing, 4.3

#6711 Match signature of `PreparedQueryInterface::close()` to `BasePreparedQuery::close()`
  system/Database/PreparedQueryInterface.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: 4.3

#6697 Fix testMode() with upsert() and getCompiledUpsert()
  system/Database/BaseBuilder.php
  tests/system/Database/Live/UpsertTest.php
Labels: bug, database, 4.3

#6712 fix: add missing methods to BaseConnection
  phpstan-baseline.neon.dist
  system/Database/BaseConnection.php
Labels: bug, database

#6713 refactor: remove unneeded abstract public methods
  system/Database/BaseConnection.php
Labels: refactor

#6704 feat: Check logs against parts of the message only
  system/Test/CIUnitTestCase.php
  system/Test/TestLogger.php
  tests/system/Test/TestCaseTest.php
  tests/system/Test/TestLoggerTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/testing/overview/007.php
Labels: enhancement, 4.3

#6722 fix: bug that esc() accepts invalid context '0'
  system/Common.php
  tests/system/CommonFunctionsTest.php
Labels: bug

#6721 refactor: remove unneeded code in form_helper
  phpstan-baseline.neon.dist
  system/Common.php
  system/Helpers/form_helper.php
Labels: refactor

#6720 docs: add how to add X-Requested-With header with htmx
  user_guide_src/source/general/ajax.rst
Labels: documentation

#6676 Add Forge::processIndexes() to create indexes on existing table
  system/Database/Forge.php
  system/Database/MySQLi/Forge.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Forge.php
  system/Database/SQLite3/Table.php
  tests/system/Database/Live/ForgeTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge/029.php
Labels: bug, enhancement, database, breaking change, 4.3

#6730 docs: fix ResponseTrait::getJSON() `@return` type
  system/HTTP/ResponseTrait.php
Labels: 4.3

#6709 Add template types to `Connection`
  phpstan-baseline.neon.dist
  system/Database/BaseConnection.php
  system/Database/BasePreparedQuery.php
  system/Database/ConnectionInterface.php
  system/Database/MySQLi/Connection.php
  system/Database/MySQLi/PreparedQuery.php
  system/Database/OCI8/Connection.php
  system/Database/OCI8/PreparedQuery.php
  system/Database/Postgre/Connection.php
  system/Database/Postgre/PreparedQuery.php
  system/Database/PreparedQueryInterface.php
  system/Database/SQLSRV/Connection.php
  system/Database/SQLSRV/PreparedQuery.php
  system/Database/SQLite3/Connection.php
  system/Database/SQLite3/PreparedQuery.php
Labels: refactor, 4.3

#6732 docs: improve database
  user_guide_src/source/database/call_function.rst
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/database/examples.rst
  user_guide_src/source/database/queries.rst
  user_guide_src/source/database/query_builder.rst
Labels: documentation

#6705 feat: Opt-in logging of deprecations
  app/Config/Exceptions.php
  system/Debug/Exceptions.php
  tests/system/Debug/ExceptionsTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/general/errors.rst
  user_guide_src/source/general/errors/012.php
  user_guide_src/source/general/errors/013.php
  user_guide_src/source/general/errors/014.php
Labels: enhancement, 4.3

#6733 docs: make version notation consistent
  user_guide_src/source/changelogs/v4.1.0.rst
  user_guide_src/source/helpers/url_helper.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_410.rst
Labels: documentation

#6728 fix: [Postgres] reset binds when replace() method is called multiple times in the context
  system/Database/Postgre/Builder.php
  tests/system/Database/Live/InsertTest.php
  user_guide_src/source/changelogs/v4.2.8.rst
Labels: bug, database

#6736 docs: improve changelog 4.3.0
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: documentation, 4.3

#6735 fix: add missing property $context in PhpStreamWrapper
  system/Test/PhpStreamWrapper.php
Labels: 4.3, PHP 8.2

#6738 Fixed several grammar errors and typos
  user_guide_src/README.rst
  user_guide_src/source/_static/js/citheme.js
  user_guide_src/source/changelogs/v4.0.0-beta.3.rst
  user_guide_src/source/dbmgmt/db_commands.rst
  user_guide_src/source/general/configuration.rst
  user_guide_src/source/helpers/html_helper.rst
  user_guide_src/source/incoming/content_negotiation.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/repositories.rst
  user_guide_src/source/installation/upgrade_sessions.rst
  user_guide_src/source/libraries/official_packages.rst
  user_guide_src/source/libraries/pagination.rst
  user_guide_src/source/libraries/throttler.rst
  user_guide_src/source/libraries/uploaded_files.rst
  user_guide_src/source/libraries/uri.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/001.php
  user_guide_src/source/outgoing/api_responses.rst
  user_guide_src/source/testing/benchmark.rst
  user_guide_src/source/testing/fabricator.rst
  user_guide_src/source/testing/feature.rst
  user_guide_src/source/testing/response/018.php
  user_guide_src/source/testing/response/024.php
  user_guide_src/source/tutorial/index.rst
Labels: documentation

#6740 Fix some typos in request class example
  user_guide_src/source/incoming/request/005.php
  user_guide_src/source/incoming/request/007.php
Labels: documentation

#6718 fix: [SQLSRV] _getResult() return object for preparedQuery class
  system/Database/SQLSRV/PreparedQuery.php
  tests/system/Database/Live/PreparedQueryTest.php
  user_guide_src/source/changelogs/v4.2.8.rst
Labels: bug, database

#6739 Cancel running CI jobs when a PR is updated
  .github/workflows/test-autoreview.yml
  .github/workflows/test-coding-standards.yml
  .github/workflows/test-deptrac.yml
  .github/workflows/test-phpcpd.yml
  .github/workflows/test-phpstan.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/test-rector.yml
  .github/workflows/test-scss.yml
  .github/workflows/test-userguide.yml
Labels: github_actions

#6724 Fix error handler callback
  system/Debug/Exceptions.php
  user_guide_src/source/changelogs/v4.2.8.rst
Labels: bug

#6714 refactor: Coverage uploading to coveralls.io
  .github/workflows/test-phpunit.yml
  composer.json
Labels: github_actions

#6745 Use SQL Server 2022 in mssql image
  .github/workflows/test-phpunit.yml
Labels: github_actions

#6747 docs: put grabFromDatabase() code in the right place in database.rst
  user_guide_src/source/testing/database.rst
Labels: documentation

#6748 Remove unneeded `implements`
  system/Database/OCI8/Connection.php
  system/Database/OCI8/PreparedQuery.php
  system/Database/OCI8/Result.php
Labels: refactor

#6743 refactor: Database connect()
  system/BaseModel.php
  system/Database/Config.php
  system/Database/Seeder.php
  system/Test/CIUnitTestCase.php
Labels: refactor

#6744 Raise runner version to ubuntu-22.04
  .github/workflows/deploy-apidocs.yml
  .github/workflows/test-autoreview.yml
  .github/workflows/test-coding-standards.yml
  .github/workflows/test-deptrac.yml
  .github/workflows/test-phpcpd.yml
  .github/workflows/test-phpstan.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/test-rector.yml
  .github/workflows/test-scss.yml
  .github/workflows/test-userguide.yml
  rector.php
Labels: github_actions

#6742 docs: add PHPDoc to BaseBuilder
  system/Database/BaseBuilder.php
Labels: 4.3

#6672 refactor: DOMParser::withString() for PHP 8.2
  system/Test/DOMParser.php
  tests/system/Test/DOMParserTest.php
Labels: help wanted, refactor, PHP 8.2

#6755 Streamline Oracle docker image
  .github/workflows/test-phpunit.yml
  tests/_support/Database/Seeds/CITestSeeder.php
Labels: github_actions

#6757 test: fix Creation of dynamic property error in PHP 8.2
  tests/system/Database/Live/GetTest.php
Labels: testing, PHP 8.2

#6760 test: add `@group DatabaseLive`
  tests/system/Commands/CreateDatabaseTest.php
  tests/system/Commands/Database/MigrateStatusTest.php
  tests/system/Commands/Database/ShowTableInfoTest.php
  tests/system/Commands/DatabaseCommandsTest.php
  tests/system/Commands/MigrationIntegrationTest.php
  tests/system/Database/Live/GetNumRowsTest.php
  tests/system/Database/Migrations/MigrationTest.php
  tests/system/Database/ModelFactoryTest.php
  tests/system/Models/AffectedRowsTest.php
  tests/system/Models/CountAllModelTest.php
  tests/system/Models/DeleteModelTest.php
  tests/system/Models/EventsModelTest.php
  tests/system/Models/FindModelTest.php
  tests/system/Models/InsertModelTest.php
  tests/system/Models/MiscellaneousModelTest.php
  tests/system/Models/PaginateModelTest.php
  tests/system/Models/ReplaceModelTest.php
  tests/system/Models/SaveModelTest.php
  tests/system/Models/UpdateModelTest.php
  tests/system/Models/ValidationModelTest.php
  tests/system/Session/Handlers/Database/MySQLiHandlerTest.php
  tests/system/Session/Handlers/Database/PostgreHandlerTest.php
  tests/system/Session/Handlers/Database/RedisHandlerTest.php
Labels: testing

#6737 fix: CodeIgniter::run() doesn't respect $returnResponse
  system/CodeIgniter.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.2.8.rst
Labels: bug

#6741 Fix BaseBuilder setAlias() and RawSql use with key value pairs
  system/Database/BaseBuilder.php
  system/Database/MySQLi/Builder.php
  system/Database/OCI8/Builder.php
  system/Database/Postgre/Builder.php
  system/Database/SQLSRV/Builder.php
  system/Database/SQLite3/Builder.php
  tests/system/Database/Live/UpdateTest.php
Labels: bug, database, 4.3

#6758 fix: workaround for Faker deprecation errors in PHP 8.2
  system/Debug/Exceptions.php
Labels: PHP 8.2

#6766 docs: change "Custom Exceptions" to "Framework Exceptions"
  user_guide_src/source/general/errors.rst
Labels: documentation

#6769 docs: improve tutorial news section
  user_guide_src/source/tutorial/news_section.rst
  user_guide_src/source/tutorial/news_section/002.php
  user_guide_src/source/tutorial/news_section/004.php
  user_guide_src/source/tutorial/news_section/006.php
Labels: documentation

#6780 Add config changes to upgrade guide
  user_guide_src/source/installation/upgrade_430.rst
Labels: documentation, 4.3

#6778 fix: add missing ResultInterface::getNumRows()
  system/Database/ResultInterface.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: bug, breaking change, 4.3

#6698 feat: add OutgoingRequestInterface
  app/Controllers/BaseController.php
  phpstan-baseline.neon.dist
  system/HTTP/CURLRequest.php
  system/HTTP/Message.php
  system/HTTP/OutgoingRequest.php
  system/HTTP/OutgoingRequestInterface.php
  system/HTTP/Request.php
  system/HTTP/RequestInterface.php
  tests/system/HTTP/OutgoingRequestTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: bug, breaking change, 4.3

#6781 Remove testing of deprecated methods in CookieStore
  tests/system/Cookie/CookieStoreTest.php
Labels: testing

#6784 refactor: around URI
  system/CodeIgniter.php
  system/Common.php
  system/Debug/Toolbar/Collectors/Config.php
  system/HTTP/CURLRequest.php
  system/HTTP/IncomingRequest.php
  system/HTTP/URI.php
  system/Helpers/cookie_helper.php
  system/Helpers/form_helper.php
  system/Helpers/url_helper.php
  system/Pager/PagerRenderer.php
  system/Test/FeatureTestCase.php
  system/Test/FeatureTestTrait.php
  tests/system/HTTP/URITest.php
Labels: refactor, 4.3

#6786 docs: fix sub section level in caching.rst
  user_guide_src/source/libraries/caching.rst
Labels: documentation

#6787 Fix faker access deprecations
  system/Test/Fabricator.php
  tests/_support/Models/FabricatorModel.php
  tests/system/Test/FabricatorTest.php
Labels: refactor

#6795 docs: add v4.2.9 changelog
  CHANGELOG.md
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.2.9.rst
Labels: documentation

#6796 docs: fix PHPDoc types in Session
  system/Session/Session.php
Labels: bug

#6750 fix: BasePreparedQuery class to return boolean values for write-type queries
  system/Database/BasePreparedQuery.php
  system/Database/MySQLi/PreparedQuery.php
  system/Database/OCI8/PreparedQuery.php
  system/Database/Postgre/PreparedQuery.php
  system/Database/PreparedQueryInterface.php
  system/Database/SQLSRV/PreparedQuery.php
  system/Database/SQLite3/PreparedQuery.php
  tests/system/Database/Live/PreparedQueryTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/queries.rst
Labels: bug, database, 4.3
