Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-05, with the labels that each got.

#5936 fix: Reverse Routing does not take into account the default namespace
  system/Helpers/url_helper.php
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionTest.php
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/helpers/url_helper.rst
  user_guide_src/source/incoming/routing/029.php
Labels: bug

#5938 fix: [Validation] Fields with an asterisk throws exception
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
Labels: bug

#5817 feat: QueryBuilder raw SQL string support
  system/Database/BaseBuilder.php
  system/Database/RawSql.php
  tests/system/Database/Builder/LikeTest.php
  tests/system/Database/Builder/SelectTest.php
  tests/system/Database/Builder/WhereTest.php
  tests/system/Database/RawSqlTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/099.php
  user_guide_src/source/database/query_builder/100.php
  user_guide_src/source/database/query_builder/101.php
Labels: enhancement, database

#5947 docs: improve fabricator.rst
  user_guide_src/source/testing/fabricator.rst
  user_guide_src/source/testing/fabricator/005.php
Labels: documentation

#5949 [docs] add DB nested transaction
  user_guide_src/source/database/transactions.rst
  user_guide_src/source/database/transactions/007.php
Labels: documentation

#5956 docs: small fix in validation.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#5960 docs: small improvements in routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5963 refactor: add strtolower() to Request::getMethod()
  app/Views/errors/html/error_exception.php
  system/CodeIgniter.php
  system/Debug/Toolbar.php
  system/Router/Router.php
  system/Validation/Validation.php
Labels: refactor

#5958 feat: Debugbar request microtime
  admin/css/debug-toolbar/toolbar.scss
  system/Debug/Toolbar.php
  system/Debug/Toolbar/Collectors/History.php
  system/Debug/Toolbar/Views/_history.tpl
  system/Debug/Toolbar/Views/toolbar.css
  tests/system/Debug/Toolbar/Collectors/HistoryTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: enhancement, breaking change

#5965 fix: Images\Handlers\GDHandler Implicit conversion from float to int loses precision
  system/Images/Handlers/GDHandler.php
  tests/system/Images/GDHandlerTest.php
Labels: bug

#5971 fix: GDHandler::save() removes transparency
  system/Images/Handlers/GDHandler.php
Labels: bug

#5953 feat: new improved auto router `spark routes` command
  app/Config/Routes.php
  system/Commands/Utilities/Routes.php
  system/Commands/Utilities/Routes/AutoRouterImproved/AutoRouteCollector.php
  system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReader.php
  system/Commands/Utilities/Routes/FilterCollector.php
  tests/_support/Controllers/Newautorouting.php
  tests/system/Commands/Utilities/Routes/AutoRouteCollectorTest.php
  tests/system/Commands/Utilities/Routes/AutoRouterImproved/AutoRouteCollectorTest.php
  tests/system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReaderTest.php
  tests/system/Commands/Utilities/Routes/ControllerFinderTest.php
  user_guide_src/source/incoming/routing.rst
Labels: new feature

#5961 fix: route limit to subdomains does not work
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionTest.php
Labels: bug

#5970 fix: Model::_call() static analysis
  phpstan-baseline.neon.dist
  system/Model.php
  tests/system/Models/FindModelTest.php
Labels: bug

#5978 fix: invalid css in error_404.php
  app/Views/errors/html/error_404.php
Labels: bug

#5980 test: RouteCollectionTest
  tests/system/Router/RouteCollectionTest.php
Labels: testing

#5983 docs: make method names linkable in debugging.rst
  user_guide_src/source/testing/debugging.rst
Labels: documentation

#5985 docs: improve cli_request.rst
  user_guide_src/source/cli/cli_request.rst
  user_guide_src/source/cli/cli_request/004.php
  user_guide_src/source/cli/cli_request/006.php
Labels: documentation

#5986 docs: improve database/results.rst
  user_guide_src/source/database/results.rst
Labels: documentation

#5984 improve Router Exception message
  system/Router/Router.php
  tests/system/Router/RouterTest.php
Labels: enhancement

#5989 docs: add that `deleted_at` column must be nullable
  user_guide_src/source/models/model.rst
Labels: documentation

#5993 docs: improve testing/response.rst
  user_guide_src/source/testing/response.rst
Labels: documentation

#5982 chore: add "Edit this page" to the userguide latest
  .github/workflows/deploy-userguide-latest.yml
  user_guide_src/add-edit-this-page
Labels: github_actions

#5990 docs: improve database/utilities.rst
  user_guide_src/source/database/utilities.rst
  user_guide_src/source/database/utilities/001.php
Labels: documentation

#5991 docs: make method names linkable in testing/controllers.rst
  user_guide_src/source/testing/controllers.rst
Labels: documentation

#5992 docs: small improvements in database/queries.rst
  user_guide_src/source/database/queries.rst
Labels: documentation

#5988 docs: update deprecated `$cookiePrefix`
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/libraries/sessions.rst
Labels: documentation

#5996 docs: make method names linkable in files.rst
  user_guide_src/source/libraries/files.rst
Labels: documentation

#5979 feat: `db:table` command
  system/Commands/Database/ShowTableInfo.php
  tests/system/Commands/Database/ShowTableInfoTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/database/metadata.rst
  user_guide_src/source/dbmgmt/db_commands.rst
  user_guide_src/source/dbmgmt/index.rst
Labels: new feature

#5972 refactor: `system/bootstrap.php` only loads files and registers autoloader
  public/index.php
  spark
  system/bootstrap.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/installation/upgrade_420.rst
Labels: refactor, breaking change

#6000 refactor: deprecate const `EVENT_PRIORITY_*`
  app/Config/Constants.php
  system/Events/Events.php
  tests/system/Events/EventsTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/extending/events.rst
  user_guide_src/source/extending/events/004.php
  user_guide_src/source/installation/upgrade_420.rst
Labels: refactor

#6002 docs: make method names linkable in database/helpers.rst
  user_guide_src/source/database/helpers.rst
Labels: documentation

#6003 Fix: Route placeholder (:any) with {locale}
  system/Router/Router.php
  tests/system/Router/RouterTest.php
Labels: bug

#5940 fix: `dot_array_search()` unexpected behavior
  system/Helpers/array_helper.php
  tests/system/Helpers/ArrayHelperTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/helpers/array_helper.rst
Labels: bug, breaking change

#6011 test: change Config\Images::$libraryPath only when the file exists
  tests/system/Images/ImageMagickHandlerTest.php
Labels: testing

#5999 Changing the subquery builder for the Oracle
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/FromTest.php
  tests/system/Database/Builder/SelectTest.php
  user_guide_src/source/database/query_builder/015.php
  user_guide_src/source/database/query_builder/017.php
  user_guide_src/source/database/query_builder/018.php
Labels: bug, database

#6016 docs: improve cookies
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/outgoing/response.rst
Labels: documentation

#5875 feat: QueryBuilder join() raw SQL string support
  system/Database/BaseBuilder.php
  system/Database/Postgre/Builder.php
  system/Database/SQLSRV/Builder.php
  tests/system/Database/Builder/JoinTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/102.php
  user_guide_src/source/installation/upgrade_420.rst
Labels: enhancement, database, breaking change

#6025 Prefer `is_file()`
  app/Config/Routes.php
  system/CodeIgniter.php
  system/Commands/Encryption/GenerateKey.php
  system/Test/bootstrap.php
  tests/system/Commands/CommandGeneratorTest.php
  tests/system/Commands/ControllerGeneratorTest.php
  tests/system/Commands/CreateDatabaseTest.php
  tests/system/Commands/GenerateKeyTest.php
  tests/system/Commands/MigrationGeneratorTest.php
  tests/system/Commands/ScaffoldGeneratorTest.php
  tests/system/Commands/SeederGeneratorTest.php
  tests/system/HTTP/Files/FileMovingTest.php
  tests/system/Test/BootstrapFCPATHTest.php
Labels: refactor

#6020 fix: change BaseService::reset() $initAutoloader to true by default
  system/Config/BaseService.php
  system/Test/CIUnitTestCase.php
Labels: breaking change

#5957 feat: DBForge::addField() `default` value raw SQL string support
  system/Database/Forge.php
  tests/system/Database/Forge/CreateTableTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge/027.php
Labels: enhancement, database

#6029 docs: add changelog about Service::reset()
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: documentation

#6028 docs: add note for Session::get()
  user_guide_src/source/libraries/sessions.rst
Labels: documentation

#6027 docs: small improvements in concepts
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/concepts/http.rst
  user_guide_src/source/concepts/mvc.rst
  user_guide_src/source/concepts/security.rst
  user_guide_src/source/concepts/services.rst
  user_guide_src/source/concepts/structure.rst
Labels: documentation

#6026 refactor: use get_filenames() 4th param in FileLocator
  system/Autoloader/FileLocator.php
Labels: refactor

#6014 fix: CURLRequest request body is not reset on the next request
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  user_guide_src/source/libraries/curlrequest.rst
Labels: bug

#6031 refactor: use get_filenames() 4th param
  system/Autoloader/FileLocator.php
  system/Database/MigrationRunner.php
Labels: refactor

#5974 Add sample file for preloading
  preload.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: enhancement

#6036 Bug: The SQLSRV driver ignores the port value from the config.
  system/Database/SQLSRV/Connection.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: bug, database

#6034 docs: replace "form validation" with "validation"
  user_guide_src/source/concepts/security.rst
  user_guide_src/source/helpers/form_helper.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#6015 Feature. QueryBuilder. Query union.
  system/Database/BaseBuilder.php
  system/Database/SQLSRV/Builder.php
  tests/system/Database/Builder/UnionTest.php
  tests/system/Database/Live/UnionTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/103.php
  user_guide_src/source/database/query_builder/104.php
Labels: enhancement, database

#6041 docs: small improvements in testing/overview.rst
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/testing/overview/003.php
  user_guide_src/source/testing/overview/004.php
  user_guide_src/source/testing/overview/016.php
  user_guide_src/source/testing/overview/017.php
  user_guide_src/source/testing/overview/018.php
Labels: documentation

#6037 fix: `set_radio()` not working as expected
  system/Helpers/form_helper.php
  tests/system/Helpers/FormHelperTest.php
  user_guide_src/source/helpers/form_helper.rst
Labels: bug

#6042 docs: add upgrade procedure example for v4.2.0
  user_guide_src/source/installation/upgrade_420.rst
Labels: documentation

#6044 docs: improve changelog v4.2.0
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#6047 refactor: CodeIgniter $context check
  system/CodeIgniter.php
Labels: refactor

#6049 docs: improve database/configuration.rst
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/database/configuration/001.php
  user_guide_src/source/database/configuration/002.php
  user_guide_src/source/database/configuration/003.php
  user_guide_src/source/database/configuration/004.php
  user_guide_src/source/database/configuration/009.php
Labels: documentation

#6050 fix: add config for SQLite3 Foreign Keys
  system/Database/SQLite3/Connection.php
  user_guide_src/source/database/configuration.rst
Labels: bug, database

#6051 Small change to improve code reading
  system/Validation/FormatRules.php
Labels: refactor

#6012 fix: Ignore non-HTML responses in storePreviousURL
  system/CodeIgniter.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: bug
