Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-11, with the labels that each got.

#6798 docs: add missing `\` for consistency
  user_guide_src/source/libraries/images/002.php
  user_guide_src/source/testing/controllers/005.php
Labels: documentation

#6789 feat: void element tags in helpers are selectable between `>` and `/>`
  app/Config/DocTypes.php
  system/Common.php
  system/Helpers/form_helper.php
  system/Helpers/html_helper.php
  tests/system/CommonFunctionsTest.php
  tests/system/Helpers/FormHelperTest.php
  tests/system/Helpers/HTMLHelperTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/helpers/form_helper.rst
  user_guide_src/source/helpers/form_helper/002.php
  user_guide_src/source/helpers/form_helper/009.php
  user_guide_src/source/helpers/form_helper/010.php
  user_guide_src/source/helpers/form_helper/011.php
  user_guide_src/source/helpers/form_helper/012.php
  user_guide_src/source/helpers/form_helper/013.php
  user_guide_src/source/helpers/form_helper/014.php
  user_guide_src/source/helpers/form_helper/015.php
  user_guide_src/source/helpers/form_helper/016.php
  user_guide_src/source/helpers/form_helper/017.php
  user_guide_src/source/helpers/form_helper/024.php
  user_guide_src/source/helpers/form_helper/025.php
  user_guide_src/source/helpers/form_helper/030.php
  user_guide_src/source/helpers/form_helper/035.php
  user_guide_src/source/helpers/html_helper.rst
  user_guide_src/source/helpers/html_helper/002.php
  user_guide_src/source/helpers/html_helper/003.php
  user_guide_src/source/helpers/html_helper/004.php
  user_guide_src/source/helpers/html_helper/007.php
  user_guide_src/source/helpers/html_helper/008.php
  user_guide_src/source/helpers/html_helper/009.php
  user_guide_src/source/helpers/html_helper/015.php
  user_guide_src/source/helpers/html_helper/016.php
  user_guide_src/source/helpers/html_helper/018.php
  user_guide_src/source/helpers/html_helper/019.php
  user_guide_src/source/installation/upgrade_430.rst
Labels: enhancement, 4.3

#6172 Add PHP 8.2 to Unit Tests GHA
  .github/workflows/test-phpunit.yml
Labels: github_actions, PHP 8.2

#6773 Turn on logging for deprecation notices by default
  app/Config/Exceptions.php
  app/Config/Logger.php
  phpunit.xml.dist
  system/Debug/Exceptions.php
  tests/system/Debug/ExceptionsTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/general/errors.rst
  user_guide_src/source/general/errors/012.php
  user_guide_src/source/installation/upgrade_430.rst
Labels: 4.3

#6749 Add template types to Result
  phpstan-baseline.neon.dist
  system/Database/BaseConnection.php
  system/Database/BasePreparedQuery.php
  system/Database/BaseResult.php
  system/Database/ConnectionInterface.php
  system/Database/MySQLi/Connection.php
  system/Database/MySQLi/PreparedQuery.php
  system/Database/MySQLi/Result.php
  system/Database/OCI8/Connection.php
  system/Database/OCI8/PreparedQuery.php
  system/Database/OCI8/Result.php
  system/Database/Postgre/Connection.php
  system/Database/Postgre/PreparedQuery.php
  system/Database/Postgre/Result.php
  system/Database/PreparedQueryInterface.php
  system/Database/ResultInterface.php
  system/Database/SQLSRV/Connection.php
  system/Database/SQLSRV/PreparedQuery.php
  system/Database/SQLSRV/Result.php
  system/Database/SQLite3/Connection.php
  system/Database/SQLite3/PreparedQuery.php
  system/Database/SQLite3/Result.php
Labels: refactor, 4.3

#6804 Fix deptrac requires ^8.1
  .github/workflows/test-deptrac.yml
Labels: github_actions

#6809 fix: output "0" at the end of toolbar js when Kint::$enabled_mode is false
  system/Debug/Toolbar.php
Labels: bug

#6806 Refactor assertHeaderEmitted and assertHeaderNotEmitted
  system/Test/CIUnitTestCase.php
Labels: refactor

#6810 fix: variable types for PHPStan 1.9.0
  system/Database/SQLSRV/Connection.php
  system/HTTP/CURLRequest.php
  system/Helpers/text_helper.php
  system/Session/Handlers/MemcachedHandler.php
Labels: refactor

#6811 fix: [4.3] remove ignoreErrors item for PHPStan 1.9.0
  phpstan-baseline.neon.dist
Labels: 4.3

#6802 Add a check for updated version before deployment
  .github/scripts/validate-version
  .github/workflows/deploy-distributables.yml
  .github/workflows/deploy-userguide.yml
  admin/RELEASE.md
Labels: github_actions

#6752 fix: Time::now() does not respect timezone when using setTestNow()
  system/I18n/TimeTrait.php
  tests/system/I18n/TimeTest.php
Labels: bug, 4.3

#6753 refactor: make now() testable
  system/Helpers/date_helper.php
  tests/system/Helpers/DateHelperTest.php
Labels: refactor, 4.3

#6824 docs: improve addForeignKey() explanation
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge/013.php
Labels: documentation

#6825 refactor: replace time() with Time in BaseModel
  system/BaseModel.php
  tests/system/I18n/TimeTest.php
Labels: refactor

#6826 config: change default timezone to UTC
  app/Config/App.php
  tests/system/CommonFunctionsTest.php
  tests/system/Debug/TimerTest.php
  tests/system/I18n/TimeLegacyTest.php
  tests/system/I18n/TimeTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: 4.3

#6827 fix: Model cannot insert when $useAutoIncrement is false
  system/Model.php
  tests/_support/Models/WithoutAutoIncrementModel.php
Labels: bug

#6834 docs: improve Tutorial
  user_guide_src/source/tutorial/create_news_items.rst
  user_guide_src/source/tutorial/index.rst
  user_guide_src/source/tutorial/news_section.rst
  user_guide_src/source/tutorial/static_pages.rst
Labels: documentation

#6835 fix: View Parser regexp does not support UTF-8
  system/View/Parser.php
  tests/system/View/ParserPluginTest.php
Labels: bug

#6785 feat: add $allowedHostnames for multiple domain support
  app/Config/App.php
  system/HTTP/IncomingRequest.php
  system/HTTP/URI.php
  system/Helpers/url_helper.php
  system/Test/Mock/MockIncomingRequest.php
  tests/system/HTTP/RedirectResponseTest.php
  tests/system/HTTP/ResponseTest.php
  tests/system/Helpers/URLHelper/CurrentUrlTest.php
  tests/system/Helpers/URLHelper/SiteUrlTest.php
  tests/system/Pager/PagerTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/helpers/url_helper.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: enhancement, 4.3

#6772 Auto-review tests to enforce `@group` annotations
  .github/workflows/test-autoreview.yml
  .github/workflows/test-phpunit.yml
  composer.json
  phpunit.xml.dist
  tests/system/AutoReview/ComposerJsonTest.php
  tests/system/AutoReview/FrameworkCodeTest.php
  tests/system/Database/BaseConnectionTest.php
  tests/system/Database/BaseQueryTest.php
  tests/system/Database/Builder/LikeTest.php
  tests/system/Database/Live/DeleteTest.php
  tests/system/Database/Live/UpdateTest.php
  tests/system/Database/Live/WhereTest.php
  tests/system/HTTP/Files/FileCollectionTest.php
  tests/system/HTTP/NegotiateTest.php
  tests/system/HTTP/URITest.php
  tests/system/Helpers/NumberHelperTest.php
  tests/system/Session/SessionTest.php
  tests/system/Throttle/ThrottleTest.php
  tests/system/View/ParserTest.php
Labels: testing

#6843 Fix: Controller Test withBody()
  system/Test/ControllerTestTrait.php
  tests/system/Test/ControllerTestTraitTest.php
Labels: bug

#6848 docs: add a note about setting the null value for the primary key in Model::update()
  user_guide_src/source/models/model.rst
Labels: documentation

#6847 refactor: replace time() with Time in `Session.php`
  deptrac.yaml
  system/Session/Session.php
Labels: refactor

#6852 refactor: replace time() with Time into `date_helper` and `Email` class
  deptrac.yaml
  system/Email/Email.php
  system/Helpers/date_helper.php
Labels: refactor

#6855 Fix MigrationRunnerTest for Windows
  tests/system/Database/Migrations/MigrationRunnerTest.php
Labels: testing

#6854 fix: body assigned via options array in CURLRequest class
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
Labels: bug

#6859 fix: 4.3 failed tests
  tests/system/Commands/FilterCheckTest.php
  tests/system/Commands/GenerateKeyTest.php
  tests/system/Commands/Utilities/NamespacesTest.php
  tests/system/Database/Builder/WhenTest.php
  tests/system/HTTP/OutgoingRequestTest.php
  tests/system/I18n/TimeLegacyTest.php
  tests/system/Publisher/ContentReplacerTest.php
  tests/system/Publisher/PublisherContentReplaceTest.php
  tests/system/Test/TestLoggerTest.php
  tests/system/View/ControlledCellTest.php
Labels: testing, 4.3

#6851 fix: turn off `Xdebug` note when running phpstan
  .github/workflows/test-phpstan.yml
  admin/pre-commit
  composer.json
Labels: github_actions

#6850 refactor: make `time()` to class `Time` in `Cache`
  deptrac.yaml
  system/Cache/Handlers/FileHandler.php
  system/Cache/Handlers/MemcachedHandler.php
  system/Cache/Handlers/PredisHandler.php
  system/Cache/Handlers/RedisHandler.php
  system/Cache/Handlers/WincacheHandler.php
  tests/system/Cache/Handlers/AbstractHandlerTest.php
  tests/system/Cache/Handlers/FileHandlerTest.php
  tests/system/Cache/Handlers/MemcachedHandlerTest.php
  tests/system/Cache/Handlers/PredisHandlerTest.php
  tests/system/Cache/Handlers/RedisHandlerTest.php
Labels: refactor

#6856 Fix CreateDatabase leaving altered database config in connection
  system/Commands/Database/CreateDatabase.php
Labels: bug

#6853 Fix ShowTableInfoTest to pass on Windows
  tests/system/Commands/Database/ShowTableInfoTest.php
Labels: testing

#6857 refactor: replace time() with Time into whole `Session` class.
  system/Session/Handlers/FileHandler.php
  system/Session/Handlers/MemcachedHandler.php
  system/Session/Handlers/RedisHandler.php
Labels: refactor

#6858 Refactor AlterTableTest
  tests/system/Database/Live/SQLite/AlterTableTest.php
Labels: refactor

#6860 refactor: replace `time()` with Time into `Debug` and `Cookie` class.
  deptrac.yaml
  system/Cookie/Cookie.php
  system/Debug/Toolbar.php
  system/Debug/Toolbar/Collectors/Database.php
Labels: refactor

#6862 fix: cast to string all values except arrays in Header class
  system/HTTP/Header.php
  tests/system/HTTP/HeaderTest.php
Labels: bug

#6863 fix: remove CI_DEBUG check in Model
  system/Model.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: bug, 4.3

#6866 Fix MigrateStatusTest for Windows
  tests/system/Commands/Database/MigrateStatusTest.php
Labels: testing

#6868 Fix ShowTableInfoTest when migration records are numerous
  tests/system/Commands/Database/ShowTableInfoTest.php
Labels: testing

#6872 refactor: changes `time()` to `Time` class in `Throttle`, `ResponseTrait`, `Security` and `ImageMagickHandler`
  deptrac.yaml
  system/Files/File.php
  system/HTTP/ResponseTrait.php
  system/Images/Handlers/ImageMagickHandler.php
  system/Security/Security.php
  system/Throttle/Throttler.php
Labels: refactor

#6846 test: fix DeleteModelTest
  system/Database/BaseBuilder.php
  tests/system/Models/DeleteModelTest.php
Labels: testing

#6869 Improve testing for `MetadataTest`
  system/Database/BaseConnection.php
  tests/system/Database/Live/MetadataTest.php
Labels: testing, refactor

#6864 new make:cell command
  system/CLI/GeneratorTrait.php
  system/Commands/Generators/CellGenerator.php
  system/Commands/Generators/Views/cell.tpl.php
  system/Commands/Generators/Views/cell_view.tpl.php
  tests/system/Commands/CellGeneratorTest.php
  user_guide_src/source/outgoing/view_cells.rst
Labels: enhancement, 4.3

#6867 Fix CreateDatabaseTest to not leave database
  tests/system/Commands/CreateDatabaseTest.php
Labels: testing

#6875 chore: psalm config
  psalm-baseline.xml
  psalm.xml
  psalm_autoload.php
  system/Log/Logger.php
Labels: 4.3

#6871 feat: disable BaseBuilder::setAlias()
  system/Database/BaseBuilder.php
  tests/system/Database/Live/UpdateTest.php
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/092.php
  user_guide_src/source/database/query_builder/110.php
Labels: database, 4.3

#6833 fix: `composer update` might cause error "Failed to open directory"
  system/ComposerScripts.php
Labels: bug

#6734 Add BaseBuilder::deleteBatch()
  .github/workflows/test-phpcpd.yml
  system/Database/BaseBuilder.php
  system/Database/OCI8/Builder.php
  system/Database/Postgre/Builder.php
  system/Database/SQLite3/Builder.php
  tests/system/Database/Live/DeleteTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/118.php
Labels: enhancement, database, 4.3

#6876 fix: View Cells
  system/Commands/Generators/CellGenerator.php
  system/Language/en/CLI.php
  system/View/Cells/Cell.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/cli/cli_generators.rst
  user_guide_src/source/outgoing/view_cells.rst
Labels: 4.3

#6891 docs: fix Config file paths
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/testing/controllers.rst
Labels: documentation

#6892 docs: improve changelogs v4.3.0
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: documentation, 4.3

#6879 docs: improve incomingrequest.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/incoming/incomingrequest/022.php
Labels: documentation

#6890 docs: add PHPDoc param in BaseBuilder
  system/Database/BaseBuilder.php
Labels: database, 4.3

#6828 chore: add test-psalm.yml
  .github/workflows/test-psalm.yml
  README.md
  psalm.xml
Labels: github_actions, 4.3

#6895 docs: improve upgrade_430.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: documentation, 4.3

#6896 docs: add PHPStan badge in README
  README.md
Labels: 4.3

#6897 fix: required PHP extentions
  README.md
  admin/framework/README.md
  admin/framework/composer.json
  admin/starter/README.md
  composer.json
  system/CodeIgniter.php
  user_guide_src/source/intro/requirements.rst
Labels: bug, documentation

#6884 Add `is_windows()` global function
  system/CLI/CLI.php
  system/Common.php
  tests/system/CLI/CLITest.php
  tests/system/Commands/GeneratorsTest.php
  tests/system/CommonFunctionsTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/general/common_functions/012.php
Labels: enhancement, 4.3

#6906 docs: improve upgrade_430 and changelog
  contributing/pull_request.md
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: documentation, 4.3

#6899 fix: HTML output
  app/Views/welcome_message.php
  system/Debug/Toolbar.php
  system/Debug/Toolbar/Views/toolbar.tpl.php
  system/Email/Email.php
  system/Typography/Typography.php
  system/View/Filters.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  tests/system/Typography/TypographyTest.php
  tests/system/View/ParserFilterTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: enhancement, 4.3

#6849 Convert PHPUnit tests to use reusable workflows
  .github/workflows/reusable-coveralls.yml
  .github/workflows/reusable-phpunit-test.yml
  .github/workflows/reusable-serviceless-phpunit-test.yml
  .github/workflows/test-autoreview.yml
  .github/workflows/test-phpunit.yml
Labels: github_actions

#6911 docs: improve troubleshooting.rst
  user_guide_src/source/general/logging.rst
  user_guide_src/source/installation/troubleshooting.rst
  user_guide_src/source/installation/troubleshooting/002.php
Labels: documentation

#6920 Fix typo in database/queries.rst
  user_guide_src/source/database/queries.rst
Labels: documentation

#6908 config: use Strict Validation Rules by default
  app/Config/Validation.php
  user_guide_src/source/installation/upgrade_430.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/003.php
Labels: 4.3

#6919 docs: fix transactions.rst
  user_guide_src/source/database/transactions.rst
Labels: bug, documentation, database

#6914 docs: fix PHPDoc in Header
  system/HTTP/Header.php
  tests/system/HTTP/HeaderTest.php
Labels: testing

#6925 docs: use lower case for view file path
  user_guide_src/source/concepts/mvc.rst
Labels: documentation

#6927 docs: improve helpers
  user_guide_src/source/general/helpers.rst
  user_guide_src/source/incoming/controllers.rst
Labels: documentation

#6926 docs: improve controller validate()
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/controllers/006.php
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation
