Repository codeigniter4/CodeIgniter4, pull requests merged in 2022-03, with the labels that each got.

#5749 docs: rework about auto-routing
  user_guide_src/source/general/urls.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/index.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#5755 docs: add section to link to "Extending the Controller" in incoming/controllers.rst
  user_guide_src/source/incoming/controllers.rst
Labels: documentation

#5754 docs: remove unneeded page titles in upgrading.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#5758 docs: small fixes in tutorial
  user_guide_src/source/tutorial/create_news_items.rst
  user_guide_src/source/tutorial/index.rst
  user_guide_src/source/tutorial/news_section.rst
  user_guide_src/source/tutorial/static_pages.rst
Labels: documentation

#5672 fix: $builder->ignore()->insertBatch() only ignores on first iteration
  system/Database/BaseBuilder.php
  system/Test/Mock/MockBuilder.php
  tests/system/Database/Builder/InsertTest.php
Labels: bug, database

#5736 Feature: Subquery for SELECT
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/SelectTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/098.php
Labels: enhancement

#5759 docs: add how to code to prevent CSRF
  user_guide_src/source/libraries/security.rst
Labels: documentation

#5761 docs: fix incorrect config filename in factories.rst
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/concepts/factories/005.php
Labels: documentation

#5771 docs: move CodeIgniter 3 sample code to `ci3sample` folder
  user_guide_src/source/installation/upgrade_configuration.rst
  user_guide_src/source/installation/upgrade_configuration/ci3sample/001.php
  user_guide_src/source/installation/upgrade_controllers.rst
  user_guide_src/source/installation/upgrade_controllers/ci3sample/001.php
  user_guide_src/source/installation/upgrade_database.rst
  user_guide_src/source/installation/upgrade_database/ci3sample/001.php
  user_guide_src/source/installation/upgrade_emails.rst
  user_guide_src/source/installation/upgrade_emails/ci3sample/001.php
  user_guide_src/source/installation/upgrade_encryption.rst
  user_guide_src/source/installation/upgrade_encryption/ci3sample/001.php
  user_guide_src/source/installation/upgrade_file_upload.rst
  user_guide_src/source/installation/upgrade_file_upload/ci3sample/001.php
  user_guide_src/source/installation/upgrade_html_tables.rst
  user_guide_src/source/installation/upgrade_html_tables/ci3sample/001.php
  user_guide_src/source/installation/upgrade_localization.rst
  user_guide_src/source/installation/upgrade_localization/ci3sample/002.php
  user_guide_src/source/installation/upgrade_migrations.rst
  user_guide_src/source/installation/upgrade_migrations/ci3sample/001.php
  user_guide_src/source/installation/upgrade_models.rst
  user_guide_src/source/installation/upgrade_models/ci3sample/001.php
  user_guide_src/source/installation/upgrade_pagination.rst
  user_guide_src/source/installation/upgrade_pagination/ci3sample/001.php
  user_guide_src/source/installation/upgrade_responses.rst
  user_guide_src/source/installation/upgrade_responses/ci3sample/001.php
  user_guide_src/source/installation/upgrade_routing.rst
  user_guide_src/source/installation/upgrade_routing/ci3sample/001.php
  user_guide_src/source/installation/upgrade_security.rst
  user_guide_src/source/installation/upgrade_security/ci3sample/002.php
  user_guide_src/source/installation/upgrade_sessions.rst
  user_guide_src/source/installation/upgrade_sessions/ci3sample/001.php
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/installation/upgrade_validations/ci3sample/002.php
  user_guide_src/source/installation/upgrade_view_parser.rst
  user_guide_src/source/installation/upgrade_view_parser/ci3sample/001.php
  user_guide_src/source/installation/upgrade_views.rst
  user_guide_src/source/installation/upgrade_views/ci3sample/001.php
Labels: documentation

#5770 docs: change comment style in sample code
  user_guide_src/source/cli/cli_commands/007.php
  user_guide_src/source/cli/cli_library/007.php
  user_guide_src/source/cli/cli_library/008.php
  user_guide_src/source/database/query_builder/003.php
  user_guide_src/source/database/query_builder/006.php
  user_guide_src/source/database/query_builder/018.php
  user_guide_src/source/database/query_builder/074.php
  user_guide_src/source/database/query_builder/087.php
  user_guide_src/source/database/query_builder/088.php
  user_guide_src/source/database/query_builder/091.php
  user_guide_src/source/database/query_builder/092.php
  user_guide_src/source/database/query_builder/093.php
  user_guide_src/source/database/query_builder/095.php
  user_guide_src/source/database/query_builder/097.php
  user_guide_src/source/dbmgmt/forge/004.php
  user_guide_src/source/helpers/array_helper/011.php
  user_guide_src/source/helpers/form_helper/010.php
  user_guide_src/source/helpers/form_helper/011.php
  user_guide_src/source/helpers/form_helper/012.php
  user_guide_src/source/helpers/form_helper/014.php
  user_guide_src/source/helpers/form_helper/017.php
  user_guide_src/source/helpers/form_helper/018.php
  user_guide_src/source/helpers/text_helper/020.php
  user_guide_src/source/incoming/controllers/005.php
  user_guide_src/source/incoming/incomingrequest/010.php
  user_guide_src/source/incoming/incomingrequest/013.php
  user_guide_src/source/incoming/incomingrequest/015.php
  user_guide_src/source/incoming/message/003.php
  user_guide_src/source/incoming/message/005.php
  user_guide_src/source/libraries/curlrequest/014.php
  user_guide_src/source/libraries/uri/026.php
  user_guide_src/source/libraries/validation/009.php
  user_guide_src/source/libraries/validation/011.php
  user_guide_src/source/libraries/validation/026.php
  user_guide_src/source/libraries/validation/028.2.php
  user_guide_src/source/models/entities/021.php
  user_guide_src/source/outgoing/response/021.php
  user_guide_src/source/outgoing/view_parser/016.php
  user_guide_src/source/testing/benchmark/004.php
  user_guide_src/source/testing/response/030.php
  user_guide_src/source/testing/response/032.php
Labels: documentation

#5774 docs: fix sample code
  user_guide_src/source/outgoing/localization/005.php
  user_guide_src/source/testing/database/002.php
Labels: documentation

#5780 fix: app/Config/Routes.php is loaded twice on Windows
  system/Router/RouteCollection.php
Labels: bug

#5778 fix: table name is double prefixed when LIKE clause
  system/Database/BaseBuilder.php
  system/Database/BaseConnection.php
  tests/system/Database/Builder/LikeTest.php
Labels: bug, database

#5787 docs: small fixes in extending
  user_guide_src/source/extending/basecontroller.rst
  user_guide_src/source/extending/core_classes.rst
  user_guide_src/source/extending/events.rst
Labels: documentation

#5783 User Guide Deploy Action
  .github/scripts/deploy-userguide
  .github/workflows/deploy-userguide.yml
Labels: github_actions

#5793 fix: Publisher $restrictions regex to FCPATH
  app/Config/Publisher.php
  tests/system/Publisher/PublisherRestrictionsTest.php
Labels: bug

#5798 fix: Timer::getElapsedTime() returns incorrect value
  system/Debug/Timer.php
  tests/system/Debug/TimerTest.php
Labels: bug

#5790 docs: fix events.rst
  user_guide_src/source/extending/common.rst
  user_guide_src/source/extending/events.rst
  user_guide_src/source/extending/events/001.php
  user_guide_src/source/extending/events/002.php
Labels: documentation

#5800 bug: Publisher typo
  app/Config/Publisher.php
Labels: bug

#5792 docs: fix RST format in publisher.rst
  user_guide_src/source/libraries/publisher.rst
Labels: documentation

#5802 test: remove `helper('url')`
  tests/system/HTTP/UserAgentTest.php
  tests/system/Helpers/HTMLHelperTest.php
  tests/system/Helpers/URLHelper/CurrentUrlTest.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  tests/system/Helpers/URLHelper/SiteUrlTest.php
  tests/system/Pager/PagerTest.php
  tests/system/View/ParserPluginTest.php
Labels: testing

#5804 fix: [Validation] valid_date ErrorException when the field is not sent
  system/Validation/FormatRules.php
  tests/system/Validation/FormatRulesTest.php
Labels: bug

#5806 Update Laminas Escaper to v2.10
  system/ThirdParty/Escaper/Escaper.php
Labels: dependencies

#5803 fix: [Pager] can't get correct current page from segment
  system/Pager/Pager.php
  tests/system/Pager/PagerTest.php
Labels: bug

#5809 docs: add note about `attributes` in Entity
  user_guide_src/source/models/entities.rst
Labels: documentation

#5808 docs: clarify that current_url() returns URL based on Config\App
  system/Helpers/url_helper.php
  user_guide_src/source/helpers/url_helper.rst
Labels: documentation

#5815 docs: add redirect()->back() explanation
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/helpers/url_helper.rst
Labels: documentation

#5813 [Rector] Clean up skip config and re-run Rector
  app/Config/App.php
  app/Config/Format.php
  app/Config/Logger.php
  rector.php
  system/Cache/Handlers/PredisHandler.php
  system/Commands/Generators/ControllerGenerator.php
  system/Config/AutoloadConfig.php
  system/Config/BaseService.php
  system/Database/BaseConnection.php
  system/Database/BasePreparedQuery.php
  system/Database/OCI8/Result.php
  system/Images/Handlers/ImageMagickHandler.php
  system/Language/Language.php
  system/View/View.php
  tests/system/API/ResponseTraitTest.php
  tests/system/Autoloader/AutoloaderTest.php
  tests/system/Autoloader/FileLocatorTest.php
  tests/system/CLI/CLITest.php
  tests/system/Cache/CacheFactoryTest.php
  tests/system/Cache/Handlers/FileHandlerTest.php
  tests/system/CodeIgniterTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/Config/DotEnvTest.php
  tests/system/Config/FactoriesTest.php
  tests/system/Config/ServicesTest.php
  tests/system/Cookie/CookieTest.php
  tests/system/Database/Builder/InsertTest.php
  tests/system/Database/Builder/ReplaceTest.php
  tests/system/Database/Builder/UpdateTest.php
  tests/system/Database/Builder/WhereTest.php
  tests/system/Database/ConfigTest.php
  tests/system/Database/Live/DeleteTest.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/SQLite/AlterTableTest.php
  tests/system/Database/Migrations/MigrationRunnerTest.php
  tests/system/Encryption/EncryptionTest.php
  tests/system/Encryption/Handlers/OpenSSLHandlerTest.php
  tests/system/Encryption/Handlers/SodiumHandlerTest.php
  tests/system/Entity/EntityTest.php
  tests/system/Files/FileTest.php
  tests/system/Format/FormatTest.php
  tests/system/Format/JSONFormatterTest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
  tests/system/Helpers/ArrayHelperTest.php
  tests/system/Helpers/FilesystemHelperTest.php
  tests/system/HomeTest.php
  tests/system/Honeypot/HoneypotTest.php
  tests/system/I18n/TimeTest.php
  tests/system/Language/LanguageTest.php
  tests/system/Models/MiscellaneousModelTest.php
  tests/system/RESTful/ResourceControllerTest.php
  tests/system/RESTful/ResourcePresenterTest.php
  tests/system/Session/Handlers/DatabaseHandlerTest.php
  tests/system/Session/SessionTest.php
  tests/system/Test/ControllerTestTraitTest.php
  tests/system/Test/DOMParserTest.php
  tests/system/Test/FabricatorTest.php
  tests/system/View/CellTest.php
Labels: refactor

#5814 fix: bug that allows dynamic controllers to be used
  system/Language/en/Router.php
  system/Router/Exceptions/RouterException.php
  system/Router/Router.php
  tests/system/Router/RouterTest.php
Labels: bug

#5696 refactor: DB Session Handler
  phpstan-baseline.neon.dist
  system/Config/Services.php
  system/Database/BaseConnection.php
  system/Session/Handlers/BaseHandler.php
  system/Session/Handlers/Database/MySQLiHandler.php
  system/Session/Handlers/Database/PostgreHandler.php
  system/Session/Handlers/DatabaseHandler.php
  tests/system/Session/Handlers/Database/AbstactHandlerTestCase.php
  tests/system/Session/Handlers/Database/MySQLiHandlerTest.php
  tests/system/Session/Handlers/Database/PostgreHandlerTest.php
Labels: refactor

#5822 docs: add full support for PHP 8.1 in changelogs/v4.1.6.rst
  user_guide_src/source/changelogs/v4.1.6.rst
Labels: documentation

#5824 config: remove App\ and Config\ in autoload.psr-4 in app starter composer.json
  admin/starter/composer.json
  system/CLI/Commands.php
Labels: bug

#5816 fix: failover's DBPrefix not working
  system/Database/BaseConnection.php
  tests/system/Database/BaseConnectionTest.php
  tests/system/Database/Live/ConnectTest.php
Labels: bug

#5837 docs: add index.php/spark changes in changelog
  user_guide_src/requirements.txt
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: documentation, github_actions

#5836 fix: spark can't use options on PHP 7.4
  system/CLI/CommandRunner.php
  system/CodeIgniter.php
  tests/system/CLI/CommandRunnerTest.php
  tests/system/SparkTest.php
  user_guide_src/source/changelogs/v4.2.0.rst
Labels: bug, breaking change
