Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-09, with the labels that each got.

#7867 fix: FeatureTest may cause risky tests
  system/CodeIgniter.php
  system/Test/FeatureTestTrait.php
  tests/_support/Config/Filters.php
  tests/_support/Filters/RedirectFilter.php
  tests/system/Test/FeatureTestTraitTest.php
Labels: bug, 4.4

#7880 fix: reverse routing causes ErrorException
  system/Router/RouteCollection.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
Labels: bug

#7883 fix: Email library forces to switch to TLS when setting port 465
  app/Config/Email.php
  system/Email/Email.php
  user_guide_src/source/libraries/email.rst
Labels: bug

#7882 fix: [DebugBar] make rotate class less broad
  admin/css/debug-toolbar/toolbar.scss
  system/Debug/Toolbar/Views/toolbar.css
Labels: bug, 4.4

#7890 fix: FeatureTest fails when forceGlobalSecureRequests is true
  system/Test/FeatureTestTrait.php
  tests/system/Test/FeatureTestTraitTest.php
Labels: bug, help wanted, 4.4

#7898 docs: add changelog and upgrade for v4.4.2
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.4.2.rst
  user_guide_src/source/installation/upgrade_442.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#7906 docs: Improve publisher.rst
  user_guide_src/source/libraries/publisher.rst
  user_guide_src/source/libraries/publisher/009.php
Labels: documentation

#7908 docs: db_commands.rst typo code-block
  user_guide_src/source/dbmgmt/db_commands.rst
Labels: documentation

#7873 docs: improve on Site URIs setting
  user_guide_src/source/general/environments.rst
  user_guide_src/source/general/urls.rst
  user_guide_src/source/installation/running.rst
  user_guide_src/source/tutorial/index.rst
Labels: help wanted, documentation

#7912 [PHP 8.3] test: update expectation for highlight code
  tests/system/Helpers/TextHelperTest.php
  tests/system/View/ParserFilterTest.php
Labels: testing

#7887 Fix: [Session] the problem of secondary retrieving values ​​in RedisHandler
  system/Session/Handlers/RedisHandler.php
  tests/system/Session/Handlers/Database/RedisHandlerTest.php
Labels: bug

#7892 docs: add changelog and upgrading for v4.5.0
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/upgrade_450.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation, 4.5

#7911 [PHP 8.3] refactor: ReflectionProperty::setValue() signature deprecation
  system/Test/ReflectionHelper.php
  tests/system/CLI/CLITest.php
Labels: refactor

#7894 fix: `spark migrate` `-g` option
  app/Config/Migrations.php
  system/Commands/Database/MigrateRollback.php
  system/Database/MigrationRunner.php
  user_guide_src/source/changelogs/v4.4.2.rst
  user_guide_src/source/dbmgmt/migration.rst
Labels: bug, database

#7910 docs: improve filters.rst
  user_guide_src/source/incoming/filters.rst
Labels: documentation

#7919 refactor: remove unneeded arguments to session
  system/Common.php
Labels: refactor

#7907 fix: [DebugBar] dark mode `timeline-color-open` color text on `Debug`
  admin/css/debug-toolbar/_theme-dark.scss
  system/Debug/Toolbar/Views/toolbar.css
Labels: bug

#7921 GH: auto label conflict PR
  .github/label-conflict.yml
Labels: github_actions

#7928 chore: fix move labeler conflict PR
  .github/workflows/label-conflict.yml
Labels: github_actions

#7886 chore: add PHP 8.3 to test-phpunit.yml
  .github/workflows/test-phpunit.yml
Labels: github_actions

#7901 fix: base_url()/site_url() does not work on CLI
  system/HTTP/CLIRequest.php
  tests/system/Helpers/URLHelper/SiteUrlCliTest.php
Labels: bug, 4.4

#7920 config: update default DB Charset to utf8mb4
  app/Config/Database.php
  system/Database/BaseConnection.php
  tests/_support/Config/Registrar.php
  tests/system/Database/BaseConnectionTest.php
  tests/system/Database/ConfigTest.php
  user_guide_src/source/database/configuration/001.php
  user_guide_src/source/database/configuration/004.php
  user_guide_src/source/database/configuration/005.php
  user_guide_src/source/database/configuration/006.php
  user_guide_src/source/database/connecting/006.php
  user_guide_src/source/dbmgmt/forge/016.php
  user_guide_src/source/installation/upgrade_450.rst
Labels: 4.5

#7922 test: change DBDebug to true
  tests/system/Database/BaseConnectionTest.php
  tests/system/Database/ConfigTest.php
Labels: testing

#7931 docs: add warning on PHP 7.4 EOL
  README.md
  admin/framework/README.md
  admin/starter/README.md
  user_guide_src/source/intro/requirements.rst
Labels: documentation

#7902 docs: update Backward Compatibility Notes
  user_guide_src/source/installation/backward_compatibility_notes.rst
Labels: documentation

#7934 docs: add description of incompatible behavior in Validation
  user_guide_src/source/installation/upgrade_validations.rst
Labels: documentation

#7903 refactor: always use multiple filters
  app/Config/Feature.php
  phpstan-baseline.php
  system/CodeIgniter.php
  system/Commands/Utilities/Routes/FilterFinder.php
  system/Filters/Filters.php
  system/Router/RouteCollection.php
  system/Router/Router.php
  tests/system/Commands/Utilities/Routes/FilterFinderTest.php
  tests/system/Filters/FiltersTest.php
  tests/system/Router/RouterTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: refactor, breaking change, 4.5

#7938 chore: GH: auto comment unsigned PR
  .github/workflows/label-signing.yml
Labels: github_actions

#7936 chore: fix: event trigger label conflict
  .github/workflows/label-conflict.yml
Labels: github_actions

#7930 Fix: Routing::loadRoutes() in windows do not validate correctly $routesFiles
  system/Router/RouteCollection.php
Labels: bug

#7896 feat: Language translations finder and update
  system/Commands/Translation/LocalizationFinder.php
  system/Commands/Translation/LocalizationFinder/ArrayHelper.php
  tests/_support/Services/Translation/TranslationNested/TranslationFour.php
  tests/_support/Services/Translation/TranslationOne.php
  tests/_support/Services/Translation/TranslationThree.php
  tests/_support/Services/Translation/TranslationTwo.php
  tests/system/Commands/Translation/LocalizationFinder/ArrayHelperTest.php
  tests/system/Commands/Translation/LocalizationFinderTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/outgoing/localization.rst
  user_guide_src/source/outgoing/localization/019.php
Labels: new feature, 4.5

#7948 docs: PHPStan `Codeigniter` no type specified
  phpstan-baseline.php
  system/CodeIgniter.php
Labels: documentation

#7950 GitHub Actions to add/remove label "stale" and comment
  .github/workflows/label-add-conflict.yml
  .github/workflows/label-conflict.yml
  .github/workflows/label-remove-conflict.yml
Labels: github_actions

#7954 Revert "GitHub Actions to add/remove label "stale" and comment"
  .github/workflows/label-add-conflict.yml
  .github/workflows/label-conflict.yml
  .github/workflows/label-remove-conflict.yml
Labels: github_actions

#7947 Refactor: Apply PHPStan rule "Short ternary operator is not allowed" to RouteCollection
  phpstan-baseline.php
  system/Router/RouteCollection.php
Labels: refactor

#7946 feat: domparser - ability to write more advanced expressions
  system/Test/DOMParser.php
  tests/system/Test/DOMParserTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/testing/response.rst
  user_guide_src/source/testing/response/033.php
  user_guide_src/source/testing/response/034.php
Labels: enhancement, 4.5

#7944 docs: improve configuration.rst
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/general/configuration.rst
Labels: documentation

#7957 Renew: add or remove 'stale' label
  .github/workflows/label-add-conflict.yml
  .github/workflows/label-conflict.yml
  .github/workflows/label-remove-conflict.yml
Labels: github_actions

#7956 chore: fix Upload coverage results to Coveralls / coveralls
  .github/workflows/reusable-coveralls.yml
Labels: github_actions

#7924 Drop PHP 7.4 support
  .github/workflows/test-coding-standards.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/test-rector.yml
  .php-cs-fixer.dist.php
  .php-cs-fixer.no-header.php
  .php-cs-fixer.user-guide.php
  README.md
  admin/framework/README.md
  admin/framework/composer.json
  admin/starter/.github/workflows/phpunit.yml
  admin/starter/README.md
  admin/starter/composer.json
  composer.json
  contributing/pull_request.md
  public/index.php
  spark
  system/Autoloader/Autoloader.php
  tests/system/Debug/TimerTest.php
  tests/system/Helpers/ArrayHelperTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/intro/requirements.rst
Labels: refactor, 4.5

#7961 docs: fixed installation images and typo
  user_guide_src/source/images/debugbar.png
  user_guide_src/source/images/welcome.png
  user_guide_src/source/installation/installing_composer.rst
Labels: documentation

#7959 chore: Separate workflow to add/remove 'stale' label
  .github/workflows/label-add-conflict-all-pr.yml
  .github/workflows/label-add-remove-conflict-single-pr.yml
  .github/workflows/label-remove-conflict.yml
Labels: github_actions

#7968 Add note that setRules() overwrites any previously set rules
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#7973 Small typo in validation.html
  user_guide_src/source/libraries/validation/007.php
Labels: documentation

#7971 docs: add missing message change to changelog v4.4.0
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: documentation

#7975 docs: add `()` after method names
  user_guide_src/source/outgoing/response.rst
Labels: documentation

#7985 fix: Services::request() should call AppServices instead static
  system/Config/Services.php
Labels: bug

#7967 fix: update psr/log to v2 and fix Logger interface
  admin/framework/composer.json
  composer.json
  system/Common.php
  system/ComposerScripts.php
  system/Log/Logger.php
  system/Test/TestLogger.php
  system/ThirdParty/PSR/Log/AbstractLogger.php
  system/ThirdParty/PSR/Log/LoggerAwareTrait.php
  system/ThirdParty/PSR/Log/LoggerInterface.php
  system/ThirdParty/PSR/Log/LoggerTrait.php
  system/ThirdParty/PSR/Log/NullLogger.php
  tests/system/Log/LoggerTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/general/common_functions.rst
Labels: bug, breaking change, 4.5

#7990 Small typo in email.rst
  user_guide_src/source/libraries/email.rst
Labels: documentation

#7986 fix: incorrect return type for Model::objectToRawArray()
  phpstan-baseline.php
  system/BaseModel.php
  system/Model.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: bug, breaking change, 4.5
