Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-12, with the labels that each got.

#8273 Exclude default extensions for PHP ^8.1
  admin/framework/composer.json
  composer.json
Labels: 4.5

#8258 fix: [CURLRequest] skip hostname checks if options 'verify' false
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
  user_guide_src/source/changelogs/v4.4.4.rst
  user_guide_src/source/installation/upgrade_444.rst
Labels: bug, breaking change

#8236 feat: `spark filter:check` shows "Required Filters"
  system/Commands/Utilities/FilterCheck.php
  system/Commands/Utilities/Routes/FilterCollector.php
  system/Commands/Utilities/Routes/FilterFinder.php
  system/Filters/Filters.php
  tests/system/Commands/FilterCheckTest.php
Labels: enhancement, 4.5

#8275 fix: autoload helpers in test bootstrap
  system/Test/bootstrap.php
Labels: bug

#8219 config: change the default error reporting level in production
  app/Config/Boot/production.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: 4.5

#8295 docs: improve curlrequest.rst
  user_guide_src/source/libraries/curlrequest.rst
Labels: documentation

#8293 docs: improve note in validation.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8291 test: fix test code
  tests/_support/Test/TestForReflectionHelper.php
  tests/system/Test/ReflectionHelperTest.php
  tests/system/Test/TestCaseTest.php
Labels: testing

#8294 docs: improve helpers
  user_guide_src/source/general/helpers.rst
  user_guide_src/source/general/helpers/008.php
Labels: documentation

#8298 fix: get_filenames() does not follow symlinks
  system/Helpers/filesystem_helper.php
  tests/system/Helpers/FilesystemHelperTest.php
  user_guide_src/source/changelogs/v4.4.4.rst
  user_guide_src/source/helpers/filesystem_helper.rst
Labels: bug, breaking change

#8288 fix: Handle non-array JSON in validation
  system/HTTP/Exceptions/HTTPException.php
  system/Language/en/HTTP.php
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.4.4.rst
Labels: bug

#8286 refactor: remove deprecated Controller::loadHelpers()
  phpstan-baseline.php
  system/Controller.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, 4.5

#8287 refactor: remove deprecated methods in Security
  system/Security/Security.php
  system/Security/SecurityInterface.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, 4.5

#8260 refactor: Model
  phpstan-baseline.php
  system/BaseModel.php
  system/Model.php
Labels: refactor

#8305 test: move GetCompiledModelTest that was in wrong place
  tests/system/Models/GetCompiledModelTest.php
Labels: testing

#8285 feat: [Commands] `lang:find` show bad keys when scanning (v2)
  system/Commands/Translation/LocalizationFinder.php
  system/Helpers/Array/ArrayHelper.php
  tests/_support/Services/Translation/TranslationTwo.php
  tests/system/Commands/Translation/LocalizationFinderTest.php
  tests/system/Helpers/Array/ArrayHelperSortValuesByNaturalTest.php
  user_guide_src/source/outgoing/localization.rst
Labels: enhancement, 4.5

#8307 test: refactor files in `tests/_support/` by rector
  rector.php
  tests/_support/Config/Filters.php
  tests/_support/Config/Registrar.php
  tests/_support/Database/Migrations/20160428212500_Create_test_tables.php
  tests/_support/Database/Seeds/CITestSeeder.php
  tests/_support/Entity/Cast/CastBinaryUUID.php
  tests/_support/Entity/UUID.php
  tests/_support/Filters/Customfilter.php
  tests/_support/Filters/RedirectFilter.php
  tests/_support/Log/Handlers/TestHandler.php
  tests/_support/MigrationTestMigrations/Database/Migrations/2018-01-24-102301_Some_migration.php
  tests/_support/MigrationTestMigrations/Database/Migrations/2018-01-24-102302_Another_migration.php
  tests/_support/Models/EntityModel.php
  tests/_support/Models/UUIDPkeyModel.php
  tests/_support/Models/UserObjModel.php
  tests/_support/Models/UserTimestampModel.php
  tests/_support/Publishers/TestPublisher.php
  tests/_support/Services/Translation/TranslationNested/TranslationFour.php
  tests/_support/Services/Translation/TranslationOne.php
  tests/_support/Services/Translation/TranslationThree.php
  tests/_support/Services/Translation/TranslationTwo.php
  tests/_support/Test/TestForReflectionHelper.php
  tests/_support/_controller/Admin_user.php
  tests/_support/_controller/Dash_folder/Dash_controller.php
  tests/_support/_controller/Dash_folder/Home.php
  tests/_support/_controller/Dash_folder/Mycontroller.php
  tests/_support/_controller/Mycontroller.php
  tests/_support/_controller/Product.php
  tests/_support/_controller/Subfolder/Mycontroller.php
  tests/_support/_controller/foo/bar/baz/Some_controller.php
  tests/_support/_controller/Φ.php
  tests/_support/_controller/Φ/Home.php
Labels: testing, 4.5

#8309 docs: improve email.rst
  user_guide_src/source/libraries/email.rst
Labels: documentation

#8292 feat: add `--dbgroup` option to `spark db:table`
  system/Commands/Database/ShowTableInfo.php
  system/Database/Config.php
  tests/system/Commands/Database/ShowTableInfoTest.php
  tests/system/Validation/StrictRules/DatabaseRelatedRulesTest.php
Labels: enhancement, 4.5

#8315 test: fix COMPOSER_PATH may be false
  system/Test/bootstrap.php
Labels: testing, github_actions

#8316 fix: DEPRECATED error in Honeypot
  system/Honeypot/Honeypot.php
  tests/system/Honeypot/HoneypotTest.php
Labels: bug

#8310 docs: improve "Upgrade Emails"
  app/Config/Email.php
  system/Email/Email.php
  user_guide_src/source/installation/upgrade_emails.rst
  user_guide_src/source/libraries/email.rst
Labels: documentation

#8312 docs: improve upgrade_routing
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_routing.rst
  user_guide_src/source/installation/upgrade_routing/001.php
Labels: documentation

#8313 docs: spark db:table --dbgroup
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/dbmgmt/db_commands.rst
Labels: documentation, 4.5

#8320 fix: [Auto Routing Improved] `spark routes` shows incorrect routes when translateURIDashes is enabled
  system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReader.php
  tests/system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReaderTest.php
  tests/system/Commands/Utilities/Routes/AutoRouterImproved/Controllers/Dash_folder/Dash_controller.php
Labels: bug

#8317 refactor: HTTP verbs in Router
  system/Router/AutoRouter.php
  system/Router/AutoRouterImproved.php
  system/Router/Router.php
  tests/system/Router/AutoRouterImprovedTest.php
Labels: refactor, 4.5

#8221 fix: migrations not using custom DB connection of migration runner
  phpstan-baseline.php
  system/Database/Migration.php
  system/Database/MigrationRunner.php
  tests/system/Database/Migrations/MigrationRunnerTest.php
Labels: bug

#8321 feat: [Auto Routing Improved] add option to translate uri to camel case
  app/Config/Routing.php
  phpstan-baseline.php
  system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReader.php
  system/Config/Routing.php
  system/Router/AutoRouterImproved.php
  tests/system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReaderTest.php
  tests/system/Commands/Utilities/Routes/AutoRouterImproved/Controllers/SubDir/BlogController.php
  tests/system/Router/AutoRouterImprovedTest.php
  tests/system/Router/Controllers/BlogController.php
  tests/system/Router/Controllers/SubDir/BlogController.php
  tests/system/Router/Controllers/Subfolder/Sub/BlogController.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/controllers.rst
Labels: enhancement, 4.5

#8324 docs: improve Model Event
  user_guide_src/source/models/model.rst
Labels: documentation

#8329 docs: update sample code in Auto Routing
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/047.php
  user_guide_src/source/incoming/routing/048.php
Labels: documentation

#8331 docs: use validateData() instead of validate() in Validation
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/001.php
Labels: documentation

#8330 Always return a new instance of a Cell
  system/View/Cell.php
Labels: bug

#8237 feat: `spark routes` shows "Required Filters"
  system/Commands/Utilities/Routes.php
  tests/system/Commands/RoutesTest.php
Labels: enhancement, 4.5

#8338 docs: fix Time
  user_guide_src/source/libraries/time/002.php
  user_guide_src/source/libraries/time/003.php
  user_guide_src/source/libraries/time/004.php
  user_guide_src/source/libraries/time/005.php
  user_guide_src/source/libraries/time/006.php
  user_guide_src/source/libraries/time/007.php
  user_guide_src/source/libraries/time/008.php
  user_guide_src/source/libraries/time/009.php
  user_guide_src/source/libraries/time/010.php
  user_guide_src/source/libraries/time/011.php
  user_guide_src/source/libraries/time/012.php
  user_guide_src/source/libraries/time/013.php
  user_guide_src/source/libraries/time/014.php
  user_guide_src/source/libraries/time/015.php
  user_guide_src/source/libraries/time/016.php
  user_guide_src/source/libraries/time/017.php
  user_guide_src/source/libraries/time/018.php
  user_guide_src/source/libraries/time/019.php
  user_guide_src/source/libraries/time/020.php
  user_guide_src/source/libraries/time/021.php
  user_guide_src/source/libraries/time/022.php
  user_guide_src/source/libraries/time/023.php
  user_guide_src/source/libraries/time/024.php
  user_guide_src/source/libraries/time/025.php
  user_guide_src/source/libraries/time/026.php
  user_guide_src/source/libraries/time/027.php
  user_guide_src/source/libraries/time/029.php
  user_guide_src/source/libraries/time/030.php
  user_guide_src/source/libraries/time/032.php
  user_guide_src/source/libraries/time/034.php
  user_guide_src/source/libraries/time/035.php
  user_guide_src/source/libraries/time/037.php
  user_guide_src/source/libraries/time/038.php
  user_guide_src/source/libraries/time/039.php
  user_guide_src/source/libraries/time/041.php
Labels: documentation

#8280 fix: QueryBuilder limit(0) bug
  app/Config/Feature.php
  phpstan-baseline.php
  system/BaseModel.php
  system/Database/BaseBuilder.php
  system/Database/SQLSRV/Builder.php
  system/Model.php
  tests/system/Database/Builder/GetTest.php
  tests/system/Database/Live/GetTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/installation/upgrade_450.rst
  user_guide_src/source/installation/upgrade_database.rst
Labels: bug, enhancement, database, 4.5

#8212 replace -1 with E_ALL in error_reporting calls
  app/Config/Boot/development.php
  app/Config/Boot/testing.php
  spark
Labels: refactor

#8339 chore: update psr/log to v3
  .github/workflows/reusable-coveralls.yml
  admin/framework/composer.json
  composer.json
  system/ThirdParty/PSR/Log/LoggerAwareInterface.php
  system/ThirdParty/PSR/Log/LoggerAwareTrait.php
  system/ThirdParty/PSR/Log/LoggerInterface.php
  system/ThirdParty/PSR/Log/LoggerTrait.php
  system/ThirdParty/PSR/Log/NullLogger.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: 4.5

#8340 docs: improve routing
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/011.php
  user_guide_src/source/incoming/routing/045.php
  user_guide_src/source/incoming/routing/046.php
  user_guide_src/source/incoming/routing/049.php
  user_guide_src/source/incoming/routing/050.php
  user_guide_src/source/incoming/routing/051.php
  user_guide_src/source/incoming/routing/052.php
  user_guide_src/source/incoming/routing/068.php
Labels: documentation

#8342 Add explanation on changing default error messages
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8341 refactor: apply SimplifyEmptyCheckOnEmptyArrayRector
  phpstan-baseline.php
  rector.php
  system/Autoloader/FileLocator.php
  system/BaseModel.php
  system/CLI/BaseCommand.php
  system/CLI/CLI.php
  system/Controller.php
  system/Database/BaseResult.php
  system/Database/MigrationRunner.php
  system/Database/MySQLi/Builder.php
  system/Database/SQLSRV/Builder.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Table.php
  system/Debug/Iterator.php
  system/Debug/Toolbar.php
  system/Debug/Toolbar/Collectors/Database.php
  system/Debug/Toolbar/Collectors/History.php
  system/Entity/Entity.php
  system/HTTP/CLIRequest.php
  system/HTTP/ContentSecurityPolicy.php
  system/HTTP/Files/FileCollection.php
  system/HTTP/Negotiate.php
  system/HTTP/ResponseTrait.php
  system/Helpers/array_helper.php
  system/Helpers/form_helper.php
  system/Helpers/html_helper.php
  system/Helpers/text_helper.php
  system/Helpers/url_helper.php
  system/Log/Logger.php
  system/Model.php
  system/Router/AutoRouter.php
  system/Router/Router.php
  system/Session/Handlers/MemcachedHandler.php
  system/Session/Session.php
  system/Test/DOMParser.php
  system/Validation/DotArrayFilter.php
  system/Validation/Rules.php
  system/View/Parser.php
  system/View/Plugins.php
  system/View/Table.php
Labels: refactor

#8332 docs: update config files for Auto Routing in controllers.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/controllers/015.php
Labels: documentation

#8349 docs: add codeigniter4/queue repository
  user_guide_src/source/installation/repositories.rst
Labels: documentation

#8343 docs: [Validation] Add explanation where to place custom validation rules error messages
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8346 docs: fix Parser filter `default` explanation
  tests/system/View/ParserFilterTest.php
  user_guide_src/source/outgoing/view_parser.rst
Labels: testing, documentation

#8344 refactor: apply DisallowedEmptyRuleFixerRector
  phpstan-baseline.php
  rector.php
  system/API/ResponseTrait.php
  system/Autoloader/FileLocator.php
  system/BaseModel.php
  system/CLI/CLI.php
  system/Cache/CacheFactory.php
  system/Common.php
  system/Database/BaseBuilder.php
  system/Database/Database.php
  system/Database/MigrationRunner.php
  system/Database/MySQLi/Connection.php
  system/Database/OCI8/Builder.php
  system/Database/Postgre/Builder.php
  system/Database/SQLSRV/Builder.php
  system/Database/SQLSRV/Connection.php
  system/Database/Seeder.php
  system/Debug/BaseExceptionHandler.php
  system/Debug/Exceptions.php
  system/Debug/Timer.php
  system/Email/Email.php
  system/HTTP/CLIRequest.php
  system/HTTP/ContentSecurityPolicy.php
  system/HTTP/IncomingRequest.php
  system/HTTP/Negotiate.php
  system/HTTP/ResponseTrait.php
  system/HTTP/URI.php
  system/HTTP/UserAgent.php
  system/Helpers/date_helper.php
  system/Helpers/html_helper.php
  system/Helpers/number_helper.php
  system/Honeypot/Honeypot.php
  system/I18n/TimeTrait.php
  system/Images/Handlers/BaseHandler.php
  system/Images/Handlers/GDHandler.php
  system/Images/Handlers/ImageMagickHandler.php
  system/Images/ImageHandlerInterface.php
  system/Model.php
  system/Pager/Pager.php
  system/Router/AutoRouter.php
  system/Router/RouteCollection.php
  system/Router/Router.php
  system/Session/Handlers/MemcachedHandler.php
  system/Session/Handlers/RedisHandler.php
  system/Session/Session.php
  system/Session/SessionInterface.php
  system/Test/FeatureTestCase.php
  system/Test/FeatureTestTrait.php
  system/Validation/FormatRules.php
  system/Validation/Validation.php
  system/Validation/ValidationInterface.php
  system/View/Parser.php
Labels: refactor

#8359 [4.5] fix: merge mistake
  system/Autoloader/FileLocatorInterface.php
  system/Test/FeatureTestTrait.php
Labels: 4.5

#8350 docs: add "Error Handling" in "Upgrading from 3.x to 4.x"
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: documentation

#8360 fix: DOMParser cannot see element with `id="0"`
  phpstan-baseline.php
  system/Test/DOMParser.php
  tests/system/Test/DOMParserTest.php
Labels: bug

#8362 test: add missing test case in HTML Table
  tests/system/View/TableTest.php
Labels: testing

#8369 test: fix PHPDoc types in CastBase64
  tests/_support/Entity/Cast/CastBase64.php
Labels: testing

#8021 refactor: rely on $config property in ViewDecoratorTrait
  system/View/ViewDecoratorTrait.php
Labels: refactor

#8373 fix: make:test help and docs
  system/Commands/Generators/TestGenerator.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/cli/cli_generators.rst
Labels: 4.5

#8364 feat: HTTP method-aware web page caching
  system/Cache/ResponseCache.php
  system/HTTP/Method.php
  tests/system/Cache/ResponseCacheTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/general/caching.rst
Labels: enhancement, 4.5

#8345 refactor: replace empty() Part 1
  .github/workflows/test-phpcpd.yml
  app/Config/Kint.php
  phpstan-baseline.php
  system/API/ResponseTrait.php
  system/Autoloader/FileLocator.php
  system/BaseModel.php
  system/CodeIgniter.php
  system/Model.php
  system/RESTful/ResourceController.php
  system/Session/Session.php
  system/Test/CIUnitTestCase.php
  system/Test/DatabaseTestTrait.php
  system/Test/Fabricator.php
  system/Test/FeatureTestCase.php
  system/Test/Mock/MockCache.php
  system/Test/Mock/MockConnection.php
  system/Test/TestResponse.php
  system/Validation/CreditCardRules.php
  system/Validation/Rules.php
  system/Validation/StrictRules/Rules.php
  system/Validation/Validation.php
  system/Validation/Views/list.php
  system/View/Filters.php
  system/View/Parser.php
  system/View/Table.php
  system/View/View.php
Labels: refactor

#8375 docs: update official packages page
  user_guide_src/source/libraries/official_packages.rst
Labels: documentation

#8379 docs: add changelog and upgrade for v4.4.5
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.4.5.rst
  user_guide_src/source/installation/upgrade_445.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#8381 test: strip colors on `xdebug.cli_color=2`
  tests/system/Commands/Utilities/ConfigCheckTest.php
Labels: testing

#8383 docs: fix section title level in v4.4.4.rst
  user_guide_src/source/changelogs/v4.4.4.rst
Labels: documentation

#8386 refactor: remove overrides for coding-standard v1.7.12
  .php-cs-fixer.dist.php
  .php-cs-fixer.no-header.php
  .php-cs-fixer.user-guide.php
  admin/framework/composer.json
  composer.json
  tests/system/AutoReview/FrameworkCodeTest.php
  tests/system/HTTP/SiteURITest.php
  tests/system/Validation/CreditCardRulesTest.php
  tests/system/Validation/StrictRules/CreditCardRulesTest.php
  tests/system/Validation/StrictRules/ValidationTest.php
  tests/system/Validation/ValidationTest.php
Labels: refactor

#8387 test: fix path name of composer.json
  tests/system/AutoReview/ComposerJsonTest.php
Labels: testing

#8389 Fix bug 4.4.4 `spark serve` not working when using Session in Routes.php
  system/Session/Session.php
Labels: bug
