Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-07, with the labels that each got.

#7505 docs: improve Session::destroy()
  user_guide_src/source/libraries/sessions.rst
  user_guide_src/source/libraries/sessions/037.php
Labels: documentation

#7599 test: fix TestResponseTest
  system/Format/FormatterInterface.php
  system/HTTP/ResponseTrait.php
  tests/system/Test/FeatureTestTraitTest.php
  tests/system/Test/TestResponseTest.php
Labels: testing

#7642 docs: add missing "Configuring Caching" in Web Page Caching
  app/Config/Cache.php
  user_guide_src/source/general/caching.rst
  user_guide_src/source/libraries/caching.rst
Labels: documentation

#7422 fix: [Auto Routing Improved] one controller method has more than one URI when $translateURIDashes is true
  system/Router/AutoRouterImproved.php
  tests/system/Router/AutoRouterImprovedTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_440.rst
Labels: bug, 4.4

#7652 fix: `url_to()` error message
  system/Router/RouteCollection.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
Labels: bug

#7653 refactor: extract DefinedRouteCollector
  system/Commands/Utilities/Routes.php
  system/Debug/Toolbar/Collectors/Routes.php
  system/Router/DefinedRouteCollector.php
  tests/system/Router/DefinedRouteCollectorTest.php
Labels: refactor, 4.4

#7602 fix: FeatureTestTrait may change $params values passed to call(), and a few bug fixes
  system/Test/FeatureTestTrait.php
  tests/system/Test/FeatureTestTraitTest.php
  user_guide_src/source/changelogs/v4.3.7.rst
  user_guide_src/source/installation/upgrade_437.rst
  user_guide_src/source/testing/feature.rst
Labels: bug, breaking change

#7644 refactor: extract ResponseCache class for Web Page Caching
  deptrac.yaml
  phpstan-baseline.neon.dist
  system/Cache/ResponseCache.php
  system/CodeIgniter.php
  system/Config/BaseService.php
  system/Config/Services.php
  system/Controller.php
  system/Test/FeatureTestCase.php
  tests/system/Cache/ResponseCacheTest.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: bug, refactor, breaking change, 4.4

#7655 fix: [4.4] merge conflict in RouteCollection
  system/Router/RouteCollection.php
Labels: 4.4

#7654 docs: improve sample code in Database Configuration
  user_guide_src/source/database/configuration/008.php
Labels: documentation

#7661 refactor: remove uneeded `if` in Commands\Utilities\Routes
  system/Commands/Utilities/Routes.php
Labels: refactor

#7658 docs: improve running.rst
  user_guide_src/source/installation/running.rst
Labels: documentation

#7650 docs: [4.4] fix Rector's incorrect refactoring
  system/Router/AutoRouterImproved.php
Labels: 4.4

#7662 docs: extract source code to files in ViewCells
  user_guide_src/source/outgoing/view_cells.rst
  user_guide_src/source/outgoing/view_cells/001.php
  user_guide_src/source/outgoing/view_cells/002.php
  user_guide_src/source/outgoing/view_cells/003.php
  user_guide_src/source/outgoing/view_cells/004.php
  user_guide_src/source/outgoing/view_cells/005.php
  user_guide_src/source/outgoing/view_cells/006.php
  user_guide_src/source/outgoing/view_cells/007.php
  user_guide_src/source/outgoing/view_cells/008.php
  user_guide_src/source/outgoing/view_cells/009.php
  user_guide_src/source/outgoing/view_cells/010.php
  user_guide_src/source/outgoing/view_cells/011.php
  user_guide_src/source/outgoing/view_cells/012.php
  user_guide_src/source/outgoing/view_cells/013.php
  user_guide_src/source/outgoing/view_cells/014.php
  user_guide_src/source/outgoing/view_cells/015.php
  user_guide_src/source/outgoing/view_cells/016.php
  user_guide_src/source/outgoing/view_cells/017.php
  user_guide_src/source/outgoing/view_cells/018.php
  user_guide_src/source/outgoing/view_cells/019.php
  user_guide_src/source/outgoing/view_cells/020.php
  user_guide_src/source/outgoing/view_cells/021.php
  user_guide_src/source/outgoing/view_cells/022.php
Labels: documentation

#7663 fix: [ViewCells] caching
  system/View/Cell.php
Labels: bug

#7667 refactor: [Cache] simplify code of `FileHandler::getItem()`
  phpstan-baseline.neon.dist
  system/Cache/Handlers/FileHandler.php
  tests/system/Cache/Handlers/FileHandlerTest.php
Labels: refactor

#7646 feat: improve View route output
  system/Router/DefinedRouteCollector.php
  system/Router/RouteCollection.php
  tests/system/Router/DefinedRouteCollectorTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: enhancement, 4.4

#7674 docs: improve Factories and Config
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/concepts/factories/002.php
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/general/configuration.rst
  user_guide_src/source/general/modules.rst
  user_guide_src/source/models/model.rst
Labels: documentation

#7671 fix: change Services::session() config param type
  system/Config/Services.php
  tests/system/Config/ServicesTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: bug, breaking change, 4.4

#7672 docs: improve Validation
  user_guide_src/source/installation/upgrade_435.rst
  user_guide_src/source/libraries/validation/002.php
  user_guide_src/source/libraries/validation/005.php
  user_guide_src/source/libraries/validation/006.php
  user_guide_src/source/libraries/validation/007.php
  user_guide_src/source/libraries/validation/009.php
  user_guide_src/source/libraries/validation/010.php
  user_guide_src/source/libraries/validation/011.php
  user_guide_src/source/libraries/validation/013.php
  user_guide_src/source/libraries/validation/015.php
  user_guide_src/source/libraries/validation/016.php
  user_guide_src/source/libraries/validation/020.php
  user_guide_src/source/libraries/validation/022.php
  user_guide_src/source/libraries/validation/023.php
  user_guide_src/source/libraries/validation/024.php
  user_guide_src/source/libraries/validation/025.php
  user_guide_src/source/libraries/validation/036.php
  user_guide_src/source/libraries/validation/038.php
Labels: documentation

#7673 docs: improve about Registrars
  user_guide_src/source/general/configuration.rst
  user_guide_src/source/general/configuration/007.php
  user_guide_src/source/general/configuration/008.php
  user_guide_src/source/general/configuration/009.php
  user_guide_src/source/general/configuration/010.php
  user_guide_src/source/general/modules.rst
Labels: documentation

#7685 docs: improve In-model Validation
  user_guide_src/source/helpers/form_helper.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/027.php
  user_guide_src/source/models/model/028.php
  user_guide_src/source/models/model/029.php
  user_guide_src/source/models/model/038.php
  user_guide_src/source/models/model/040.php
Labels: documentation

#7681 docs: add config() in Global Functions
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/general/configuration.rst
  user_guide_src/source/general/modules.rst
Labels: documentation

#7692 docs: fix sample code of Config\Validation
  user_guide_src/source/libraries/validation/003.php
  user_guide_src/source/libraries/validation/013.php
  user_guide_src/source/libraries/validation/015.php
  user_guide_src/source/libraries/validation/016.php
  user_guide_src/source/libraries/validation/032.php
  user_guide_src/source/libraries/validation/033.php
Labels: documentation

#7686 fix: [ViewCells] when there are cells with the same short name, only the first cell is loaded
  system/View/Cell.php
  tests/_support/View/OtherCells/SampleClass.php
  tests/system/View/CellTest.php
Labels: bug

#7679 docs: improve "Hosting with Apache"
  user_guide_src/source/installation/running.rst
Labels: documentation

#7252 feat: add SiteURI class
  .github/workflows/test-phpcpd.yml
  system/HTTP/SiteURI.php
  system/HTTP/URI.php
  tests/system/HTTP/SiteURITest.php
  tests/system/HTTP/URITest.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: enhancement, 4.4

#7705 docs: update 404 links in testing/overview.rst
  user_guide_src/source/testing/overview.rst
Labels: documentation

#7690 fix: auto routing legacy and $route->add()
  phpstan-baseline.neon.dist
  system/Router/AutoRouter.php
  system/Router/RouteCollection.php
  system/Router/Router.php
  tests/system/Test/FeatureTestTraitTest.php
  user_guide_src/source/changelogs/v4.3.7.rst
  user_guide_src/source/incoming/routing.rst
Labels: bug, breaking change

#7701 Fix number comparison in number_to_amount() in number_helper.php
  system/Helpers/number_helper.php
  tests/system/Helpers/NumberHelperTest.php
  user_guide_src/source/changelogs/v4.3.7.rst
Labels: bug

#7702 refactor: replace `config(Paths::class)`
  app/Config/Autoload.php
  app/Config/Cache.php
  app/Config/ContentSecurityPolicy.php
  app/Config/Logger.php
  app/Config/Migrations.php
  app/Config/Modules.php
  app/Config/Paths.php
  system/Config/Services.php
Labels: refactor

#7691 fix: [Model] setValidationRule() cannot use with ruleGroup
  system/BaseModel.php
  system/Validation/Validation.php
  tests/_support/Config/Validation.php
  tests/_support/Models/ValidModelRuleGroup.php
  tests/system/Models/ValidationModelRuleGroupTest.php
  user_guide_src/source/changelogs/v4.3.7.rst
  user_guide_src/source/installation/upgrade_437.rst
Labels: bug, breaking change

#7700 docs: improve migration.rst
  user_guide_src/source/dbmgmt/migration.rst
  user_guide_src/source/dbmgmt/migration/005.php
Labels: documentation

#7678 docs: improve `old()` description
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/general/common_functions/002.php
Labels: documentation

#7722 chore: update test-phpstan.yml
  .github/workflows/test-phpstan.yml
Labels: github_actions

#7723 refactor: [4.4] add types for phpstan
  app/Config/Routing.php
  system/Config/Routing.php
  system/Debug/BaseExceptionHandler.php
  system/Exceptions/FrameworkException.php
  system/HTTP/SiteURI.php
  system/HotReloader/HotReloader.php
  system/Router/AutoRouterImproved.php
Labels: refactor, 4.4

#7735 fix: wrong Config classname to config() in Toolbar
  system/Debug/Toolbar.php
Labels: bug

#7256 feat: add SiteURIFactory
  system/HTTP/IncomingRequest.php
  system/HTTP/SiteURIFactory.php
  system/Superglobals.php
  tests/system/HTTP/SiteURIFactoryDetectRoutePathTest.php
  tests/system/HTTP/SiteURIFactoryTest.php
  tests/system/SuperglobalsTest.php
Labels: enhancement, 4.4

#7725 fix: $sensitiveDataInTrace does not work
  phpstan-baseline.php
  system/Debug/Exceptions.php
  tests/system/Debug/ExceptionsTest.php
Labels: bug

#7680 docs: add Apache config for baseURL with subfolder
  user_guide_src/source/installation/running.rst
Labels: documentation

#7737 docs: small improvements in changelog v4.4.0
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/upgrade_440.rst
Labels: documentation, 4.4

#7736 fix: [4.4] merge Exception::maskSensitiveData() fix into BaseExceptionHandler
  system/Debug/BaseExceptionHandler.php
  system/Debug/Exceptions.php
  tests/system/Debug/ExceptionHandlerTest.php
Labels: bug, 4.4

#7743 style: [4.4] remove emtpy line
  system/Router/DefinedRouteCollector.php
Labels: 4.4

#7733 feat: add Factories::define() to explicitly override a class
  psalm-baseline.xml
  system/Config/Factories.php
  tests/system/Config/FactoriesTest.php
  tests/system/Database/ModelFactoryTest.php
  tests/system/Test/FabricatorTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/concepts/factories/014.php
  user_guide_src/source/concepts/factories/015.php
  user_guide_src/source/general/configuration.rst
  user_guide_src/source/general/modules.rst
  user_guide_src/source/installation/upgrade_440.rst
Labels: bug, enhancement, breaking change, 4.4

#7751 docs: add changelog/upgrade guide for v4.3.8
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.3.8.rst
  user_guide_src/source/installation/upgrade_438.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#7742 docs: add "Creating Composer Packages"
  user_guide_src/source/extending/composer_packages.rst
  user_guide_src/source/extending/index.rst
  user_guide_src/source/general/modules.rst
Labels: documentation
