Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-04, with the labels that each got.

#7397 docs: add link list of timezones php.net
  app/Config/App.php
Labels: documentation

#7392 fix: view cell cannot locate the auto-generated view file
  system/Commands/Generators/CellGenerator.php
  system/View/Cells/Cell.php
  tests/_support/View/Cells/AwesomeCell.php
  tests/_support/View/Cells/awesome_cell.php
  tests/system/Commands/CellGeneratorTest.php
  tests/system/View/ControlledCellTest.php
Labels: bug

#7401 docs: improve environments
  user_guide_src/source/general/configuration.rst
  user_guide_src/source/general/environments.rst
Labels: documentation

#7407 docs: add note for CSRF redirect
  user_guide_src/source/libraries/security.rst
Labels: documentation

#7412 docs: improve Upgrading from 3.x to 4.x
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#7408 docs: add note for custom command generator template
  user_guide_src/source/cli/cli_generators.rst
  user_guide_src/source/cli/cli_generators/001.php
Labels: documentation

#7087 feat: custom exception handler
  .github/workflows/test-phpcpd.yml
  app/Config/Exceptions.php
  system/Debug/BaseExceptionHandler.php
  system/Debug/ExceptionHandler.php
  system/Debug/ExceptionHandlerInterface.php
  system/Debug/Exceptions.php
  tests/system/Debug/ExceptionHandlerTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/general/errors.rst
  user_guide_src/source/general/errors/015.php
  user_guide_src/source/general/errors/016.php
  user_guide_src/source/general/errors/017.php
  user_guide_src/source/installation/upgrade_440.rst
Labels: enhancement, breaking change, 4.4

#7398 fix: CURLRequest - clear response headers between requests
  system/HTTP/CURLRequest.php
  system/Test/Mock/MockCURLRequest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
  user_guide_src/source/changelogs/v4.3.4.rst
Labels: bug

#7409 feat: HTML Table data keys synchronize order with Heading keys
  system/View/Table.php
  tests/system/View/TableTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/outgoing/table.rst
  user_guide_src/source/outgoing/table/019.php
  user_guide_src/source/outgoing/table/020.php
Labels: enhancement, 4.4

#7380 Clean router config
  app/Config/Routes.php
  app/Config/Routing.php
  system/Config/Routing.php
  system/Config/Services.php
  system/Router/RouteCollection.php
  tests/system/CodeIgniterTest.php
  tests/system/Commands/Utilities/Routes/FilterFinderTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/HTTP/RedirectResponseTest.php
  tests/system/RESTful/ResourceControllerTest.php
  tests/system/RESTful/ResourcePresenterTest.php
  tests/system/Router/AutoRouterImprovedTest.php
  tests/system/Router/RouteCollectionReverseRouteTest.php
  tests/system/Router/RouteCollectionTest.php
  tests/system/Router/RouterTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/045.php
  user_guide_src/source/incoming/routing/046.php
  user_guide_src/source/incoming/routing/049.php
  user_guide_src/source/incoming/routing/050.php
  user_guide_src/source/incoming/routing/051.php
  user_guide_src/source/installation/upgrade_440.rst
  user_guide_src/source/tutorial/static_pages.rst
  user_guide_src/source/tutorial/static_pages/003.php
Labels: enhancement, breaking change, 4.4

#7419 fix: [Auto Routing Improved] spark routes shows invalid routes
  system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReader.php
  tests/system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReaderTest.php
  tests/system/Commands/Utilities/Routes/AutoRouterImproved/Controllers/Home.php
  user_guide_src/source/incoming/routing.rst
Labels: bug

#7414 docs: improve auto routing
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#7416 feat: [Auto Routing Improved] Module Routing
  app/Config/Routing.php
  system/Commands/Utilities/Routes.php
  system/Commands/Utilities/Routes/AutoRouterImproved/AutoRouteCollector.php
  system/Router/AutoRouterImproved.php
  tests/system/Router/AutoRouterImprovedTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/incoming/routing.rst
Labels: enhancement, 4.4

#7423 docs: fix validation.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/024.php
  user_guide_src/source/libraries/validation/025.php
  user_guide_src/source/libraries/validation/036.php
  user_guide_src/source/libraries/validation/041.php
  user_guide_src/source/libraries/validation/043.php
Labels: documentation

#7425 docs: update the description associated with $this->validate()
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/controllers/004.php
  user_guide_src/source/incoming/controllers/005.php
  user_guide_src/source/installation/upgrade_440.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/001.php
  user_guide_src/source/libraries/validation/008.php
  user_guide_src/source/libraries/validation/043.php
  user_guide_src/source/libraries/validation/044.php
  user_guide_src/source/libraries/validation/045.php
Labels: documentation, 4.4

#7424 fix: Validation::check() does not accept array rules
  system/Validation/Validation.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/upgrade_440.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/012.php
Labels: bug, 4.4

#7429 feat: add ValidationInterface::getValidated()
  system/Validation/Validation.php
  system/Validation/ValidationInterface.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/upgrade_440.rst
Labels: enhancement, breaking change, 4.4

#7427 docs: update News Tutorial
  user_guide_src/source/images/tutorial9.png
  user_guide_src/source/tutorial/create_news_items.rst
  user_guide_src/source/tutorial/create_news_items/002.php
  user_guide_src/source/tutorial/create_news_items/004.php
  user_guide_src/source/tutorial/create_news_items/005.php
  user_guide_src/source/tutorial/create_news_items/006.php
  user_guide_src/source/tutorial/index.rst
  user_guide_src/source/tutorial/news_section.rst
  user_guide_src/source/tutorial/news_section/003.php
  user_guide_src/source/tutorial/news_section/006.php
  user_guide_src/source/tutorial/news_section/008.php
  user_guide_src/source/tutorial/static_pages.rst
  user_guide_src/source/tutorial/static_pages/003.php
Labels: documentation, 4.4

#7180 docs: define new term "Route path"
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/general/urls.rst
Labels: documentation

#7443 fix: remove $insertID in make:model template
  system/Commands/Generators/Views/model.tpl.php
Labels: bug

#7450 docs: Add the notice to `redirect()->to()` function in user guide.
  user_guide_src/source/general/common_functions.rst
Labels: documentation

#7445 fix: redirect status code
  system/HTTP/RedirectResponse.php
  system/HTTP/ResponseTrait.php
  tests/system/CodeIgniterTest.php
  tests/system/HTTP/ResponseTest.php
  user_guide_src/source/changelogs/v4.3.4.rst
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/installation/upgrade_434.rst
  user_guide_src/source/outgoing/response.rst
  user_guide_src/source/outgoing/response/028.php
  user_guide_src/source/outgoing/response/029.php
  user_guide_src/source/outgoing/response/030.php
  user_guide_src/source/outgoing/response/031.php
  user_guide_src/source/outgoing/response/032.php
Labels: bug, breaking change

#7449 docs: improve database driver description
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/database/helpers.rst
  user_guide_src/source/intro/requirements.rst
Labels: documentation

#7454 docs: improve description on Env Vars and Config values
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/database/configuration/009.php
  user_guide_src/source/general/configuration.rst
Labels: documentation

#7457 docs: fix view_cells.rst
  user_guide_src/source/outgoing/view_cells.rst
Labels: documentation

#7371 fix: [SQLite3][Postgres][SQLSRV][OCI8] Forge::modifyColumn() changes NULL constraint incorrectly
  system/Database/Forge.php
  system/Database/OCI8/Forge.php
  system/Database/Postgre/Forge.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Table.php
  tests/_support/MigrationTestMigrations/Database/Migrations/2018-01-24-102301_Some_migration.php
  tests/system/Commands/Database/MigrateStatusTest.php
  tests/system/Database/DatabaseTestCase/DatabaseTestCaseMigrationOnce1Test.php
  tests/system/Database/DatabaseTestCase/DatabaseTestCaseMigrationOnce2Test.php
  tests/system/Database/DatabaseTestCaseTest.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Migrations/MigrationRunnerTest.php
  user_guide_src/source/changelogs/v4.3.4.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge/026.php
  user_guide_src/source/installation/upgrade_434.rst
Labels: bug, database, breaking change

#7460 docs: improve View Cells Computed Properties sample
  user_guide_src/source/outgoing/view_cells.rst
Labels: documentation

#7458 fix: add missing 'make:cell' in app/Config/Generators.php
  app/Config/Generators.php
Labels: bug

#7466 Double // in url in URI Routing example (Using Named Routes)
  user_guide_src/source/incoming/routing/030.php
  user_guide_src/source/incoming/routing/047.php
Labels: documentation

#7468 docs: improve localization.rst
  app/Config/App.php
  user_guide_src/source/outgoing/localization.rst
Labels: documentation
