Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-11, with the labels that each got.

#8132 docs: improve view_cells.rst
  user_guide_src/source/outgoing/view_cells.rst
  user_guide_src/source/outgoing/view_cells/001.php
  user_guide_src/source/outgoing/view_cells/014.php
  user_guide_src/source/outgoing/view_cells/016.php
  user_guide_src/source/outgoing/view_cells/018.php
  user_guide_src/source/outgoing/view_cells/019.php
Labels: documentation

#8133 fix: make:cell help message
  system/Commands/Generators/CellGenerator.php
Labels: bug

#8110 feat: add `config:check` command to check Config vaules
  system/Commands/Utilities/ConfigCheck.php
  tests/system/Commands/Utilities/ConfigCheckTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/general/configuration.rst
Labels: enhancement, 4.5

#8124 fix: remove traditional validation rule param types (2/2)
  system/Validation/Rules.php
Labels: bug, breaking change, 4.5

#8125 fix: [DebugBar] dark mode timeline "Controller"
  admin/css/debug-toolbar/_theme-dark.scss
  contributing/css.md
  system/Debug/Toolbar/Views/toolbar.css
Labels: bug

#8129 fix: Validation rule with `*` gets incorrect values as dot array syntax
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.4.4.rst
  user_guide_src/source/installation/upgrade_444.rst
  user_guide_src/source/installation/upgrade_444/001.php
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/009.php
  user_guide_src/source/libraries/validation/010.php
Labels: bug, breaking change

#8119 feat: one generator command could have multiple views
  app/Config/Generators.php
  system/CLI/GeneratorTrait.php
  system/Commands/Generators/CellGenerator.php
  system/Commands/Generators/CommandGenerator.php
  system/Commands/Generators/ConfigGenerator.php
  system/Commands/Generators/ControllerGenerator.php
  system/Commands/Generators/EntityGenerator.php
  system/Commands/Generators/FilterGenerator.php
  system/Commands/Generators/MigrationGenerator.php
  system/Commands/Generators/ModelGenerator.php
  system/Commands/Generators/SeederGenerator.php
  system/Commands/Generators/ValidationGenerator.php
  tests/_support/Commands/LanguageCommand.php
  tests/_support/Commands/Unsuffixable.php
Labels: enhancement, 4.5

#8130 refactor: move ArrayHelper class
  phpstan-baseline.php
  system/Commands/Translation/LocalizationFinder.php
  system/Commands/Translation/LocalizationFinder/ArrayHelper.php
  system/Helpers/Array/ArrayHelper.php
  system/Helpers/array_helper.php
  tests/system/Helpers/Array/ArrayHelperRecursiveDiffTest.php
Labels: refactor, 4.5

#8135 docs: fix incorrect sample code in ajax.rst
  user_guide_src/source/general/ajax.rst
Labels: documentation

#8144 fix: PHPDoc types in controller.tpl.php
  system/Commands/Generators/Views/controller.tpl.php
Labels: bug

#8137 [4.5] test: fix ShowTableInfoTest::testDbTableShowsDBConfig()
  tests/system/Commands/Database/ShowTableInfoTest.php
Labels: testing, 4.5

#8139 refactor: remove deprecated ModelFactory
  phpstan-baseline.php
  system/Database/ModelFactory.php
  tests/system/Database/ModelFactoryTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8136 [4.5] config: update env
  env
Labels: 4.5

#7978 feat: improve CLI input testability
  system/CLI/CLI.php
  system/CLI/InputOutput.php
  system/Test/Mock/MockInputOutput.php
  tests/system/Commands/Database/ShowTableInfoMockIOTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/testing/cli.rst
  user_guide_src/source/testing/cli/001.php
  user_guide_src/source/testing/index.rst
  user_guide_src/source/testing/overview.rst
Labels: enhancement, 4.5

#8155 refactor: RedisHandler ttl() calls
  phpstan-baseline.php
  system/Cache/Handlers/RedisHandler.php
  system/Session/Handlers/RedisHandler.php
Labels: refactor

#8148 docs: add CSP page
  user_guide_src/source/outgoing/csp.rst
  user_guide_src/source/outgoing/csp/011.php
  user_guide_src/source/outgoing/csp/012.php
  user_guide_src/source/outgoing/csp/013.php
  user_guide_src/source/outgoing/index.rst
  user_guide_src/source/outgoing/response.rst
Labels: documentation

#8154 docs: fix validation.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/008.php
Labels: documentation

#8131 feat: add ArrayHelper::dotKeyExists()
  system/Helpers/Array/ArrayHelper.php
  tests/system/Helpers/Array/ArrayHelperDotKeyExistsTest.php
Labels: enhancement, 4.5

#8142 refactor: remove deprecated properties in Response
  rector.php
  system/HTTP/Response.php
  system/HTTP/ResponseTrait.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8158 [Testing] Use assertEqualsWithDelta() when possible
  tests/system/Config/BaseConfigTest.php
  tests/system/Database/Live/SelectTest.php
  tests/system/Entity/EntityTest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
  tests/system/HTTP/IncomingRequestTest.php
  tests/system/Session/Handlers/Database/RedisHandlerTest.php
  tests/system/Throttle/ThrottleTest.php
Labels: testing

#8122 fix: validation rule `matches` and `differs`
  system/Validation/Rules.php
  system/Validation/StrictRules/Rules.php
  tests/system/Validation/RulesTest.php
  tests/system/Validation/StrictRules/RulesTest.php
  user_guide_src/source/changelogs/v4.4.4.rst
  user_guide_src/source/installation/upgrade_444.rst
Labels: bug, breaking change

#8145 fix: `@return` in filter.tpl.php
  system/Commands/Generators/Views/filter.tpl.php
Labels: bug

#8160 docs: add warning to `getVar()`
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8161 fix: when request body is `0`, $body will be null
  phpstan-baseline.php
  system/HTTP/IncomingRequest.php
  tests/system/HTTP/IncomingRequestTest.php
Labels: bug

#8164 docs: add warning about Cookie based CSRF protection
  user_guide_src/source/libraries/security.rst
Labels: documentation

#8165 docs: add explanation about redirect and Cookies/Headers
  user_guide_src/source/outgoing/response.rst
  user_guide_src/source/outgoing/response/031.php
  user_guide_src/source/outgoing/response/034.php
  user_guide_src/source/outgoing/response/035.php
Labels: documentation

#8166 docs: add warning on CSRF cookie and redirect()
  user_guide_src/source/libraries/security.rst
Labels: documentation

#8138 [4.5] refactor: fix types
  phpstan-baseline.php
  system/CLI/CLI.php
  system/Commands/Database/MigrateStatus.php
  system/Database/MigrationRunner.php
  system/Session/Handlers/RedisHandler.php
  system/Test/CIUnitTestCase.php
  system/Validation/Validation.php
Labels: refactor, 4.5

#8167 fix: `spark routes` outputs <unknown> only when {locale} with `useSupportedLocalesOnly(true)`
  system/Commands/Utilities/Routes/SampleURIGenerator.php
  tests/system/Commands/Utilities/Routes/SampleURIGeneratorTest.php
Labels: bug

#8177 docs: [Validation] make it clear these rules accept only ASCII alphabets
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8169 docs: add warning to validate() in controller
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/controllers/006.php
Labels: documentation

#8170 docs: fix incomingrequest.rst and note to getVar()
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/incoming/incomingrequest/008.php
  user_guide_src/source/incoming/incomingrequest/010.php
  user_guide_src/source/incoming/incomingrequest/014.php
  user_guide_src/source/incoming/incomingrequest/027.php
  user_guide_src/source/incoming/incomingrequest/028.php
  user_guide_src/source/incoming/incomingrequest/029.php
  user_guide_src/source/incoming/incomingrequest/030.php
  user_guide_src/source/incoming/incomingrequest/031.php
  user_guide_src/source/incoming/incomingrequest/041.php
  user_guide_src/source/incoming/incomingrequest/042.php
  user_guide_src/source/incoming/incomingrequest/043.php
  user_guide_src/source/incoming/incomingrequest/044.php
  user_guide_src/source/incoming/incomingrequest/045.php
Labels: documentation

#8171 docs: add notes to not recommened methods in routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#8172 docs: use validateData() instead of validate() in Tutorial
  user_guide_src/source/tutorial/create_news_items.rst
  user_guide_src/source/tutorial/create_news_items/005.php
Labels: documentation

#8173 fix: Undefined array key error in `spark db:table`
  system/Commands/Database/ShowTableInfo.php
Labels: bug

#8174 docs: add notes to not recommened withRequest()
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8178 docs: make note for `spark routes` and filters more accurate
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#8179 docs: add explanation for setting cookies/headers
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/outgoing/response.rst
Labels: documentation

#8193 refactor: replace non-boolean if conditions in Model
  phpstan-baseline.php
  system/BaseModel.php
  system/Model.php
  user_guide_src/source/models/model.rst
Labels: refactor

#8183 docs: add note to not recommended "Auto Routing (Legacy)"
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#8184 docs: add note to not recommended `CURLRequest::$shareOptions`
  user_guide_src/source/libraries/curlrequest.rst
Labels: documentation

#8185 docs: add note to not recommended Traditional Validation Rules
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8189 docs: add missing core classes
  user_guide_src/source/extending/core_classes.rst
Labels: documentation

#8196 test: update tests to use SiteURI
  tests/system/API/ResponseTraitTest.php
  tests/system/Cache/ResponseCacheTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/ControllerTest.php
  tests/system/Filters/InvalidCharsTest.php
  tests/system/HTTP/IncomingRequestDetectingTest.php
  tests/system/HTTP/IncomingRequestTest.php
  tests/system/Helpers/CookieHelperTest.php
  tests/system/Pager/PagerTest.php
  tests/system/RESTful/ResourceControllerTest.php
  tests/system/Security/SecurityCSRFCookieRandomizeTokenTest.php
  tests/system/Security/SecurityCSRFSessionRandomizeTokenTest.php
  tests/system/Security/SecurityCSRFSessionTest.php
  tests/system/Security/SecurityTest.php
  tests/system/Validation/ValidationTest.php
Labels: testing

#8198 docs: add missing `get` in method name in Auto Routing Improved
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#8199 docs: add about Controller returns string/Response
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/installation/upgrade_controllers.rst
Labels: documentation

#8200 docs: improve Model
  user_guide_src/source/models/model.rst
Labels: documentation

#8223 docs: update outdated sample code in filesystem_helper
  user_guide_src/source/helpers/filesystem_helper/010.php
  user_guide_src/source/helpers/filesystem_helper/011.php
Labels: documentation

#8191 fix: force_https() redirects to wrong URL when baseURL has subfolder
  system/Common.php
  tests/system/CommonFunctionsTest.php
Labels: bug

#8208 refactor: View classes to fix PHPStan errors
  phpstan-baseline.php
  system/View/Cell.php
  system/View/RendererInterface.php
Labels: refactor

#8153 fix: Validation raises TypeError when invalid JSON comes
  system/HTTP/Exceptions/HTTPException.php
  system/HTTP/IncomingRequest.php
  system/Language/en/HTTP.php
  tests/system/HTTP/IncomingRequestTest.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.4.4.rst
Labels: bug

#8195 fix: FilterTestTrait Undefined variable $filterClasses
  system/Test/FilterTestTrait.php
  tests/system/Test/FilterTestTraitTest.php
Labels: bug

#8210 fix: Image::save() causes error with webp
  system/Images/Handlers/GDHandler.php
  tests/_support/Images/rocket.png
  tests/system/Images/GDHandlerTest.php
Labels: bug

#8217 docs: make note for "Rules for File Uploads" stand out
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8218 chore: use MySQL 8.0 by default
  .github/workflows/test-phpunit.yml
Labels: github_actions

#8231 test: fix failed ValidationTest
  tests/system/Validation/ValidationTest.php
Labels: testing

#8216 fix issue where running FileLocator::getClassname() on a directory would cause a PHP error
  system/Autoloader/FileLocator.php
  tests/system/Autoloader/FileLocatorTest.php
Labels: bug

#8220 feat: add CSP clearDirective() to clear existing directive
  system/HTTP/ContentSecurityPolicy.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/outgoing/csp.rst
  user_guide_src/source/outgoing/csp/014.php
Labels: enhancement, 4.5

#8123 feat: [Validation] add `field_exists` rule
  system/Common.php
  system/Language/en/Validation.php
  system/Validation/Rules.php
  system/Validation/StrictRules/Rules.php
  system/Validation/Validation.php
  tests/system/Validation/RulesTest.php
  tests/system/Validation/StrictRules/RulesTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/libraries/validation.rst
Labels: enhancement, 4.5

#8186 fix: remove deprecated upper functionality in `Request::getMethod()`
  app/Config/Filters.php
  app/Views/errors/html/error_exception.php
  phpstan-baseline.php
  system/CodeIgniter.php
  system/Debug/Exceptions.php
  system/Debug/Toolbar.php
  system/Filters/Filters.php
  system/HTTP/CLIRequest.php
  system/HTTP/CURLRequest.php
  system/HTTP/IncomingRequest.php
  system/HTTP/Method.php
  system/HTTP/OutgoingRequest.php
  system/HTTP/OutgoingRequestInterface.php
  system/HTTP/Request.php
  system/HTTP/ResponseTrait.php
  system/Router/RouteCollection.php
  system/Security/Security.php
  system/Test/FeatureTestTrait.php
  system/Validation/Validation.php
  tests/system/CodeIgniterTest.php
  tests/system/Commands/Utilities/Routes/FilterFinderTest.php
  tests/system/Filters/FiltersTest.php
  tests/system/HTTP/CLIRequestTest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
  tests/system/HTTP/IncomingRequestTest.php
  tests/system/HTTP/OutgoingRequestTest.php
  tests/system/HTTP/RequestTest.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  tests/system/HomeTest.php
  tests/system/Router/RouteCollectionTest.php
  tests/system/Router/RouterTest.php
  tests/system/Test/ControllerTestTraitTest.php
  tests/system/Test/FeatureTestTraitTest.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/filters/008.php
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/incoming/incomingrequest/005.php
  user_guide_src/source/incoming/request.rst
  user_guide_src/source/incoming/request/003.php
  user_guide_src/source/incoming/routing/004.php
  user_guide_src/source/incoming/routing/033.php
  user_guide_src/source/installation/upgrade_415/001.php
  user_guide_src/source/installation/upgrade_450.rst
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/libraries/curlrequest/017.php
  user_guide_src/source/libraries/curlrequest/018.php
  user_guide_src/source/libraries/curlrequest/019.php
  user_guide_src/source/libraries/curlrequest/025.php
  user_guide_src/source/libraries/security/009.php
  user_guide_src/source/libraries/throttler/004.php
  user_guide_src/source/testing/feature/002.php
  user_guide_src/source/testing/feature/004.php
  user_guide_src/source/tutorial/create_news_items/001.php
Labels: bug, refactor, breaking change, 4.5

#8233 chore: [Psalm] workaround for UndefinedClass
  psalm_autoload.php
Labels: 4.5

#8228 docs: update sample code for Database Custom Result Objects
  user_guide_src/source/database/results/003.php
  user_guide_src/source/database/results/007.php
  user_guide_src/source/database/results/013.php
  user_guide_src/source/database/results/014.php
  user_guide_src/source/database/results/015.php
  user_guide_src/source/database/results/016.php
Labels: documentation

#8229 docs: change sample code in DB Events
  user_guide_src/source/database/events.rst
  user_guide_src/source/database/events/001.php
Labels: documentation

#8175 refactor: fix param types
  system/CLI/CLI.php
  system/Commands/Database/MigrateStatus.php
  tests/system/Models/InsertModelTest.php
Labels: refactor, 4.5

#8224 docs: improve filesystem_helper
  user_guide_src/source/helpers/filesystem_helper.rst
  user_guide_src/source/helpers/filesystem_helper/004.php
Labels: documentation

#8234 fix: make Request::getEnv() deprecated
  system/HTTP/RequestTrait.php
  user_guide_src/source/changelogs/v4.4.4.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/incoming/request.rst
Labels: bug, refactor

#8205 docs: update sample code in "Creating Core System Classes"
  user_guide_src/source/extending/core_classes/002.php
Labels: documentation, waiting for info

#8249 test: add tests for Model timestamp
  tests/_support/Models/UserTimestampModel.php
  tests/system/Models/TimestampModelTest.php
Labels: testing

#8255 fix: [Cache] Double prefix for increment in FileHandler
  system/Cache/Handlers/FileHandler.php
  tests/system/Cache/Handlers/FileHandlerTest.php
Labels: bug

#8251 docs: add missing Time::setTestNow()
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/testing/overview/021.php
Labels: documentation

#8259 docs: improve Entities
  user_guide_src/source/models/entities.rst
Labels: documentation

#8240 fix: use `addHeader()`
  app/Views/errors/html/error_exception.php
  deptrac.yaml
  system/Cache/ResponseCache.php
  system/Debug/Toolbar.php
  system/HTTP/CURLRequest.php
  system/HTTP/RedirectResponse.php
  system/HTTP/ResponseTrait.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
Labels: bug, 4.5

#8242 refactor: Validation rule field_exists
  system/Validation/Validation.php
Labels: refactor, 4.5

#8256 docs: improve pagination
  system/Pager/PagerRenderer.php
  user_guide_src/source/libraries/pagination.rst
Labels: documentation

#8270 refactor: fix TypeError in strict mode
  system/Commands/Database/ShowTableInfo.php
  system/Database/BaseConnection.php
  system/Database/BaseUtils.php
  system/Database/Postgre/Builder.php
  system/Database/SQLSRV/Connection.php
Labels: refactor, 4.5

#8267 docs: add about session table change in upgrading from 3.x
  user_guide_src/source/installation/upgrade_sessions.rst
Labels: documentation

#8276 docs: fix Database Utility Class `getXMLFromResult()`
  user_guide_src/source/database/utilities.rst
  user_guide_src/source/database/utilities/001.php
  user_guide_src/source/database/utilities/002.php
  user_guide_src/source/database/utilities/003.php
Labels: bug, documentation

#8277 docs: add DBUtils missing methods
  user_guide_src/source/database/utilities.rst
  user_guide_src/source/database/utilities/004.php
  user_guide_src/source/database/utilities/005.php
  user_guide_src/source/database/utilities/006.php
  user_guide_src/source/database/utilities/008.php
  user_guide_src/source/database/utilities/009.php
  user_guide_src/source/database/utilities/010.php
Labels: documentation
