Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-05, with the labels that each got.

#7302 test: Forge::modifyColumn() and null
  tests/system/Database/Live/ForgeTest.php
Labels: testing, database, 4.4

#7495 docs: remove incorrect @property in ResponseTrait
  system/API/ResponseTrait.php
Labels: bug

#7487 fix: directory separator from routing file.
  system/Router/RouteCollection.php
Labels: bug

#7492 fix: validation error when a closure is used in combination with permit_empty or if_exist rules
  system/Validation/Validation.php
  tests/system/Validation/RulesTest.php
  tests/system/Validation/StrictRules/RulesTest.php
  user_guide_src/source/changelogs/v4.3.5.rst
Labels: bug

#7438 feat: function array_group_by
  system/Helpers/array_helper.php
  tests/system/Helpers/ArrayHelperTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/helpers/array_helper.rst
  user_guide_src/source/helpers/array_helper/012.php
  user_guide_src/source/helpers/array_helper/013.php
  user_guide_src/source/helpers/array_helper/014.php
Labels: enhancement, 4.4

#7498 docs: improve dotenv file explanation
  user_guide_src/source/general/configuration.rst
  user_guide_src/source/installation/running.rst
Labels: documentation

#7507 docs: require PostgreSQL 7.4 or later
  user_guide_src/source/intro/requirements.rst
Labels: documentation

#7499 refactor: Entity variable
  system/Entity/Entity.php
Labels: refactor

#7503 fix: Session::stop() does not destroy session
  system/Session/Session.php
  user_guide_src/source/changelogs/v4.3.5.rst
  user_guide_src/source/installation/upgrade_435.rst
  user_guide_src/source/libraries/sessions.rst
  user_guide_src/source/libraries/sessions/038.php
Labels: bug, breaking change

#7481 fix: standardize behavior of `make:cell` and `Cells`
  app/Config/Generators.php
  system/CLI/GeneratorTrait.php
  system/Commands/Generators/CellGenerator.php
  system/View/Cells/Cell.php
  tests/_support/View/Cells/BadCell.php
  tests/system/Commands/CellGeneratorTest.php
  tests/system/View/ControlledCellTest.php
  user_guide_src/source/changelogs/v4.3.5.rst
  user_guide_src/source/cli/cli_generators.rst
  user_guide_src/source/outgoing/view_cells.rst
Labels: bug

#7488 fix: PostgreSQL getVersion() logic
  phpstan-baseline.neon.dist
  system/Database/Postgre/Connection.php
Labels: bug, database, tests needed

#7509 fix: PostgreSQL getVersion() output
  system/Database/Postgre/Connection.php
  tests/system/Database/Live/GetVersionTest.php
Labels: bug, testing, database

#7511 test: fix Model Validation tests
  tests/_support/Models/ValidErrorsModel.php
  tests/_support/Models/ValidModel.php
  tests/system/Models/ValidationModelTest.php
Labels: testing

#7500 [4.4] Fix output buffering
  system/CodeIgniter.php
  system/Debug/BaseExceptionHandler.php
  system/Debug/Exceptions.php
  system/HTTP/DownloadResponse.php
  system/Test/FeatureTestTrait.php
  tests/system/CodeIgniterTest.php
  tests/system/Test/FeatureTestTraitTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: bug, 4.4

#7506 feat: `GDHandler` make `WebP` with option quality
  system/Images/Handlers/GDHandler.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/libraries/images.rst
Labels: enhancement, 4.4

#7525 refactor: remove unneeded code in IncomingRequest
  phpstan-baseline.neon.dist
  system/HTTP/IncomingRequest.php
Labels: refactor
