Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-08, with the labels that each got.

#7727 chore: Add `composer-normalize` to auto-review testing of composer.json
  .github/workflows/test-autoreview.yml
  admin/framework/composer.json
  admin/starter/composer.json
  composer.json
  tests/system/AutoReview/ComposerJsonTest.php
Labels: github_actions

#7757 docs: remove `>` in console command
  contributing/documentation.rst
  user_guide_src/source/_static/css/citheme.css
  user_guide_src/source/_static/css/citheme_dark.css
  user_guide_src/source/cli/cli_commands.rst
  user_guide_src/source/cli/cli_generators.rst
  user_guide_src/source/cli/cli_overview.rst
  user_guide_src/source/cli/spark_commands.rst
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/dbmgmt/db_commands.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/migration.rst
  user_guide_src/source/dbmgmt/seeds.rst
  user_guide_src/source/extending/composer_packages.rst
  user_guide_src/source/general/environments.rst
  user_guide_src/source/general/modules.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/running.rst
  user_guide_src/source/installation/troubleshooting.rst
  user_guide_src/source/installation/upgrade_420.rst
  user_guide_src/source/installation/upgrade_430.rst
  user_guide_src/source/installation/upgrade_431.rst
  user_guide_src/source/installation/upgrade_migrations.rst
  user_guide_src/source/libraries/caching.rst
  user_guide_src/source/libraries/publisher.rst
  user_guide_src/source/libraries/sessions.rst
  user_guide_src/source/outgoing/localization.rst
  user_guide_src/source/outgoing/view_cells.rst
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/tutorial/index.rst
  user_guide_src/source/tutorial/static_pages.rst
Labels: documentation

#7761 docs: add sub section "Choosing License"
  user_guide_src/source/extending/composer_packages.rst
Labels: documentation

#7747 Return signatures of Autoloader's loaders should be void
  phpstan-baseline.php
  system/Autoloader/Autoloader.php
  tests/system/Autoloader/AutoloaderTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: bug, breaking change, 4.4

#7670 fix: remove instantiation of Response in `Services::exceptions()`
  system/Config/BaseService.php
  system/Config/Services.php
  system/Debug/Exceptions.php
  tests/system/Config/ServicesTest.php
  tests/system/Debug/ExceptionsTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: bug, breaking change, 4.4

#7758 fix: [Pager] knocks down variables for View
  phpstan-baseline.php
  system/Config/Services.php
  system/Pager/Pager.php
  system/View/View.php
Labels: bug

#7763 Remove trimming logic of `Autoloader::loadClass()`
  system/Autoloader/Autoloader.php
  tests/system/Autoloader/AutoloaderTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: refactor

#7774 test: fix data provider method names
  tests/system/HTTP/SiteURITest.php
  tests/system/Helpers/ArrayHelperTest.php
Labels: testing, 4.4

#7781 fix: [4.4] merge
  phpstan-baseline.php
  tests/system/HTTP/SiteURITest.php
  tests/system/Helpers/ArrayHelperTest.php
  tests/system/View/TableTest.php
Labels: 4.4

#7760 refactor: remove Model::$tempPrimaryKeyValue
  system/BaseModel.php
  system/Model.php
Labels: refactor

#7785 test: restore TimeTest::testUnserializeTimeObject()
  tests/system/I18n/TimeLegacyTest.php
  tests/system/I18n/TimeTest.php
Labels: testing

#7786 Remove unused cast on RedisHandler
  system/Session/Handlers/RedisHandler.php
Labels: refactor

#7778 docs: improve cookies
  system/Cookie/Cookie.php
  system/Helpers/cookie_helper.php
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/libraries/cookies.rst
  user_guide_src/source/libraries/cookies/004.php
  user_guide_src/source/libraries/cookies/006.php
  user_guide_src/source/libraries/cookies/017.php
  user_guide_src/source/libraries/cookies/018.php
  user_guide_src/source/outgoing/response.rst
Labels: documentation

#7799 docs: improve changelogs v4.4.0
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: documentation

#7787 fix: [Model] updateBatch() may generate invalid SQL statement
  system/BaseModel.php
  tests/system/Models/UpdateModelTest.php
Labels: bug, database

#7805 docs: used default methods for view cell
  user_guide_src/source/outgoing/view_cells/018.php
  user_guide_src/source/outgoing/view_cells/019.php
Labels: documentation

#7804 docs: improve testing/response.rst
  user_guide_src/source/testing/response.rst
  user_guide_src/source/testing/response/018.php
  user_guide_src/source/testing/response/019.php
  user_guide_src/source/testing/response/020.php
  user_guide_src/source/testing/response/021.php
  user_guide_src/source/testing/response/022.php
  user_guide_src/source/testing/response/023.php
  user_guide_src/source/testing/response/024.php
  user_guide_src/source/testing/response/025.php
  user_guide_src/source/testing/response/026.php
  user_guide_src/source/testing/response/027.php
  user_guide_src/source/testing/response/028.php
  user_guide_src/source/testing/response/029.php
Labels: documentation

#7807 docs: fix entities.rst
  user_guide_src/source/models/entities.rst
Labels: documentation

#7800 refactor: move callExit() to index.php
  public/index.php
  system/CodeIgniter.php
  system/Test/Mock/MockCodeIgniter.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/upgrade_440.rst
Labels: refactor, breaking change, 4.4

#7826 [4.4] style: update cs
  system/Router/AutoRouterImproved.php
  system/Router/RouteCollection.php
  tests/system/ControllerTest.php
Labels: 4.4

#7282 rework: URI creation and URL helper
  system/Config/BaseService.php
  system/Config/Services.php
  system/HTTP/IncomingRequest.php
  system/HTTP/SiteURI.php
  system/HTTP/SiteURIFactory.php
  system/HTTP/URI.php
  system/Helpers/url_helper.php
  system/Test/ControllerTestTrait.php
  system/Test/FeatureTestTrait.php
  tests/_support/Config/Services.php
  tests/system/CodeIgniterTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/HTTP/IncomingRequestTest.php
  tests/system/HTTP/NegotiateTest.php
  tests/system/HTTP/RedirectResponseTest.php
  tests/system/HTTP/ResponseTest.php
  tests/system/HTTP/SiteURIFactoryDetectRoutePathTest.php
  tests/system/HTTP/SiteURIFactoryTest.php
  tests/system/HTTP/SiteURITest.php
  tests/system/HTTP/URITest.php
  tests/system/Helpers/FormHelperTest.php
  tests/system/Helpers/HTMLHelperTest.php
  tests/system/Helpers/URLHelper/CurrentUrlTest.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  tests/system/Helpers/URLHelper/SiteUrlTest.php
  tests/system/Test/ControllerTestTraitTest.php
  tests/system/Test/FeatureTestTraitTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/incoming/incomingrequest/021.php
  user_guide_src/source/incoming/incomingrequest/022.php
  user_guide_src/source/installation/upgrade_440.rst
  user_guide_src/source/libraries/uri.rst
  user_guide_src/source/libraries/uri/001.php
  user_guide_src/source/libraries/uri/002.php
  user_guide_src/source/libraries/uri/003.php
  user_guide_src/source/libraries/uri/005.php
  user_guide_src/source/testing/controllers.rst
Labels: bug, refactor, breaking change, 4.4

#7832 [GitHub Actions] Fix GPG key to trust in deploy api docs action
  .github/workflows/deploy-apidocs.yml
Labels: github_actions

#7827 docs: improve filters.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/filters/008.php
Labels: documentation

#7815 fix: instances of Validation rules are incremented each time `run()` is executed
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
Labels: bug

#7833 [GitHub Actions] Fix `deploy-apidocs.yml` for phpDocumentor usage
  .github/workflows/deploy-apidocs.yml
Labels: github_actions

#7834 [GitHub Actions] Use `--trust-gpg-keys` option and remove `--global` option for phpDocumentor installation
  .github/workflows/deploy-apidocs.yml
Labels: github_actions

#7696 feat: [Factories] Config caching
  psalm-baseline.xml
  public/index.php
  spark
  system/Cache/FactoriesCache.php
  system/Cache/FactoriesCache/FileVarExportHandler.php
  system/CodeIgniter.php
  system/Config/BaseConfig.php
  system/Config/Factories.php
  system/Config/Services.php
  system/HTTP/UserAgent.php
  system/Modules/Modules.php
  tests/system/Cache/FactoriesCacheFileHandlerTest.php
  tests/system/Cache/FactoriesCacheFileVarExportHandlerTest.php
  tests/system/Config/FactoriesTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/installation/upgrade_440.rst
Labels: enhancement, 4.4

#7816 docs: fix sample code for `set_checkbox()`
  user_guide_src/source/helpers/form_helper.rst
Labels: documentation

#7823 fix: filter except empty
  system/Filters/Filters.php
  tests/system/Filters/FiltersTest.php
  user_guide_src/source/changelogs/v4.3.8.rst
Labels: bug

#7838 docs: add how to use next minor version branch
  user_guide_src/source/installation/installing_composer.rst
Labels: documentation

#7818 fix: `set_checkbox()` checks unchecked checkbox
  system/Helpers/form_helper.php
  tests/system/Helpers/FormHelperTest.php
Labels: bug

#7844 docs: fixed typo in view-parser
  user_guide_src/source/outgoing/view_parser.rst
  user_guide_src/source/outgoing/view_parser/012.php
  user_guide_src/source/outgoing/view_parser/023.php
Labels: documentation

#7840 [4.4] docs: improve description for Factories BC
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/upgrade_440.rst
Labels: documentation, 4.4

#7863 docs: changelog and upgrade for v4.4.1
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.4.1.rst
  user_guide_src/source/installation/upgrade_441.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation, 4.4

#7862 docs: add missing Config updates for Hot Reloading
  user_guide_src/source/installation/upgrade_440.rst
Labels: bug, documentation, 4.4

#7871 fix: auto route legacy does not work
  system/Router/RouteCollection.php
  tests/system/Test/FeatureTestTraitTest.php
Labels: bug, 4.4

#7868 fix: Factories may not return shared instance
  system/Config/Factories.php
  tests/system/Config/FactoriesTest.php
Labels: bug, 4.4

#7872 fix: replace `config(DocTypes::class)` with `new DocTypes()`
  system/Common.php
  system/Typography/Typography.php
  tests/system/CommonFunctionsTest.php
  tests/system/Helpers/FormHelperTest.php
  tests/system/Helpers/HTMLHelperTest.php
Labels: bug, 4.4
