Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-03, with the labels that each got.

#7307 fix: incorrect metadata querying of Redis cache
  system/Cache/Handlers/RedisHandler.php
  tests/system/Cache/Handlers/AbstractHandlerTest.php
  tests/system/Cache/Handlers/RedisHandlerTest.php
Labels: bug

#7317 fix: [Email] add missing TLS 1.3 support
  system/Email/Email.php
  user_guide_src/source/changelogs/v4.3.3.rst
Labels: bug

#7310 Remove Autoloader::sanitizeFilename() checking
  system/Autoloader/Autoloader.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/installing_manual.rst
Labels: 4.4

#7314 docs: add note for CSP and Debug Toolbar
  user_guide_src/source/outgoing/response.rst
Labels: documentation

#7301 feat: [SQLSRV] getFieldData() supports nullable
  system/Database/SQLSRV/Connection.php
  tests/system/Database/Live/ForgeTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/database/metadata.rst
Labels: enhancement, database, 4.4

#7309 fix: can't change and override valid locales
  system/HTTP/IncomingRequest.php
  tests/system/HTTP/IncomingRequestTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/outgoing/localization.rst
Labels: bug, 4.4

#7333 docs: add warning to random_string()
  user_guide_src/source/helpers/text_helper.rst
Labels: bug, documentation

#7336 fix: random_string() numeric
  system/Helpers/text_helper.php
  user_guide_src/source/changelogs/v4.3.3.rst
  user_guide_src/source/helpers/text_helper.rst
Labels: bug

#7342 docs: add note for addColumn() and NULL
  user_guide_src/source/dbmgmt/forge.rst
Labels: bug, documentation

#7343 docs: update Validation
  user_guide_src/source/helpers/form_helper.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/042.php
Labels: documentation

#7348 docs: fix out of dated description in autoloader.rst
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/concepts/autoloader/001.php
  user_guide_src/source/concepts/autoloader/002.php
  user_guide_src/source/concepts/autoloader/003.php
Labels: documentation

#7351 docs: update methodspoofing.rst
  user_guide_src/source/incoming/methodspoofing.rst
Labels: documentation

#7347 fix: respondNoContent() returns Kint script in development mode
  system/API/ResponseTrait.php
  tests/system/API/ResponseTraitTest.php
Labels: bug

#7341 fix: use first exception in exceptionHandler()
  system/Debug/Exceptions.php
Labels: bug

#7344 fix: random_string() alpha alnum nozero
  system/Helpers/text_helper.php
  user_guide_src/source/changelogs/v4.3.3.rst
  user_guide_src/source/helpers/text_helper.rst
Labels: bug

#7353 fix: site_url() does not support protocol-relative links
  system/Helpers/url_helper.php
  tests/system/Helpers/URLHelper/SiteUrlTest.php
Labels: bug

#7354 doc: change logo (svg)
  user_guide_src/source/_static/ci-logo-text.png
  user_guide_src/source/_static/ci-logo-text.svg
  user_guide_src/source/_static/ci-logo.png
  user_guide_src/source/conf.py
Labels: documentation

#7356 docs: add uri_string() BC in v4.3.2
  CHANGELOG.md
  user_guide_src/source/changelogs/v4.3.2.rst
  user_guide_src/source/changelogs/v4.3.3.rst
  user_guide_src/source/helpers/url_helper.rst
  user_guide_src/source/installation/upgrade_432.rst
Labels: bug, documentation

#7359 docs: Improve view_renderer.rst
  user_guide_src/source/outgoing/view_renderer.rst
Labels: documentation

#7361 fix: Cache FileHandler error when there is a folder in cache dir
  system/Cache/Handlers/FileHandler.php
Labels: bug

#7367 docs: improve seeds.rst
  user_guide_src/source/dbmgmt/seeds.rst
Labels: documentation

#7368 docs: add sample command with namespace for Windows
  user_guide_src/source/dbmgmt/migration.rst
  user_guide_src/source/general/modules.rst
Labels: documentation

#7375 test: Temporary solution for PHP 8.2.4 SIGSEGV
  tests/system/I18n/TimeLegacyTest.php
  tests/system/I18n/TimeTest.php
Labels: testing

#7379 docs: improve getResult() in database/results.rst
  user_guide_src/source/database/index.rst
  user_guide_src/source/database/results.rst
Labels: documentation

#7370 refactor: improve error message for HTTP.invalidHTTPProtocol
  system/HTTP/Exceptions/HTTPException.php
  system/HTTP/MessageTrait.php
  system/Language/en/HTTP.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: 4.4

#7383 docs: update CSP description
  user_guide_src/source/outgoing/response.rst
  user_guide_src/source/outgoing/response/012.php
  user_guide_src/source/outgoing/response/013.php
Labels: documentation

#7373 docs: improve email.rst
  user_guide_src/source/libraries/email.rst
Labels: documentation

#7363 docs: deprecate random_string() basic,md5,sha1
  system/Helpers/text_helper.php
  user_guide_src/source/changelogs/v4.3.4.rst
  user_guide_src/source/helpers/text_helper.rst
Labels: documentation
