Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-02, with the labels that each got.

#7201 docs: improve `redirect()` explanation
  system/Common.php
  system/HTTP/RedirectResponse.php
  system/Router/RouteCollection.php
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/general/common_functions/005.php
  user_guide_src/source/general/common_functions/006.php
  user_guide_src/source/general/common_functions/013.php
  user_guide_src/source/general/common_functions/014.php
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: documentation

#7202 docs: add "Loading a Class in Sub-directories" in factories.rst
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/concepts/factories/013.php
Labels: documentation

#7204 docs: improve uploaded_files.rst
  user_guide_src/source/libraries/uploaded_files.rst
  user_guide_src/source/libraries/uploaded_files/022.php
Labels: documentation

#7173 docs: add about removal of deprecated Config items
  user_guide_src/source/installation/backward_compatibility_notes.rst
Labels: documentation

#7203 docs: add about Factories in upgrade_4xx
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: documentation

#7209 docs: update validation.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/034.php
  user_guide_src/source/libraries/validation/035.php
  user_guide_src/source/libraries/validation/037.php
Labels: documentation

#7210 docs: improve localization.rst
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/outgoing/localization.rst
  user_guide_src/source/outgoing/localization/001.php
  user_guide_src/source/outgoing/localization/002.php
  user_guide_src/source/outgoing/localization/003.php
Labels: documentation

#7217 test: replace deprecated expectErrorMessage()
  tests/system/Entity/EntityTest.php
Labels: testing

#7207 Feature: New method DownloadResponse::inline()
  system/HTTP/DownloadResponse.php
  tests/system/HTTP/DownloadResponseTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/outgoing/response.rst
  user_guide_src/source/outgoing/response/028.php
Labels: enhancement, 4.4

#7220 test: replace deprecated assertObjectHasAttribute()
  psalm-baseline.xml
  rector.php
  tests/system/Commands/BaseCommandTest.php
  tests/system/Config/BaseConfigTest.php
  tests/system/Entity/EntityTest.php
  tests/system/Log/Handlers/ChromeLoggerHandlerTest.php
  tests/system/Test/FabricatorTest.php
Labels: testing

#7228 A spelling correction in model.html
  user_guide_src/source/models/model.rst
Labels: documentation

#7222 docs: add how to download previous version user guide
  user_guide_src/source/installation/index.rst
Labels: documentation

#7213 feat: add `--host` option to `spark routes`
  psalm-baseline.xml
  system/Commands/Utilities/Routes.php
  tests/_support/Config/Routes.php
  tests/system/Commands/RoutesTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/incoming/routing.rst
Labels: enhancement, 4.4

#7223 docs: improve query_builder.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/query_builder/092.php
  user_guide_src/source/database/query_builder/115.php
  user_guide_src/source/database/query_builder/120.php
Labels: documentation, database

#7212 fix: stack trace displayed when Exception handler runs out of memory is useless
  system/Debug/Exceptions.php
Labels: bug

#7226 fix: support for display of error message using wildcard (*)
  system/Helpers/form_helper.php
  tests/system/Helpers/FormHelperTest.php
Labels: bug

#7199 fix: routing behavior when $uriProtocol is QUERY_STRING
  phpstan-baseline.neon.dist
  system/HTTP/IncomingRequest.php
  system/Router/Router.php
  system/Router/RouterInterface.php
  tests/system/HTTP/IncomingRequestDetectingTest.php
  tests/system/Router/RouterTest.php
Labels: bug

#7221 refactor: remove Cookie config items in Config\App
  app/Config/App.php
  app/Config/Cookie.php
  system/HTTP/Response.php
  system/Helpers/cookie_helper.php
  system/Security/Security.php
  system/Session/Handlers/BaseHandler.php
  system/Session/Session.php
  system/Test/Mock/MockAppConfig.php
  system/Test/Mock/MockCLIConfig.php
  tests/system/API/ResponseTraitTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/HTTP/ResponseTest.php
  tests/system/Security/SecurityCSRFSessionRandomizeTokenTest.php
  tests/system/Security/SecurityCSRFSessionTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/upgrade_440.rst
  user_guide_src/source/installation/upgrading.rst
Labels: refactor, 4.4

#7215 fix: site_url() does not use alt Config and refactoring
  system/HTTP/IncomingRequest.php
  system/HTTP/URI.php
  system/Helpers/url_helper.php
  tests/system/HTTP/URITest.php
  tests/system/Helpers/URLHelper/CurrentUrlTest.php
  tests/system/Helpers/URLHelper/SiteUrlTest.php
  user_guide_src/source/helpers/url_helper.rst
Labels: bug, refactor

#7241 docs: improve environments.rst
  user_guide_src/source/general/environments.rst
Labels: documentation

#7242 docs: fix uri.rst
  user_guide_src/source/libraries/uri.rst
  user_guide_src/source/libraries/uri/016.php
Labels: documentation

#7208 feat: add `Entity::injectRawData()` to avoid name collision
  system/Database/MySQLi/Result.php
  system/Database/OCI8/Result.php
  system/Database/Postgre/Result.php
  system/Database/SQLSRV/Result.php
  system/Database/SQLite3/Result.php
  system/Entity/Entity.php
  tests/system/Entity/EntityTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: enhancement, 4.4

#7224 refactor: Update PHPDoc Common::config
  system/Common.php
Labels: refactor

#7243 docs: extract file_collections.rst from files.rst
  user_guide_src/source/libraries/file_collections.rst
  user_guide_src/source/libraries/files.rst
  user_guide_src/source/libraries/index.rst
Labels: documentation

#7248 docs: improve before filters explanation
  user_guide_src/source/incoming/filters.rst
Labels: documentation

#7258 add missing @method having() in Model
  system/Model.php
Labels: bug

#7251 fix: URI::setSegment() accepts the last +2 segment without Exception
  system/HTTP/URI.php
  tests/system/HTTP/URITest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/upgrade_440.rst
  user_guide_src/source/installation/upgrade_440/002.php
Labels: bug, breaking change, 4.4

#7232 refactor: deprecate $request and $response in Exceptions::__construct()
  rector.php
  system/Config/Services.php
  system/Debug/Exceptions.php
  tests/system/Helpers/FormHelperTest.php
Labels: refactor, 4.4

#7276 docs: fix upgrade_432.rst
  user_guide_src/source/installation/upgrade_432.rst
Labels: documentation

#7274 docs: remove duplicated `for` in upgrade_430.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: documentation

#7289 docs: fix $systemDirectory path in existing project.
  user_guide_src/source/installation/installing_composer.rst
Labels: documentation

#7272 docs: Typographic correction in forge.rst
  user_guide_src/source/dbmgmt/forge.rst
Labels: documentation

#7288 test: fix out-of-dated test code in CodeIgniterTest
  tests/system/CodeIgniterTest.php
Labels: testing

#7279 docs: improve filters.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/filters/003.php
  user_guide_src/source/incoming/filters/004.php
  user_guide_src/source/incoming/filters/005.php
  user_guide_src/source/incoming/filters/006.php
  user_guide_src/source/incoming/filters/007.php
  user_guide_src/source/incoming/filters/008.php
  user_guide_src/source/incoming/filters/009.php
  user_guide_src/source/incoming/filters/011.php
Labels: documentation

#7280 docs: fix message.rst and improve content_negotiation.rst
  user_guide_src/source/incoming/content_negotiation.rst
  user_guide_src/source/incoming/message.rst
Labels: bug, documentation

#7273 fix: Encryption CI3 compatibility
  app/Config/Encryption.php
  tests/system/Encryption/EncryptionTest.php
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.3.3.rst
  user_guide_src/source/installation/upgrade_433.rst
  user_guide_src/source/installation/upgrading.rst
  user_guide_src/source/libraries/encryption.rst
  user_guide_src/source/libraries/encryption/010.php
  user_guide_src/source/libraries/encryption/013.php
Labels: bug

#7265 Enhance: [MySQLi] use MYSQLI_OPT_INT_AND_FLOAT_NATIVE.
  app/Config/Database.php
  system/Database/MySQLi/Connection.php
  tests/system/Database/Live/MySQLi/NumberNativeTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/database/configuration.rst
Labels: enhancement, database, 4.4

#7287 docs: add note for case-sensitive file systems
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/installation/running.rst
  user_guide_src/source/installation/troubleshooting.rst
  user_guide_src/source/tutorial/static_pages.rst
Labels: documentation

#7233 docs: add note for URI Segments
  user_guide_src/source/libraries/uri.rst
Labels: documentation

#7267 fix: incorrect segment number in URI::getSegment() exception message
  system/HTTP/URI.php
Labels: bug, 4.4

#7277 fix: [QueryBuilder] RawSql causes error when using like() and countAllResults()
  system/Database/BaseBuilder.php
  tests/system/Database/Live/LikeTest.php
Labels: bug, database

#7303 docs: fix merge mistake in filters.rst
  user_guide_src/source/incoming/filters.rst
Labels: documentation, 4.4

#7293 test: add tests in URITest
  tests/system/HTTP/URITest.php
Labels: testing

#7299 refactor: consistent header name case
  system/HTTP/DownloadResponse.php
  system/HTTP/ResponseTrait.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
  user_guide_src/source/concepts/http/002.php
Labels: refactor

#7298 docs: fix section title marks in restful.rst
  user_guide_src/source/incoming/restful.rst
Labels: documentation

#7300 docs: small improvements in request.rst
  user_guide_src/source/incoming/request.rst
Labels: documentation

#7297 refactor: use config(Cache::class) in CodeIgniter
  system/CodeIgniter.php
  tests/system/CodeIgniterTest.php
Labels: refactor, 4.4

#7306 Fix handling of null bytes in `Exceptions::renderBacktrace()`
  system/Debug/Exceptions.php
Labels: bug

#7292 docs: add note for URI::getSegment()
  user_guide_src/source/libraries/uri.rst
Labels: documentation

#7230 feat: add new setter/getter for Entity
  system/Entity/Entity.php
  tests/system/Entity/EntityTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/models/entities.rst
Labels: enhancement, 4.4
