Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-01, with the labels that each got.

#7044 Typo: Products to Helloworld
  user_guide_src/source/incoming/controllers/007.php
Labels: documentation

#7029 fix: Honeypot field appears when CSP is enabled
  app/Config/Honeypot.php
  system/Honeypot/Honeypot.php
  tests/system/Honeypot/HoneypotTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
  user_guide_src/source/libraries/honeypot.rst
  user_guide_src/source/libraries/honeypot/001.php
Labels: bug, 4.3

#7052 fix: define of STDOUT in CLI init() method
  system/CLI/CLI.php
Labels: bug

#7046 fix: change `getFile()` function of \CodeIgniter\Events\Events to static.
  system/Events/Events.php
  tests/system/Events/EventsTest.php
Labels: bug

#7054 chore: update Kint to 5.0.2
  system/ThirdParty/Kint/Parser/XmlPlugin.php
  system/ThirdParty/Kint/Zval/BlobValue.php
  system/ThirdParty/Kint/Zval/Representation/SplFileInfoRepresentation.php
  system/ThirdParty/Kint/init.php
  user_guide_src/source/changelogs/v4.3.0.rst
Labels: 4.3

#7053 fix: [Email] add fallback to use gethostname()
  system/Email/Email.php
Labels: bug

#7060 Fixing bug with legacy autoRoute when testing
  system/Router/Router.php
Labels: bug

#7061 docs: improve troubleshooting.rst
  user_guide_src/source/general/urls.rst
  user_guide_src/source/installation/troubleshooting.rst
Labels: documentation

#7015 feat: `spark routes` option to sort by handler
  system/Commands/Utilities/Routes.php
  tests/system/Commands/RoutesTest.php
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/incoming/routing.rst
Labels: enhancement, 4.3

#7063 docs: fix the expression of the validation rule "is_unique"
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#7078 fix: Email config in the .env doesn't appear as expected
  app/Config/Email.php
  system/Email/Email.php
Labels: bug

#7086 docs: improve upgrade_430.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: documentation

#7085 fix: TypeError in Validation is_unique/is_not_unique
  system/Validation/Rules.php
  system/Validation/StrictRules/Rules.php
  tests/system/Validation/DatabaseRelatedRulesTest.php
  tests/system/Validation/StrictRules/DatabaseRelatedRulesTest.php
Labels: bug, 4.3

#7083 fix: revert method name changed accidentally
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/SelectTest.php
Labels: bug, database, 4.3

#7091 test: add `@TODO` to incorrect `(:any)` usages
  tests/system/CommonFunctionsTest.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  tests/system/Router/RouteCollectionReverseRouteTest.php
  tests/system/Router/RouteCollectionTest.php
  tests/system/View/ParserPluginTest.php
Labels: testing

#7098 fix: handling float in Validation Strcit Rules (greater_than, greater_than_equal_to, less_than, less_than_equal_to)
  system/Validation/StrictRules/Rules.php
  tests/system/Validation/RulesTest.php
  tests/system/Validation/StrictRules/RulesTest.php
Labels: bug

#7100 docs: add missing instruction for Config/Exceptions in PHP 8.2
  system/Debug/Exceptions.php
  user_guide_src/source/installation/upgrade_430.rst
Labels: bug, documentation, 4.3

#7101 docs: add about Composer error in upgrade_430.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: documentation

#7102 docs: add missing backslashes
  user_guide_src/source/installation/upgrade_430.rst
Labels: documentation

#7110 docs: add explanation for Cookie $expire is `0`
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/outgoing/response.rst
Labels: documentation

#7111 docs: add esc() to echo $error
  user_guide_src/source/models/model/033.php
Labels: documentation

#7108 docs: update errors_list template
  user_guide_src/source/libraries/validation/030.php
Labels: documentation

#7107 fix: Call to undefined method Composer\InstalledVersions::getAllRawData() error
  system/Autoloader/Autoloader.php
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: bug, 4.3

#7116 docs: fix sessions.rst
  user_guide_src/source/libraries/sessions.rst
  user_guide_src/source/libraries/sessions/039.php
  user_guide_src/source/libraries/sessions/041.php
  user_guide_src/source/libraries/sessions/042.php
Labels: documentation

#7103 docs: fix incorrect sample code in view_parser
  user_guide_src/source/outgoing/view_parser.rst
  user_guide_src/source/outgoing/view_parser/008.php
  user_guide_src/source/outgoing/view_parser/009.php
  user_guide_src/source/outgoing/view_parser/010.php
Labels: bug, documentation

#7119 docs: add missing items in upgrade_430.rst/v4.3.0.rst
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/installation/upgrade_430.rst
Labels: bug, documentation

#7139 docs: fix out of date sample command in modules.rst
  user_guide_src/source/general/modules.rst
Labels: documentation

#7137 docs: use Request::is() instead of getMethod()
  user_guide_src/source/libraries/security.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/001.php
Labels: documentation

#7136 docs: fix form_helper.rst
  user_guide_src/source/helpers/form_helper.rst
Labels: documentation

#7093 fix: remove `All` from `Options All -Indexes` in .htaccess
  public/.htaccess
Labels: bug

#7112 fix: bug on stuck content-type header in Feature Testing
  system/Test/FeatureTestTrait.php
Labels: bug

#7120 docs: update http.rst
  user_guide_src/source/concepts/http.rst
  user_guide_src/source/concepts/http/001.php
  user_guide_src/source/concepts/http/002.php
Labels: documentation

#7125 docs: fix changelogs v4.0.5
  user_guide_src/source/changelogs/v4.0.5.rst
Labels: documentation

#7127 docs: fix changelogs v4.0.4
  user_guide_src/source/changelogs/v4.0.4.rst
Labels: documentation

#7132 docs: add support for PHP 8.2 in changelog
  user_guide_src/source/changelogs/v4.2.11.rst
Labels: documentation

#7146 fix close-pull-request.yml failed
  admin/framework/.github/workflows/close-pull-request.yml
  admin/starter/.github/workflows/close-pull-request.yml
  admin/userguide/.github/workflows/close-pull-request.yml
Labels: github_actions

#7150 add tag `code` in close-pull-request.yml
  admin/framework/.github/workflows/close-pull-request.yml
  admin/starter/.github/workflows/close-pull-request.yml
  admin/userguide/.github/workflows/close-pull-request.yml
Labels: github_actions

#7149 fix: ordering `Validation` show error by call `setRule()`
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
Labels: bug

#7131 docs: improve database/configuration.rst
  system/Database/Database.php
  user_guide_src/source/database/configuration.rst
Labels: documentation

#7134 docs: extract CHANGELOG_4.2.md
  CHANGELOG.md
  changelogs/CHANGELOG_4.0.md
  changelogs/CHANGELOG_4.1.md
  changelogs/CHANGELOG_4.2.md
  user_guide_src/source/changelogs/v4.2.0.rst
  user_guide_src/source/changelogs/v4.2.1.rst
  user_guide_src/source/changelogs/v4.2.10.rst
  user_guide_src/source/changelogs/v4.2.11.rst
  user_guide_src/source/changelogs/v4.2.12.rst
  user_guide_src/source/changelogs/v4.2.2.rst
  user_guide_src/source/changelogs/v4.2.3.rst
  user_guide_src/source/changelogs/v4.2.5.rst
  user_guide_src/source/changelogs/v4.2.6.rst
  user_guide_src/source/changelogs/v4.2.7.rst
  user_guide_src/source/changelogs/v4.2.8.rst
  user_guide_src/source/changelogs/v4.2.9.rst
Labels: documentation

#7133 docs: improve changelogs 4.0.x and 4.1.x
  user_guide_src/source/changelogs/v4.0.3.rst
  user_guide_src/source/changelogs/v4.0.4.rst
  user_guide_src/source/changelogs/v4.0.5.rst
  user_guide_src/source/changelogs/v4.1.0.rst
  user_guide_src/source/changelogs/v4.1.1.rst
  user_guide_src/source/changelogs/v4.1.2.rst
  user_guide_src/source/changelogs/v4.1.3.rst
  user_guide_src/source/changelogs/v4.1.4.rst
  user_guide_src/source/changelogs/v4.1.5.rst
  user_guide_src/source/changelogs/v4.1.6.rst
  user_guide_src/source/changelogs/v4.1.7.rst
Labels: documentation

#7153 docs: add versionadded
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/general/errors.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/libraries/encryption.rst
Labels: documentation

#7135 fix: remove parameter $relative in `uri_string()`
  system/Helpers/url_helper.php
  tests/system/Helpers/URLHelper/CurrentUrlTest.php
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.3.2.rst
  user_guide_src/source/helpers/url_helper.rst
Labels: bug

#7126 feat: `renderSection` option to retained data
  system/View/View.php
  tests/system/View/ViewTest.php
  tests/system/View/Views/extend_reuse_section.php
  tests/system/View/Views/layout_welcome.php
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/outgoing/view_layouts.rst
Labels: enhancement, 4.4

#7147 Bug Fix: [QueryBuilder] where() generates incorrect SQL when using RawSql
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/WhereTest.php
Labels: bug, database

#7148 fix: [QueryBuilder] RawSql passed to set() disappears without error
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/InsertTest.php
Labels: bug, database

#7129 refactor: add PHPDoc types in RouteCollection
  system/Router/RouteCollection.php
Labels: refactor

#7157 fix: [Parser] local_currency causes "Passing null to parameter"
  system/View/Filters.php
  tests/system/View/ParserFilterTest.php
  user_guide_src/source/outgoing/view_parser.rst
Labels: bug

#7144 add `application/vnd.microsoft.portable-executable` and `application/x-dosexec`
  app/Config/Mimes.php
Labels: enhancement

#7142 fix: [Parser] `!` does not work if delimiters are changed
  system/View/Parser.php
  tests/system/View/ParserTest.php
Labels: bug

#7152 docs: improve database/queries.rst
  user_guide_src/source/database/queries.rst
  user_guide_src/source/database/queries/011.php
Labels: documentation

#7154 refactor: URI::parseStr()
  system/HTTP/URI.php
Labels: refactor

#7158 docs: update views.rst
  user_guide_src/source/outgoing/views.rst
  user_guide_src/source/outgoing/views/002.php
  user_guide_src/source/outgoing/views/009.php
  user_guide_src/source/outgoing/views/011.php
  user_guide_src/source/outgoing/views/012.php
  user_guide_src/source/outgoing/views/013.php
Labels: documentation

#7165 docs: improve installing_composer.rst
  user_guide_src/source/installation/index.rst
  user_guide_src/source/installation/installing_composer.rst
Labels: documentation

#7163 docs: improve dbmgmt/forge.rst
  user_guide_src/source/changelogs/v4.3.0.rst
  user_guide_src/source/dbmgmt/forge.rst
Labels: documentation, database

#7171 refactor: error_exception.php
  app/Views/errors/html/error_exception.php
Labels: refactor

#7169 [Rector] Apply Rector to app/Views
  app/Views/errors/html/error_exception.php
  rector.php
Labels: refactor

#7188 docs: fix wrong header configure `MemcachedHandler` in `Session`
  user_guide_src/source/libraries/sessions.rst
Labels: documentation

#7160 Fix: Throttler token time calculation
  system/Throttle/Throttler.php
  tests/system/Throttle/ThrottleTest.php
Labels: bug

#7155 fix: [QueryBuilder] getOperatorFromWhereKey() misses EXISTS, BETWEEN
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/WhereTest.php
Labels: bug, database, 4.3

#7191 Correcting documentation mistakes in upgrading from one version to another
  user_guide_src/source/installation/upgrade_405.rst
  user_guide_src/source/installation/upgrade_412.rst
  user_guide_src/source/installation/upgrade_431.rst
Labels: bug, documentation

#7192 docs: fix typos and grammatical errors
  system/Router/RouteCollection.php
  system/Router/RouteCollectionInterface.php
  system/Router/Router.php
Labels: documentation

#7187 fix: [Session] `Redis` connect to protocol `TLS`
  system/Session/Handlers/RedisHandler.php
  tests/system/Session/Handlers/Database/RedisHandlerTest.php
  user_guide_src/source/changelogs/v4.3.2.rst
  user_guide_src/source/libraries/sessions.rst
Labels: bug

#7183 docs: fix model() descriptions
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/001.php
Labels: documentation

#7185 docs: remove out-of-dated comment on Config\App::$baseURL
  app/Config/App.php
Labels: documentation

#7186 docs: improve Upgrading from 3.x to 4.x
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_controllers.rst
  user_guide_src/source/installation/upgrade_migrations.rst
  user_guide_src/source/installation/upgrade_views.rst
Labels: documentation

#7189 docs: improve spark_commands.rst
  user_guide_src/source/cli/spark_commands.rst
Labels: documentation

#7190 docs: improve "Auto Routing (Improved)" in controllers.rst
  user_guide_src/source/incoming/controllers.rst
Labels: documentation

#7193 fix: Autoloader may not add Composer package's namespaces
  system/Autoloader/Autoloader.php
Labels: bug

#7195 fix: add try/catch to real_path() in clean_path()
  system/Common.php
Labels: bug

#7172 fix: cannot create shared View instance when using debugbar
  phpstan-baseline.neon.dist
  system/Debug/Toolbar/Collectors/Events.php
  system/Debug/Toolbar/Collectors/Views.php
Labels: bug

#7174 fix: RouteCollection::getRegisteredControllers() may not return all controllers
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionTest.php
Labels: bug

#7196 docs: add Bugs Fixed items in changelogs/v4.3.2
  user_guide_src/source/changelogs/v4.3.2.rst
Labels: documentation

#7197 docs: improve url_helper.rst
  user_guide_src/source/helpers/url_helper.rst
Labels: documentation

#7167 docs: improve installation
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/installing_manual.rst
Labels: documentation

#7194 docs: replace type mixed in the remaining cache class.
  system/Cache/Handlers/FileHandler.php
Labels: documentation

#7176 fix: `spark routes` shows incorrect hostname routes
  system/Router/RouteCollection.php
Labels: bug

#7182 docs: improve factories.rst
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/concepts/factories/003.php
  user_guide_src/source/concepts/factories/004.php
  user_guide_src/source/concepts/factories/007.php
  user_guide_src/source/concepts/factories/010.php
  user_guide_src/source/concepts/factories/011.php
  user_guide_src/source/concepts/factories/012.php
Labels: documentation

#7200 fix: base_url() removes trailing slash in baseURL
  system/Helpers/url_helper.php
  tests/system/Helpers/URLHelper/SiteUrlTest.php
  user_guide_src/source/changelogs/v4.3.2.rst
  user_guide_src/source/helpers/url_helper.rst
  user_guide_src/source/installation/upgrade_432.rst
  user_guide_src/source/installation/upgrading.rst
Labels: bug, breaking change
