Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-06, with the labels that each got.

#7406 feat: [Auto Routing Improved] fallback to default controller's default method
  system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReader.php
  system/Router/AutoRouterImproved.php
  tests/system/Router/AutoRouterImprovedTest.php
  tests/system/Router/Controllers/Subfolder/Home.php
  tests/system/Router/Controllers/Subfolder/Sub/Mycontroller.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/controllers/025.php
Labels: enhancement, 4.4

#7526 docs: [QueryBuilder] class without import. scrolling in examples.
  user_guide_src/source/database/query_builder/028.php
  user_guide_src/source/database/query_builder/031.php
  user_guide_src/source/database/query_builder/033.php
  user_guide_src/source/database/query_builder/035.php
  user_guide_src/source/database/query_builder/037.php
  user_guide_src/source/database/query_builder/041.php
  user_guide_src/source/database/query_builder/052.php
  user_guide_src/source/database/query_builder/054.php
  user_guide_src/source/database/query_builder/056.php
  user_guide_src/source/database/query_builder/058.php
  user_guide_src/source/database/query_builder/062.php
  user_guide_src/source/database/query_builder/081.php
Labels: documentation

#7519 [4.4] refactor: a single point of sending the Response.
  system/CodeIgniter.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: refactor, 4.4

#7523 docs: update CLI
  user_guide_src/source/cli/cli_commands.rst
  user_guide_src/source/cli/cli_commands/002.php
  user_guide_src/source/cli/cli_commands/007.php
  user_guide_src/source/cli/cli_controllers.rst
Labels: documentation

#7532 docs: improve routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#7534 refactor: View
  system/View/View.php
Labels: refactor

#7542 refactor: [Entity] fix incorrect return value
  system/Entity/Entity.php
Labels: refactor

#7544 refactor: [Entity] fix incorrect return value
  system/Entity/Entity.php
Labels: refactor, 4.4

#7319 test: Forge::addColumn() and null
  tests/system/Database/Live/ForgeTest.php
Labels: testing, 4.4

#7515 docs: add warning on Validation $data array
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#7548 fix: feature test with validation
  system/Test/FeatureTestTrait.php
  tests/system/Test/FeatureTestTraitTest.php
Labels: bug

#7549 fix: [Validation] DBGroup is ignored when checking the value of a placeholder
  system/Validation/Validation.php
  system/Validation/ValidationInterface.php
  tests/system/Validation/StrictRules/DatabaseRelatedRulesTest.php
  user_guide_src/source/changelogs/v4.3.6.rst
  user_guide_src/source/installation/upgrade_436.rst
Labels: bug, breaking change

#7541 Add access to `full_path` index of uploaded files
  system/HTTP/Files/FileCollection.php
  system/HTTP/Files/UploadedFile.php
  system/HTTP/Files/UploadedFileInterface.php
  tests/system/HTTP/Files/FileCollectionTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/libraries/uploaded_files.rst
  user_guide_src/source/libraries/uploaded_files/023.php
Labels: enhancement, 4.4

#7552 fix: [Postgre] Semicolon in the connection parameters break the DSN string
  system/Database/Postgre/Connection.php
  tests/system/Database/ConfigTest.php
  user_guide_src/source/changelogs/v4.3.6.rst
Labels: bug

#7553 refactor: Database::initDriver()
  system/Database/Config.php
  system/Database/Database.php
Labels: refactor

#7554 docs: improve database/connecting.rst
  user_guide_src/source/database/connecting.rst
Labels: documentation

#7556 test: update db configs
  tests/_support/Config/Registrar.php
Labels: testing

#7566 refactor: remove Factories::models()
  system/Config/Factories.php
Labels: refactor

#7560 docs: improve Array Callable Syntax explanation in routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#7558 docs: improve libraries/validation.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/038.php
Labels: documentation

#7564 fix: [QueryBuilder] incorrect SQL without space before "ON DUPLICATE KEY UPDATE"
  system/Database/BaseBuilder.php
Labels: bug, database

#7565 refactor: Validation::processRules()
  system/Validation/Rules.php
  system/Validation/StrictRules/Rules.php
  system/Validation/Validation.php
  tests/system/Validation/RulesTest.php
Labels: refactor

#7569 fix: wrong classname in exception message in Cell
  system/View/Cell.php
Labels: bug

#7543 fix: [Auto Routing Improved] feature testing may not find controller/method
  rector.php
  system/Router/AutoRouter.php
  system/Router/AutoRouterImproved.php
  system/Router/AutoRouterInterface.php
  system/Router/RouteCollection.php
  system/Router/Router.php
  tests/system/Router/AutoRouterImprovedTest.php
  tests/system/Test/FeatureTestAutoRoutingImprovedTest.php
  user_guide_src/source/changelogs/v4.3.6.rst
  user_guide_src/source/installation/upgrade_436.rst
Labels: bug, breaking change

#7574 fix: [4.4] AutoRouterImproved merge conflicts
  system/Router/AutoRouterImproved.php
  tests/system/Router/AutoRouterImprovedTest.php
Labels: 4.4

#7577 [4.4] fix: Typed property CodeIgniter::$bufferLevel must not be accessed before initialization
  system/CodeIgniter.php
Labels: 4.4

#7575 refactor: [Auto Routing Improved] ensure $httpVerb is lower case
  system/Router/AutoRouterImproved.php
Labels: refactor

#7576 docs: fix incorrect comments in query_builder
  user_guide_src/source/database/query_builder/098.php
Labels: documentation

#7573 docs: improve routing.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/008.php
Labels: documentation

#7570 fix: `imagecreatefrompng()` gd-png: libpng warning
  system/Images/Handlers/GDHandler.php
Labels: bug, waiting for info

#7579 refactor: remove unused property in Encryption\Handlers\BaseHandler
  system/Encryption/Handlers/BaseHandler.php
Labels: refactor

#7582 docs: update sample code in cli_library
  user_guide_src/source/cli/cli_library/001.php
Labels: documentation

#7583 docs: fix incorrect sample code in inflector_helper.rst
  user_guide_src/source/helpers/inflector_helper.rst
Labels: documentation

#7584 docs: improve spark_commands.rst
  user_guide_src/source/cli/spark_commands.rst
Labels: documentation

#7586 docs: fix sessions.rst
  user_guide_src/source/libraries/sessions.rst
  user_guide_src/source/libraries/sessions/040.php
Labels: documentation

#7590 docs: change version number notation
  user_guide_src/source/changelogs/v4.1.1.rst
  user_guide_src/source/installation/upgrade_4210.rst
  user_guide_src/source/installation/upgrade_4211.rst
  user_guide_src/source/installation/upgrade_4212.rst
  user_guide_src/source/installation/upgrade_423.rst
  user_guide_src/source/installation/upgrade_425.rst
  user_guide_src/source/installation/upgrade_427.rst
Labels: documentation

#7592 docs: add changelog/upgrade guide for v4.3.7
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.3.7.rst
  user_guide_src/source/installation/upgrade_437.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#7596 docs: improve "Configure DatabaseHandler" for Session
  user_guide_src/source/libraries/sessions.rst
  user_guide_src/source/libraries/sessions/040.php
Labels: documentation

#7603 docs: fix message.rst
  user_guide_src/source/incoming/message.rst
Labels: documentation

#7608 fix: change assertion on CLITest::testWaitZero
  tests/system/CLI/CLITest.php
Labels: testing

#7255 Remove Config\App Session items
  app/Config/App.php
  phpstan-baseline.neon.dist
  system/Commands/Generators/MigrationGenerator.php
  system/Config/Services.php
  system/Session/Handlers/BaseHandler.php
  system/Session/Handlers/DatabaseHandler.php
  system/Session/Handlers/FileHandler.php
  system/Session/Handlers/MemcachedHandler.php
  system/Session/Handlers/RedisHandler.php
  system/Session/Session.php
  system/Test/CIUnitTestCase.php
  system/Test/Mock/MockSession.php
  tests/system/CommonFunctionsTest.php
  tests/system/Security/SecurityCSRFSessionRandomizeTokenTest.php
  tests/system/Security/SecurityCSRFSessionTest.php
  tests/system/Session/Handlers/Database/MySQLiHandlerTest.php
  tests/system/Session/Handlers/Database/PostgreHandlerTest.php
  tests/system/Session/Handlers/Database/RedisHandlerTest.php
  tests/system/Session/SessionTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/upgrade_440.rst
Labels: bug, breaking change, 4.4

#7389 docs: improve concepts/security.rst
  user_guide_src/source/concepts/security.rst
  user_guide_src/source/concepts/structure.rst
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/incomingrequest.rst
  user_guide_src/source/libraries/sessions.rst
Labels: documentation

#7611 refactor: use ::class to config() param
  system/CLI/BaseCommand.php
  system/CLI/GeneratorTrait.php
  system/Cache/Handlers/BaseHandler.php
  system/CodeIgniter.php
  system/Commands/Cache/ClearCache.php
  system/Commands/Cache/InfoCache.php
  system/Commands/Database/CreateDatabase.php
  system/Commands/Generators/MigrationGenerator.php
  system/Commands/Generators/SessionMigrationGenerator.php
  system/Commands/Utilities/Routes.php
  system/Commands/Utilities/Routes/FilterCollector.php
  system/Commands/Utilities/Routes/FilterFinder.php
  system/Config/BaseConfig.php
  system/Config/BaseService.php
  system/Config/Factories.php
  system/Config/Services.php
  system/Controller.php
  system/Database/Config.php
  system/Database/Migration.php
  system/Database/MigrationRunner.php
  system/Debug/Toolbar/Collectors/Config.php
  system/Debug/Toolbar/Collectors/Database.php
  system/Encryption/Handlers/BaseHandler.php
  system/Events/Events.php
  system/Filters/Filters.php
  system/HTTP/CURLRequest.php
  system/HTTP/ContentSecurityPolicy.php
  system/HTTP/DownloadResponse.php
  system/HTTP/RequestTrait.php
  system/HTTP/Response.php
  system/HTTP/ResponseTrait.php
  system/HTTP/URI.php
  system/Helpers/cookie_helper.php
  system/Helpers/form_helper.php
  system/Helpers/url_helper.php
  system/Publisher/Publisher.php
  system/Router/RouteCollection.php
  system/Router/Router.php
  system/Security/Security.php
  system/Session/Handlers/BaseHandler.php
  system/Session/Handlers/DatabaseHandler.php
  system/Session/Handlers/MemcachedHandler.php
  system/Session/Handlers/RedisHandler.php
  system/Session/Session.php
  system/Test/CIUnitTestCase.php
  system/Test/ControllerTestTrait.php
  system/Test/ControllerTester.php
  system/Test/Fabricator.php
  system/Test/FeatureTestCase.php
  system/Test/FilterTestTrait.php
  system/Typography/Typography.php
  system/View/ViewDecoratorTrait.php
Labels: refactor

#7489 feat: Hot Reloading
  admin/css/debug-toolbar/toolbar.scss
  app/Config/Events.php
  app/Config/Toolbar.php
  system/Debug/Toolbar/Views/toolbar.css
  system/Debug/Toolbar/Views/toolbar.js
  system/Debug/Toolbar/Views/toolbar.tpl.php
  system/Exceptions/FrameworkException.php
  system/HotReloader/DirectoryHasher.php
  system/HotReloader/HotReloader.php
  system/HotReloader/IteratorFilter.php
  system/Language/en/Core.php
  tests/system/HotReloader/DirectoryHasherTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/testing/debugging.rst
Labels: new feature, 4.4

#7620 refactor: remove unused non-empty array in RequestTrait
  system/HTTP/RequestTrait.php
Labels: refactor

#7619 [4.4] refactor: use ::class to config() param
  system/Config/Services.php
  system/HotReloader/DirectoryHasher.php
  system/HotReloader/IteratorFilter.php
  system/Security/Security.php
Labels: refactor, 4.4

#7559 perf: Change current directory in public/index.php only if necessary
  public/index.php
Labels: 4.4

#7627 docs: fix changelogs v4.4.0 RST format
  user_guide_src/source/changelogs/v4.4.0.rst
Labels: documentation, 4.4

#7629 docs: fix incorrect description on RedirectException
  user_guide_src/source/general/errors.rst
  user_guide_src/source/general/errors/010.php
  user_guide_src/source/general/errors/011.php
Labels: bug, documentation

#7621 refactor: drop support for `Config\App::$proxyIPs = ''`
  rector.php
  system/HTTP/Request.php
  system/HTTP/RequestTrait.php
  tests/system/HTTP/IncomingRequestTest.php
  tests/system/HTTP/RequestTest.php
  user_guide_src/source/installation/upgrade_440.rst
Labels: refactor, 4.4

#7631 docs: add note for RedirectException namespace
  user_guide_src/source/general/errors.rst
Labels: documentation, 4.4

#7633 docs: fix incorrect description on RedirectException (2)
  user_guide_src/source/general/errors.rst
Labels: bug, documentation

#7634 docs: improve force_https() description
  user_guide_src/source/general/common_functions.rst
Labels: documentation

#7636 docs: improve time.rst
  user_guide_src/source/libraries/time.rst
Labels: documentation

#7637 docs: change "With" in section titles to lowercase
  user_guide_src/source/general/configuration.rst
  user_guide_src/source/general/logging.rst
  user_guide_src/source/libraries/uploaded_files.rst
  user_guide_src/source/models/entities.rst
  user_guide_src/source/outgoing/localization.rst
  user_guide_src/source/testing/response.rst
Labels: documentation

#7175 perf: RouteCollection $routes optimization
  system/Router/RouteCollection.php
  system/Router/RouteCollectionInterface.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/upgrade_440.rst
Labels: breaking change, 4.4

#7624 fix: sqlsrv default port cause connection refuse
  user_guide_src/source/database/configuration.rst
Labels: documentation

#7622 fix: skip http proxy added header
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestTest.php
Labels: bug

#7640 fix: number_to_roman() param type
  system/Helpers/number_helper.php
  user_guide_src/source/helpers/number_helper.rst
  user_guide_src/source/helpers/number_helper/009.php
Labels: bug

#7610 [4.4] Rework redirect exception
  system/CodeIgniter.php
  system/Common.php
  system/HTTP/Exceptions/RedirectException.php
  system/HTTP/ResponsableInterface.php
  tests/system/CodeIgniterTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/ControllerTest.php
  tests/system/HTTP/RedirectExceptionTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/general/errors.rst
  user_guide_src/source/general/errors/018.php
Labels: enhancement, 4.4

#7638 config: change default value of CURLRequest::$shareOptions
  app/Config/CURLRequest.php
  user_guide_src/source/installation/upgrade_440.rst
  user_guide_src/source/libraries/curlrequest.rst
  user_guide_src/source/libraries/curlrequest/001.php
Labels: 4.4

#7630 Remove Config\App Security items
  app/Config/App.php
  system/Config/Services.php
  system/Security/Security.php
  system/Test/Mock/MockAppConfig.php
  tests/system/CommonFunctionsTest.php
  tests/system/CommonSingleServiceTest.php
  tests/system/Config/ServicesTest.php
  tests/system/Helpers/SecurityHelperTest.php
  tests/system/Security/SecurityCSRFCookieRandomizeTokenTest.php
  tests/system/Security/SecurityCSRFSessionRandomizeTokenTest.php
  tests/system/Security/SecurityCSRFSessionTest.php
  tests/system/Security/SecurityTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/installation/upgrade_440.rst
Labels: breaking change, 4.4

#7632 feat: [CURLRequest] add option for Proxy
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/libraries/curlrequest.rst
  user_guide_src/source/libraries/curlrequest/035.php
Labels: enhancement, 4.4

#7597 fix: [Auto Routing Improved] feature testing may use incorrect param count
  system/Router/AutoRouterImproved.php
  tests/system/Test/FeatureTestAutoRoutingImprovedTest.php
Labels: bug
