Repository codeigniter4/CodeIgniter4, pull requests merged in 2023-10, with the labels that each got.

#7933 feat: [Validation] Callable Rules
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/046.php
  user_guide_src/source/libraries/validation/047.php
Labels: enhancement, 4.5

#7989 test: fix the testcase error on MariaDB.
  tests/system/Database/Live/ForgeTest.php
Labels: testing

#7982 refactor: remove $_SESSION from methods and functions
  phpstan-baseline.php
  system/CodeIgniter.php
  system/HTTP/IncomingRequest.php
  system/Helpers/form_helper.php
  system/Helpers/url_helper.php
  tests/system/CodeIgniterTest.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  tests/system/View/ParserPluginTest.php
Labels: refactor

#7994 refactor: if condition in OCI8/Connection.php
  phpstan-baseline.php
  system/Database/OCI8/Connection.php
Labels: refactor

#7999 chore: remove label-add-remove-conflict-single-pr.yml
  .github/workflows/label-add-remove-conflict-single-pr.yml
Labels: github_actions

#8001 docs: corrected typo, updated tutorial images
  user_guide_src/source/images/tutorial3.png
  user_guide_src/source/images/tutorial4.png
  user_guide_src/source/tutorial/create_news_items.rst
Labels: documentation

#7955 fix: filter exec order
  app/Config/Feature.php
  system/CodeIgniter.php
  system/Commands/Utilities/Routes/FilterFinder.php
  system/Filters/Filters.php
  tests/system/Commands/Utilities/Routes/FilterFinderTest.php
  tests/system/Filters/FiltersTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: bug, breaking change, 4.5

#7966 fix: lang() may return false
  system/Language/Language.php
  system/Language/en/Language.php
  tests/system/Language/LanguageTest.php
  user_guide_src/source/changelogs/v4.4.2.rst
Labels: bug

#8011 fix: CI returns "200 OK" when PageNotFound
  system/CodeIgniter.php
  user_guide_src/source/changelogs/v4.4.2.rst
Labels: bug, 4.4

#8013 style: remove unnecessary () in Toolbar
  system/Debug/Toolbar.php
Labels: refactor

#8015 docs: fix class name in Extending Core Classes
  user_guide_src/source/extending/core_classes/003.php
Labels: documentation

#7962 fix: spark may not show exceptions or show backtrace as json
  system/CLI/Console.php
  user_guide_src/source/changelogs/v4.4.2.rst
Labels: bug, 4.4

#7977 fix: CLI prompt validation message
  system/CLI/CLI.php
Labels: bug

#8002 test: fix namespace in ArrayHelperTest
  system/Commands/Translation/LocalizationFinder/ArrayHelper.php
  tests/system/Commands/Translation/LocalizationFinder/ArrayHelperTest.php
Labels: testing, 4.5

#7998 refactor: replace deprecated `Services::request(config, false)`
  system/Commands/Utilities/Routes/FilterCollector.php
  system/Test/ControllerTestTrait.php
  system/Test/ControllerTester.php
  system/Test/FeatureTestTrait.php
Labels: refactor

#8004 refactor: delete duplicate code for Composer loading
  system/Autoloader/Autoloader.php
  system/bootstrap.php
Labels: refactor

#8005 perf: autoloader
  admin/starter/composer.json
  app/Config/Autoload.php
  composer.json
  system/Autoloader/Autoloader.php
  system/Config/AutoloadConfig.php
  tests/system/Commands/Utilities/NamespacesTest.php
  tests/system/Config/ConfigTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/concepts/autoloader/001.php
  user_guide_src/source/dbmgmt/migration.rst
  user_guide_src/source/dbmgmt/migration/004.php
  user_guide_src/source/general/modules/001.php
Labels: enhancement, 4.5

#8003 fix: error on `Config\Kint` with Config Caching
  app/Config/Kint.php
  system/CodeIgniter.php
  user_guide_src/source/installation/upgrade_450.rst
Labels: bug, 4.5

#7972 feat: db:table shows db config
  system/Commands/Database/ShowTableInfo.php
  system/Database/BaseConnection.php
  tests/system/Commands/Database/ShowTableInfoTest.php
Labels: enhancement, 4.5

#8016 refactor: Remove deprecated Config\Config
  system/Config/Config.php
  tests/system/Config/ConfigTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8022 docs: improve tutorial
  user_guide_src/source/tutorial/create_news_items.rst
  user_guide_src/source/tutorial/news_section.rst
  user_guide_src/source/tutorial/static_pages.rst
Labels: documentation

#8035 docs: fix typo in upgrade_440
  user_guide_src/source/installation/upgrade_440.rst
Labels: documentation

#8038 test: fix incorrect testRoutesCommandRouteLegacy
  tests/system/Commands/RoutesTest.php
Labels: testing

#8010 fix: `FileLocator::findQualifiedNameFromPath()` behavior
  system/Autoloader/FileLocator.php
  tests/system/Autoloader/FileLocatorTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: bug, breaking change, 4.5

#8025 fix: CSP style nonce is added even if honeypot is not attached
  system/Honeypot/Honeypot.php
  tests/system/Honeypot/HoneypotTest.php
Labels: bug

#8028 fix: named routes don't work with spark
  system/CLI/Console.php
Labels: bug

#8031 fix: add a primary key to an existing table
  phpstan-baseline.php
  system/Database/Forge.php
  tests/system/Database/Live/ForgeTest.php
  user_guide_src/source/changelogs/v4.4.2.rst
Labels: bug

#8024 fix: reverse route for `''` is not `false`
  system/Router/RouteCollection.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  tests/system/Router/RouteCollectionReverseRouteTest.php
Labels: bug

#8032 refactor: remove deprecated methods in Model
  phpstan-baseline.php
  system/BaseModel.php
  system/Model.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: refactor, breaking change, 4.5

#8033 fix: route options are not merged (outer filter is merged with inner filter)
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/026.php
  user_guide_src/source/installation/upgrade_450.rst
Labels: bug, breaking change, 4.5

#8012 perf: replace $locator->getClassname() with findQualifiedNameFromPath()
  phpstan-baseline.php
  system/CLI/Commands.php
  system/Config/BaseConfig.php
  system/Config/BaseService.php
  system/Config/Factories.php
  system/Filters/Filters.php
  system/Publisher/Publisher.php
Labels: enhancement, 4.5

#8017 feat: FileLocator caching
  system/Autoloader/FileLocator.php
  system/Autoloader/FileLocatorCached.php
  system/Autoloader/FileLocatorInterface.php
  system/CLI/Commands.php
  system/Commands/Utilities/Routes/ControllerFinder.php
  system/Config/BaseService.php
  system/Publisher/Publisher.php
  system/Router/RouteCollection.php
  system/View/Parser.php
  system/View/View.php
  tests/system/Autoloader/FileLocatorCachedTest.php
  tests/system/Autoloader/FileLocatorTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/concepts/autoloader/004.php
Labels: enhancement, breaking change, 4.5

#8045 [4.5] refactor: remove unused `use` in Model
  system/Model.php
Labels: refactor, 4.5

#7951 [Rector] Apply BooleanInIfConditionRuleFixerRector
  phpstan-baseline.php
  rector.php
  system/Autoloader/FileLocator.php
  system/BaseModel.php
  system/CLI/CLI.php
  system/CLI/Commands.php
  system/Cache/Handlers/PredisHandler.php
  system/Cache/Handlers/RedisHandler.php
  system/CodeIgniter.php
  system/Config/Factories.php
  system/Debug/ExceptionHandler.php
  system/Debug/Exceptions.php
  system/Encryption/Encryption.php
  system/HTTP/CURLRequest.php
  system/HTTP/SiteURI.php
  system/HTTP/URI.php
  system/Helpers/test_helper.php
  system/Log/Logger.php
  system/Pager/Pager.php
  system/Test/FeatureTestCase.php
  system/Test/FeatureTestTrait.php
  system/Validation/Validation.php
  system/View/View.php
Labels: refactor

#8040 fix: `spark routes` may show incorrect route names
  system/Router/DefinedRouteCollector.php
  tests/system/Router/DefinedRouteCollectorTest.php
  user_guide_src/source/changelogs/v4.4.2.rst
Labels: bug

#8041 docs: improve curlrequest.rst
  user_guide_src/source/libraries/curlrequest.rst
  user_guide_src/source/libraries/curlrequest/026.php
Labels: documentation

#8043 docs: fix anchor text in installation/upgrade_file_upload.rst
  user_guide_src/source/installation/upgrade_file_upload.rst
Labels: documentation

#8047 docs: add note for routes after calling resetServices()
  user_guide_src/source/testing/overview.rst
Labels: documentation

#8046 [4.5] refactor: remove BaseModel assert()
  phpstan-baseline.php
  system/BaseModel.php
Labels: refactor, 4.5

#8052 test: fix assertion in BaseConnectionTest::testStoresConnectionTimings()
  tests/system/Database/BaseConnectionTest.php
Labels: testing

#8037 fix: Factories caching bug
  system/Config/Factories.php
  tests/system/Config/FactoriesTest.php
Labels: bug, 4.4

#8048 fix: file sort order in Files DebugBar
  system/Debug/Toolbar/Collectors/Files.php
Labels: bug

#8050 refactor: remove deprecated properties and methods in CodeIgniter class
  phpstan-baseline.php
  system/CodeIgniter.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8042 Drop PHP 8.0 support
  .github/workflows/deploy-userguide-latest.yml
  .github/workflows/reusable-phpunit-test.yml
  .github/workflows/test-coding-standards.yml
  .github/workflows/test-phpcpd.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/test-rector.yml
  README.md
  admin/framework/README.md
  admin/framework/composer.json
  admin/starter/.github/workflows/phpunit.yml
  admin/starter/README.md
  admin/starter/composer.json
  composer.json
  contributing/pull_request.md
  public/index.php
  spark
  system/Cookie/Cookie.php
  system/View/Cells/Cell.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/intro/requirements.rst
Labels: 4.5

#8068 chore: update laminas-escaper to ^2.13
  admin/framework/composer.json
  composer.json
  system/ThirdParty/Escaper/Escaper.php
Labels: 4.5

#8065 docs: add changelog and upgrade for v4.4.3
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.4.3.rst
  user_guide_src/source/installation/upgrade_443.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#8056 fix: make Factories final
  system/Config/Factories.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: bug, breaking change, 4.5

#8058 fix: FilterTestTrait::getFilterCaller() does not support Filter classes as array
  app/Config/Filters.php
  system/Test/FilterTestTrait.php
  tests/system/Test/FilterTestTraitTest.php
Labels: bug

#8071 [4.5] refactor: Filters by rector
  system/Filters/Filters.php
Labels: refactor, 4.5

#8057 refactor: remove deprecated test classes
  phpstan-baseline.php
  system/Test/CIDatabaseTestCase.php
  system/Test/ControllerResponse.php
  system/Test/ControllerTester.php
  system/Test/FeatureResponse.php
  system/Test/FeatureTestCase.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8055 docs: fix event points descriptions
  user_guide_src/source/changelogs/v4.4.2.rst
  user_guide_src/source/extending/events.rst
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: bug, documentation

#8067 refactor: make IncomingRequest::$uri protected
  system/HTTP/IncomingRequest.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8076 docs: fix event points descriptions
  user_guide_src/source/changelogs/v4.4.3.rst
  user_guide_src/source/extending/events.rst
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: bug, documentation

#7969 Add note that only file rules can be used to validate files
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8086 refactor: remove deprecated spark commands
  phpstan-baseline.php
  system/Commands/Generators/MigrateCreate.php
  system/Commands/Generators/SessionMigrationGenerator.php
  tests/system/CLI/ConsoleTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/cli/cli_generators.rst
Labels: refactor, breaking change, 4.5

#8077 fix: add dbgroup to model template only when specified as an option
  system/Commands/Generators/ModelGenerator.php
  system/Commands/Generators/Views/model.tpl.php
  tests/system/Commands/ModelGeneratorTest.php
Labels: bug

#8036 Update phpstan-codeigniter and fix errors on Modules
  composer.json
  phpstan-baseline.php
  phpstan.neon.dist
  system/Config/BaseConfig.php
  system/Config/BaseService.php
  tests/system/Cache/FactoriesCacheFileVarExportHandlerTest.php
  tests/system/Config/BaseConfigTest.php
Labels: bug

#8084 docs: fix helper loading
  system/Common.php
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/general/helpers.rst
  user_guide_src/source/general/modules.rst
  user_guide_src/source/helpers/index.rst
Labels: bug, documentation

#8088 fix: [Validation] exact_length does not pass int values
  system/Validation/StrictRules/Rules.php
  tests/system/Validation/RulesTest.php
Labels: bug

#8074 docs: improve $DBGroup description in Model
  user_guide_src/source/models/model.rst
Labels: documentation

#8087 perf: defer instantiation of Validation in Model
  phpstan-baseline.php
  system/BaseModel.php
Labels: refactor, 4.5

#8090 refactor: remove deprecated Request::isValidIP()
  system/HTTP/Request.php
  system/HTTP/RequestInterface.php
  tests/system/HTTP/CLIRequestTest.php
  tests/system/HTTP/RequestTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8095 test: fix BaseConfigTest
  system/Config/BaseConfig.php
  tests/system/Config/BaseConfigTest.php
Labels: testing

#8054 fix: [Table] field named `data` will produce bugged output
  system/View/Table.php
  tests/system/View/TableTest.php
Labels: bug, help wanted

#8101 chore: add names to github workflows
  .github/workflows/test-autoreview.yml
  .github/workflows/test-phpunit.yml
Labels: github_actions

#8102 [Rector] Apply SingleInArrayToCompareRector
  rector.php
  system/Config/BaseService.php
  tests/system/Database/Live/GroupTest.php
Labels: refactor

#8080 fix: set_cookie() $expire type
  system/HTTP/ResponseInterface.php
  system/HTTP/ResponseTrait.php
  system/Helpers/cookie_helper.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/helpers/cookie_helper.rst
  user_guide_src/source/outgoing/response.rst
  user_guide_src/source/outgoing/response/023.php
Labels: bug, breaking change, 4.5

#8078 fix: remove traditional validation rule param types
  phpstan-baseline.php
  system/Validation/FormatRules.php
  system/Validation/Rules.php
  system/Validation/Validation.php
  tests/system/Validation/CreditCardRulesTest.php
  tests/system/Validation/StrictRules/CreditCardRulesTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/libraries/validation.rst
Labels: bug, breaking change, 4.5

#7925 fix: filters are executed when controller does not exist with Auto Routing (Legacy).
  system/Router/AutoRouter.php
  tests/_support/_controller/Admin_user.php
  tests/_support/_controller/Dash_folder/Dash_controller.php
  tests/_support/_controller/Dash_folder/Home.php
  tests/_support/_controller/Dash_folder/Mycontroller.php
  tests/_support/_controller/Mycontroller.php
  tests/_support/_controller/Product.php
  tests/_support/_controller/Subfolder/Mycontroller.php
  tests/_support/_controller/foo/bar/baz/Some_controller.php
  tests/_support/_controller/Φ.php
  tests/_support/_controller/Φ/Home.php
  tests/system/CodeIgniterTest.php
  tests/system/Router/RouteCollectionTest.php
  tests/system/Router/RouterTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: bug, breaking change, 4.5

#8109 fix: change make:command default $group to `App`
  system/Commands/Generators/CommandGenerator.php
  tests/system/Commands/CommandGeneratorTest.php
  user_guide_src/source/cli/cli_generators.rst
Labels: bug

#8108 feat: add Method/Route logging in exceptionHandler()
  system/Debug/Exceptions.php
Labels: enhancement, 4.5

#8091 refactor: fix types
  system/CLI/CLI.php
  system/Cache/ResponseCache.php
  system/CodeIgniter.php
  system/Database/BasePreparedQuery.php
  system/Database/Query.php
  system/Email/Email.php
  system/Entity/Cast/DatetimeCast.php
  system/Format/XMLFormatter.php
  system/HTTP/Files/FileCollection.php
  system/HTTP/ResponseInterface.php
  system/Helpers/html_helper.php
  system/Helpers/number_helper.php
  system/Helpers/text_helper.php
  system/I18n/TimeTrait.php
  system/Images/Handlers/BaseHandler.php
  system/Router/RouteCollection.php
  system/Router/Router.php
  system/View/Cell.php
  system/View/Filters.php
  system/View/Parser.php
  tests/system/Commands/ClearDebugbarTest.php
  tests/system/CommonFunctionsSendTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/Debug/Toolbar/Collectors/HistoryTest.php
  tests/system/HTTP/ResponseSendTest.php
  tests/system/HTTP/ResponseTest.php
  tests/system/Helpers/CookieHelperTest.php
  tests/system/Helpers/FilesystemHelperTest.php
  tests/system/Helpers/TextHelperTest.php
Labels: refactor, 4.5

#8116 docs: Fix typo in validation.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8118 fix: typo in help message in `spark filter:check`
  system/Commands/Utilities/FilterCheck.php
Labels: bug

#8112 fix: Hot reloading when session is enabled
  system/Debug/Toolbar/Views/toolbar.tpl.php
  system/HotReloader/HotReloader.php
Labels: bug

#8117 docs: improve filters
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/filters/004.php
  user_guide_src/source/incoming/filters/008.php
Labels: documentation
