Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-09, with the labels that each got.

#9160 refactor: improve error message for missing PHP DB extensions
  system/Database/Database.php
Labels: refactor

#9139 [4.6] feat: force PHP default 32 chars length at 4 bits to Session ID
  system/Debug/Exceptions.php
  system/Session/Handlers/FileHandler.php
  system/Session/Session.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/installation/upgrade_460.rst
Labels: enhancement, breaking change, 4.6

#9170 refactor: fix typo in BaseConnection.php
  system/Database/BaseConnection.php
Labels: refactor

#9161 docs: Fix some typos in helpers/html_helper.rst
  user_guide_src/source/helpers/html_helper.rst
Labels: documentation

#9172 docs: correct grammar in validation.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#9140 [4.6] feat: workaround for implicit nullable deprecations in PHP 8.4
  system/Debug/Exceptions.php
Labels: enhancement, 4.6

#9164 docs: Fix track function definition in helpers/html_helper.rst
  user_guide_src/source/helpers/html_helper.rst
Labels: documentation

#9163 docs: Fix some function definitions in helpers/html_helper.rst
  user_guide_src/source/helpers/html_helper.rst
Labels: documentation

#9169 fix: `auto_link()` regexp
  system/Helpers/url_helper.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  user_guide_src/source/changelogs/v4.5.5.rst
Labels: bug

#9175 docs: add changelog and upgrade for v4.5.6
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.5.6.rst
  user_guide_src/source/installation/upgrade_456.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#9171 docs: improve url_helper.rst
  user_guide_src/source/helpers/url_helper.rst
Labels: documentation

#9179 docs: improve "Migration File Names"
  user_guide_src/source/dbmgmt/migration.rst
Labels: documentation

#9145 feat: support CURL HTTP3
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestTest.php
Labels: enhancement, 4.6

#9185 docs: broken link htmx ajax-header
  user_guide_src/source/general/ajax.rst
Labels: documentation

#9180 fix: auto_link() converts invalid strings like `://codeigniter.com`
  system/Helpers/url_helper.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
Labels: bug

#9190 refactor: return type to closuer in FilterCheck
  system/Commands/Utilities/FilterCheck.php
Labels: refactor, 4.6

#9188 docs: fix Project Files changes in upgrade_455.rst
  user_guide_src/source/installation/upgrade_455.rst
Labels: documentation

#9182 docs: improve Factories
  user_guide_src/source/concepts/factories.rst
Labels: documentation
