Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-05, with the labels that each got.

#8786 fix: [SQLSRV] Query Builder always sets "<database>"."<schema>". to the table name.
  system/Database/SQLSRV/Builder.php
  tests/system/Database/Builder/FromTest.php
Labels: bug, database

#8845 docs: Fix typo in dbtgmt/migration.rst
  user_guide_src/source/dbmgmt/migration.rst
Labels: documentation

#8847 fix: remove unused undefined param $raw in MockCache::save()
  system/Test/Mock/MockCache.php
Labels: bug

#8844 docs: Fix typo in dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/index.rst
Labels: documentation

#8854 docs: Resolved phpstan error in Config/Filters.php
  phpstan-baseline.php
  system/Config/Filters.php
Labels: documentation

#8850 docs: Fix typos in libraries/cookies.rst
  user_guide_src/source/libraries/cookies.rst
Labels: documentation

#8857 chore: update phpstan-baseline
  .github/workflows/test-phpstan.yml
  phpstan-baseline.php
Labels: github_actions

#8865 chore: update workflows php exts
  .github/workflows/test-phpunit.yml
  .github/workflows/test-psalm.yml
Labels: github_actions

#8877 docs: add notes for Config Caching
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/installation/deployment.rst
Labels: documentation

#8868 fix: FileCollection pseudo-regex
  system/Files/FileCollection.php
  tests/_support/Files/baker/fig_3.php.txt
  tests/system/Files/FileCollectionTest.php
  tests/system/Helpers/FilesystemHelperTest.php
  tests/system/Publisher/PublisherInputTest.php
  tests/system/Publisher/PublisherOutputTest.php
Labels: bug

#8870 fix: [Model] casting may throw InvalidArgumentException: Invalid parameter: nullable
  system/DataCaster/DataCaster.php
  tests/_support/Models/UserCastsTimestampModel.php
Labels: bug

#8871 fix: [Model] casting causes TypeError when finding no record
  system/Model.php
  tests/system/Models/DataConverterModelTest.php
Labels: bug

#8880 docs: Small typos and modifications in libraries/sessions.rst
  user_guide_src/source/libraries/sessions.rst
Labels: documentation

#8858 docs: Small typo in libraries/file_collections.rst
  user_guide_src/source/libraries/file_collections.rst
Labels: documentation

#8859 docs: Small typos in libraries/honeypot.rst
  user_guide_src/source/libraries/honeypot.rst
Labels: documentation

#8866 docs: update "Logging Deprecation Warnings" description
  app/Config/Exceptions.php
  user_guide_src/source/general/errors.rst
  user_guide_src/source/general/errors/012.php
  user_guide_src/source/general/errors/013.php
Labels: documentation

#8867 docs: improve file_collections.rst
  user_guide_src/source/libraries/file_collections.rst
  user_guide_src/source/libraries/files/012.php
  user_guide_src/source/libraries/files/014.php
Labels: documentation

#8876 docs: improve file upload validation
  user_guide_src/source/libraries/uploaded_files.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#8881 docs: update notes for `@runInSeparateProcess`
  user_guide_src/source/testing/overview.rst
Labels: documentation

#8882 docs: update PHP 8.1 EOL dates
  README.md
  admin/framework/README.md
  admin/starter/README.md
  user_guide_src/source/intro/requirements.rst
Labels: documentation

#8855 fix: correct property default values in Email
  system/Email/Email.php
Labels: bug

#8873 fix: CLI::promptByMultipleKeys() and prompt()
  phpstan-baseline.php
  system/CLI/CLI.php
  tests/system/CLI/CLITest.php
Labels: bug

#8886 docs: improve concepts/structure.rst
  user_guide_src/source/concepts/structure.rst
Labels: documentation

#8887 docs: remove outdated note in managing_apps.rst
  user_guide_src/source/general/managing_apps.rst
Labels: documentation

#8888 docs: fix text decoration in autoloader.rst
  user_guide_src/source/concepts/autoloader.rst
Labels: documentation

#8890 docs: Some typos and modifications in libraries/uri.rst
  user_guide_src/source/libraries/uri.rst
Labels: documentation

#8893 chore: improve user guide deploy script
  admin/userguide/.github/scripts/deploy
Labels: github_actions

#8897 docs: update modules.rst
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/general/modules.rst
  user_guide_src/source/outgoing/views.rst
Labels: documentation

#8906 docs: Prevent text-wrap in user guide
  user_guide_src/source/_static/css/citheme.css
Labels: documentation

#8848 docs: fix PHPDocs for `View`
  phpstan-baseline.php
  system/View/Cell.php
  system/View/Filters.php
  system/View/Parser.php
  system/View/RendererInterface.php
  system/View/Table.php
  system/View/View.php
Labels: documentation

#8889 docs: Small typos in libraries/uploaded_files.rst
  user_guide_src/source/libraries/uploaded_files.rst
Labels: documentation

#8909 docs: Small typos in libraries/validation.rst
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/037.php
Labels: documentation

#8910 docs: simplify explanation in uploaded_files.rst
  user_guide_src/source/libraries/uploaded_files.rst
Labels: documentation

#8884 docs: Some small typos and modifications in libraries/time.rst
  user_guide_src/source/libraries/time.rst
Labels: documentation

#8917 docs: improve Note for in-Model Validation
  user_guide_src/source/models/model.rst
Labels: documentation

#8922 chore: add file permission check workflow
  .github/workflows/test-file-permissions.yml
  utils/check_permission_x.php
Labels: github_actions

#8926 refactor: remove unused path parameter on PhpStreamWrapper::stream_open()
  system/Test/PhpStreamWrapper.php
Labels: refactor

#8925 docs: add note for View Cells typed properties
  user_guide_src/source/outgoing/view_cells.rst
  user_guide_src/source/outgoing/view_cells/023.php
Labels: documentation

#8913 fix: [Postgres] show missing error message
  system/Database/BaseConnection.php
  system/Database/Postgre/Connection.php
  tests/system/Database/Live/Postgre/ConnectTest.php
Labels: bug, database

#8846 docs: Fix typos in libraries/caching.rst
  user_guide_src/source/libraries/caching.rst
Labels: documentation

#8923 docs: Prevent text-wrap for span.pre in user guide citheme.css
  user_guide_src/source/_static/css/citheme.css
Labels: documentation
