Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-01, with the labels that each got.

#8392 test: ensure no .env when EncryptionTest is run
  tests/system/Encryption/EncryptionTest.php
Labels: testing

#8394 chore: enforce PR title format with PRLint Reloaded
  .github/prlint.json
Labels: github_actions

#8402 refactor: Table class to fix phpstan errors
  system/View/Table.php
Labels: refactor

#8401 fix: `highlightFile()` in `BaseExceptionHandler` for PHP 8.3
  system/Debug/BaseExceptionHandler.php
  system/Test/IniTestTrait.php
  tests/_support/Debug/highlightFile.html
  tests/_support/Debug/highlightFile_pre_80000.html
  tests/_support/Debug/highlightFile_pre_80300.html
  tests/system/Debug/ExceptionHandlerTest.php
  tests/system/Test/IniTestTraitTest.php
Labels: bug

#8396 docs: include empty values on `array_group_by()`
  user_guide_src/source/helpers/array_helper/014.php
Labels: documentation

#8413 docs: update `PULL_REQUEST_TEMPLATE`
  .github/PULL_REQUEST_TEMPLATE.md
Labels: documentation

#8424 [4.5] chore: fix phpunit.yml
  .github/workflows/reusable-phpunit-test.yml
  .github/workflows/test-phpunit.yml
Labels: github_actions, 4.5

#8425 fix: [Validation] DotArrayFilter returns incorrect array when numeric index array is passed
  system/Validation/DotArrayFilter.php
  tests/system/Validation/DotArrayFilterTest.php
Labels: bug

#8427 [4.5] test: fix incorrect case classname
  tests/system/Router/RouteCollectionTest.php
Labels: 4.5

#8429 test: remove duplicate assignment in CITestSeeder
  tests/_support/Database/Seeds/CITestSeeder.php
Labels: testing

#8428 chore: update Sphinx version to 5.3
  user_guide_src/requirements.txt
Labels: github_actions

#8432 test: add test for SQLite3 getFieldData()
  tests/system/Database/Live/SQLite3/AlterTableTest.php
  tests/system/Database/Live/SQLite3/GetFieldDataTest.php
  tests/system/Database/Live/SQLite3/GetIndexDataTest.php
Labels: testing

#8434 refactor: improve Forge variable names
  phpstan-baseline.php
  system/Database/Forge.php
  system/Database/MySQLi/Forge.php
  system/Database/OCI8/Forge.php
  system/Database/Postgre/Forge.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Forge.php
  system/Database/SQLite3/Table.php
Labels: database, refactor

#8440 fix: OCI8 Forge always sets NOT NULL when BOOLEAN is specified
  system/Database/OCI8/Forge.php
Labels: bug, database

#8388 feat: `spark make:test` creates test files in `/tests/` directory v2
  system/Autoloader/Autoloader.php
  system/Autoloader/FileLocator.php
  system/CLI/GeneratorTrait.php
  system/Commands/Generators/TestGenerator.php
  system/Commands/Utilities/Namespaces.php
  system/Config/AutoloadConfig.php
  tests/system/Commands/Utilities/NamespacesTest.php
  user_guide_src/source/cli/cli_generators.rst
Labels: enhancement, 4.5

#8447 fix: DB Seeder may use wrong DB connection during testing
  system/Test/DatabaseTestTrait.php
Labels: bug

#8439 fix: [Postgre] QueryBuilder::updateBatch() does not work (No API change)
  phpstan-baseline.php
  system/Database/BaseBuilder.php
  system/Database/Postgre/Builder.php
  tests/_support/Database/Migrations/20160428212500_Create_test_tables.php
  tests/system/Database/Live/UpdateTest.php
  user_guide_src/source/changelogs/v4.4.5.rst
  user_guide_src/source/database/query_builder.rst
Labels: bug, database

#8451 fix: [Postgre] QueryBuilder::deleteBatch() does not work
  system/Database/Postgre/Builder.php
  tests/system/Database/Live/DeleteTest.php
Labels: bug, database

#8450 test: update testInsertBatch() to use various data types
  tests/system/Database/Live/InsertTest.php
Labels: testing

#8453 test: add test for Postgre upsertBatch()
  tests/system/Database/Live/UpsertTest.php
Labels: testing

#8454 [4.5] test: fix 20160428212500_Create_test_tables.php
  tests/_support/Database/Migrations/20160428212500_Create_test_tables.php
Labels: testing, 4.5

#8438 test: add test for Postgre getFieldData()
  tests/system/Database/Live/Postgre/GetFieldDataTest.php
Labels: testing

#8441 docs: fix incorrect descriptions in Forge::modifyColumn() notes
  user_guide_src/source/dbmgmt/forge.rst
Labels: documentation

#8444 docs: improve csp
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/outgoing/csp.rst
Labels: documentation

#8446 fix: [Email] setAttachmentCID() does not work with buffer string
  system/Email/Email.php
  tests/system/Email/EmailTest.php
Labels: bug

#8448 docs: add about field data types on Forge
  user_guide_src/source/dbmgmt/forge.rst
  user_guide_src/source/dbmgmt/forge/007.php
  user_guide_src/source/dbmgmt/forge/025.php
  user_guide_src/source/dbmgmt/forge/028.php
Labels: documentation

#8449 test: add test for SQLSRV getFieldData()
  tests/system/Database/Live/SQLSRV/GetFieldDataTest.php
Labels: testing

#8452 docs: improve query_builder
  user_guide_src/source/database/query_builder.rst
Labels: documentation

#8456 fix: add undocumented Model $allowEmptyInserts
  system/Commands/Generators/Views/model.tpl.php
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/005.php
Labels: bug

#8461 test: refactor ImageMagickHandlerTest
  tests/system/Images/ImageMagickHandlerTest.php
Labels: testing

#8465 docs: add changelog and upgrade for v4.4.6
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.4.6.rst
  user_guide_src/source/installation/upgrade_446.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#8469 refactor: remove deprecated CastException exception
  system/Exceptions/CastException.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8348 feat: [Routing] add option to pass multiple URI segments to one Controller parameter
  app/Config/Routing.php
  phpstan-baseline.php
  system/Config/Routing.php
  system/Router/Router.php
  tests/system/Router/RouterTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/069.php
Labels: enhancement, 4.5

#8459 fix: [OCI8] getFieldData() returns incorrect `default` value
  system/Database/OCI8/Connection.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/OCI8/GetFieldDataTest.php
Labels: bug, database

#8460 fix: [SQLite3] getFieldData() returns incorrect `primary_key` values
  system/Database/SQLite3/Connection.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/SQLite3/GetFieldDataTest.php
  user_guide_src/source/database/metadata.rst
Labels: bug, database

#8476 docs: update fabricator.rst
  user_guide_src/source/testing/fabricator.rst
  user_guide_src/source/testing/fabricator/005.php
  user_guide_src/source/testing/fabricator/006.php
  user_guide_src/source/testing/fabricator/008.php
  user_guide_src/source/testing/fabricator/021.php
Labels: documentation

#8483 docs: fix $query->getFieldData() description
  user_guide_src/source/database/metadata.rst
Labels: documentation

#8481 fix: [OCI8][Postgre][SQLSRV][SQLite3] change order of properties returned by getFieldData()
  system/Database/OCI8/Connection.php
  system/Database/Postgre/Connection.php
  system/Database/SQLSRV/Connection.php
  system/Database/SQLite3/Connection.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/OCI8/GetFieldDataTest.php
  user_guide_src/source/database/metadata.rst
Labels: bug, database

#8468 refactor: remove unused exception classes
  system/Exceptions/AlertError.php
  system/Exceptions/EmergencyError.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, 4.5

#8467 fix: SQLite3 may not throw DatabaseException
  system/Database/SQLite3/Connection.php
  system/Database/SQLite3/PreparedQuery.php
Labels: bug, database, 4.5

#8488 docs: update description for 404 Override
  app/Config/Routing.php
  system/Config/Routing.php
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/051.php
  user_guide_src/source/incoming/routing/069.php
Labels: documentation

#8480 test: refactor GetFieldDataTest
  tests/system/Database/Live/AbstractGetFieldDataTest.php
  tests/system/Database/Live/MySQLi/GetFieldDataTest.php
  tests/system/Database/Live/OCI8/GetFieldDataTest.php
  tests/system/Database/Live/Postgre/GetFieldDataTest.php
  tests/system/Database/Live/SQLSRV/GetFieldDataTest.php
  tests/system/Database/Live/SQLite3/GetFieldDataTest.php
Labels: testing

#8489 docs: fix supported SQL Server version
  user_guide_src/source/intro/requirements.rst
Labels: bug, documentation
