Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-08, with the labels that each got.

#8748 feat: fix spark db:table causes errors with table name including special chars
  phpstan-baseline.php
  system/Commands/Database/ShowTableInfo.php
  system/Database/BaseBuilder.php
  system/Database/BaseConnection.php
  system/Database/MySQLi/Connection.php
  system/Database/OCI8/Connection.php
  system/Database/Postgre/Connection.php
  system/Database/SQLSRV/Connection.php
  system/Database/SQLite3/Connection.php
  system/Database/TableName.php
  system/Test/Mock/MockConnection.php
  tests/system/Database/Builder/AliasTest.php
  tests/system/Database/TableNameTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
Labels: bug, enhancement, database, breaking change, 4.6

#9099 refactor: reduce_multiples() and fix user guide
  system/Helpers/text_helper.php
  tests/system/Helpers/TextHelperTest.php
  user_guide_src/source/helpers/text_helper.rst
  user_guide_src/source/helpers/text_helper/009.php
  user_guide_src/source/helpers/text_helper/010.php
Labels: refactor

#9093 docs: improve CURLRequest sample code
  user_guide_src/source/libraries/curlrequest.rst
  user_guide_src/source/libraries/curlrequest/028.php
Labels: documentation

#9097 docs: improve In-Model Validation
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/models/model.rst
Labels: documentation

#9102 test: add tests for `validateData()` with custom error messages
  phpstan-baseline.php
  tests/system/ControllerTest.php
Labels: testing

#9103 fix: Validation rule `differs`/`matches` with dot array
  system/Validation/StrictRules/Rules.php
  tests/system/Validation/RulesTest.php
Labels: bug

#9104 refactor: remove dependency on BaseConnection in TableName
  system/Commands/Database/ShowTableInfo.php
  system/Database/TableName.php
  tests/system/Database/Builder/AliasTest.php
  tests/system/Database/TableNameTest.php
Labels: database, refactor, 4.6

#9107 test: fix EntityTest PHPStan errors
  phpstan-baseline.php
  system/Entity/Entity.php
  tests/system/Entity/EntityTest.php
Labels: testing

#9114 docs: replace deprecated failValidationError()
  user_guide_src/source/changelogs/v4.1.2.rst
  user_guide_src/source/outgoing/api_responses/002.php
Labels: documentation

#9115 docs: add missing property types
  user_guide_src/source/models/model/057.php
Labels: documentation

#9109 docs: improve Localization
  phpstan-baseline.php
  system/Common.php
  tests/system/Language/LanguageTest.php
  user_guide_src/source/outgoing/localization.rst
  user_guide_src/source/outgoing/localization/020.php
  user_guide_src/source/outgoing/localization/021.php
Labels: documentation

#9111 fix: update preload.php
  preload.php
Labels: bug

#9117 feat: add directives to `phpini:check` command
  system/Commands/Utilities/PhpIniCheck.php
  system/Security/CheckPhpIni.php
Labels: enhancement, 4.6

#9105 fix: Time::createFromTimestamp() change for PHP 8.4
  phpstan-baseline.php
  system/DataCaster/Cast/TimestampCast.php
  system/Entity/Cast/DatetimeCast.php
  system/I18n/Time.php
  system/I18n/TimeLegacy.php
  system/I18n/TimeTrait.php
  tests/system/DataConverter/DataConverterTest.php
  tests/system/Entity/EntityTest.php
  tests/system/I18n/TimeTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/installation/upgrade_460.rst
  user_guide_src/source/libraries/time.rst
  user_guide_src/source/models/model.rst
Labels: breaking change, 4.6

#9106 fix: Time::setTimestamp()'s different behavior than DateTime
  system/I18n/TimeLegacy.php
  system/I18n/TimeTrait.php
  tests/system/I18n/TimeTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/installation/upgrade_460.rst
  user_guide_src/source/installation/upgrade_460/008.php
  user_guide_src/source/installation/upgrade_460/009.php
  user_guide_src/source/libraries/time.rst
  user_guide_src/source/libraries/time/030.php
Labels: bug, breaking change, 4.6

#9127 docs: make Model Event Parameters description more precise
  user_guide_src/source/models/model.rst
Labels: documentation

#9129 docs: add Getting Routing Information
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/071.php
  user_guide_src/source/incoming/routing/072.php
Labels: documentation

#9136 docs: fix typo in changelog v4.6.0
  user_guide_src/source/changelogs/v4.6.0.rst
Labels: documentation, 4.6

#9142 fix: [Validation] TypeError when using numeric field names
  phpstan-baseline.php
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
Labels: bug

#9153 docs: Change tags to elements and fix some typos helpers/html_helper.rst
  user_guide_src/source/helpers/html_helper.rst
Labels: documentation

#9155 chore: fix link in fix-label-add-conflict-all-pr.yml
  .github/workflows/label-add-conflict-all-pr.yml
Labels: github_actions

#9138 [4.6] docs: add note about PHP versions supported by CI4 versions
  user_guide_src/source/intro/requirements.rst
Labels: documentation, 4.6

#9137 [4.6] chore: add PHP 8.4 to test-phpunit.yml
  .github/workflows/reusable-phpunit-test.yml
  .github/workflows/test-phpunit.yml
  composer.json
Labels: github_actions, 4.6

#9144 [4.6] fix: inconsistency in detailed error reporting
  system/Debug/ExceptionHandler.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/general/errors.rst
Labels: bug, breaking change, 4.6

#9150 feat: multiple hostname routing
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/073.php
Labels: enhancement, 4.6

#9157 refactor: BaseBuilder
  system/Database/BaseBuilder.php
Labels: refactor
