Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-06, with the labels that each got.

#8932 fix: TypeError in number_to_amount()
  system/Helpers/number_helper.php
  tests/system/Helpers/NumberHelperTest.php
Labels: bug

#8936 docs: Small typo in testing/benchmark.rst
  user_guide_src/source/testing/benchmark.rst
Labels: documentation

#8935 docs: fix helpers/form_helper.rst
  user_guide_src/source/helpers/form_helper.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/libraries/security.rst
Labels: documentation

#8938 docs: fix typo in errors.rst
  user_guide_src/source/general/errors.rst
Labels: documentation

#8939 docs: Small typo in testing/debugging.rst
  user_guide_src/source/testing/debugging.rst
Labels: documentation

#8933 fix: Model::find() returns incorrect data with casting
  system/Model.php
  tests/system/Models/DataConverterModelTest.php
Labels: bug, database

#8950 docs: add changelog and upgrade for v4.5.3
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.5.3.rst
  user_guide_src/source/installation/upgrade_453.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#8943 docs: Fix typo in extending/core_classes.rst
  user_guide_src/source/extending/core_classes.rst
Labels: documentation

#8557 docs: restore goals.rst from 3.0 user guide
  user_guide_src/source/concepts/goals.rst
  user_guide_src/source/concepts/index.rst
Labels: documentation

#8961 docs: Small typos in extending/events.rst
  user_guide_src/source/extending/events.rst
Labels: documentation

#8952 fix: `RedisHandler::deleteMatching()` not deleting matching keys if cache prefix is used
  system/Cache/Handlers/RedisHandler.php
  tests/system/Cache/Handlers/RedisHandlerTest.php
Labels: bug

#8960 feat: [FileCollection] add function to reatain multiple patterns
  system/Files/FileCollection.php
  tests/system/Files/FileCollectionTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/libraries/file_collections.rst
  user_guide_src/source/libraries/files/016.php
Labels: enhancement, 4.6

#8911 fix: DefinedRouteCollector to use RouteCollectionInterface
  phpstan-baseline.php
  system/Router/DefinedRouteCollector.php
  system/Router/RouteCollectionInterface.php
  system/Router/Router.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/installation/upgrade_460.rst
Labels: bug, breaking change, 4.6

#8969 chore: workaround for phpDocumentor error
  .github/workflows/deploy-apidocs.yml
Labels: github_actions

#8957 fix: TypeError in DefinedRouteCollector::collect()
  system/Router/DefinedRouteCollector.php
  tests/system/Router/DefinedRouteCollectorTest.php
Labels: bug

#8958 fix: `migrate:rollback -b` does not work due to TypeError
  system/Commands/Database/MigrateRollback.php
  tests/system/Commands/DatabaseCommandsTest.php
Labels: bug

#8968 chore: add checks for RELEASE and VERSION variables
  .github/scripts/deploy-userguide
Labels: github_actions

#8971 test: fix PHPStan errors in CommandTest
  phpstan-baseline.php
  tests/system/Commands/CommandTest.php
Labels: testing

#8959 fix: [Validation] `if_exist` does not work with array data
  system/Validation/Validation.php
  tests/system/Validation/RulesTest.php
  tests/system/Validation/StrictRules/RulesTest.php
Labels: bug

#8964 docs: fix `PHPStan` in `Commands`
  phpstan-baseline.php
  system/Commands/Database/ShowTableInfo.php
  system/Commands/ListCommands.php
  system/Commands/Utilities/Routes/AutoRouterImproved/AutoRouteCollector.php
Labels: documentation

#8974 fix: `spark routes` may show BadRequestException when a route has a regexp
  system/Commands/Utilities/Routes/FilterFinder.php
  system/Config/BaseService.php
  system/Router/Router.php
  tests/system/Commands/RoutesTest.php
Labels: bug

#8970 refactor: BaseBuilder::orderBy()
  system/Database/BaseBuilder.php
Labels: database, refactor

#8966 feat: [Validation] add `min_dims` rule in FileRules
  system/Validation/FileRules.php
  tests/system/Validation/FileRulesTest.php
  tests/system/Validation/StrictRules/FileRulesTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/libraries/validation.rst
Labels: enhancement, 4.6

#8976 docs: add categories to Enhancements > Libraries
  user_guide_src/source/changelogs/v4.6.0.rst
Labels: documentation, 4.6

#8978 docs: fix incorrect description for route group filter
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/026.php
Labels: bug, documentation

#8983 fix: return and param types of BaseConnection
  phpstan-baseline.php
  system/Database/BaseConnection.php
  system/Database/MySQLi/Connection.php
  system/Database/Postgre/Connection.php
  system/Database/SQLSRV/Connection.php
  system/Database/SQLite3/Connection.php
  system/Test/Mock/MockConnection.php
Labels: bug

#8898 fix: precedence of command classes with the same `$name`
  system/CLI/Commands.php
  tests/_support/_command/ListCommands.php
  tests/system/Commands/CommandOverrideTest.php
Labels: bug

#8986 fix: [OCI8] if conditions to build DSN
  phpstan-baseline.php
  system/Database/OCI8/Connection.php
Labels: bug, database

#8965 fix: View::renderSection() return type
  system/View/View.php
  tests/system/View/ViewTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
Labels: bug, breaking change, 4.6

#8975 [4.6] refactor: Validation rules and tests
  phpstan-baseline.php
  system/Validation/FileRules.php
  system/Validation/StrictRules/FileRules.php
  tests/system/Validation/CreditCardRulesTest.php
  tests/system/Validation/FileRulesTest.php
  tests/system/Validation/StrictRules/CreditCardRulesTest.php
  tests/system/Validation/StrictRules/FileRulesTest.php
Labels: refactor, 4.6

#8977 feat: [Filters] enables a filter to run more than once with different arguments
  phpstan-baseline.php
  system/Filters/Filters.php
  tests/system/CodeIgniterTest.php
  tests/system/Filters/FiltersTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_460.rst
Labels: enhancement, breaking change, 4.6

#8988 [4.6] fix: add validation message for min_dims
  system/Language/en/Validation.php
  user_guide_src/source/changelogs/v4.6.0.rst
Labels: bug, 4.6

#8980 fix: [Auto Routing Improved] Default Method Fallback does not work with `$translateUriToCamelCase`
  system/Router/AutoRouterImproved.php
  tests/system/Router/AutoRouterImprovedTest.php
Labels: bug

#8995 fix: `command()` may execute `rewrite.php`
  system/Commands/Server/Serve.php
  system/rewrite.php
Labels: bug

#8998 docs: add changelog and upgrade for v4.5.4
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.5.4.rst
  user_guide_src/source/installation/upgrade_454.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#9001 docs: add note to upgrade_420.rst
  user_guide_src/source/installation/upgrade_420.rst
Labels: documentation

#9002 docs: improve descriptions to Filters
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#8979 feat: add `foundRows` option for MySQLi config
  app/Config/Database.php
  phpstan-baseline.php
  system/Database/MySQLi/Connection.php
  tests/system/Database/Live/MySQLi/FoundRowsTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/database/configuration.rst
Labels: enhancement, database, 4.6

#8981 config: change default config for Auto Routing Improved
  app/Config/Feature.php
  app/Config/Routing.php
  tests/system/Commands/RoutesTest.php
  tests/system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReaderTest.php
  tests/system/Router/AutoRouterImprovedTest.php
  tests/system/Router/RouteCollectionTest.php
  tests/system/Router/RouterTest.php
  tests/system/Test/FeatureTestTraitTest.php
  user_guide_src/source/changelogs/v4.4.0.rst
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/auto_routing_improved.rst
  user_guide_src/source/incoming/auto_routing_improved/009.php
  user_guide_src/source/incoming/auto_routing_improved/010.php
  user_guide_src/source/incoming/auto_routing_improved/011.php
  user_guide_src/source/incoming/auto_routing_improved/020.php
  user_guide_src/source/incoming/auto_routing_improved/021.php
  user_guide_src/source/incoming/auto_routing_improved/022.php
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/index.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_460.rst
Labels: documentation, 4.6

#9004 refactor: use first class callable on function call
  system/CLI/BaseCommand.php
  system/CLI/CLI.php
  system/CLI/GeneratorTrait.php
  system/Commands/ListCommands.php
  system/Commands/Utilities/Routes.php
  system/Commands/Utilities/Routes/AutoRouterImproved/AutoRouteCollector.php
  system/Cookie/Cookie.php
  system/DataCaster/DataCaster.php
  system/Database/BaseConnection.php
  system/Database/Forge.php
  system/Database/MigrationRunner.php
  system/Database/OCI8/Forge.php
  system/Database/SQLite3/Forge.php
  system/Images/Handlers/GDHandler.php
  system/Router/RouteCollection.php
  system/Validation/Rules.php
Labels: refactor

#8985 feat: `spark filter:check` shows filter classnames
  phpstan-baseline.php
  system/Commands/Utilities/FilterCheck.php
  system/Commands/Utilities/Routes/FilterCollector.php
  system/Commands/Utilities/Routes/FilterFinder.php
  system/Filters/Filters.php
  tests/system/Commands/FilterCheckTest.php
  tests/system/Commands/Utilities/Routes/FilterFinderTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/incoming/filters.rst
Labels: enhancement, 4.6

#8994 fix: [Filters] normalize `$filters` arguments
  phpstan-baseline.php
  system/Filters/Filters.php
  tests/system/Filters/FiltersTest.php
Labels: bug, 4.6

#8767 feat: add BaseConnection::resetTransStatus()
  system/Database/BaseConnection.php
  tests/system/Database/Live/TransactionDBDebugTrueTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/database/transactions.rst
  user_guide_src/source/database/transactions/009.php
Labels: enhancement, database, 4.6

#9006 fix: [OCI8] Easy Connect string validation
  system/Database/OCI8/Connection.php
  tests/system/Database/Live/OCI8/ConnectionTest.php
Labels: bug, database

#9013 [4.6] refactor: add `: void`
  system/Filters/Filters.php
Labels: refactor, 4.6
