Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-02, with the labels that each got.

#8494 docs: improve testing/feature.rst
  user_guide_src/source/testing/feature.rst
  user_guide_src/source/testing/feature/001.php
Labels: documentation

#8495 docs: fix section order in testing
  user_guide_src/source/testing/index.rst
Labels: documentation

#8457 fix: [SQLite3] Forge::modifyColumn() messes up table
  system/Database/SQLite3/Forge.php
  system/Database/SQLite3/Table.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/SQLite3/AlterTableTest.php
  tests/system/Database/Live/SQLite3/ForgeModifyColumnTest.php
Labels: bug, database

#8497 refactor: remove deprecated CodeIgniter\Entity
  system/Entity.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8498 refactor: remove deprecated Cache\Exceptions\ExceptionInterface
  system/Cache/Exceptions/ExceptionInterface.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8493 docs: fix sample code in testing/controllers
  user_guide_src/source/testing/controllers/001.php
  user_guide_src/source/testing/controllers/002.php
  user_guide_src/source/testing/controllers/011.php
  user_guide_src/source/testing/controllers/012.php
  user_guide_src/source/testing/controllers/014.php
Labels: documentation

#8492 docs: improve testing/overview.rst
  user_guide_src/source/testing/overview.rst
  user_guide_src/source/testing/overview/002.php
  user_guide_src/source/testing/overview/003.php
  user_guide_src/source/testing/overview/016.php
  user_guide_src/source/testing/overview/017.php
  user_guide_src/source/testing/overview/018.php
  user_guide_src/source/testing/overview/019.php
  user_guide_src/source/testing/overview/020.php
Labels: documentation

#8504 docs: fix incorrect sample code in database/results
  user_guide_src/source/database/results/016.php
Labels: documentation

#8507 docs: improve array_helper.rst
  user_guide_src/source/helpers/array_helper.rst
Labels: documentation

#8506 test: use array_sort_by_multiple_keys() in AbstractGetFieldDataTest
  tests/system/Database/Live/AbstractGetFieldDataTest.php
Labels: testing

#8502 [4.5] refactor: add `declare(strict_types=1)` to ForgeModifyColumnTest
  tests/system/Database/Live/SQLite3/ForgeModifyColumnTest.php
Labels: refactor, 4.5

#8230 feat: add DataConverter to convert types
  deptrac.yaml
  phpstan-baseline.php
  psalm-baseline.xml
  system/DataCaster/Cast/ArrayCast.php
  system/DataCaster/Cast/BaseCast.php
  system/DataCaster/Cast/BooleanCast.php
  system/DataCaster/Cast/CSVCast.php
  system/DataCaster/Cast/CastInterface.php
  system/DataCaster/Cast/DatetimeCast.php
  system/DataCaster/Cast/FloatCast.php
  system/DataCaster/Cast/IntBoolCast.php
  system/DataCaster/Cast/IntegerCast.php
  system/DataCaster/Cast/JsonCast.php
  system/DataCaster/Cast/TimestampCast.php
  system/DataCaster/Cast/URICast.php
  system/DataCaster/DataCaster.php
  system/DataCaster/Exceptions/CastException.php
  system/DataConverter/DataConverter.php
  system/Entity/Cast/CastInterface.php
  system/Entity/Entity.php
  tests/system/DataConverter/DataConverterTest.php
  tests/system/View/ParserTest.php
Labels: enhancement, 4.5

#8503 docs: fix incorrect @return type in `ResultInterface-getCustomRowObject()`
  system/Database/BaseResult.php
  system/Database/ResultInterface.php
Labels: bug

#8509 docs: improve description for Environment Variables
  user_guide_src/source/general/configuration.rst
Labels: documentation

#8455 feat: [Model] add option $updateOnlyChanged
  system/BaseModel.php
  system/Commands/Generators/Views/model.tpl.php
  tests/system/Models/UpdateModelTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/005.php
Labels: enhancement, database, 4.5

#8496 feat: add event points for spark commands
  system/CLI/Commands.php
  system/CLI/Console.php
  tests/system/CLI/ConsoleTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/extending/events.rst
Labels: enhancement, 4.5

#8491 feat: 404 controller also can get PageNotFoundException message
  system/CodeIgniter.php
  tests/_support/Errors.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: enhancement, 4.5

#8490 fix: API\ResponseTrait can't return string as JSON
  system/API/ResponseTrait.php
  system/RESTful/ResourceController.php
  tests/system/API/ResponseTraitTest.php
  tests/system/Test/ControllerTestTraitTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/upgrade_450.rst
  user_guide_src/source/outgoing/api_responses.rst
Labels: bug, breaking change, 4.5

#8478 refactor: [SQLSRV] convert ENUM to VARCHAR(n) in Forge
  system/Database/SQLSRV/Forge.php
  tests/_support/Database/Migrations/20160428212500_Create_test_tables.php
  tests/system/Database/Live/GetTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/dbmgmt/forge.rst
Labels: database, 4.5

#8516 docs: add installation/deployment.rst
  user_guide_src/source/installation/deployment.rst
  user_guide_src/source/installation/index.rst
Labels: documentation

#8514 docs: add link to detailed page in installation/running.rst
  user_guide_src/source/installation/running.rst
Labels: documentation

#8513 docs: modify sentences slightly in Entity
  user_guide_src/source/models/entities.rst
  user_guide_src/source/models/entities/018.php
  user_guide_src/source/models/entities/020.php
Labels: documentation

#8518 chore: skip PHPUnit 10 rector rules
  rector.php
Labels: 4.5

#8499 feat: Validation::run() accepts DB connection
  deptrac.yaml
  system/Validation/Validation.php
  system/Validation/ValidationInterface.php
  tests/system/Validation/StrictRules/DatabaseRelatedRulesTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: enhancement, breaking change, 4.5

#8524 fix: [Postgre] updateBatch() breaks `char` type data
  system/Database/Postgre/Builder.php
  tests/system/Database/Live/UpdateTest.php
Labels: bug, database

#8482 test: add tests for getFieldData() type
  tests/system/Database/Live/AbstractGetFieldDataTest.php
  tests/system/Database/Live/MySQLi/GetFieldDataTest.php
  tests/system/Database/Live/OCI8/GetFieldDataTest.php
  tests/system/Database/Live/Postgre/GetFieldDataTest.php
  tests/system/Database/Live/SQLSRV/GetFieldDataTest.php
  tests/system/Database/Live/SQLite3/GetFieldDataTest.php
Labels: testing

#8521 docs: improve view() and view renderer
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/outgoing/view_renderer.rst
  user_guide_src/source/outgoing/views.rst
Labels: documentation

#8523 [4.5] fix: DEBUG-VIEW comments are not output
  system/Filters/Filters.php
  system/View/View.php
  tests/system/Helpers/FormHelperTest.php
Labels: bug, 4.5

#8531 [4.5] test: update asssertion for SQLSRV ENUM
  tests/system/Database/Live/SQLSRV/GetFieldDataTest.php
Labels: testing, 4.5

#8536 docs: update installing_composer.rst
  user_guide_src/source/installation/installing_composer.rst
Labels: documentation

#8537 docs: use validateData() instead of validate() in uploaded_files
  user_guide_src/source/libraries/uploaded_files/002.php
Labels: documentation

#8525 feat: add DB config `dateFormat` to provide default date/time formats
  app/Config/Database.php
  system/Database/BaseConnection.php
  tests/system/Database/BaseConnectionTest.php
  user_guide_src/source/database/configuration.rst
Labels: enhancement, 4.5

#8529 refactor: use ternary operators in Helpers
  system/Helpers/array_helper.php
  system/Helpers/form_helper.php
  system/Helpers/html_helper.php
Labels: refactor

#8411 fix: DebugBar block by CSP
  admin/css/debug-toolbar/toolbar.scss
  app/Views/welcome_message.php
  system/Debug/Toolbar.php
  system/Debug/Toolbar/Views/_database.tpl
  system/Debug/Toolbar/Views/toolbar.css
  system/Debug/Toolbar/Views/toolbar.js
  system/Debug/Toolbar/Views/toolbar.tpl.php
  system/Debug/Toolbar/Views/toolbarloader.js
Labels: bug

#8539 [4.5] fix: $db->dateFormat merge
  system/Database/BaseConnection.php
  tests/system/Database/BaseConnectionTest.php
Labels: bug, database, 4.5

#8532 docs: add sample code to get URI segments in 404 closure
  user_guide_src/source/incoming/routing/069.php
Labels: documentation

#8534 [4.5] fix: spark does not work with composer install --no-dev
  system/Commands/Generators/TestGenerator.php
  system/Config/AutoloadConfig.php
  tests/system/Commands/Utilities/NamespacesTest.php
Labels: bug, 4.5

#8541 refactor: use official site URLs
  app/Views/welcome_message.php
  system/Debug/Toolbar/Views/_config.tpl
  system/Session/Handlers/BaseHandler.php
Labels: refactor

#8542 docs: fix config filename routes.php
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/helpers/url_helper.rst
Labels: documentation

#8540 docs: update "Welcome to CodeIgniter4"
  user_guide_src/source/intro/index.rst
Labels: documentation

#8550 docs: replace `$this->validate()` with `validateData()`
  user_guide_src/source/installation/upgrade_file_upload/001.php
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/installation/upgrade_validations/001.php
  user_guide_src/source/installation/upgrade_validations/002.php
  user_guide_src/source/libraries/validation.rst
  user_guide_src/source/libraries/validation/045.php
Labels: documentation

#8543 docs: fix `@phpstan-type` in Model
  system/BaseModel.php
Labels: bug

#8466 fix: [CURLRequest] Multiple HTTP 100 return by API.
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestTest.php
Labels: bug

#8535 feat: 404 Override sets 404 by default
  system/CodeIgniter.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: enhancement, breaking change, 4.5

#8533 feat: permit __invoke() method as Controller default method
  system/CodeIgniter.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/routing.rst
Labels: enhancement, 4.5

#8243 feat: add Model field casting
  deptrac.yaml
  rector.php
  system/BaseModel.php
  system/Commands/Generators/Views/model.tpl.php
  system/DataCaster/Cast/ArrayCast.php
  system/DataCaster/Cast/BaseCast.php
  system/DataCaster/Cast/BooleanCast.php
  system/DataCaster/Cast/CSVCast.php
  system/DataCaster/Cast/CastInterface.php
  system/DataCaster/Cast/DatetimeCast.php
  system/DataCaster/Cast/FloatCast.php
  system/DataCaster/Cast/IntBoolCast.php
  system/DataCaster/Cast/IntegerCast.php
  system/DataCaster/Cast/JsonCast.php
  system/DataCaster/Cast/TimestampCast.php
  system/DataCaster/Cast/URICast.php
  system/DataCaster/DataCaster.php
  system/DataConverter/DataConverter.php
  system/Entity/Entity.php
  system/Model.php
  tests/_support/Entity/CustomUser.php
  tests/_support/Models/UserCastsTimestampModel.php
  tests/system/DataConverter/DataConverterTest.php
  tests/system/Models/DataConverterModelTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/057.php
  user_guide_src/source/models/model/058.php
  user_guide_src/source/models/model/059.php
  user_guide_src/source/models/model/060.php
  user_guide_src/source/models/model/061.php
  user_guide_src/source/models/model/062.php
Labels: enhancement, database, 4.5

#8556 refactor: remove redundant URL helper loading
  system/Test/bootstrap.php
Labels: refactor

#8559 refactor: remove deprecated const SPARKED
  spark
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8564 docs: improve debugging
  user_guide_src/source/database/events.rst
  user_guide_src/source/installation/troubleshooting.rst
  user_guide_src/source/testing/debugging.rst
Labels: documentation

#8544 fix: Time::createFromTimestamp() returns Time with UTC
  system/I18n/TimeTrait.php
  tests/system/I18n/TimeTest.php
  user_guide_src/source/changelogs/v4.4.6.rst
  user_guide_src/source/installation/upgrade_446.rst
  user_guide_src/source/libraries/time.rst
Labels: bug, breaking change

#8547 chore: add PhpMetrics
  composer.json
  phpmetrics.json
  tools/phpmetrics/composer.json
Labels: 4.5

#8553 refactor: small improvement in `loadInNamespace` Autoloader
  system/Autoloader/Autoloader.php
Labels: refactor

#8554 docs: add "Deployment to Shared Hosting Services"
  user_guide_src/source/installation/running.rst
Labels: documentation

#8545 docs: use word "UNIX timestamp" for consistency
  user_guide_src/source/libraries/cookies/004.php
  user_guide_src/source/models/model.rst
Labels: documentation

#8565 [4.5] refactor: use local variables in Model
  system/Model.php
Labels: refactor, 4.5

#8549 docs: add note for index.php change
  user_guide_src/source/installation/upgrade_4xx.rst
Labels: documentation

#8561 fix: PHPDoc types in controller.tpl.php
  system/Commands/Generators/Views/controller.tpl.php
Labels: bug

#8323 fix: [Session] Redis session race condition
  system/Session/Handlers/RedisHandler.php
Labels: bug

#8576 docs: add changelog and upgrade for v4.4.7
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.4.7.rst
  user_guide_src/source/installation/upgrade_447.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#8579 [4.5] docs: move "Deployment to Shared Hosting Services" to "Deployment" page
  user_guide_src/source/installation/deployment.rst
  user_guide_src/source/installation/running.rst
Labels: documentation

#8582 docs: improve upgrade_450.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: documentation, 4.5

#8583 docs: improve changelogs v4.5.0
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: documentation, 4.5
