Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-12, with the labels that each got.

#9295 test: refactor `ConfigCheckTest`
  phpstan-baseline.php
  tests/system/Commands/Utilities/ConfigCheckTest.php
Labels: testing

#9296 refactor: use `baseURI` instead of `base_uri`
  system/Config/Services.php
  system/HTTP/ContentSecurityPolicy.php
  tests/system/HTTP/CURLRequestShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
Labels: refactor

#9216 feat: [Validation] add support for `$dbGroup` as parameter in `is_unique` and `is_not_unique`
  system/Validation/Rules.php
  system/Validation/StrictRules/Rules.php
  tests/system/Validation/StrictRules/DatabaseRelatedRulesTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/libraries/validation.rst
Labels: enhancement, 4.6

#9278 feat: added the `namespace` option to the `publish` command
  system/Commands/Utilities/Publish.php
  system/Language/en/Publisher.php
  system/Publisher/Publisher.php
  tests/system/Publisher/PublisherSupportTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/libraries/publisher.rst
  user_guide_src/source/libraries/publisher/016.php
Labels: enhancement, 4.6

#9202 feat: add SQLite3 config synchronous
  app/Config/Database.php
  system/Database/SQLite3/Connection.php
  tests/system/Database/Live/SQLite3/ConnectTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/database/configuration.rst
Labels: enhancement, 4.6

#9162 docs: Fix $indexPage param explanations in helpers/html_helper.rst
  user_guide_src/source/helpers/html_helper.rst
Labels: documentation

#9277 feat: Differentiate between kilobyte/kibibyte and megabyte/mebibyte
  system/Files/File.php
  system/Files/FileSizeUnit.php
  tests/system/Files/FileTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/libraries/files.rst
  user_guide_src/source/libraries/files/017.php
  user_guide_src/source/libraries/files/018.php
Labels: enhancement, 4.6

#9298 docs: update note about required filters
  user_guide_src/source/incoming/filters.rst
Labels: documentation

#9307 fix: primary key mapping in the model for the entity
  phpstan-baseline.php
  system/Model.php
  tests/system/Models/SaveModelTest.php
  user_guide_src/source/changelogs/v4.5.6.rst
Labels: bug, database

#9310 docs: add missing info about exceptions for non-HTML responses
  user_guide_src/source/changelogs/v4.6.0.rst
Labels: documentation, 4.6

#9313 refactor: fix `phpDoc.parseError` errors
  phpstan-baseline.php
  system/Database/MySQLi/Connection.php
  tests/system/Cache/FactoriesCacheFileHandlerTest.php
Labels: refactor

#9315 refactor: fix `method.nameCase` errors
  phpstan-baseline.php
  system/Test/ControllerTestTrait.php
  tests/system/Database/Live/InsertTest.php
  tests/system/Database/Live/UpsertTest.php
  tests/system/Format/FormatTest.php
  tests/system/HTTP/Files/FileCollectionTest.php
  tests/system/Test/ControllerTestTraitTest.php
  tests/system/Validation/FormatRulesTest.php
  user_guide_src/source/testing/controllers.rst
  user_guide_src/source/testing/controllers/002.php
  user_guide_src/source/testing/controllers/009.php
Labels: refactor

#9314 refactor: rename `controller` to `Controller`
  phpstan-baseline.php
  tests/system/Router/RouteCollectionTest.php
Labels: refactor

#9316 refactor: fix implicit array creation
  phpstan-baseline.php
  system/Commands/Utilities/Routes/AutoRouterImproved/AutoRouteCollector.php
  system/Helpers/url_helper.php
  tests/system/DataConverter/DataConverterTest.php
Labels: refactor

#9317 fix: check if defined `WRITEPATH` exists
  system/Boot.php
Labels: bug

#9322 refactor: upgrade to use phpstan 2 and rector 2
  composer.json
Labels: refactor

#9326 docs: phpdoc incorrect explanation regarding variable naming
  system/Cache/Handlers/FileHandler.php
  system/Database/BaseConnection.php
  system/Database/MySQLi/Connection.php
  system/Helpers/filesystem_helper.php
  system/Security/Security.php
  system/Security/SecurityInterface.php
Labels: documentation

#9324 docs: variable naming adjustments
  user_guide_src/source/models/model/006.php
  user_guide_src/source/models/model/008.php
  user_guide_src/source/models/model/046.php
Labels: documentation

#9255 feat: full support on `PHP8.4`
  .github/workflows/reusable-phpunit-test.yml
  .github/workflows/test-coding-standards.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/test-rector.yml
  admin/framework/composer.json
  composer.json
Labels: github_actions, 4.6

#9330 refactor: fix `Forge::processIndexes()` for empty `$this->fields`
  system/Database/Forge.php
  utils/phpstan-baseline/assign.propertyType.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
Labels: refactor

#9192 test: remove DB files after tests
  tests/system/Database/Live/ForgeTest.php
Labels: testing

#9331 refactor: `Reflection*::setAccessible()` is now no-op in PHP 8.1
  system/BaseModel.php
  system/Test/ReflectionHelper.php
  system/Traits/PropertiesTrait.php
  tests/system/CLI/CLITest.php
Labels: refactor

#9327 refactor: add `@throws RedirectException` in `Controller::initController`
  system/Controller.php
  utils/phpstan-baseline/catch.neverThrown.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9332 chore: fix errors on merging `develop` to `4.6`
  composer.json
  utils/phpstan-baseline/argument.type.neon
  utils/phpstan-baseline/assign.propertyType.neon
  utils/phpstan-baseline/booleanNot.exprNotBoolean.neon
  utils/phpstan-baseline/codeigniter.superglobalAccessAssign.neon
  utils/phpstan-baseline/method.childReturnType.neon
  utils/phpstan-baseline/method.notFound.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
  utils/phpstan-baseline/missingType.parameter.neon
  utils/phpstan-baseline/missingType.property.neon
  utils/phpstan-baseline/property.notFound.neon
Labels: 4.6

#9333 chore: bump to laminas-escaper v2.15
  system/ThirdParty/Escaper/Escaper.php
Labels: 4.6

#9311 refactor: enable code quality level 34 for rector
  rector.php
  system/CLI/Commands.php
  system/CodeIgniter.php
  system/Commands/Database/MigrateRollback.php
  system/Database/BaseBuilder.php
  system/Filters/CSRF.php
  system/Filters/Cors.php
  system/Filters/DebugToolbar.php
  system/Filters/FilterInterface.php
  system/Filters/ForceHTTPS.php
  system/Filters/Honeypot.php
  system/Filters/InvalidChars.php
  system/Filters/PageCache.php
  system/Filters/PerformanceMetrics.php
  system/Filters/SecureHeaders.php
  system/Images/Handlers/BaseHandler.php
  system/Language/Language.php
  system/Security/CheckPhpIni.php
  system/Session/Session.php
  system/Test/CIUnitTestCase.php
  tests/_support/Filters/Customfilter.php
  tests/_support/Filters/RedirectFilter.php
  tests/system/Filters/fixtures/GoogleCurious.php
  tests/system/Filters/fixtures/GoogleEmpty.php
  tests/system/Filters/fixtures/GoogleYou.php
  tests/system/Filters/fixtures/Multiple1.php
  tests/system/Filters/fixtures/Multiple2.php
  utils/phpstan-baseline/missingType.iterableValue.neon
  utils/phpstan-baseline/return.missing.neon
Labels: 4.6

#9337 fix: handling binary data for prepared statement
  .php-cs-fixer.tests.php
  system/Database/BasePreparedQuery.php
  system/Database/MySQLi/PreparedQuery.php
  system/Database/OCI8/PreparedQuery.php
  system/Database/Postgre/Forge.php
  system/Database/Postgre/PreparedQuery.php
  system/Database/SQLSRV/Connection.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLSRV/PreparedQuery.php
  system/Database/SQLite3/PreparedQuery.php
  tests/_support/Database/Migrations/20160428212500_Create_test_tables.php
  tests/system/Database/Live/AbstractGetFieldDataTestCase.php
  tests/system/Database/Live/Postgre/GetFieldDataTestCase.php
  tests/system/Database/Live/PreparedQueryTest.php
  tests/system/Database/Live/SQLSRV/GetFieldDataTestCase.php
  user_guide_src/source/changelogs/v4.5.6.rst
  user_guide_src/source/database/queries.rst
Labels: bug, database

#9235 fix: prioritize headers set by the `Response` class
  system/HTTP/ResponseTrait.php
  tests/system/HTTP/ResponseSendTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/outgoing/response.rst
Labels: bug, breaking change, 4.6

#9342 refactor: fix warning on new static usage
  tests/_support/Entity/CustomUser.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/new.static.neon
Labels: refactor

#9341 refactor: fix used void return type
  system/Commands/ListCommands.php
  tests/system/Log/LoggerTest.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/method.void.neon
Labels: refactor

#9339 refactor: enable instanceof and strictBooleans rector set
  app/Views/errors/cli/error_exception.php
  composer.json
  rector.php
  system/CLI/CLI.php
  system/Cache/Handlers/FileHandler.php
  system/Commands/Utilities/Routes/AutoRouterImproved/ControllerMethodReader.php
  system/Commands/Utilities/Routes/ControllerMethodReader.php
  system/Config/DotEnv.php
  system/Config/Services.php
  system/Cookie/Cookie.php
  system/Database/BaseBuilder.php
  system/Database/BaseConnection.php
  system/Database/Database.php
  system/Database/MigrationRunner.php
  system/Database/MySQLi/Forge.php
  system/Database/Postgre/Connection.php
  system/Email/Email.php
  system/HTTP/Files/UploadedFile.php
  system/HTTP/ResponseTrait.php
  system/HTTP/SiteURI.php
  system/Helpers/filesystem_helper.php
  system/Helpers/form_helper.php
  system/Helpers/html_helper.php
  system/I18n/TimeTrait.php
  system/Images/Image.php
  system/Router/RouteCollection.php
  system/Session/Handlers/FileHandler.php
  system/Session/Handlers/MemcachedHandler.php
  system/Session/Session.php
  system/Test/CIUnitTestCase.php
  system/Typography/Typography.php
  system/Validation/Rules.php
  system/Validation/StrictRules/Rules.php
  system/Validation/Validation.php
  system/View/Parser.php
  utils/phpstan-baseline/ternary.shortNotAllowed.neon
  utils/src/Rector/UnderscoreToCamelCaseVariableNameRector.php
Labels: refactor

#9343 refactor: enable AddArrowFunctionReturnTypeRector
  app/Views/errors/cli/error_exception.php
  rector.php
  system/CLI/CLI.php
  system/Commands/Utilities/Routes.php
  system/Database/BaseBuilder.php
  system/Database/Forge.php
  system/Database/MySQLi/Builder.php
  system/Database/OCI8/Builder.php
  system/Database/OCI8/Result.php
  system/Database/Postgre/Builder.php
  system/Database/Postgre/Connection.php
  system/Database/Query.php
  system/Database/SQLSRV/Builder.php
  system/Database/SQLSRV/Connection.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Builder.php
  system/Database/SQLite3/Table.php
  system/Debug/Toolbar/Collectors/Database.php
  system/Entity/Entity.php
  system/Files/FileCollection.php
  system/HTTP/URI.php
  system/Helpers/Array/ArrayHelper.php
  system/Helpers/form_helper.php
  system/Language/Language.php
  system/Router/AutoRouter.php
  system/Router/AutoRouterImproved.php
  system/Router/RouteCollection.php
  system/Router/Router.php
  system/Test/ReflectionHelper.php
  system/Validation/DotArrayFilter.php
  system/Validation/Validation.php
  system/View/Table.php
  tests/_support/Config/Routes.php
  tests/system/AutoReview/FrameworkCodeTest.php
  tests/system/Cache/Handlers/DummyHandlerTest.php
  tests/system/Cache/Handlers/FileHandlerTest.php
  tests/system/Cache/Handlers/MemcachedHandlerTest.php
  tests/system/Cache/Handlers/PredisHandlerTest.php
  tests/system/Cache/Handlers/RedisHandlerTest.php
  tests/system/CodeIgniterTest.php
  tests/system/Database/Builder/UnionTest.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Debug/TimerTest.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
  tests/system/Router/DefinedRouteCollectorTest.php
  tests/system/Router/RouterTest.php
  tests/system/Test/FeatureTestTraitTest.php
  tests/system/Validation/RulesTest.php
  tests/system/Validation/StrictRules/RulesTest.php
  tests/system/Validation/ValidationTest.php
  tests/system/View/ParserTest.php
Labels: refactor

#9353 chore: add PHP 8.4 to issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: 4.6

#9351 fix: `Forge::dropColumn()` always returns `false` on SQLite3 driver
  system/Database/Forge.php
  system/Database/SQLite3/Forge.php
  tests/system/Database/Live/ForgeTest.php
  user_guide_src/source/changelogs/v4.5.7.rst
  utils/phpstan-baseline/missingType.iterableValue.neon
Labels: bug, database
