Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-04, with the labels that each got.

#8686 docs: add missing "Upgrade Image Manipulation Class"
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_images.rst
  user_guide_src/source/installation/upgrade_images/001.php
  user_guide_src/source/installation/upgrade_images/ci3sample/001.php
Labels: documentation

#8689 fix: the error view is determined by Exception code
  system/Debug/ExceptionHandler.php
  tests/system/Debug/ExceptionHandlerTest.php
  user_guide_src/source/changelogs/v4.4.8.rst
Labels: bug

#8692 docs: fix sample .htaccess code in running.rst
  user_guide_src/source/installation/running.rst
Labels: documentation

#8694 docs: fix layout in Database Metadata
  user_guide_src/source/database/metadata.rst
Labels: documentation

#8693 refactor: DB config properties
  app/Config/Database.php
  phpstan-baseline.php
  system/Database/BaseConnection.php
  system/Database/MySQLi/Forge.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: database, refactor, 4.5

#8652 docs: update Security Guidelines
  user_guide_src/source/concepts/security.rst
  user_guide_src/source/database/queries.rst
Labels: documentation

#8700 docs: update "Setting the Current Locale"
  user_guide_src/source/outgoing/localization.rst
Labels: documentation

#8704 refactor: [Rector] Apply ExplicitBoolCompareRector
  phpstan-baseline.php
  rector.php
  system/CLI/CLI.php
  system/Commands/Database/MigrateStatus.php
  system/Config/DotEnv.php
  system/Controller.php
  system/Database/OCI8/Builder.php
  system/HTTP/DownloadResponse.php
  system/Helpers/filesystem_helper.php
  system/Helpers/form_helper.php
  system/Helpers/html_helper.php
  system/Helpers/url_helper.php
  system/Router/RouteCollection.php
  system/Session/Handlers/FileHandler.php
  system/View/Table.php
  tests/system/Cache/ResponseCacheTest.php
Labels: refactor

#8702 fix: `Pager::only([])` does not work
  phpstan-baseline.php
  system/Pager/Pager.php
  tests/system/Pager/PagerTest.php
Labels: bug

#8699 docs: restructure Change Logs 4.5.0
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: documentation, 4.5

#8707 docs: add `// ...` to Model sample code
  user_guide_src/source/models/model/003.php
  user_guide_src/source/models/model/004.php
  user_guide_src/source/models/model/027.php
  user_guide_src/source/models/model/034.php
  user_guide_src/source/models/model/038.php
  user_guide_src/source/models/model/040.php
  user_guide_src/source/models/model/041.php
  user_guide_src/source/models/model/050.php
  user_guide_src/source/models/model/051.php
  user_guide_src/source/models/model/052.php
  user_guide_src/source/models/model/054.php
Labels: documentation

#8706 docs: add escaping to variables in sample code
  user_guide_src/source/outgoing/alternative_php.rst
  user_guide_src/source/outgoing/alternative_php/001.php
Labels: documentation

#8709 docs: fix return type in BaseResult
  system/Database/BaseResult.php
  system/Database/ResultInterface.php
Labels: bug

#8710 docs: add new 4.5 features to "Security Guidelines"
  user_guide_src/source/concepts/security.rst
Labels: documentation, 4.5

#8711 feat: `spark config:check` detects Config Caching
  system/Commands/Utilities/ConfigCheck.php
  user_guide_src/source/general/configuration.rst
Labels: enhancement, 4.5

#8669 docs: add "OWASP API Security Top 10 2023" to Security Guidelines
  user_guide_src/source/concepts/security.rst
  user_guide_src/source/models/model.rst
Labels: documentation

#8715 docs: update "Security Guidelines" for APIs
  user_guide_src/source/concepts/security.rst
Labels: documentation, 4.5

#8717 docs: make CI3 notation consistent
  user_guide_src/source/incoming/controllers.rst
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/installation/index.rst
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_configuration.rst
  user_guide_src/source/installation/upgrade_controllers.rst
  user_guide_src/source/installation/upgrade_database.rst
  user_guide_src/source/installation/upgrade_emails.rst
  user_guide_src/source/installation/upgrade_encryption.rst
  user_guide_src/source/installation/upgrade_file_upload.rst
  user_guide_src/source/installation/upgrade_html_tables.rst
  user_guide_src/source/installation/upgrade_images.rst
  user_guide_src/source/installation/upgrade_localization.rst
  user_guide_src/source/installation/upgrade_migrations.rst
  user_guide_src/source/installation/upgrade_models.rst
  user_guide_src/source/installation/upgrade_pagination.rst
  user_guide_src/source/installation/upgrade_responses.rst
  user_guide_src/source/installation/upgrade_routing.rst
  user_guide_src/source/installation/upgrade_security.rst
  user_guide_src/source/installation/upgrade_sessions.rst
  user_guide_src/source/installation/upgrade_validations.rst
  user_guide_src/source/installation/upgrade_view_parser.rst
  user_guide_src/source/installation/upgrade_views.rst
  user_guide_src/source/libraries/uploaded_files.rst
Labels: documentation

#8069 refactor: update PHPUnit to 10
  .gitignore
  admin/framework/composer.json
  admin/framework/phpunit.xml.dist
  admin/starter/composer.json
  admin/starter/phpunit.xml.dist
  composer.json
  phpstan-baseline.php
  phpunit.xml.dist
  system/Test/Constraints/SeeInDatabase.php
  tests/system/Autoloader/AutoloaderTest.php
  tests/system/Cache/Handlers/AbstractHandlerTestCase.php
  tests/system/Cache/Handlers/FileHandlerTest.php
  tests/system/Cache/Handlers/MemcachedHandlerTest.php
  tests/system/Cache/Handlers/PredisHandlerTest.php
  tests/system/Cache/Handlers/RedisHandlerTest.php
  tests/system/CodeIgniterTest.php
  tests/system/Commands/GenerateKeyTest.php
  tests/system/CommonFunctionsSendTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/Config/BaseConfigTest.php
  tests/system/Config/DotEnvTest.php
  tests/system/Config/ServicesTest.php
  tests/system/Database/Live/AbstractGetFieldDataTestCase.php
  tests/system/Database/Live/MySQLi/GetFieldDataTestCase.php
  tests/system/Database/Live/OCI8/GetFieldDataTestCase.php
  tests/system/Database/Live/Postgre/GetFieldDataTestCase.php
  tests/system/Database/Live/SQLSRV/GetFieldDataTestCase.php
  tests/system/Database/Live/SQLite3/GetFieldDataTestCase.php
  tests/system/Events/EventsTest.php
  tests/system/Filters/HoneypotTest.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
  tests/system/HTTP/DownloadResponseTest.php
  tests/system/HTTP/IncomingRequestTest.php
  tests/system/HTTP/RedirectResponseTest.php
  tests/system/HTTP/ResponseSendTest.php
  tests/system/Helpers/FormHelperTest.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  tests/system/RESTful/ResourceControllerTest.php
  tests/system/RESTful/ResourcePresenterTest.php
  tests/system/Security/SecurityCSRFSessionRandomizeTokenTest.php
  tests/system/Security/SecurityCSRFSessionTest.php
  tests/system/Session/SessionTest.php
  tests/system/Test/ControllerTestTraitTest.php
  tests/system/Test/TestCaseEmissionsTest.php
  tests/system/Validation/ValidationTest.php
  tests/system/View/ParserPluginTest.php
Labels: help wanted, refactor, 4.5

#8721 docs: fix merge mistake about "Deployment to Shared Hosting Services"
  user_guide_src/source/installation/deployment.rst
  user_guide_src/source/installation/running.rst
Labels: documentation

#8724 docs: add changelog and upgrade for v4.5.1
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.5.1.rst
  user_guide_src/source/installation/upgrade_451.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#8726 docs: fix typo in upgrade_450
  user_guide_src/source/installation/upgrade_450.rst
Labels: documentation

#8733 docs: change comment position in Tutorial code
  user_guide_src/source/tutorial/static_pages/002.php
Labels: documentation

#8735 docs: fix files in "All Changes" in Project Files in upgrade_448.rst
  user_guide_src/source/installation/upgrade_448.rst
Labels: documentation

#8738 fix: TypeError when Time is passed to Model
  phpstan-baseline.php
  system/BaseModel.php
  system/Model.php
Labels: bug, database

#8731 test: refactor Config/Registrar.php
  phpstan-baseline.php
  tests/_support/Config/Registrar.php
Labels: testing, refactor

#8747 docs: change description to more appropriate in upgrade_450
  user_guide_src/source/installation/upgrade_450.rst
Labels: documentation

#8741 refactor: system/CLI/BaseCommand.php
  phpstan-baseline.php
  system/CLI/BaseCommand.php
Labels: refactor

#8744 fix: Factories::get() cannot get defined classes
  system/Config/Factories.php
  tests/system/Config/FactoriesTest.php
Labels: bug

#8756 fix: `BaseConnection::escape()` does not accept Stringable
  system/Database/BaseConnection.php
  system/Database/Postgre/Connection.php
  system/I18n/Time.php
  tests/system/Database/Live/EscapeTest.php
Labels: bug, database

#8760 fix: [CURLRequest] `getHeaderLine('Content-Type')` causes InvalidArgumentException
  phpstan-baseline.php
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
Labels: bug

#8765 docs: update "Array Callable Syntax" description in routing.rst
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#8761 fix: [CURLRequest] construct param $config is not used
  phpstan-baseline.php
  system/HTTP/CURLRequest.php
Labels: bug

#8742 refactor: system/View/Plugins.php
  phpstan-baseline.php
  system/View/Plugins.php
Labels: refactor

#8758 refactor: fix method name `ValidationErrors` in View\Plugins
  system/View/Plugins.php
  tests/system/View/ParserPluginTest.php
Labels: refactor

#8743 test: add tests for form_helper with CSRF filter
  tests/system/Helpers/FormHelperTest.php
Labels: testing

#8751 refactor: system/Debug/Toolbar/Collectors/Routes.php
  phpstan-baseline.php
  system/Debug/Toolbar/Collectors/Routes.php
Labels: refactor

#8763 test: refactor CURLRequset tests
  phpstan-baseline.php
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestDoNotShareOptionsTest.php
  tests/system/HTTP/CURLRequestShareOptionsTest.php
  tests/system/HTTP/CURLRequestTest.php
Labels: testing

#8766 refactor: improve error message in BaseExceptionHandler
  phpstan-baseline.php
  system/Debug/BaseExceptionHandler.php
Labels: refactor

#8770 refactor: FabricatorModel
  phpstan-baseline.php
  system/Test/Interfaces/FabricatorModel.php
  tests/_support/Models/FabricatorModel.php
  user_guide_src/source/testing/fabricator/001.php
Labels: refactor

#8745 fix: [FileLocator] Cannot declare class XXX, because the name is already in use
  system/Autoloader/FileLocator.php
Labels: bug

#8759 docs: add "Upgrading to a Specified Version"
  user_guide_src/source/installation/installing_composer.rst
  user_guide_src/source/installation/installing_manual.rst
Labels: documentation

#8772 fix: [DebugBar] Toolbar display may be broken
  admin/css/debug-toolbar/README.md
  admin/css/debug-toolbar/toolbar.scss
  contributing/css.md
  system/Debug/Toolbar/Views/toolbar.css
Labels: bug

#8776 fix: Cannot declare class CodeIgniter\Config\Services, because the name is already in use
  system/Config/BaseService.php
Labels: bug

#8774 docs: fix Postgre DSN sample
  user_guide_src/source/database/configuration/010.php
Labels: documentation

#8784 docs: add changelog and upgrade for v4.5.2
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.5.2.rst
  user_guide_src/source/installation/upgrade_452.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#8785 chore: fix phpunit.xml.dist for appstarter
  admin/starter/phpunit.xml.dist
Labels: bug

#8768 docs: add changelog and upgrade for v4.6.0
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/installation/upgrade_460.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation, 4.6

#8780 docs: improve View pages
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/outgoing/index.rst
  user_guide_src/source/outgoing/view_decorators.rst
  user_guide_src/source/outgoing/view_decorators/002.php
  user_guide_src/source/outgoing/view_parser.rst
  user_guide_src/source/outgoing/views.rst
Labels: documentation

#8795 docs: Fix typo in table.rst
  user_guide_src/source/outgoing/table.rst
Labels: documentation

#8797 docs: Small change in Class Reference description in response.rst
  user_guide_src/source/outgoing/response.rst
Labels: documentation

#8793 refactor: remove deprecated failValidationError() in API\ResponseTrait
  phpstan-baseline.php
  system/API/ResponseTrait.php
  tests/system/API/ResponseTraitTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/installation/upgrade_460.rst
  user_guide_src/source/outgoing/api_responses/002.php
Labels: refactor, breaking change, 4.6

#8805 fix: update `preload.php` for 4.5
  .php-cs-fixer.dist.php
  preload.php
  system/Boot.php
Labels: bug

#8804 fix: [ErrorException] Undefined array key in `spark phpini:check`
  system/Security/CheckPhpIni.php
Labels: bug

#8823 test: add test for Model returns Entity with Casts
  tests/_support/Entity/UserWithCasts.php
  tests/_support/Models/UserEntityWithCastsModel.php
  tests/system/Models/FindModelTest.php
Labels: testing

#8818 fix: incorrect Security exception message
  system/HTTP/ResponseTrait.php
  system/Language/en/Security.php
  system/Security/Exceptions/SecurityException.php
  tests/system/HTTP/ResponseSendTest.php
  user_guide_src/source/changelogs/v4.5.2.rst
Labels: bug

#8822 docs: Change connecting and Query Builder link names in database/exam…
  user_guide_src/source/database/examples.rst
Labels: documentation

#8840 docs: Fix typo in models/entities.rst
  user_guide_src/source/models/entities.rst
Labels: documentation

#8792 fix: [QueryBuilder] TypeError in join() with BETWEEN
  system/Database/BaseBuilder.php
  system/Database/SQLSRV/Builder.php
  tests/system/Database/Builder/JoinTest.php
Labels: bug, database

#8815 docs: small fixes in upgrade responses.rst
  user_guide_src/source/installation/upgrade_4xx.rst
  user_guide_src/source/installation/upgrade_responses.rst
Labels: documentation

#8825 docs: Some typos in database/configuration.rst
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/database/helpers.rst
  user_guide_src/source/database/index.rst
  user_guide_src/source/database/query_builder.rst
  user_guide_src/source/database/results.rst
Labels: documentation

#8828 docs: fix PHPDoc types for `Commands`
  phpstan-baseline.php
  system/CLI/GeneratorTrait.php
  system/Commands/Encryption/GenerateKey.php
Labels: documentation

#8832 docs: Change page header in database/utilities.rst
  user_guide_src/source/database/utilities.rst
Labels: documentation

#8836 docs: improve lang()
  user_guide_src/source/general/common_functions.rst
  user_guide_src/source/outgoing/localization.rst
Labels: documentation

#8831 docs: Small typos in database/metadata.rst
  user_guide_src/source/database/index.rst
  user_guide_src/source/database/metadata.rst
Labels: documentation

#8839 docs: Fix typo in models/model.rst
  user_guide_src/source/models/model.rst
Labels: documentation

#8842 docs: update deprecated method in sample code in CURLRequest
  user_guide_src/source/libraries/curlrequest/009.php
Labels: documentation
