Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-03, with the labels that each got.

#8581 feat: add spark command to check php.ini
  deptrac.yaml
  system/Commands/Utilities/PhpIniCheck.php
  system/Security/CheckPhpIni.php
  tests/system/Security/CheckPhpIniTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/running.rst
Labels: enhancement, 4.5

#8471 test: LoggerTest depends on time
  tests/_support/Log/Handlers/TestHandler.php
  tests/system/HTTP/RedirectExceptionTest.php
  tests/system/Log/LoggerTest.php
Labels: testing

#8589 refactor: remove deprecated BaseService::discoverServices()
  phpstan-baseline.php
  system/Config/BaseService.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, breaking change, 4.5

#8592 fix: [Validation] FileRules cause error if getimagesize() returns false
  system/Validation/FileRules.php
Labels: bug

#8586 test: remove meaningless `TestCaseTest::testPHPUnitHeadersEmitted()`
  system/HTTP/Response.php
  tests/system/Test/TestCaseTest.php
Labels: testing

#8587 docs: improve Model and Entity
  user_guide_src/source/models/entities.rst
  user_guide_src/source/models/model.rst
Labels: documentation

#8593 test: fix TimeTest
  tests/system/I18n/TimeLegacyTest.php
  tests/system/I18n/TimeTest.php
Labels: testing

#8609 refactor: remove unnecessary BaseService::$services assignment
  system/Config/BaseService.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, 4.5

#8599 fix: isWriteType() to recognize CTE; always excluding RETURNING
  system/Database/BaseConnection.php
  system/Database/Postgre/Connection.php
  tests/system/Database/Live/WriteTypeQueryTest.php
Labels: bug, database

#8607 perf: add Services::get()
  system/API/ResponseTrait.php
  system/BaseModel.php
  system/CLI/GeneratorTrait.php
  system/CodeIgniter.php
  system/Commands/Database/Migrate.php
  system/Commands/Database/MigrateRollback.php
  system/Commands/Database/MigrateStatus.php
  system/Commands/Generators/TestGenerator.php
  system/Commands/Utilities/FilterCheck.php
  system/Commands/Utilities/Namespaces.php
  system/Commands/Utilities/Routes.php
  system/Commands/Utilities/Routes/ControllerFinder.php
  system/Commands/Utilities/Routes/FilterCollector.php
  system/Commands/Utilities/Routes/FilterFinder.php
  system/Commands/Utilities/Routes/SampleURIGenerator.php
  system/Common.php
  system/Config/BaseConfig.php
  system/Config/BaseService.php
  system/Config/Factories.php
  system/Config/Services.php
  system/Controller.php
  system/Debug/Toolbar.php
  system/Debug/Toolbar/Collectors/Config.php
  system/Debug/Toolbar/Collectors/Views.php
  system/Events/Events.php
  system/Filters/CSRF.php
  system/Filters/DebugToolbar.php
  system/Filters/Filters.php
  system/Filters/ForceHTTPS.php
  system/Filters/Honeypot.php
  system/Filters/PageCache.php
  system/Filters/PerformanceMetrics.php
  system/HTTP/Exceptions/RedirectException.php
  system/HTTP/RedirectResponse.php
  system/HTTP/ResponseTrait.php
  system/Helpers/cookie_helper.php
  system/Helpers/form_helper.php
  system/Helpers/security_helper.php
  system/Helpers/url_helper.php
  system/Language/Language.php
  system/Router/RouteCollection.php
  system/Security/Security.php
  system/Session/Session.php
  system/Test/CIUnitTestCase.php
  system/Test/ControllerTestTrait.php
  system/Test/FeatureTestTrait.php
  system/Test/FilterTestTrait.php
  system/Test/TestResponse.php
  system/Validation/FileRules.php
  system/View/Cell.php
  system/View/Filters.php
  system/View/Plugins.php
  system/View/View.php
  tests/system/CommonSingleServiceTest.php
Labels: refactor, 4.5

#8601 fix: duplicate Cache-Control header with Session
  system/Config/Services.php
Labels: bug

#8595 fix: [DebugBar] scroll to top
  admin/css/debug-toolbar/toolbar.scss
  system/Debug/Toolbar/Views/toolbar.css
  system/Debug/Toolbar/Views/toolbar.tpl.php
Labels: bug

#8597 docs: preload notes
  preload.php
  user_guide_src/source/general/managing_apps.rst
  user_guide_src/source/installation/deployment.rst
  user_guide_src/source/installation/preloading/001.php
Labels: documentation, 4.5

#8618 refactor: replace PHP_VERSION by PHP_VERSION_ID
  rector.php
  system/Autoloader/Autoloader.php
Labels: refactor

#8617 refactor: remove deprecated items in Request
  system/HTTP/IncomingRequest.php
  system/HTTP/Request.php
  system/HTTP/RequestTrait.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: refactor, 4.5

#8614 fix: Model::shouldUpdate() logic
  system/BaseModel.php
  tests/system/Models/SaveModelTest.php
Labels: bug

#8627 chore: update test-deptrac.yml
  .github/workflows/test-deptrac.yml
Labels: github_actions

#8621 refactor: apply early return pattern
  system/Commands/Utilities/Routes/ControllerMethodReader.php
Labels: refactor

#8628 chore: update test-deptrac.yml
  .github/workflows/test-deptrac.yml
Labels: github_actions

#8626 refactor: move footer info to top in error_exception.php
  app/Views/errors/html/debug.css
  app/Views/errors/html/error_exception.php
  user_guide_src/source/installation/upgrade_447.rst
Labels: refactor

#8603 fix: move Kint loading to Autoloader
  .github/workflows/test-phpcpd.yml
  public/index.php
  spark
  system/Autoloader/Autoloader.php
  system/CodeIgniter.php
  system/Test/bootstrap.php
  system/bootstrap.php
  tests/system/CommonFunctionsTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/upgrade_450.rst
Labels: bug, breaking change, 4.5

#8623 refactor: followup performance `service()`
  system/Common.php
Labels: refactor, 4.5

#8393 test: ensure cleanup of sqlite3 db files after test
  tests/system/Database/Live/SQLite3/GetFieldDataTest.php
  tests/system/Database/Live/SQLite3/GetIndexDataTest.php
  tests/system/Database/Migrations/MigrationRunnerTest.php
Labels: testing

#8641 docs: Small docs typo in news_section.rst file.
  user_guide_src/source/tutorial/news_section.rst
Labels: documentation

#8651 docs: Small typo in factories.rst
  user_guide_src/source/concepts/factories.rst
Labels: documentation

#8633 fix: esc() for 'raw' context
  system/Common.php
  tests/system/CommonFunctionsTest.php
Labels: bug

#8655 chore: Enable rector cache
  .github/workflows/test-rector.yml
  rector.php
Labels: github_actions

#8569 [4.5] fix: Composer autoload.psr4
  composer.json
Labels: bug, 4.5

#8578 feat: improve Redis Session
  app/Config/Session.php
  phpstan-baseline.php
  system/Session/Handlers/RedisHandler.php
  tests/system/Session/Handlers/Database/RedisHandlerTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/libraries/sessions.rst
Labels: enhancement, 4.5

#8634 docs: improve Database Configuration
  user_guide_src/source/database/configuration.rst
Labels: documentation

#8642 docs: improve News Tutorial code
  user_guide_src/source/tutorial/news_section.rst
  user_guide_src/source/tutorial/news_section/002.php
  user_guide_src/source/tutorial/news_section/003.php
  user_guide_src/source/tutorial/news_section/004.php
  user_guide_src/source/tutorial/news_section/005.php
  user_guide_src/source/tutorial/news_section/006.php
  user_guide_src/source/tutorial/static_pages.rst
  user_guide_src/source/tutorial/static_pages/001.php
  user_guide_src/source/tutorial/static_pages/002.php
Labels: documentation

#8653 docs: fix incorrect CURLRequest allow_redirects description
  user_guide_src/source/libraries/curlrequest.rst
  user_guide_src/source/libraries/curlrequest/014.php
Labels: bug, documentation

#8570 [4.5] fix: errors when not updating Config\Feature
  system/BaseModel.php
  system/CodeIgniter.php
  system/Commands/Utilities/Routes/FilterFinder.php
  system/Database/BaseBuilder.php
  system/Database/SQLSRV/Builder.php
  system/Filters/Filters.php
  system/Model.php
Labels: bug, 4.5

#8604 feat: add Boot class
  public/index.php
  spark
  system/Boot.php
  system/Exceptions/FrameworkException.php
  system/Test/bootstrap.php
  system/bootstrap.php
  user_guide_src/source/changelogs/v4.5.0.rst
Labels: enhancement, breaking change, 4.5

#8605 feat: add Config\Optimize
  app/Config/Cache.php
  app/Config/Optimize.php
  public/index.php
  spark
  system/Boot.php
  system/Config/BaseService.php
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/concepts/autoloader/004.php
  user_guide_src/source/concepts/factories.rst
Labels: enhancement, 4.5

#8665 chore: add "config", "revert" to prlint.json
  .github/prlint.json
Labels: github_actions

#8664 feat: support database name with dots
  phpstan-baseline.php
  system/Database/BaseConnection.php
  system/Database/Forge.php
  system/Database/MySQLi/Connection.php
  system/Database/SQLSRV/Forge.php
  system/Test/Mock/MockConnection.php
  tests/system/Database/BaseConnectionTest.php
  tests/system/Database/Live/ForgeTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/database/configuration.rst
  user_guide_src/source/database/examples.rst
  user_guide_src/source/database/queries.rst
  user_guide_src/source/database/query_builder.rst
Labels: enhancement, database, 4.5

#8662 config: add charset and DBCollat for database.tests in env
  env
Labels: database, 4.5

#8666 docs: add and update Autoloader descriptions
  user_guide_src/source/concepts/autoloader.rst
Labels: documentation

#8610 feat: add `spark optimize` command
  system/Autoloader/FileLocatorCached.php
  system/Commands/Utilities/Optimize.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/concepts/autoloader.rst
  user_guide_src/source/concepts/factories.rst
  user_guide_src/source/installation/deployment.rst
Labels: enhancement, 4.5

#8668 docs: small improvements to Time
  user_guide_src/source/libraries/time.rst
  user_guide_src/source/libraries/time/001.php
Labels: documentation

#8656 docs: add commnets on Postgre::convertDSN()
  system/Database/Postgre/Connection.php
  tests/system/Database/ConfigTest.php
Labels: database

#8661 fix: Time::difference() DST bug
  system/I18n/TimeTrait.php
  tests/system/I18n/TimeDifferenceTest.php
  user_guide_src/source/changelogs/v4.4.7.rst
  user_guide_src/source/installation/upgrade_447.rst
  user_guide_src/source/libraries/time.rst
  user_guide_src/source/libraries/time/042.php
Labels: bug, breaking change

#8670 fix: Model::set() does not accept object
  system/Database/BaseBuilder.php
  system/Model.php
  tests/system/Models/UpdateModelTest.php
Labels: bug, database

#8677 docs: add changelog and upgrade for v4.4.8
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.4.8.rst
  user_guide_src/source/installation/upgrade_448.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#8682 [4.5] refactor: add declare(strict_types=1) in BadRequestException
  system/HTTP/Exceptions/BadRequestException.php
Labels: refactor, 4.5

#8683 [4.5] fix: TypeError in Filters
  system/Filters/Filters.php
  tests/system/Commands/Utilities/ConfigCheckTest.php
  tests/system/Filters/FiltersTest.php
Labels: bug, 4.5

#8680 fix: [ImageMagickHandler] early terminate processing of invalid library path
  phpstan-baseline.php
  system/Images/Handlers/ImageMagickHandler.php
  tests/system/Images/ImageMagickHandlerTest.php
Labels: bug

#8681 refactor: simplify ImageMagickHandler::getVersion()
  system/Images/Handlers/ImageMagickHandler.php
  tests/system/Images/ImageMagickHandlerTest.php
Labels: refactor

#8679 docs: fix PHPDoc types in BaseModel
  phpstan-baseline.php
  system/BaseModel.php
Labels: bug

#8685 docs: minor improvements in images.rst
  user_guide_src/source/libraries/images.rst
Labels: documentation

#8649 feat: add CORS filter
  .github/workflows/test-phpcpd.yml
  app/Config/Cors.php
  app/Config/Filters.php
  system/CodeIgniter.php
  system/Config/Filters.php
  system/Filters/Cors.php
  system/HTTP/Cors.php
  tests/system/Filters/CorsTest.php
  tests/system/HTTP/CorsTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/incoming/filters.rst
  user_guide_src/source/libraries/cors.rst
  user_guide_src/source/libraries/cors/001.php
  user_guide_src/source/libraries/cors/002.php
  user_guide_src/source/libraries/cors/003.php
  user_guide_src/source/libraries/cors/004.php
  user_guide_src/source/libraries/cors/005.php
  user_guide_src/source/libraries/index.rst
Labels: enhancement, 4.5

#8672 docs: improve upgrade instruction to Auto Routing (Legacy)
  user_guide_src/source/installation/upgrade_450.rst
Labels: documentation, 4.5

#8671 feat: Support faker modifiers on Fabricator
  system/Test/Fabricator.php
  tests/system/Database/Live/FabricatorLiveTest.php
  tests/system/Test/FabricatorTest.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/testing/fabricator.rst
  user_guide_src/source/testing/fabricator/022.php
  user_guide_src/source/testing/fabricator/023.php
Labels: enhancement, 4.5

#8673 feat: environment-specific Config\Security::$redirect
  app/Config/Security.php
  user_guide_src/source/changelogs/v4.5.0.rst
  user_guide_src/source/installation/upgrade_450.rst
  user_guide_src/source/libraries/security.rst
Labels: enhancement, 4.5

#8691 docs: add missing app/Config/App.php in upgrade_447.rst
  user_guide_src/source/installation/upgrade_447.rst
Labels: documentation
