Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-07, with the labels that each got.

#9009 fix: [QueryBuilder] select() with RawSql may cause TypeError
  phpstan-baseline.php
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/SelectTest.php
Labels: bug, database

#9010 fix: [QueryBuilder] `select()` does not escape after `NULL`
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/SelectTest.php
Labels: bug, database

#9011 docs: improve validation.rst
  user_guide_src/source/libraries/validation.rst
Labels: documentation

#9012 feat: add Services::resetServicesCache() to reset services cache
  phpstan.neon.dist
  system/Config/BaseService.php
  tests/_support/_AfterAutoloadModule/Config/Services.php
  tests/_support/_AfterAutoloadModule/Test.php
  tests/system/CommonSingleServiceTest.php
  tests/system/Config/ServicesTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/concepts/services.rst
Labels: enhancement, 4.6

#9021 fix: allow string as parameter to CURLRequest version
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestTest.php
  user_guide_src/source/changelogs/v4.5.4.rst
Labels: bug

#9026 fix: `spark phpini:check` may cause TypeError
  system/Security/CheckPhpIni.php
Labels: bug

#9036 fix: Prevent invalid session handlers
  system/Config/BaseService.php
  system/Config/Services.php
  tests/system/Config/ServicesTest.php
Labels: bug

#9046 fix: DebugBar CSS for daisyUI
  admin/css/debug-toolbar/toolbar.scss
  system/Debug/Toolbar/Views/toolbar.css
Labels: bug

#9044 feat: add "400 Bad Request" page for end users
  app/Views/errors/html/error_400.php
  system/Language/en/Errors.php
  user_guide_src/source/changelogs/v4.6.0.rst
Labels: enhancement, 4.6

#9059 docs: `referrer` is undefined
  user_guide_src/source/libraries/user_agent/005.php
Labels: bug, documentation

#9058 chore: fix invalid symbol '"'
  .github/workflows/test-psalm.yml
  admin/starter/.github/workflows/phpunit.yml
Labels: github_actions

#9065 docs: improve files.rst
  user_guide_src/source/libraries/files.rst
Labels: documentation

#8851 docs: Fix typos and add missing preferences in libraries/email.rst
  user_guide_src/source/libraries/email.rst
Labels: documentation

#9071 chore: fix mssql-server 2022 failing to start
  .github/workflows/reusable-phpunit-test.yml
Labels: github_actions

#9037 docs: [File Instance] RunTimeException if file does not exist
  system/Files/File.php
  user_guide_src/source/libraries/files.rst
Labels: documentation

#9067 refactor: fix `Throttler::check()` $tokens
  system/Throttle/Throttler.php
Labels: refactor

#9072 docs: update QueryBuilder descriptions for join()
  user_guide_src/source/database/query_builder.rst
Labels: documentation

#9064 fix: filters passed to the ``$routes->group()`` are not merged into the filters passed to the inner routes
  system/Router/RouteCollection.php
  tests/system/Router/RouteCollectionTest.php
  user_guide_src/source/changelogs/v4.5.4.rst
  user_guide_src/source/incoming/routing.rst
Labels: bug

#9077 docs: add note for Registrars
  user_guide_src/source/general/configuration.rst
Labels: documentation

#9078 test: suppress psalm error
  tests/system/CodeIgniterTest.php
Labels: testing, 4.6

#9084 docs: add changelog and upgrade for v4.5.5
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.5.5.rst
  user_guide_src/source/installation/upgrade_455.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation

#9080 chore: Update phpunit to `^10.5.16 || ^11.2`
  admin/framework/composer.json
  composer.json
  tests/system/Autoloader/AutoloaderTest.php
  tests/system/CodeIgniterTest.php
  tests/system/Commands/GenerateKeyTest.php
  tests/system/CommonFunctionsSendTest.php
  tests/system/CommonFunctionsTest.php
  tests/system/Config/BaseConfigTest.php
  tests/system/Config/DotEnvTest.php
  tests/system/Config/ServicesTest.php
  tests/system/Events/EventsTest.php
  tests/system/Filters/HoneypotTest.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
  tests/system/HTTP/DownloadResponseTest.php
  tests/system/HTTP/IncomingRequestTest.php
  tests/system/HTTP/RedirectResponseTest.php
  tests/system/HTTP/ResponseSendTest.php
  tests/system/Helpers/FormHelperTest.php
  tests/system/Helpers/URLHelper/MiscUrlTest.php
  tests/system/RESTful/ResourceControllerTest.php
  tests/system/RESTful/ResourcePresenterTest.php
  tests/system/Security/SecurityCSRFSessionRandomizeTokenTest.php
  tests/system/Security/SecurityCSRFSessionTest.php
  tests/system/Session/SessionTest.php
  tests/system/Test/ControllerTestTraitTest.php
  tests/system/Test/TestCaseEmissionsTest.php
  tests/system/View/ParserPluginTest.php
Labels: testing

#9073 fix: add check for duplicate Registrar Auto-Discovery runs
  system/Config/BaseConfig.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/installation/upgrade_460.rst
  user_guide_src/source/installation/upgrade_460/001.php
Labels: bug, breaking change, 4.6

#9090 chore: use codeigniter4/.github/.github/ for phpcpd
  .github/workflows/test-phpcpd.yml
Labels: github_actions

#9081 fix: Time loses microseconds
  system/DataCaster/Cast/DatetimeCast.php
  system/I18n/TimeTrait.php
  tests/system/DataConverter/DataConverterTest.php
  tests/system/I18n/TimeTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/installation/upgrade_460.rst
  user_guide_src/source/installation/upgrade_460/002.php
  user_guide_src/source/installation/upgrade_460/003.php
  user_guide_src/source/installation/upgrade_460/004.php
  user_guide_src/source/installation/upgrade_460/005.php
  user_guide_src/source/installation/upgrade_460/006.php
  user_guide_src/source/installation/upgrade_460/007.php
  user_guide_src/source/models/model.rst
  user_guide_src/source/models/model/063.php
Labels: bug, breaking change, 4.6
