Repository codeigniter4/CodeIgniter4, pull requests merged in 2024-11, with the labels that each got.

#9246 fix: Parser - Equal key name replace conflict
  system/View/Parser.php
  tests/system/View/ParserTest.php
  user_guide_src/source/changelogs/v4.5.6.rst
Labels: bug

#9238 fix: case-insensitivity in the `like()` method when in use with accented characters
  .github/workflows/reusable-phpunit-test.yml
  system/Database/BaseBuilder.php
  system/Database/SQLSRV/Forge.php
  tests/_support/Database/Migrations/20160428212500_Create_test_tables.php
  tests/_support/Database/Seeds/CITestSeeder.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/GetTest.php
  tests/system/Database/Live/LikeTest.php
  user_guide_src/source/changelogs/v4.5.6.rst
Labels: bug

#9209 fix: TypeError for routes when translateURIDashes is enabled
  system/Router/Router.php
  tests/system/Router/RouterTest.php
  user_guide_src/source/changelogs/v4.5.6.rst
Labels: bug

#9254 refactor: bump `laminas/laminas-escaper` to `v2.14` minimum required
  admin/framework/composer.json
  composer.json
Labels: 4.6

#9260 refactor: flip assert and actual value position on tests
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/OCI8/CallStoredProcedureTest.php
  tests/system/Database/Live/OCI8/LastInsertIDTest.php
  tests/system/Files/FileCollectionTest.php
  tests/system/HTTP/ResponseCookieTest.php
  tests/system/Helpers/DateHelperTest.php
  tests/system/Helpers/TextHelperTest.php
  tests/system/Models/EventsModelTest.php
  tests/system/Models/ValidationModelRuleGroupTest.php
  tests/system/Models/ValidationModelTest.php
  tests/system/Pager/PagerTest.php
  tests/system/Router/RouteCollectionTest.php
  tests/system/Router/RouterTest.php
Labels: testing, refactor

#9251 fix: `fetchGlobal()` with numeric key
  system/HTTP/RequestTrait.php
  tests/system/HTTP/RequestTest.php
  tests/system/Test/FeatureTestTraitTest.php
  user_guide_src/source/changelogs/v4.5.6.rst
Labels: bug

#9241 feat: design info environment top in `error_exception`
  app/Views/errors/html/debug.css
Labels: enhancement, 4.6

#9198 fix: curl request crashes with params that give an int once hexed.
  system/HTTP/URI.php
Labels: bug

#9249 refactor: Fix `phpstan` errors related to `Autoloader`
  phpstan-baseline.php
  system/Autoloader/Autoloader.php
  system/Autoloader/FileLocator.php
  system/Autoloader/FileLocatorCached.php
  system/Autoloader/FileLocatorInterface.php
  system/Common.php
  system/Config/Factories.php
  system/Test/ReflectionHelper.php
  tests/system/Autoloader/AutoloaderTest.php
  tests/system/Autoloader/FileLocatorCachedTest.php
  tests/system/Autoloader/FileLocatorTest.php
  tests/system/View/DecoratorsTest.php
  tests/system/View/ParserFilterTest.php
  tests/system/View/ParserTest.php
  tests/system/View/ViewTest.php
Labels: refactor

#9201 fix: respect complex language strings when using validation
  system/Validation/Validation.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/changelogs/v4.5.6.rst
Labels: bug

#9237 fix: `DownloadResponse` cache headers
  phpstan-baseline.php
  system/Exceptions/DownloadException.php
  system/HTTP/DownloadResponse.php
  tests/system/HTTP/DownloadResponseTest.php
  user_guide_src/source/changelogs/v4.5.6.rst
Labels: bug

#9284 fix: code issues after merging develop
  system/Commands/Utilities/Routes/FilterCollector.php
  system/Validation/StrictRules/FileRules.php
  tests/system/Database/Live/MySQLi/FoundRowsTest.php
  tests/system/Router/RouteCollectionTest.php
  tests/system/View/ViewTest.php
Labels: 4.6

#9285 fix: [CURLRequest] body contains "HTTP/1.0 200 Connection established"
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestTest.php
  user_guide_src/source/changelogs/v4.5.6.rst
Labels: bug

#9294 refactor: use `Superglobals` in setting 'REQUEST_METHOD' in `FeatureT…
  phpstan-baseline.php
  system/Test/FeatureTestTrait.php
Labels: refactor

#8863 docs: Small typos in libraries/pagination.rst
  user_guide_src/source/libraries/pagination.rst
Labels: documentation

#9279 fix: `Postgre\Connection::reconnect()` `TypeError` in `pg_ping()`
  system/Database/Postgre/Connection.php
  user_guide_src/source/changelogs/v4.5.6.rst
Labels: bug
