Repository codeigniter4/CodeIgniter4, pull requests merged in 2025-09, with the labels that each got.

#9698 fix: Casting in insertBatch and updateBatch methods.
  system/BaseModel.php
  tests/system/Models/InsertModelTest.php
  tests/system/Models/UpdateModelTest.php
  user_guide_src/source/changelogs/v4.6.4.rst
  utils/phpstan-baseline/missingType.property.neon
Labels: bug

#9697 fix: `compileOrderBy()` method
  system/Database/BaseBuilder.php
  tests/system/Database/Builder/SelectTest.php
  user_guide_src/source/changelogs/v4.6.4.rst
Labels: bug

#9702 docs: Fixed typo
  user_guide_src/source/extending/events/006.php
Labels: documentation

#9689 refactor: change `qossmic/deptrac-shim` has abandoned
  .github/workflows/test-deptrac.yml
  deptrac.yaml
Labels: dependencies, github_actions

#9708 feat: make `insertBatch()` and `updateBatch()` respect model rules
  system/BaseModel.php
  tests/system/Models/UpdateModelTest.php
  user_guide_src/source/changelogs/v4.7.0.rst
  utils/phpstan-baseline/missingType.property.neon
Labels: enhancement, 4.7

#9685 refactor: Improve types for phpstan
  system/Common.php
  system/Test/CIUnitTestCase.php
  system/Test/DatabaseTestTrait.php
  system/Test/FeatureTestTrait.php
  tests/system/Database/DatabaseTestCase/DatabaseTestCaseMigrationOnce1Test.php
  tests/system/Database/DatabaseTestCase/DatabaseTestCaseMigrationOnce2Test.php
  tests/system/Database/DatabaseTestCaseTest.php
  tests/system/Database/Live/MetadataTest.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
  utils/phpstan-baseline/nullCoalesce.property.neon
  utils/phpstan-baseline/property.defaultValue.neon
  utils/phpstan-baseline/property.phpDocType.neon
Labels: refactor
