Repository codeigniter4/CodeIgniter4, pull requests merged in 2025-05, with the labels that each got.

#9538 feat: add `clearMetadata()` method to provide privacy options when using imagick handler
  system/Images/Handlers/BaseHandler.php
  system/Images/Handlers/ImageMagickHandler.php
  system/Images/ImageHandlerInterface.php
  tests/system/Images/GDHandlerTest.php
  tests/system/Images/ImageMagickHandlerTest.php
  user_guide_src/source/changelogs/v4.7.0.rst
  user_guide_src/source/libraries/images.rst
  user_guide_src/source/libraries/images/015.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/varTag.type.neon
Labels: enhancement, 4.7

#9559 feat: added `fresh_connect` options to `CURLRequest`
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestTest.php
  user_guide_src/source/changelogs/v4.7.0.rst
  user_guide_src/source/libraries/curlrequest.rst
  user_guide_src/source/libraries/curlrequest/038.php
Labels: enhancement, 4.7

#9560 fix: remove service dependency from sanitize_filename() helper function
  system/Helpers/security_helper.php
  system/Security/Security.php
  system/Security/SecurityInterface.php
  user_guide_src/source/changelogs/v4.6.2.rst
  user_guide_src/source/helpers/security_helper.rst
  user_guide_src/source/libraries/security.rst
Labels: bug

#9565 test: ensure all test methods have native return types
  .php-cs-fixer.tests.php
  tests/_support/Autoloader/FatalLocator.php
  tests/_support/Config/Services.php
  tests/_support/Entity/Cast/CastPassParameters.php
  tests/system/Files/FileTest.php
  tests/system/Models/TimestampModelTest.php
  tests/system/Test/BootstrapFCPATHTest.php
Labels: testing

#9562 refactor: add `system/util_bootstrap.php` to curb overreliance to `system/Test/bootstrap.php`
  system/Boot.php
  system/util_bootstrap.php
  utils/check_permission_x.php
Labels: refactor

#9566 docs: `CookieStore::get()` does not give an array of Cookie objects
  user_guide_src/source/libraries/cookies/013.php
Labels: documentation

#9567 test: fix `PublisherInputTest::testAddUri(s)` failing due to rate limiting
  tests/system/Publisher/PublisherInputTest.php
Labels: testing

#9568 refactor: update places to use `system/util_bootstrap.php`
  phpstan-bootstrap.php
  psalm_autoload.php
  rector.php
  system/util_bootstrap.php
  user_guide_src/source/installation/running.rst
  utils/check_tabs_in_rst.php
Labels: refactor

#9569 refactor: more accurate array PHPDocs of Cookie
  system/Cookie/Cookie.php
  system/Cookie/CookieInterface.php
  tests/system/Cookie/CookieStoreTest.php
  utils/phpstan-baseline/argument.type.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9570 refactor: cleanup code in `Email`
  system/Email/Email.php
Labels: refactor, 4.7

#9563 feat: update `CookieInterface::EXPIRES_FORMAT` to use date format per RFC 7231
  system/Cookie/CookieInterface.php
  tests/system/Cookie/CookieTest.php
  user_guide_src/source/changelogs/v4.7.0.rst
  user_guide_src/source/libraries/cookies/004.php
Labels: enhancement, 4.7

#9564 fix: ucfirst all cookie samesite values
  system/Cookie/Cookie.php
  system/Cookie/CookieInterface.php
  user_guide_src/source/changelogs/v4.7.0.rst
  user_guide_src/source/libraries/cookies/006.php
Labels: bug, 4.7

#9571 refactor: use native phpdocs wherever possible
  app/Config/Cookie.php
  psalm_autoload.php
  system/API/ResponseTrait.php
  system/Autoloader/Autoloader.php
  system/BaseModel.php
  system/CodeIgniter.php
  system/Commands/Translation/LocalizationFinder.php
  system/Common.php
  system/DataCaster/DataCaster.php
  system/DataConverter/DataConverter.php
  system/Database/BaseConnection.php
  system/Database/BasePreparedQuery.php
  system/Database/BaseResult.php
  system/Database/ConnectionInterface.php
  system/Database/Forge.php
  system/Database/MySQLi/Forge.php
  system/Database/OCI8/Forge.php
  system/Database/Postgre/Connection.php
  system/Database/Postgre/Forge.php
  system/Database/PreparedQueryInterface.php
  system/Database/ResultInterface.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Forge.php
  system/Database/SQLite3/Table.php
  system/Files/File.php
  system/Filters/Filters.php
  system/HTTP/CLIRequest.php
  system/HTTP/IncomingRequest.php
  system/HTTP/RequestTrait.php
  system/HTTP/SiteURI.php
  system/Model.php
  system/RESTful/ResourceController.php
  system/Test/Mock/MockInputOutput.php
  system/Traits/ConditionalTrait.php
  system/View/Cell.php
  system/View/Filters.php
  system/View/Parser.php
  system/View/RendererInterface.php
  system/View/Table.php
  system/View/View.php
  utils/phpstan-baseline/booleanAnd.rightNotBoolean.neon
  utils/phpstan-baseline/if.condNotBoolean.neon
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
Labels: refactor

#9576 fix: use native PHP truthiness for condition evaluation in when()/whenNot()
  system/Traits/ConditionalTrait.php
  tests/system/Database/Builder/WhenTest.php
  user_guide_src/source/changelogs/v4.6.2.rst
  user_guide_src/source/database/query_builder.rst
Labels: bug

#9578 refactor: fix non-booleans in if conditions
  system/View/Parser.php
  system/View/View.php
  utils/phpstan-baseline/booleanAnd.rightNotBoolean.neon
  utils/phpstan-baseline/if.condNotBoolean.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9583 refactor: fix and micro-optimize code in `Format`
  system/Format/Exceptions/FormatException.php
  system/Format/Format.php
  system/Format/FormatterInterface.php
  system/Format/JSONFormatter.php
  system/Format/XMLFormatter.php
  tests/system/Format/JSONFormatterTest.php
  tests/system/Format/XMLFormatterTest.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
Labels: refactor

#9588 docs: update description for the `(:num)` placeholder in routes
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#9586 fix: add error handling for corrupted cache files in `FileHandler`
  system/Cache/Handlers/FileHandler.php
  tests/system/Cache/Handlers/FileHandlerTest.php
  user_guide_src/source/changelogs/v4.6.2.rst
Labels: bug
