Repository codeigniter4/CodeIgniter4, pull requests merged in 2025-04, with the labels that each got.

#9499 docs: Add description of conflicts between named and unnamed routes
  user_guide_src/source/incoming/routing.rst
Labels: documentation

#9508 docs: Notes about switching types in session
  user_guide_src/source/libraries/sessions.rst
  user_guide_src/source/libraries/sessions/045.php
Labels: documentation

#9511 refactor: deprecate redundant `FileHandler` cache methods
  system/Cache/Handlers/FileHandler.php
  user_guide_src/source/changelogs/v4.6.1.rst
Labels: refactor

#9513 refactor: fix `variable.undefined` (and other) errors
  phpstan.neon.dist
  system/Cache/Handlers/FileHandler.php
  system/Helpers/filesystem_helper.php
  system/Session/Handlers/FileHandler.php
  system/Test/FilterTestTrait.php
  utils/phpstan-baseline/argument.type.neon
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/method.childParameterType.neon
  utils/phpstan-baseline/method.childReturnType.neon
  utils/phpstan-baseline/method.notFound.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
  utils/phpstan-baseline/missingType.parameter.neon
  utils/phpstan-baseline/missingType.property.neon
  utils/phpstan-baseline/missingType.return.neon
  utils/phpstan-baseline/property.defaultValue.neon
  utils/phpstan-baseline/ternary.shortNotAllowed.neon
  utils/phpstan-baseline/variable.undefined.neon
Labels: refactor

#9514 refactor: fix `return.unusedType` errors
  system/Commands/Utilities/ConfigCheck.php
  system/Commands/Utilities/Environment.php
  system/Commands/Utilities/Optimize.php
  system/Commands/Utilities/PhpIniCheck.php
  system/Test/PhpStreamWrapper.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
  utils/phpstan-baseline/return.unusedType.neon
Labels: refactor

#9515 refactor: add `CITestStreamFilter` to phpstan-analysed list and fix errors
  phpstan.neon.dist
  system/Test/Filters/CITestStreamFilter.php
Labels: refactor

#9516 refactor: fix `property.unusedType` errors
  tests/system/HTTP/MessageTest.php
  tests/system/HTTP/NegotiateTest.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/property.unusedType.neon
Labels: testing

#9517 refactor: fix `property.protected` errors
  system/Encryption/Encryption.php
  system/I18n/TimeDifference.php
  utils/phpstan-baseline/isset.property.neon
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/property.protected.neon
Labels: refactor

#9518 refactor: fix `function.alreadyNarrowedType` errors
  system/HTTP/Files/FileCollection.php
  system/Test/DOMParser.php
  utils/phpstan-baseline/function.alreadyNarrowedType.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9519 refactor: fix `empty.property` errors
  system/Database/BaseBuilder.php
  system/Images/Handlers/BaseHandler.php
  system/Test/ControllerTestTrait.php
  utils/phpstan-baseline/empty.notAllowed.neon
  utils/phpstan-baseline/empty.property.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9520 refactor: import FQCNs
  admin/starter/tests/_support/Libraries/ConfigReader.php
  preload.php
  public/index.php
  spark
  system/Debug/Toolbar/Views/toolbar.tpl.php
  tests/system/Config/fixtures/RegistrarConfig.php
  tests/system/Config/fixtures/SimpleConfig.php
Labels: refactor

#9522 refactor: fix `isset.property` errors
  system/Autoloader/Autoloader.php
  system/Email/Email.php
  utils/phpstan-baseline/isset.property.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9523 refactor: fix `missingType.return` errors
  system/Session/Session.php
  system/Session/SessionInterface.php
  system/Test/Mock/MockSession.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.return.neon
Labels: refactor

#9524 refactor: fix `nullCoalesce.variable` errors
  system/HTTP/RedirectResponse.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/nullCoalesce.variable.neon
Labels: refactor

#9525 refactor: fix phpstan errors in `URI` and `SiteURI`
  system/HTTP/SiteURI.php
  system/HTTP/URI.php
  utils/phpstan-baseline/empty.notAllowed.neon
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
  utils/phpstan-baseline/notIdentical.alwaysTrue.neon
  utils/phpstan-baseline/nullCoalesce.property.neon
Labels: refactor

#9529 refactor: fix `@readonly` property errors
  app/Config/Autoload.php
  app/Config/DocTypes.php
  app/Config/Mimes.php
  app/Config/Modules.php
  app/Config/Optimize.php
  app/Config/Paths.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/property.readOnlyByPhpDocAssignOutOfClass.neon
  utils/phpstan-baseline/property.readOnlyByPhpDocDefaultValue.neon
Labels: refactor

#9530 refactor: fix `missingType.return` errors in system files
  system/CodeIgniter.php
  system/ComposerScripts.php
  system/Database/BaseBuilder.php
  system/Database/Config.php
  system/Database/Exceptions/DataException.php
  system/Database/Forge.php
  system/Database/Migration.php
  system/Database/MigrationRunner.php
  system/Database/Postgre/Connection.php
  system/Database/Query.php
  system/Database/QueryInterface.php
  system/Database/ResultInterface.php
  system/Database/SQLite3/Table.php
  system/Database/Seeder.php
  system/Router/Router.php
  system/Session/Exceptions/SessionException.php
  system/Session/Handlers/Database/PostgreHandler.php
  system/Session/Handlers/DatabaseHandler.php
  system/Session/Handlers/FileHandler.php
  system/Test/CIUnitTestCase.php
  system/Test/Fabricator.php
  system/Test/Mock/MockCURLRequest.php
  system/Test/Mock/MockEvents.php
  system/Test/Mock/MockLanguage.php
  system/Test/Mock/MockResourceController.php
  system/Test/Mock/MockResourcePresenter.php
  system/Test/Mock/MockResponse.php
  system/Test/Mock/MockTable.php
  system/Test/PhpStreamWrapper.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
  utils/phpstan-baseline/missingType.parameter.neon
  utils/phpstan-baseline/missingType.return.neon
Labels: refactor

#9531 test: fix `generator.valueType` error
  tests/system/Database/Builder/SelectTest.php
  utils/phpstan-baseline/generator.valueType.neon
  utils/phpstan-baseline/loader.neon
Labels: testing

#9532 test: fix `codeigniter.unknownServiceMethod` errors
  tests/system/CommonSingleServiceTest.php
  utils/phpstan-baseline/codeigniter.unknownServiceMethod.neon
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
Labels: testing

#9533 refactor: fix `codeigniter.modelArgumentType` errors
  phpstan.neon.dist
  system/Test/Fabricator.php
  utils/phpstan-baseline/codeigniter.modelArgumentType.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9537 test: add tests showing `Session::markAs(Flash|Temp)data()` invalidates all keys when not all in session
  tests/system/Session/SessionTest.php
Labels: testing

#9535 refactor: fix `Session` and `SessionInterface` code
  system/Session/Session.php
  system/Session/SessionInterface.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/method.childReturnType.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
Labels: refactor

#9536 fix: `Session::markAsTempdata()` adding wrong TTL
  system/Session/Session.php
  tests/system/Session/SessionTest.php
  user_guide_src/source/changelogs/v4.6.1.rst
Labels: bug

#9528 feat: add Time::addCalendarMonths() function
  system/I18n/TimeTrait.php
  tests/system/I18n/TimeTest.php
  user_guide_src/source/changelogs/v4.7.0.rst
  user_guide_src/source/libraries/time.rst
  user_guide_src/source/libraries/time/031.php
Labels: enhancement, 4.7

#9542 test: fix `missingType.return` errors
  system/Config/Factories.php
  system/Test/FilterTestTrait.php
  system/Validation/Validation.php
  tests/system/API/ResponseTraitTest.php
  tests/system/Cache/Handlers/FileHandlerTest.php
  tests/system/Cache/Handlers/MemcachedHandlerTest.php
  tests/system/Cache/Handlers/PredisHandlerTest.php
  tests/system/Cache/Handlers/RedisHandlerTest.php
  tests/system/Commands/CreateDatabaseTest.php
  tests/system/Commands/FilterCheckTest.php
  tests/system/Commands/HelpCommandTest.php
  tests/system/Commands/InfoCacheTest.php
  tests/system/Commands/RoutesTest.php
  tests/system/Commands/Utilities/NamespacesTest.php
  tests/system/Config/FactoriesTest.php
  tests/system/Entity/EntityTest.php
  tests/system/Filters/fixtures/InvalidClass.php
  tests/system/HTTP/ContentSecurityPolicyTest.php
  tests/system/HTTP/Files/FileMovingTest.php
  tests/system/RESTful/ResourceControllerTest.php
  tests/system/Router/RouteCollectionReverseRouteTest.php
  tests/system/Router/RouteCollectionTest.php
  tests/system/Session/Handlers/Database/AbstractHandlerTestCase.php
  tests/system/Session/Handlers/Database/MySQLiHandlerTest.php
  tests/system/Session/Handlers/Database/PostgreHandlerTest.php
  tests/system/Session/Handlers/Database/RedisHandlerTest.php
  tests/system/Session/SessionTest.php
  tests/system/Test/BootstrapFCPATHTest.php
  tests/system/Validation/DatabaseRelatedRulesTest.php
  tests/system/Validation/StrictRules/DatabaseRelatedRulesTest.php
  tests/system/Validation/ValidationTest.php
  tests/system/View/ParserPluginTest.php
  utils/phpstan-baseline/argument.type.neon
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
  utils/phpstan-baseline/missingType.parameter.neon
  utils/phpstan-baseline/missingType.return.neon
Labels: testing
