Repository codeigniter4/CodeIgniter4, pull requests merged in 2025-01, with the labels that each got.

#9363 fix: gather affected rows after query call failed
  system/Database/BaseBuilder.php
  system/Database/Postgre/Connection.php
  system/Database/SQLSRV/Connection.php
  tests/system/Database/Live/InsertTest.php
  tests/system/Database/Live/TransactionTest.php
  user_guide_src/source/changelogs/v4.5.8.rst
  user_guide_src/source/database/query_builder.rst
Labels: bug, database

#9366 refactor: Fix phpstan function.notFound
  tests/system/CommonHelperTest.php
  utils/phpstan-baseline/function.notFound.neon
  utils/phpstan-baseline/loader.neon
Labels: testing

#9368 refactor: Fix phpstan if.condNotBoolean
  system/CLI/CLI.php
  utils/phpstan-baseline/if.condNotBoolean.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9369 refactor: Fix phpstan when delete string key
  system/Test/Mock/MockCache.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/unset.offset.neon
Labels: refactor

#9370 refactor: Fix phpstan greaterOrEqual.invalid
  system/Images/Handlers/BaseHandler.php
  system/Images/Handlers/ImageMagickHandler.php
  system/Images/ImageHandlerInterface.php
  utils/phpstan-baseline/greaterOrEqual.invalid.neon
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
Labels: refactor

#9360 feat: Strict locale negotiation
  app/Config/Feature.php
  system/HTTP/Negotiate.php
  tests/system/HTTP/NegotiateTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/incoming/content_negotiation.rst
  user_guide_src/source/incoming/content_negotiation/008.php
  user_guide_src/source/installation/upgrade_458.rst
  user_guide_src/source/installation/upgrade_460.rst
Labels: enhancement, 4.6

#9378 refactor: Fix phpstan generator.returnType
  tests/system/Database/Builder/SelectTest.php
  utils/phpstan-baseline/generator.returnType.neon
  utils/phpstan-baseline/loader.neon
Labels: testing

#9377 refactor: Fix phpstan function.inner
  tests/system/CommonHelperTest.php
  utils/phpstan-baseline/function.inner.neon
  utils/phpstan-baseline/loader.neon
Labels: testing

#9373 chore: Update Kint to 6.0.1
  system/ThirdParty/Kint/Parser/ClassStaticsPlugin.php
  system/ThirdParty/Kint/Parser/DomPlugin.php
  system/ThirdParty/Kint/Parser/IteratorPlugin.php
  system/ThirdParty/Kint/Parser/Parser.php
  system/ThirdParty/Kint/Renderer/AssetRendererTrait.php
  system/ThirdParty/Kint/Renderer/Rich/TraceFramePlugin.php
  system/ThirdParty/Kint/Renderer/RichRenderer.php
  system/ThirdParty/Kint/Utils.php
  system/ThirdParty/Kint/Value/Context/ClassConstContext.php
  system/ThirdParty/Kint/Value/Context/StaticPropertyContext.php
  system/ThirdParty/Kint/Value/MethodValue.php
  system/ThirdParty/Kint/init.php
  system/ThirdParty/Kint/resources/compiled/aante-dark.css
  system/ThirdParty/Kint/resources/compiled/aante-light.css
  system/ThirdParty/Kint/resources/compiled/main.js
  system/ThirdParty/Kint/resources/compiled/original.css
  system/ThirdParty/Kint/resources/compiled/plain.css
  system/ThirdParty/Kint/resources/compiled/solarized-dark.css
  system/ThirdParty/Kint/resources/compiled/solarized.css
Labels: 4.6

#9372 fix: Add support for multibyte strings
  system/Commands/Utilities/Namespaces.php
  system/Helpers/text_helper.php
  system/View/View.php
  tests/system/Commands/Utilities/NamespacesTest.php
  tests/system/Helpers/TextHelperTest.php
  tests/system/View/ViewTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/helpers/text_helper.rst
Labels: enhancement, 4.6

#9375 refactor: Fix phpstan return.type
  tests/system/Commands/Utilities/Routes/FilterFinderTest.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/return.type.neon
Labels: testing

#9383 refactor: Fix phpstan isset offset
  system/Database/BaseBuilder.php
  utils/phpstan-baseline/isset.offset.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9382 refactor: Fix phpstan return.missing
  system/Test/Mock/MockResult.php
  utils/phpstan-baseline/return.missing.neon
Labels: refactor

#9367 refactor: Fix phpstan booleanAnd.rightAlwaysTrue
  system/Helpers/filesystem_helper.php
  utils/phpstan-baseline/booleanAnd.rightAlwaysTrue.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9393 chore: update 2025 for copyright
  LICENSE
  user_guide_src/source/license.rst
Labels: documentation

#9388 refactor: Fix phpstan method.unused
  tests/_support/Test/TestForReflectionHelper.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/method.unused.neon
Labels: testing

#9023 feat: New command `lang:sync`
  system/Commands/Translation/LocalizationSync.php
  tests/system/Commands/Translation/LocalizationSyncTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/outgoing/localization.rst
Labels: enhancement, 4.6

#9032 feat: additional `opcache` setting in check php.ini
  system/Commands/Utilities/PhpIniCheck.php
  system/Security/CheckPhpIni.php
  tests/system/Commands/Utilities/PhpIniCheckTest.php
  tests/system/Security/CheckPhpIniTest.php
Labels: enhancement, 4.6

#9400 docs: changelog entry for phpini:check command
  user_guide_src/source/changelogs/v4.6.0.rst
Labels: documentation, 4.6

#9399 refactor: Remove deprecated `RedirectException`
  system/CodeIgniter.php
  system/Router/Exceptions/RedirectException.php
  tests/system/CodeIgniterTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/general/errors.rst
  utils/phpstan-baseline/codeigniter.superglobalAccessAssign.neon
  utils/phpstan-baseline/property.phpDocType.neon
Labels: refactor, 4.6

#9390 refactor: Fix phpstan codeigniter.configArgumentInstanceof
  system/Config/Services.php
  system/Events/Events.php
  system/Filters/Filters.php
  tests/system/Events/EventsTest.php
  utils/phpstan-baseline/codeigniter.configArgumentInstanceof.neon
  utils/phpstan-baseline/loader.neon
Labels: refactor

#9401 refactor: Remove deprecated `EVENT_PRIORITY_*`
  app/Config/Constants.php
  tests/system/Events/EventsTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/extending/events.rst
  user_guide_src/source/installation/upgrade_460.rst
  utils/phpstan-baseline/method.notFound.neon
Labels: refactor, 4.6

#9389 refactor: Fix phpstan codeigniter.frameworkExceptionInstance
  tests/system/Debug/ExceptionsTest.php
  tests/system/DebugTraceableTraitTest.php
  utils/phpstan-baseline/codeigniter.frameworkExceptionInstance.neon
  utils/phpstan-baseline/loader.neon
Labels: testing

#9403 refactor: Remove deprecated `View::$currentSection`
  system/View/View.php
  user_guide_src/source/changelogs/v4.6.0.rst
Labels: refactor, 4.6

#9404 refactor: Remove deprecated `Cache::$storePath`
  app/Config/Cache.php
  system/Cache/Handlers/FileHandler.php
  tests/system/Cache/CacheFactoryTest.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/installation/upgrade_460.rst
  utils/phpstan-baseline/function.alreadyNarrowedType.neon
Labels: refactor, 4.6

#9405 refactor: Remove deprecated `Config\Format::getFormatter()`
  app/Config/Format.php
  user_guide_src/source/changelogs/v4.6.0.rst
  user_guide_src/source/installation/upgrade_460.rst
Labels: refactor, 4.6

#9402 chore: Fix phpunit deprecations
  phpunit.xml.dist
  tests/system/DebugTraceableTraitTest.php
Labels: testing

#9414 refactor: Use `strtolower` with `str_contains`/`str_**_with` as replacement for `stripos`
  .php-cs-fixer.dist.php
  system/Database/Forge.php
  system/Database/OCI8/Forge.php
  system/Database/Postgre/Forge.php
  system/Database/SQLSRV/Forge.php
  system/Database/SQLite3/Forge.php
  system/Helpers/form_helper.php
  system/Test/CIUnitTestCase.php
  system/Test/Fabricator.php
  tests/system/Cache/CacheFactoryTest.php
  utils/phpstan-baseline/method.alreadyNarrowedType.neon
Labels: refactor

#9365 fix: ensure csrf token is string
  system/Security/Security.php
  tests/system/Security/SecurityTest.php
  user_guide_src/source/changelogs/v4.5.8.rst
Labels: bug

#9426 fix(CURLRequest): multiple header sections after redirects
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestTest.php
  user_guide_src/source/changelogs/v4.6.1.rst
Labels: bug
