Repository codeigniter4/CodeIgniter4, pull requests merged in 2025-02, with the labels that each got.

#9441 docs: Add info about `Router::getMatchedRouteOptions()`
  user_guide_src/source/incoming/routing.rst
  user_guide_src/source/incoming/routing/074.php
Labels: documentation

#9437 fix: set headers for CORS
  system/Filters/Cors.php
  system/HTTP/Cors.php
  tests/system/Filters/CorsTest.php
  tests/system/HTTP/CorsTest.php
  user_guide_src/source/changelogs/v4.6.1.rst
Labels: bug

#9449 refactor: get upper first protocol only one call in Email
  system/Email/Email.php
Labels: refactor

#9452 chore: update gpg key for phpdocumentor workflow
  .github/workflows/deploy-apidocs.yml
Labels: github_actions

#9459 docs: improved description of `beforeDelete` and `afterDelete` model events
  user_guide_src/source/models/model.rst
Labels: documentation

#9464 docs: add changelog and upgrade for v4.7.0
  user_guide_src/source/changelogs/index.rst
  user_guide_src/source/changelogs/v4.7.0.rst
  user_guide_src/source/installation/upgrade_470.rst
  user_guide_src/source/installation/upgrading.rst
Labels: documentation, 4.7
