Repository codeigniter4/CodeIgniter4, pull requests merged in 2025-08, with the labels that each got.

#9658 refactor: change `$request` to `CLIRequest|IncomingRequest` in `ResponseTrait`
  system/API/ResponseTrait.php
  system/Debug/BaseExceptionHandler.php
  system/Debug/ExceptionHandler.php
  system/Debug/ExceptionHandlerInterface.php
Labels: refactor

#9656 refactor: fix phpdoc and improve code in `Language`
  psalm-baseline.xml
  system/Common.php
  system/Language/Language.php
  system/Language/en/Language.php
  system/Test/Mock/MockLanguage.php
  tests/_support/Language/SecondMockLanguage.php
  tests/system/Language/LanguageTest.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
Labels: refactor

#9673 test: remove useless `DotEnvTest` test
  tests/system/Config/DotEnvTest.php
  utils/phpstan-baseline/argument.type.neon
  utils/phpstan-baseline/loader.neon
Labels: testing

#9679 fix: prevent non-shared DB instances from polluting shared cache
  system/Database/Config.php
  tests/system/Database/Live/ConnectTest.php
  user_guide_src/source/changelogs/v4.6.4.rst
Labels: bug

#9680 fix: `Connection::getFieldData()` default value convention for `SQLSRV` and `OCI8`
  system/Database/OCI8/Connection.php
  system/Database/SQLSRV/Connection.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/SQLSRV/GetFieldDataTestCase.php
  user_guide_src/source/changelogs/v4.6.4.rst
Labels: bug, database

#9660 feat: migrations lock
  app/Config/Migrations.php
  system/Database/MigrationRunner.php
  system/Language/en/Migrations.php
  tests/system/Database/Migrations/MigrationRunnerTest.php
  user_guide_src/source/changelogs/v4.7.0.rst
  user_guide_src/source/dbmgmt/migration.rst
  user_guide_src/source/installation/upgrade_470.rst
  utils/phpstan-baseline/empty.notAllowed.neon
  utils/phpstan-baseline/loader.neon
Labels: enhancement, 4.7

#9693 fix: setting `created_at` field in `Model::replace()` method
  system/BaseModel.php
  tests/system/Models/ReplaceModelTest.php
  user_guide_src/source/changelogs/v4.6.4.rst
Labels: bug

#9667 chore: add `PHP 8.5` to Github Action
  .github/workflows/reusable-phpunit-test.yml
  .github/workflows/test-coding-standards.yml
  .github/workflows/test-phpunit.yml
  .github/workflows/test-psalm.yml
  .github/workflows/test-rector.yml
  composer.json
Labels: github_actions, 4.7
