Repository codeigniter4/CodeIgniter4, pull requests merged in 2025-03, with the labels that each got.

#9470 docs: switch to code syntax for parsing examples
  user_guide_src/source/outgoing/view_parser.rst
Labels: documentation

#9462 feat: add email/smtp plain auth method
  app/Config/Email.php
  system/Email/Email.php
  system/Language/en/Email.php
  user_guide_src/source/changelogs/v4.7.0.rst
  user_guide_src/source/libraries/email.rst
Labels: enhancement, 4.7

#9468 refactor: PHPDocs in `env()`
  system/Common.php
Labels: refactor

#9454 fix: upsert with composite unique index
  system/Database/Postgre/Builder.php
  system/Database/SQLite3/Builder.php
  tests/_support/Database/Migrations/20160428212500_Create_test_tables.php
  tests/_support/Database/Seeds/CITestSeeder.php
  tests/system/Database/Live/MetadataTest.php
  tests/system/Database/Live/UpsertTest.php
  user_guide_src/source/changelogs/v4.6.1.rst
  user_guide_src/source/database/query_builder.rst
Labels: bug, database

#9483 refactor: remove lowercase event name for logging
  system/Events/Events.php
Labels: refactor

#9485 docs: Fix variable name according to the example
  user_guide_src/source/models/model.rst
Labels: documentation

#9471 fix: `getVersion()` for OCI8 and SQLSRV drivers
  system/Database/OCI8/Connection.php
  system/Database/SQLSRV/Connection.php
  tests/system/Database/Live/GetVersionTest.php
  user_guide_src/source/changelogs/v4.6.1.rst
  utils/phpstan-baseline/property.notFound.neon
Labels: bug

#9490 refactor: call `getPrivateMethodInvoker()` statically
  tests/system/API/ResponseTraitTest.php
  tests/system/Autoloader/AutoloaderTest.php
  tests/system/CodeIgniterTest.php
  tests/system/Commands/Translation/LocalizationSyncTest.php
  tests/system/Commands/Utilities/ConfigCheckTest.php
  tests/system/Commands/Utilities/NamespacesTest.php
  tests/system/Config/BaseConfigTest.php
  tests/system/ControllerTest.php
  tests/system/Database/ConfigTest.php
  tests/system/Database/Live/ForgeTest.php
  tests/system/Database/Live/OCI8/ConnectionTest.php
  tests/system/Database/Migrations/MigrationRunnerTest.php
  tests/system/Debug/ExceptionHandlerTest.php
  tests/system/Debug/ExceptionsTest.php
  tests/system/Files/FileCollectionTest.php
  tests/system/HTTP/CURLRequestTest.php
  tests/system/Models/MiscellaneousModelTest.php
  tests/system/Models/ValidationModelRuleGroupTest.php
  tests/system/Models/ValidationModelTest.php
  tests/system/Publisher/PublisherSupportTest.php
  tests/system/RESTful/ResourceControllerTest.php
  tests/system/Security/SecurityTest.php
  tests/system/Session/Handlers/Database/AbstractHandlerTestCase.php
  tests/system/Test/FabricatorTest.php
  tests/system/Test/ReflectionHelperTest.php
  tests/system/Validation/ValidationTest.php
  user_guide_src/source/testing/overview/013.php
Labels: testing

#9491 refactor: fix tests after smarter `getPrivateMethodInvoker()` return
  tests/system/ControllerTest.php
  tests/system/Database/ConfigTest.php
Labels: testing

#9472 refactor: OCI8 `limit()` method
  system/Database/OCI8/Builder.php
  utils/phpstan-baseline/missingType.return.neon
Labels: refactor
