Repository codeigniter4/CodeIgniter4, pull requests merged in 2025-07, with the labels that each got.

#9627 fix: improve CURLRequest intermediate HTTP response handling
  system/HTTP/CURLRequest.php
  tests/system/HTTP/CURLRequestTest.php
  user_guide_src/source/changelogs/v4.6.2.rst
Labels: bug

#9635 fix: ensure `make:test` works on Windows
  system/Commands/Generators/TestGenerator.php
  user_guide_src/source/changelogs/v4.6.2.rst
Labels: bug

#9638 fix: add filename parameters to inline Content-Disposition headers
  system/HTTP/DownloadResponse.php
  tests/system/HTTP/DownloadResponseTest.php
  user_guide_src/source/changelogs/v4.6.2.rst
Labels: bug

#9631 feat: customizable `.env` directory path
  app/Config/Paths.php
  system/Boot.php
  system/Commands/Encryption/GenerateKey.php
  system/Commands/Utilities/Environment.php
  user_guide_src/source/changelogs/v4.7.0.rst
  user_guide_src/source/general/managing_apps.rst
Labels: enhancement, 4.7

#9649 refactor: update preload script to exclude `util_bootstrap`
  preload.php
Labels: refactor

#9648 fix: SMTP connection resource validation in `Email` class destructor
  system/Debug/Toolbar/Collectors/Routes.php
  system/Email/Email.php
  system/Router/RouteCollection.php
  system/Test/Mock/MockConnection.php
  user_guide_src/source/changelogs/v4.6.3.rst
Labels: bug
