Repository codeigniter4/CodeIgniter4, pull requests merged in 2025-06, with the labels that each got.

#9593 refactor: precise PHPDocs for Autoloader
  system/Autoloader/Autoloader.php
  system/Autoloader/FileLocator.php
  system/Autoloader/FileLocatorCached.php
  system/Autoloader/FileLocatorInterface.php
  tests/system/Autoloader/AutoloaderTest.php
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/method.alreadyNarrowedType.neon
Labels: refactor

#9597 feat: require double curly braces for placeholders in `regex_match` rule
  system/Validation/Validation.php
  tests/system/Validation/FormatRulesTest.php
  user_guide_src/source/changelogs/v4.7.0.rst
  user_guide_src/source/libraries/validation.rst
Labels: bug, breaking change, 4.7

#9605 fix: URI authority generation for schemes without default ports
  system/HTTP/URI.php
  tests/system/HTTP/URITest.php
  user_guide_src/source/changelogs/v4.6.2.rst
Labels: bug

#9610 refactor: fix various phpstan errors in Cache
  app/Config/Cache.php
  system/Cache/CacheFactory.php
  system/Cache/CacheInterface.php
  system/Cache/Exceptions/CacheException.php
  system/Cache/FactoriesCache.php
  system/Cache/FactoriesCache/FileVarExportHandler.php
  system/Cache/Handlers/BaseHandler.php
  system/Cache/Handlers/FileHandler.php
  system/Cache/Handlers/MemcachedHandler.php
  system/Cache/Handlers/PredisHandler.php
  system/Cache/Handlers/RedisHandler.php
  system/Cache/ResponseCache.php
  system/Helpers/filesystem_helper.php
  system/View/Cell.php
  tests/system/Cache/AbstractFactoriesCacheHandlerTestCase.php
  tests/system/Cache/CacheFactoryTest.php
  tests/system/Cache/CacheMockTest.php
  tests/system/Cache/FactoriesCacheFileHandlerTest.php
  tests/system/Cache/FactoriesCacheFileVarExportHandlerTest.php
  tests/system/Cache/Handlers/BaseHandlerTest.php
  tests/system/Cache/Handlers/DummyHandlerTest.php
  tests/system/Cache/Handlers/FileHandlerTest.php
  tests/system/Cache/Handlers/MemcachedHandlerTest.php
  tests/system/Cache/Handlers/PredisHandlerTest.php
  tests/system/Cache/Handlers/RedisHandlerTest.php
  tests/system/Cache/ResponseCacheTest.php
  utils/phpstan-baseline/codeigniter.cacheHandlerInstance.neon
  utils/phpstan-baseline/codeigniter.getReassignArray.neon
  utils/phpstan-baseline/codeigniter.superglobalAccessAssign.neon
  utils/phpstan-baseline/empty.notAllowed.neon
  utils/phpstan-baseline/loader.neon
  utils/phpstan-baseline/missingType.iterableValue.neon
  utils/phpstan-baseline/property.notFound.neon
  utils/phpstan-baseline/ternary.shortNotAllowed.neon
Labels: refactor

#9614 fix: apply rector rule TernaryImplodeToImplodeRector
  system/Validation/Validation.php
Labels: refactor

#9616 refactor: `Console::showHeader()` call `date()` only once
  system/CLI/Console.php
Labels: refactor

#9613 fix: correct path parsing in `SiteURIFactory::parseRequestURI()`
  system/HTTP/SiteURIFactory.php
  tests/system/HTTP/SiteURIFactoryDetectRoutePathTest.php
  user_guide_src/source/changelogs/v4.6.2.rst
Labels: bug

#9615 fix: support for multibyte folder names when the app is served from a subfolder
  system/HTTP/SiteURIFactory.php
  tests/system/HTTP/SiteURIFactoryDetectRoutePathTest.php
  user_guide_src/source/changelogs/v4.6.2.rst
Labels: bug
